{% load i18n static %}
<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ preview_title }}</title>
    <link rel="stylesheet" href="{% static 'css/order_notes/base.css' %}">
    {% if css_additional %}
        <link rel="stylesheet" href="{% static css_additional %}">
    {% endif %}
</head>
<body>
<header>
    <table class="header">
        <tr>
            <td class="header__logo">
                <img src="{{ logo_url }}" alt="Default Logo">
            </td>
        </tr>
    </table>
    <div class="header__address">
        {{ service.name }} | {{ sender_address_line }}
    </div>
    <table class="address">
        <tr>
            <td class="address__to">
                <div class="element__value">
                    {{ shipping_address.salutation }}
                    {% if shipping_address.company_name %}
                        <br/> {{ shipping_address.company_name }}
                    {% endif %}
                    {% if shipping_address.line1 %}
                        <br/> {{ shipping_address.line1 }}
                    {% endif %}
                    {% if shipping_address.line2 %}
                        <br/> {{ shipping_address.line2 }}
                    {% endif %}
                    <br/> {{ shipping_address.city }}{% if shipping_address.state %}, {{ shipping_address.state }}{% endif %}, {{ shipping_address.zip_code }} {{ shipping_address.country.name }}
                </div>
            </td>
            <td class="address__from">
                <div class="element__label">{% trans 'Customer Support' %}</div>
                <div class="element__value">
                    {{ service_address.phone_number }}
                    {% if service.email %}
                        <br> {% trans 'Email:' %} {{ service.email }}
                    {% endif %}
                    <br> {% trans 'Processed by:' %} {{ service_user_name }}
                    <br> {{ note_data.issue_date|date:theme_date_format }}
                </div>
            </td>
        </tr>
    </table>
</header>
<main>
    <h1 class="page-title">
        {{ note_name }}: {{ note_prefix }}{{ note_id }}
    </h1>
    <table class="info">
        <tr>
            <td class="element">
                <div class="element__label">{% trans 'Order #' %}</div>
                <div class="element__value">{{ order_obj.number }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Order Date' %}</div>
                <div class="element__value">{{ order_date|date:theme_date_format }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Customer Number' %}</div>
                <div class="element__value">{{ order_obj.customer_number|default:"-" }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Reference Number' %}</div>
                <div class="element__value">{{ customer_reference|default:"-" }}</div>
            </td>
        </tr>
    </table>
    <table class="info info--grey">
        <tr>
            <td class="element">
                <div class="element__label">{% trans 'Shipping Method' %}</div>
                <div class="element__value">{{ order_obj.shipping_method }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Shipping Date' %}</div>
                <div class="element__value">{{ note_data.shipping_date|date:theme_date_format }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Delivery time' %}</div>
                <div class="element__value">{{ delivery_time }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Estimated Total Weight' %}</div>
                <div class="element__value">
                    {{ total_weight|floatformat:total_weight_decimals }}
                    {{ total_weight_unit }}
                </div>
            </td>
        </tr>
        <tr>
            <td class="element">
                <div class="element__label">{% trans 'Company' %}</div>
                <div class="element__value">{{ company|default:'-' }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'VAT Number' %}</div>
                <div class="element__value">{{ order_obj.vat_number|default:"-" }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Payment Method' %}</div>
                <div class="element__value">{{ order_obj.payment_method_name }}</div>
            </td>
            <td class="element">
            </td>
        </tr>
        <tr>
            <td class="element" colspan="2">
                {% if is_pickup %}
                    <div class="element__label">{% trans 'Pickup At' %}</div>
                    <div class="element__value">
                        {{ order_obj.pickup_location.location }}
                        <br>
                        <br>
                        {{ order_obj.pickup_location.instructions }}
                    </div>
                {% else %}
                    <div class="element__label">{% trans 'Shipping Address' %}</div>
                    <div class="element__value">
                        {{ shipping_address.salutation }}
                        {% if shipping_address.company_name %}
                            <br/> {{ shipping_address.company_name }}
                        {% endif %}
                        {% if shipping_address.line1 %}
                            <br/> {{ shipping_address.line1 }}
                        {% endif %}
                        {%  if shipping_address.line2 %}
                            <br/> {{ shipping_address.line2 }}
                        {% endif %}
                        <br/> {{ shipping_address.city }}{% if shipping_address.state %}, {{ shipping_address.state }}{% endif %}, {{ shipping_address.zip_code }} {{ shipping_address.country.name }}
                    </div>
                {% endif %}
            </td>
            <td class="element" colspan="2">
                <div class="element__label">{% trans 'Billing Address' %}</div>
                <div class="element__value">
                    {{ billing_address.salutation }}
                    {% if shipping_address.company_name %}
                        <br/> {{ shipping_address.company_name }}
                    {% endif %}
                    <br/> {{ billing_address.line1 }}
                    {% if billing_address.line2 %}
                        <br/>{{ billing_address.line2 }}
                    {% endif %}
                    <br/> {{ billing_address.city }}{% if billing_address.state %}, {{ billing_address.state }}{% endif %}, {{ billing_address.zip_code }} {{ billing_address.country.name }}
                </div>
            </td>
        </tr>
    </table>
    <section id="customer-greeting">
        <h4>{% blocktrans %}Dear Sir or Madam, Thank you for your order.{% endblocktrans %}</h4>
        <p>
            {% blocktrans %}
                We are pleased to inform you that your order is being attended to and confirm as listed below. If you
                have any questions or need further information, we are of course happy to help.
            {% endblocktrans %}
        </p>
    </section>
    <section id="order-lines">
        <table class="kt-table">
            <thead>
            <tr>
                <th class="line-number">#</th>
                <th class="line-image"></th>
                <th class="line-part">{% trans 'Part' %}</th>
                <th class="line-quantity text-right">{% trans 'Qty.' %}</th>
                <th class="line-price-unit text-right">{% trans 'Unit Price' %}</th>
                <th class="line-price-discount text-right">{% trans 'Discount' %}</th>
                <th class="line-price-total text-right">{% trans 'Item Total' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for line in order_lines %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="line-thumbnail">
                        <img
                            src="{{ line.thumbnail }}"
                            class="line-image"
                            alt="{{ line.name|truncatechars:9 }}"
                        >
                    </td>
                    <td>
                        <b>{{ line.name }}</b>
                        <br> {{ line.offer.material }} | {{ line.offer.technology }}
                        {% if line.offer.postProcessings %}
                            {% for option in line.offer.postProcessings %}
                                <br/>{{ option.name }}
                                {% if option.color %} |{{ option.color }}{% endif %}
                            {% endfor %}
                        {% endif %}
                        <br>
                        {{ line.dimensions.w|floatformat:2 }} *
                        {{ line.dimensions.h|floatformat:2 }} *
                        {{ line.dimensions.d|floatformat:2 }} ({{ line.measureUnit }})|
                        {{ line.weight|floatformat:line.weightDecimals }} {{ line.weightUnit }}
                        <br>
                    </td>
                    <td class="text-right quantity">{{ line.quantity }}</td>
                    <td class="text-right unit-price">
                        {{ line.prices.currency }} {{ line.prices.unitPrice }}
                    </td>
                    <td class="text-right discount">
                        {% if line.prices.discount %}
                            {{ line.prices.currency }} {{ line.prices.discount }}
                        {% endif %}
                    </td>
                    <td class="text-right line-price">
                        {{ line.prices.currency }} {{ line.prices.linePrice }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td colspan="3">
                    <table id="order-totals-summary" class="totals-summary">
                        <tbody>
                        <tr>
                            <td class="totals sub-total" width="50%">
                                {% trans 'Subtotal' %}:
                            </td>
                            <td class="totals sub-total" width="50%">
                                {{ order_obj.currency }} {{ subtotal }}
                            </td>
                        </tr>
                        {% if fee %}
                            <tr class="extra-fee">
                                <td>{% trans 'Extra Fee' %}:</td>
                                <td>
                                    {{ order_obj.currency }} {{ fee|floatformat:2 }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if difference_to_minimum > 0 %}
                            <tr class="difference-to-minimum">
                                <td>{% trans 'Difference to minimum price' %}:</td>
                                <td>
                                    {{ order_obj.currency }} {{ difference_to_minimum|floatformat:2 }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if shipping_price > 0 %}
                            <tr class="shipping-price">
                                <td>{% trans 'Shipping' %}:</td>
                                <td>
                                    {{ order_obj.currency }} {{ shipping_price|floatformat:2 }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="total-without-tax">
                            <td>{% trans 'Net total' %}:</td>
                            <td>
                                {{ order_obj.currency }} {{ total_prices.excl_tax }}
                            </td>
                        </tr>
                        <tr class="tax">
                            <td>{{ tax_rate }}% {% trans 'VAT' %}:</td>
                            <td>
                                {{ order_obj.currency }} {{ tax }}
                            </td>
                        </tr>
                        <tr class="totals grand-total">
                            <td>{% trans 'Gross Total' %}:</td>
                            <td>{{ order_obj.currency }} {{ total_prices.incl_tax }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    {% if note_data.comment %}
        <section id="comment">
            <h3>{% trans 'Comment' %}</h3>
            <p class="comment">{{ note_data.comment|linebreaksbr }}</p>
        </section>
    {% endif %}
    {% if general_sales_conditions %}
        <section id="general-sales-conditions">
            <h3>{% trans 'General Sales Conditions' %}</h3>
            <div>
                {{ general_sales_conditions|linebreaks }}
            </div>
        </section>
    {% endif %}
    {% if general_shipping_conditions %}
        <section id="shipping-conditions">
            <h3>{% trans 'General Shipping Conditions' %}</h3>
            <div>
                {{ general_shipping_conditions|linebreaks }}
            </div>
        </section>
    {% endif %}
</main>
<footer class="footer">
    <p>{{ page_footer }}</p>
</footer>
</body>
</html>
