{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ preview_title }}</title>
    <link rel="stylesheet" href="{% static 'css/order_notes/base.css' %}">
    <style type="text/css">
    </style>
    {% if css_additional %}
        <link rel="stylesheet" href="{% static css_additional %}">
    {% endif %}
</head>
<body>
<header>
    <table class="header">
        <tr>
            <td class="header__logo">
                <img src="{{ logo_url }}" alt="Default Logo">
            </td>
        </tr>
    </table>
    <div class="header__address">
        {{ service.name }} | {{ sender_address_line }}
    </div>
    <table class="address">
        <tr>
            <td class="address__to">
                {% if is_pickup %}
                    <div class="element__label">{% trans 'Pickup At' %}</div>
                    <div class="element__value">
                        {{ order_obj.pickup_location.location }}
                        <br>
                        <br>
                        {{ order_obj.pickup_location.instructions }}
                    </div>
                {% else %}
                    <div class="element__label">{% trans 'Shipping Address' %}</div>
                    <div class="element__value">
                        {{ shipping_address.salutation }}
                        {% if shipping_address.company_name %}
                            <br/> {{ shipping_address.company_name }}
                        {% endif %}
                        {% if shipping_address.line1 %}
                            <br/> {{ shipping_address.line1 }}
                        {% endif %}
                        {% if shipping_address.line2 %}
                            <br/> {{ shipping_address.line2 }}
                        {% endif %}
                        <br/> {{ shipping_address.city }}{% if shipping_address.state %}, {{ shipping_address.state }}{% endif %}, {{ shipping_address.zip_code }}
                        <br/> {{ shipping_address.country.name }}
                    </div>
                {% endif %}
            </td>
            <td class="address__from">
                <div class="element__label">{% trans 'Customer Support' %}</div>
                <div class="element__value">
                    {{ service_address.phone_number }}
                    {% if service.email %}
                        <br> {% trans 'Email:' %} {{ service.email }}
                    {% endif %}
                    <br> {% trans 'Processed by:' %} {{ service_user_name }}
                    <br> {{ note_data.issue_date|date:theme_date_format }}
                </div>
            </td>
        </tr>
    </table>
</header>
<main>
    <h1 class="page-title">
        {{ note_name }}: {{ note_prefix }}{{ note_id }}
    </h1>
    <table class="info">
        <tr>
            <td class="element">
                <div class="element__label">{% trans 'Order #' %}</div>
                <div class="element__value">{{ order_obj.number }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Order Date' %}</div>
                <div class="element__value">{{ order_date|date:theme_date_format }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Customer Number' %}</div>
                <div class="element__value">{{ order_obj.customer_number|default:"-" }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Reference Number' %}</div>
                <div class="element__value">{{ customer_reference|default:"-" }}</div>
            </td>
        </tr>
    </table>
    <table class="info info--grey">
        <tr>
            <td class="element">
                <div class="element__label">{% trans 'Order Confirmation #' %}</div>
                <div class="element__value">{{ confirmation_note.order_confirmation_number }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Shipping date' %}</div>
                <div class="element__value">{{ note_data.shipping_date|date:theme_date_format }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Shipping Method' %}</div>
                <div class="element__value">{{ order_obj.shipping_method }}</div>
            </td>
            <td class="element">
                <div class="element__label">{% trans 'Estimated Total Weight' %}</div>
                <div class="element__value">
                    {{ total_weight|floatformat:total_weight_decimals }} {{ total_weight_unit }}
                </div>
            </td>
        </tr>
    </table>
    <section id="customer-greeting">
        <h4>{% blocktrans %}Dear Sir or Madam, Thank you for your order.{% endblocktrans %}</h4>
        <p>
            {% blocktrans %}
                When you open the package, please check to make sure all the necessary parts are included and nothing is
                damaged. If you have any questions or need further information, we are of course happy to help.
            {% endblocktrans %}
        </p>
    </section>
    <section id="order-lines">
        <table class="kt-table">
            <thead>
            <tr>
                <th class="line-number">#</th>
                {% if show_thumbnails %}
                    <th class="line-image"></th>
                {% endif %}
                <th class="line-part">{% trans 'Part' %}</th>
                <th class="line-quantity text-right">{% trans 'Qty.' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for delivered_item in delivered_items %}
                {% with delivered_item.order_line as line %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if show_thumbnails %}
                            <td>
                                <img
                                    src="{{ line.thumbnail }}"
                                    class="line-image"
                                    alt="{{ line.name|truncatechars:9 }}"
                                >
                            </td>
                        {% endif %}
                        <td>
                            <b>{{ line.name }}</b>
                            <br> {{ line.offer.material }} | {{ line.offer.technology }}
                            {% if line.offer.postProcessings %}
                                {% for option in line.offer.postProcessings %}
                                    <br/>{{ option.name }}
                                    {% if option.color %} |{{ option.color }}{% endif %}
                                {% endfor %}
                            {% endif %}
                            <br>
                            {{ line.dimensions.w|floatformat:2 }} *
                            {{ line.dimensions.h|floatformat:2 }} *
                            {{ line.dimensions.d|floatformat:2 }} ({{ line.measureUnit }}) |
                            {{ line.weight|floatformat:line.weightDecimals }} {{ line.weightUnit }}
                            <br>
                        </td>
                        <td class="text-right quantity">
                            {{ delivered_item.delivered }} / {{ line.quantity }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% if note_data.comment %}
        <section id="comment">
            <h3>{% trans 'Comment' %}</h3>
            <p class="comment">{{ note_data.comment|linebreaksbr }}</p>
        </section>
    {% endif %}
    {% if general_sales_conditions %}
        <section id="general-sales-conditions">
            <h3>{% trans 'General Sales Conditions' %}</h3>
            <div>
                {{ general_sales_conditions|linebreaks }}
            </div>
        </section>
    {% endif %}
    {% if general_shipping_conditions %}
        <section id="shipping-conditions">
            <h3>{% trans 'General Shipping Conditions' %}</h3>
            <div>
                {{ general_shipping_conditions|linebreaks }}
            </div>
        </section>
    {% endif %}
</main>
<footer class="footer">
    <p>{{ page_footer }}</p>
</footer>
</body>
</html>
