{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block body %}
<h2>{% trans 'You received a request from' %} <a href="mailto:{{ manual_request.email }}">{{ manual_request.email }}</a></h2>

<h3>{% trans 'Customer' %}</h3>
<ul>
    {% if manual_request.first_name or manual_request.last_name %}
        <li>{% trans 'Name:' %} {{ manual_request.first_name }} {{ manual_request.last_name }}</li>
    {% endif %}
    <li>{% trans 'Email:' %} {{ manual_request.email }}</li>
    {% if manual_request.phone_number %}
        <li>{% trans 'Phone Number:' %} {{ manual_request.phone_number }}</li>
    {% endif %}
    <li>{% trans 'Language:' %} {{ manual_request.language }}</li>
    {% if manual_request.company %}
        <li>{% trans 'Company:' %} {{ manual_request.company }}</li>
    {% endif %}
</ul>

<h3>{% trans 'Request' %}</h3>
<ul>
    <li>{% trans 'Message:' %} {{ manual_request.message }}</li>
    {% if attachments %}
        <li>{% trans 'Attachments:' %}</li>
        <ul>
            {% for a in attachments %}
                <li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</ul>

<h3>{% trans 'Additional Information' %}</h3>
<ul>
    {% if manual_request.user %}
        <li>{% trans 'User ID:' %} {{ manual_request.user.id }}</li>
    {% endif %}
    <li>{% trans 'Domain:' %} {{ manual_request.site.name }}</li>
    <li>{% trans 'Request Type:' %} {{ manual_request.type }}</li>
    <li>{% trans 'Referer URL:' %} {{ manual_request.referer_url }}</li>
    <li>{% trans 'Country:' %} {{ manual_request.country }}</li>
    {% if manual_request.stl_file %}
        <li>{% trans 'Stl file:' %} {{ manual_request.stl_file }}</li>
    {% endif %}
    {% if manual_request.basket %}
        <li>{% trans '3D Project/Basket:' %} {{ manual_request.basket }}</li>
    {% endif %}
    {% if manual_request.product %}
        <li>{% trans 'Product:' %} {{ manual_request.product }}</li>
    {% endif %}
    {% if manual_request.post_processing_options.all|length %}
        {% for option in manual_request.post_processing_options.all %}
            <li>{% trans 'Post Processing:' %} {{ option.post_processing.title }}
                {% if option.color_id %}
                    {% if manual_request.language == 'en' %}
                        <span> ({{ option.color.title_en }})</span>
                    {% endif %}
                    {% if manual_request.language == 'de' %}
                        <span> ({{ option.color.title_de }})</span>
                    {% endif %}
                {%  endif %}
            </li>
        {% endfor %}
    {% endif %}
    {% if manual_request.stockrecord %}
        <li>{% trans 'Stockrecord:' %} {{ manual_request.stockrecord }}</li>
    {% endif %}
    {% if manual_request.configuration %}
        <li>{% trans 'Scale:' %} {{ manual_request.configuration.scale }}</li>
        <li>{% trans 'Unit:' %} {{ manual_request.configuration.unit }}</li>
    {% endif %}
</ul>
{% endblock %}
