{% extends "customer/emails/base.html" %}
{% load currency_tags i18n organization_flags %}

{% block body %}
    <div style="width: 750px;">
        <br />
        <p align="justify">
            <br>
            {% trans '  The shared 3D project' %} {{ order.basket.title }} {% trans 'has been ordered by' %} {{ order.user.userprofile }}.
        </p>

        <p align="justify">
            {% url 'b3_user_panel:project-detail' order.project.id as order_link %}
            {% blocktrans %}You can follow the status of your order <a href="{{ base_url }}{{ order_link }}">here</a>.{% endblocktrans %}
        </p>
        <br />
        <h4><p align="justify">{% trans 'Order details' %}:</p> </h4>
        {% include 'customer/emails/order_details.html' %}
    </div>
{% endblock %}
