{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block body %}
    <h2>You have been granted access to a 3D Project</h2>
    {% blocktrans %}
        <p>{{ basket_owner }} has granted you access to the 3D Project '{{ basket_title }}'.</p>
        <p>To access the project, use this link:
            <a href="{{ basket_url }}">{{ basket_url }}</a>.
        </p>
    {% endblocktrans %}
{% endblock %}
