{% load i18n %}
{% load l10n %}
{% load currency_tags %}
{% load static %}
{% load organization_flags %}
{% load partner_tags %}

{% include 'b3_user_panel/ajax_pagination.html' with knockout=True %}
<script>
    showSpinner();
    hideSpinner(300);
</script>

<div class="panel-order-quote">
        <div class="row">
        {% if not request|is_single_supplier%}
            <div class="b3-heading-title line">{% trans '3D Printing Service' %}</div>
            {% with order.basket.first_line.partner as partner %}
                <p class="b3-supplier-logo-tag">{{ partner|get_partner_logo_tag }}</p>
            {% endwith %}
        {% endif %}
        </div>

        <div class="row">
            <div class="b3-heading-title line" style="margin-top:10px;">{% trans 'Summary' %}</div>
        </div>
        <div class="row">
            <div class="b3-textgroup-lr b3-textgroup-sm">
                <label for="print-items" class="col-xs-6">{% trans 'Print items' %}</label>
                <div class="col-xs-6"><p>{{ order.basket.num_items }}</p></div>
            </div>
        </div>   
     
        <div class="row">
            <div class="b3-textgroup-lr b3-textgroup-sm">
                <label for="delivery-time" class="col-xs-6">{% trans 'Delivery time' %}</label>
                <div class="col-xs-6"><p id="delivery-time">{{ order.delivery_time }}</p></div>
            </div>
        </div>
        <div class="row">
            <div class="b3-textgroup-lr b3-textgroup-sm">
                    <label for="shipping" class="col-xs-6" >{% trans 'Shipping' %}</label>
                    <div class="col-xs-6"><p id="shipping">{{ order.shipping_price.incl_tax|currency:order.currency }}</p></div>
            </div>
        </div>

        <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-6">{% trans "incl. " %} {{ order.vat_rate }}&#37; {% trans "VAT" %}</label>
            <div class="col-xs-6">
                <p id="vat">{{ order.total.tax|currency:order.currency }}</p>
            </div>
        </div>
        </div>

        <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="net-price" class="col-xs-6">{% trans 'Net price' %}</label>
            <div class="col-xs-6">
                <p id="net-price">{{ order.total.excl_tax|currency:order.currency }}</p>
            </div>
        </div>
        </div>


        {% with basket_discounts=order.basket_discounts %}
            {% if basket_discounts %}
                {% for discount in basket_discounts %}
                    <div class="row">
                        <div class="b3-textgroup-lr b3-textgroup-sm">
                            <label for="discount" class="col-xs-6">{% if discount.voucher_id %}Voucher ({{ discount.description }}):{% else %}{{ discount.description }}:{% endif %}</label>
                            <div class="col-xs-6">
                                <p id="discount">-{{ discount.amount|currency:order.currency }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="b3-textgroup-lr b3-textgroup">
                <label for="total-pay" class="col-xs-6">{% trans 'Total' %}:</label>
                <div class="col-xs-6"><p style="font-size:27px"  d="total-pay">{{ order.total.incl_tax|currency:order.currency }}</p></div>
            </div>
        </div>
</div>
