{% load i18n %}
{% load static %}
<div class="row b3-no-padding-row" >
    <div class="col-xs-12 b3-heading-title line">{% trans 'Permissions' %}</div>
</div>

<div class="row" data-bind="with: ownPermission">
  <div class="b3-textgroup-sm project-permission">
    <label class="col-xs-9 contact-hover" data-toggle="popover"
      data-html="true" data-trigger="click"
      data-bind="attr:{'data-content': content}, text: user"
      data-placement="bottom" title="{% trans 'Contact Information' %}">
    </label>
    <div class="col-xs-3 ownership" data-bind="text: displayRole, css: role"></div>
  </div>
</div>

<div class="row project-secondary-btn" >
    <a onclick="Button3d.modals.show_new_permission_modal()">
    <i class="material-icons">group_add</i>  {% trans 'Grant Permission' %}
    </a>
</div>

<div class="row" data-bind="visible: sharingPermissionArrary().length">
  <div class="project-permission">
    <div class="col-xs-12 subtitle">{% trans 'Shared with' %}</div>
  </div>
</div>

<div class="row" data-bind="foreach: sharingPermissionArrary">
  <div class="b3-textgroup-sm project-permission" data-bind="visible: $index() < $parent.listNumber()">
    <label class="col-xs-9 contact-hover" data-toggle="popover"
      data-html="true" data-trigger="click"
      data-bind="attr:{'data-content': content}, text: user"
      data-placement="bottom" title="{% trans 'Contact Information' %}">
    </label>
    <div class="col-xs-3 ownership owner supplier" data-bind=", css: role, visible: role === 'supplier'">
      <span data-bind="text: role"></span>
    </div>
    <div class="col-xs-3 delete" data-bind="visible: role !== 'supplier'" >
      <i class="fa fa-times" aria-hidden="true" data-toggle="tooltip"
        data-placement="bottom"
        data-bind="click: function(){Button3d.modals.show_delete_permission_modal($data)}"
        title="{% trans 'Delete' %}"></i>
    </div>
  </div>
</div>

<div class="row" data-bind="click: showFullList, visible: sharingPermissionArrary().length > listNumber()">
  <div class="project-permission">
    <div class="show-more">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      {% trans 'Show full list' %}
    </div>
  </div>
</div>
