{% load i18n %}
{% load l10n %}
{% load organization_flags %}
<div class="panel-order-quote" data-bind="with: order">
    <div class="row">
        <div class="b3-heading-title line" style="margin-top:10px;">{% trans 'Order Summary' %}</div>
    </div>

    {%if order%}
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="print-items" class="col-xs-6">{% trans 'Ordered on' %}:</label>
            <div class="col-xs-6">
                <p>{{ order.datetime_placed |date:"SHORT_DATE_FORMAT" }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-5">{% trans "Ordered by" %}:</label>
            <div class="col-xs-7">
                <p style="word-break: break-all;">{{ order.purchased_by.email }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row" data-bind="visible: !showPricePreview() && !can_be_printed()">
        <div class="projects-loading-box"></div>
        <div class="projects-loading-box"></div>
        <div class="projects-loading-box" style="width: 50%; margin-bottom: 2em"></div>
    </div>
    <!-- ko if: projectVM.showOrderButton() && showPricePreview() -->
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="print-items" class="col-xs-6">{% trans 'Quantity' %}:</label>
            <div class="col-xs-6">
                <p id="print-items" data-bind="text: number_of_items, css: { 'text-danger': $parent.number_items_error }"></p>
                <p class="text-danger" data-bind="visible: $parent.number_items_error">{% trans 'Your 3D project has to contain items to be ordered.' %}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-6">{% trans "Unit Price" %}:</label>
            <div class="col-xs-6">
                <p id="vat" data-bind="text: item_price_display()"></p>
            </div>
        </div>
    </div>
    <!-- ko if: list_extra_fees() -->
    <div class="row" data-bind="foreach: list_extra_fees()">
        <div class="b3-textgroup-lr b3-textgroup-sm" >
            <label for="extra_fee" class="col-xs-6">{% trans 'Extra Fee' %}: <i data-bind='text: name'></i></label>
            <div class="col-xs-6">
                <p id="extra_fee" data-bind='text: value'></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="row" data-bind="visible: difference_to_min_price()">
        <div class="b3-textgroup-sm b3-textgroup-lr">
            <label for="distance" class="col-xs-6">{% trans 'Difference to Minimum Price Fee' %} (<b data-bind="text: min_price_display()"></b>):</label>
            <div class="col-xs-6"  style="color:red;">
                <p id="distance" data-bind="text: difference_to_min_price_display()"></p>
            </div>
        </div>
    </div>
    <div class="row" data-bind="visible: voucher_discount_value() > 0">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-6">{% trans "Voucher" %}:</label>
            <div class="col-xs-6">
                <p id="vat">-<span data-bind="text: voucher_discount_display()"></span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <hr style="margin-top: 0">
        <div class="b3-textgroup-lr b3-textgroup">
            <label for="shipping" class="col-xs-6">{% trans 'Shipping Fee' %}:</label>
            <div class="col-xs-6">
                <p style="margin-top: 4px;margin-bottom: 0;"  id="shipping" data-bind="text: shipping_costs_display()"></p>
            </div>
        </div>
        <hr style="margin-top: 0">
    </div>
    <!-- ko if: show_net_prices() -->
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="net-price" class="col-xs-6">{% trans 'Net Total' %}:</label>
            <div class="col-xs-6">
                <p id="net-price" data-bind="text: total_net_price_display(), style: { fontSize: show_net_prices() ? '27px' : '14px' }"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-6">
                <text data-bind="text: vat_rate()"></text>&#37;
                <text data-bind="text: tax_type"></text>
            </label>
            <div class="col-xs-6">
                <p id="vat" data-bind="text: total_vat_display()"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b3-textgroup-sm b3-textgroup-lr">
            <label for="total-pay" class="col-xs-3">{% trans 'Total' %}:</label>
            <div class="col-xs-9">
                <p id="total-pay" data-bind="text: total_price_display(),  style: { fontSize: !show_net_prices() ? '27px' : '14px' }"></p>
            </div>
        </div>
    </div>

<!-- /ko -->
    <!-- ko if: !show_net_prices()  -->
    <div class="row">
        <div class="b3-textgroup-sm b3-textgroup-lr">
            <label for="total-pay" class="col-xs-3">{% trans 'Total' %}:</label>
            <div class="col-xs-9">
                <p id="total-pay" data-bind="text: total_price_display(),  style: { fontSize: !show_net_prices() ? '27px' : '14px' }"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="vat" class="col-xs-6">
                <text data-bind="if: !show_net_prices()">Incl.</text>
                <text data-bind="text: vat_rate()"></text>&#37;
                <text data-bind="text: tax_type"></text>
            </label>
            <div class="col-xs-6">
                <p id="vat" data-bind="text: total_vat_display()"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="net-price" class="col-xs-6">{% trans 'Net Total' %}:</label>
            <div class="col-xs-6">
                <p id="net-price" data-bind="text: total_net_price_display(), style: { fontSize: show_net_prices() ? '27px' : '14px' }"></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="row">
        <hr style="margin-top: 0">
        <div class="b3-textgroup-lr b3-textgroup-sm">
            <label for="delivery-time" class="col-xs-6" >{% trans 'Delivery time' %}:</label>
            <div class="col-xs-6">
                <p id="delivery-time" data-bind="text: delivery_time"></p>
            </div>
        </div>
        <hr style="margin-top: 0">
    </div>
    <!-- /ko -->

</div>

<div id="project-quotation" data-bind="visible: order().showPricePreview() && showOrderButton() ">
<div class="row">
    <div class="b3-textgroup-lr b3-textgroup-sm">
        <label for="reference" class="col-xs-6">{% trans 'Quotation number' %}:</label>
        <div class="col-xs-6"><p data-bind="text: quotation_number">--</p></div>
    </div>
</div>

<div class="row project-secondary-btn">
    <a data-bind="visible: is_orderable && quotationVisible && !isProjectOrdered(), click: print_quotation.bind($data, '{% url 'b3_user_panel:project-quotation' project_id %}')" target="_blank">
    <i class="material-icons">print</i>{% trans 'Print Quotation' %}
    </a>
</div>

</div>

<script>
    $(document).ready(function() {
        var printItemsElement = $('#print-items');
        if (!printItemsElement.html()) {

            var totalNumberOfItems = 0;
            $('.quantity').each(function (i, elem) {
                totalNumberOfItems += parseInt(elem.innerText);
            });
            printItemsElement.html(totalNumberOfItems);
        }
    });
</script>
