{% load i18n %}
{% load l10n %}
{% load organization_flags %}
<div id="project-service" data-bind="with: order">

{% if not request|is_single_supplier %}
<div class="row">
    <div class="b3-heading-title line" style="margin-top:10px;">{% trans '3D Printing Service' %}</div>
</div>
{% endif %}

<div data-bind="if: warningState().type >= 1 && warningState().type !== 5" class="row">
    <div class="b3-textgroup">
        <div class="col-xs-12"
                data-bind="text: warningState().message, style: { color: highlightError() ? '#a7082a' : '#555555' }">
        </div>
    </div>
</div>

{% if not request|is_single_supplier %}
<div class="row" data-bind="if: same_supplier()">
    <div class="col-xs-12" data-bind="if: no_supplier_selected()">
        {% blocktrans %}No 3D printing service selected{% endblocktrans %}
    </div>
    <div class="project-supplier" data-bind="if: same_supplier ()">
        <div class="col-xs-6 logo" data-bind="visible: supplier_tag().logo_url">
            <img data-bind="attr: { src: supplier_tag().logo_url }"/>
        </div>
        <div class="col-xs-6 name" data-bind="visible: !supplier_tag().logo_url">
            <a data-bind="text: supplier_tag().title"></a>
        </div>
        <div class="col-xs-6 access" data-bind="visible: projectVM.supplierHasAccess()">{%trans 'Has Access'%}</div>
        <div class="col-xs-6 access" data-bind="visible: !projectVM.supplierHasAccess()">{%trans 'No Access'%}</div>
    </div>
</div>
{% endif %}
</div>

<div class="row project-sidebar-message" data-bind="visible: showPriceSetMessage()">
    <label><i class="material-icons">check_circle</i></label>
    <p>{% blocktrans %}The 3D project is priced and can be ordered.{% endblocktrans %}</p>
</div>
