<div data-bind="foreach: basket_attachments">
    <!-- ko if: basket_line_id == null -->
<div class="project-well attachment">
    <div class="row b3-no-margin-row">
    <div class="col-xs-1 col-md-1 file-type zip"></div>
    <div class="col-xs-10 col-md-3 short-name" data-bind="text: name, attr:{title: name}" data-toggle="tooltip">--</div>
    <div class="col-xs-4 col-md-3 short-name b3-text-gray" data-bind="text: uploader">--</div>
    <div class="col-xs-4 col-md-3 b3-text-gray"
         data-bind="text: Button3d.common.beautify.prettyByCurrentDate(pretty_creation_date)">
        --
    </div>
    <div class="col-xs-4 col-md-2 project-file-options">
        <a data-bind="attr:{href: url}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i></a>
        <a data-bind="attr:{value: id}" onclick="deleteAttachment(this)" class="delete"><i class="fa fa-trash-o" aria-hidden="true" ></i></a>
    </div>
    </div>
</div>
<!-- /ko -->
</div>

