{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load compress %}
{% load b3_utils %}

{% block title %}{% trans "3D Projects" %}{% endblock %}

{% block page_overlay %}
    {% comment %}Do not display upload overlay when dragging file on page{% endcomment %}
{% endblock %}

{% block class %}userpanel{% endblock %}

{% block user_content %}

<script src="{% static "js/vendor/moment.min.js" %}"></script>
<script src="{% static "js/vendor/daterangepicker.js" %}"></script>

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/vendor/bootstrap/daterangepicker.css" %}" />
{% endblock %}

{% include 'b3_user_panel/ajax_pagination.html' with knockout=True %}

<div id="projects-overview">
<div class="project-filter-container">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" data-bind="textInput: search_project_name" class="search-text form-control" placeholder="{% trans 'Search' %}">
            <p data-bind="visible: !search_project_name()" class="placeholder-ie9">{% trans 'Search' %}</p>
        </div>
    </div>
    <div class="row filter">
        <div class="col-xs-8 col-md-6">
            {% if new_user_panel_switch %}
                <span data-bind="click: allOrders, css:{'activated': activatedTab() === 'all'}">{% trans 'All' %}</span>
            {% else %}
                <span data-bind="click: allOrders, css:{'activated': activatedTab() === 'all'}">{% trans 'All' %}</span>
                <span data-bind="click: orderedOrders, css:{'activated': activatedTab() === 'ordered'}">{% trans 'Ordered' %}</span>
                <span data-bind="click: ordersSharedWithUser, css:{'activated': activatedTab() === 'shared'}">{% trans 'Shared with me' %}</span>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-5 hidden-sm hidden-xs text-right">
            <span data-bind="css:{'activated': search_date_0()}" class="date-picker calendar">
                <i class="fa fa-calendar-plus-o"></i>
                <label data-bind="visible: !search_date_0()">{% blocktrans %}Filter by date{% endblocktrans %}</label>
                <label data-bind="text: search_date_0"></label>
                <label data-bind="visible: search_date_0">{% trans 'to' %}</label>
                <label data-bind="text: search_date_1"></label>
            </span>
            <i data-bind="visible: search_date_0" class="fa fa-close clear-date" data-toggle="tooltip" title="{% trans 'Clear selection' %}"></i>
        </div>
        <div class="col-xs-4 col-md-1 text-right">
            <span data-bind="click: changeView">
                <i data-bind="visible: cardViewEnabled()" class="fa fa-list"></i>
                <i data-bind="visible: !cardViewEnabled()" class="fa fa-th-large"></i>
            </span>
        </div>
    </div>
</div>
</div>

<div class="container">

{% if not num_projects %}
    <div class="b3-make-space"></div>
    <div class="text-center">
        <h1>{% trans "You haven't created any 3D projects so far." %}</h1>
        <p>
            {% trans "Start a new 3D project" %}
        </p>
        <div class="b3-make-space"></div>
        <div class="btn" onclick="Button3d.modals.show_new_project_modal()" href="">{% trans "New 3D project" %}</div>
    </div>
{% else %}

<!-- List View -->
<div class="project-list-container" data-bind="visible: num_results() && !cardViewEnabled()">
    <div class="row list-legend hidden-sm hidden-xs">
        <div class="col-xs-4 clickable" data-bind="click: sortByTitle">
            {% trans "Title" %}
            <i data-bind="visible:sortTitleAscending()" class="fa fa-chevron-up"></i>
            <i data-bind="visible:!sortTitleAscending()" class="fa fa-chevron-down"></i>
        </div>
        <div class="col-xs-1">Status</div>
        <div class="col-xs-2">Files</div>
        <div class="col-xs-2 clickable" data-bind="click: sortByDate">
            {% blocktrans %}Date created{% endblocktrans %}
            <i data-bind="visible:sortDateAscending()" class="fa fa-chevron-up"></i>
            <i data-bind="visible:!sortDateAscending()" class="fa fa-chevron-down"></i>
        </div>
        <div class="col-xs-3">{% blocktrans %}Total price{% endblocktrans %}</div>
    </div>
    <!-- ko foreach: results-->
    <div class="row project-list-items project-drop" data-bind="visible: !error() && isLoaded(), attr:{value: id}">
    <a data-bind="attr: {href: url}, "style="color: inherit" data-bind="if: title()">
    <div class="col-xs-9 col-sm-4">
        <span data-bind="text: quotationNumber"></span>:
        <span data-bind="text: truncate_middle(title()||'',20), attr: { title: title(), 'data-toggle': (title().length > 20 ? 'tooltip' : '') }"></span>
        <i class="share-icon material-icons" data-bind="visible: isShared">group</i>
    </div>
    <div class="col-xs-3 col-sm-1 ordered-tag" data-bind="if: is_ordered"><span>{% trans 'Ordered' %}</span></div>
    <div class="col-xs-5 col-sm-2" data-bind="text: nb_lines_text"></div>
    <div class="col-sm-2 hidden-xs" data-bind="text: creation_date"></div>
    <div class="col-xs-5 col-sm-2" data-bind="text: totalPrice, css: {'priec-not-available': !price()}"></div>
    <div class="col-xs-2 col-sm-1 delete" data-bind="if: !is_ordered(), click: show_delete_project_modal">
        <i class="fa fa-trash-o" data-toggle="tooltip" data-bind=" attr: { title: '{% trans 'Delete 3D Project' %}' }"></i>
    </div>
    </a>
    </div>
    <!-- /ko -->
</div>
<!-- Card View-->
<div class="row project-card-view" data-bind="if: cardViewEnabled()">
    <!-- ko foreach: results-->
    <div class="col-xs-12 col-sm-6 col-md-4 project-card-container"
        data-bind="visible: !error() && isLoaded()">
        <div class="row project-card-items project-drop" data-bind="attr: {value: id}">
            <a data-bind="attr: {href: url}, "style="color: inherit;" data-bind="if: title()">
            <div class="col-xs-12 title">
                <span data-bind="text: quotationNumber"></span>:
                <span data-bind="text: truncate_middle(title()||'', 18), attr: { title: title(), 'data-toggle': (title().length > 25 ? 'tooltip' : '') }"></span>
                <i class="share-icon material-icons" data-bind="visible: isShared">group</i>
                <span class="ordered-tag" data-bind="visible: is_ordered" style="cursor:pointer !important;">{% trans 'Ordered' %}</span>
            </div>
            <div class="col-xs-12">
                <div class="img-viewer" data-bind="foreach:project_lines">
                    <img draggable="false" data-bind="img: { src: thumbnail_url }" onerror="svgFallback(this)">
                </div>
            </div>
            <div class="col-xs-5" data-bind="text: nb_lines_text"></div>
            <div class="col-xs-5" data-bind="text: creation_date"></div>
            <div class="col-xs-2 delete" data-bind="if: !is_ordered(), click: show_delete_project_modal">
                <i class="fa fa-trash-o" data-toggle="tooltip" data-bind=" attr: { title: '{% trans 'Delete 3D Project' %}' }"></i>
            </div>
             </a>
        </div>
    </div>

    <!-- /ko -->
</div>

<p style="margin-left: 15px;" data-bind="visible: num_results() == 0">{% trans 'There are no 3D projects for your query' %}</p>

{% endif %}
</div>
</div>

{% include "b3_user_panel/calendar.html" %}
{% include 'b3_modal/project/delete_project_modal.html' %}

{% if new_user_panel_switch %}
    <script src="{% static "js/button3d/userpanel/projects/projects_overview.js" %}"></script>
{% else %}
    <script src="{% static "js/button3d/userpanel/projects/old_projects_overview.js" %}"></script>
{% endif %}

<script>
// remove parent class for project-filter
$('#projects-overview')
    .parent()
    .removeClass('container');

function dropEnter(event) {
    $(this).addClass('project-dorp-highlight');
}

function dropLeave() {
    $(this).removeClass('project-dorp-highlight');
}

function dropUpload(event) {
    var dropProjectUrl = '{% url 'b3_user_panel:project-detail' 0 %}';
    event.preventDefault();
    var dropProjectId = $(this).attr('value');
    dropProjectUrl = dropProjectUrl.replace('0', dropProjectId);
    dropzoneModule.setIsOnProjectListView(dropProjectUrl);
    dropzoneModule.setProjectId(dropProjectId);
}

$('body')
    .on('dragenter', '.project-drop', dropEnter)
    .on('dragover', '.project-drop', dropEnter)
    .on('dragleave', '.project-drop', dropLeave)
    .on('drop', '.project-drop', dropUpload);
</script>
{% endblock %}

