{% load i18n %}
{% load organization_flags %}
{% load static %}

<div class="row bs-wizard" style="border-bottom:0;">
    {% if order.status.type != 'Cancelled' %}
    <div class="col-xs-4 bs-wizard-step {% if order.status.type == 'Pending' %}active{% else %}complete{% endif %}">
        <div class="text-center bs-wizard-stepnum">{% trans 'Pending' %}</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-4 bs-wizard-step {% if order.status.type == 'Printing' %}active{% else %}{% if order.status.type == 'Pending' %}disabled{% else %}complete{% endif %}{% endif %}">
        <div class="text-center bs-wizard-stepnum">{% trans 'In Production' %}</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-4 bs-wizard-step {% if order.status.type == 'Shipped' %}active{% else %}disabled{% endif %}">
        <div class="text-center bs-wizard-stepnum">{% trans 'Shipped' %}</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
    {% endif %}
</div>

<div class="row alert alert-info b3-alert {% if order.status.type == 'Cancelled' %}alert-danger{% else %}alert-info {% endif %}">
    <div class="hidden-xxxs col-xxs-1 col-xs-1" style="padding-left: 3.5%;">
        <span class="{% if order.status.type == 'Cancelled' %}text-danger{% else %}text-info {% endif %}  glyphicon glyphicon-info-sign" style="top:5px;"></span>
    </div>
    <div class="col-xxxs-12 col-xxs-11 col-xs-11">
        {% if status_message %}
            {{status_message}}
        {% endif %}
    </div>
</div>

{% block addresses %}
    <div class="panel short-bottom">
        <div class="panel-body">
            <div class="row">
                    <div class="col-xs-5">
                        <div class="line b3-heading-title">
                        {% trans 'Shipping information' %}
                        </div>
                        <div class="row" style="margin-left: 0px;">
                            <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">
                                    {% trans 'Shipping address' %}:
                                </label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">
                                        {% if order.shipping_method %}
                                            {{ order.shipping_method }}
                                        {% elif order.pickup_location %}
                                            {% trans 'Customer Pickup' %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">
                                    {% if order.shipping_address %}
                                        {% trans 'Shipping address' %}:
                                    {% elif order.pickup_location %}
                                        {% trans 'Pickup Location' %}:
                                    {% endif %}
                                </label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">
                                        {% if order.shipping_address %}
                                            {% if order.shipping_address.company_name %}{{ order.shipping_address.company_name }}<br/>{% endif %}
                                            {% if order.shipping_address.first_name %}{{ order.shipping_address.first_name }}{% endif %}
                                            {{ order.shipping_address.last_name }}<br/>
                                            {% if order.shipping_address.phone_number %}{{ order.shipping_address.phone_number }}<br/>{% endif %}
                                            {% if order.shipping_address.line1 %}{{ order.shipping_address.line1 }}<br/>{% endif %}
                                            {% if order.shipping_address.line2 %}{{ order.shipping_address.line2 }}<br/>{% endif %}
                                            {{ order.shipping_address.zip_code }} {{ order.shipping_address.city }}<br/>
                                            {{ order.shipping_address.country.name }}<br/>
                                        {% elif order.pickup_location %}
                                            {{ order.pickup_location.location }}<br/>
                                            {{ order.pickup_location.instructions }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <div class="line b3-heading-title">
                        {% trans 'Billing information' %}
                        </div>
                        <div class="row" style="margin-left: 0px;">
                            <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">{% trans 'Payment method' %}:</label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">{{ order.payment.payment_method.name }}</p>
                                </div>
                            </div>
                        </div>
                        {% if order.payment.payment_method.description %}
                        <div class="row" style="margin-left: 0px;">
                            <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">{% trans 'Payment description' %}:</label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">{{ order.payment.payment_method.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% for item in vw_metadata %}
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-5 control-label b3-text-gray" style="text-align: left; padding-left: 2.5em">{{ item.label }}:</label>
                                    <div class="col-xs-7 text-left">
                                        <p style="margin-top: 4px;margin-bottom: 0;">{{ item.value }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if order.billing_address.vat_id %}
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">{% trans 'VAT number' %}:</label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">{{ order.billing_address.vat_id }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">{% trans 'Company' %}:</label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">{{ order.billing_address.company_name }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-5 control-label b3-text-gray" style="text-align: left;">{% trans 'Billing address' %}:</label>
                                <div class="col-xs-7 text-left">
                                    <p style="margin-top: 4px;margin-bottom: 0;">
                                        {% if order.billing_address.company_name %}{{ order.billing_address.company_name }}<br/>{% endif %}
                                        {% if order.billing_address.first_name %}{{ order.billing_address.first_name }}{% endif %}
                                        {{ order.billing_address.last_name }}<br/>
                                        {% if order.billing_address.phone_number %}{{ order.billing_address.phone_number }}<br/>{% endif %}
                                        {% if order.billing_address.line1 %}{{ order.billing_address.line1 }}<br/>{% endif %}
                                        {% if order.billing_address.line2 %}{{ order.billing_address.line2 }}<br/>{% endif %}
                                        {{ order.billing_address.zip_code }} {{ order.billing_address.city }}<br/>
                                        {{ order.billing_address.country.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
