{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load currency_tags %}
{% load b3_utils %}
{% load customfiltercalc %}
{% load organization_flags %}
{% load partner_tags %}
{% load total_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" moznomarginboxes="" mozdisallowselectionprint="">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles_quotation.css" %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% trans '3D Project Quotation' %}</title>
  </head>
  <body>
    <!-- <style> -->
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            {% with organization.theme as theme %}
            <style align="center" class="float-center">
                @page
                {
                    size: auto;   /* auto is the initial value */
                    margin: 0mm;  /* this affects the margin in the printer settings */
                }
                p{
                    font-size:14px !important;
                    font-family: 'Open Sans', sans-serif !important;
                }
                a{
                    color:{{ theme.primary_bkg_color }} !important;
                }
                .blue-text{
                    color:{{ theme.primary_bkg_color }};
                }
                hr{
                    border-bottom: 1px solid {{ theme.primary_bkg_color }};
                    margin: 0 auto;
                }
                .all-border{
                    border: 1px solid {{ theme.primary_bkg_color }};
                    padding-bottom:0 !important;
                }
                .no-border-left{
                    border-left: none !important;
                }
                .no-border-right{
                    border-right: none !important;
                }
                .p-table{
                    margin-top:15px;
                    font-size: 12px !important;
                    word-break: break-all;
                }
                .p-12{
                    font-size:12px !important;
                }
                .gray-color{
                    color:gray;
                    font-size:10px;
                }
                tr.horizontal td:nth-child(3) {
                    border-right: 1px solid {{ theme.primary_bkg_color }};
                }
                tr.horizontal td{
                    margin-top:15px;
                    font-size: 12px !important;
                    word-break: break-all;
                    font-family: 'Open Sans', sans-serif !important;
                    padding:3px 15px;
                }
            </style>
            {% endwith %}
            <table class="container float-center"><tbody><tr><td>
                <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                <table class="row"><tbody><tr>
                        <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                        <table class="row collapse "><tbody><tr>
                                <th class="small-8 large-8 columns first">
    </th>
                                <th class="small-4 large-4 columns last">
      <table>
        <tr>
          <th>
                                <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table>
                                <!-- CUSTOMIZATION: add organization logo -->

                                {% get_org_logo_tag_or_name %}

                                <!-- end customization -->
                            </th>
        </tr>
      </table>
    </th>
                        </tr></tbody></table>
                        <hr>
                        <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table>
                        <table class="row collapse"><tbody><tr>
                                <th class="small-9 large-9 columns first">
      <table>
        <tr>
          <th>
                                <p class="blue-text"><b>{% trans 'Quotation of' %}: {{ basket.title }}</b></p>
                                <p class="text-left">{{ organization.showname }} {% if LANGUAGE_CODE == 'de' %}Referenz{% else %}Reference{% endif %}: {{ basket.quotation_number }}</p>
                                {% if basket.reference %}
                                    <p class="text-left">{% trans 'Your Reference' %}: {{ basket.reference }}</p>
                                {% endif %}
                            </th>
        </tr>
      </table>
    </th>
                                <th class="small-3 large-3 columns last">
      <table>
        <tr>
          <th>
                                <p class="text-right">{{ date |date:"SHORT_DATE_FORMAT"  }}</p>
                            </th>
        </tr>
      </table>
    </th>
                        </tr></tbody></table>
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                        <table class="row column table "><tbody><tr>
                                <th class="all-border small-12 large-2 columns first">
      <table>
        <tr>
          <th>
                                <p class="text-left p-table">{% trans 'Quantity' %}</p>
                            </th>
        </tr>
      </table>
    </th>
                                <th class="all-border small-12 large-8 columns">
      <table>
        <tr>
          <th>
                                <p class="text-left p-table">{% trans 'Item' %}</p>
                            </th>
        </tr>
      </table>
    </th>
                                <th class="all-border small-12 large-2 columns last">
      <table>
        <tr>
          <th>
                                <p class="text-right p-table">{% trans 'Price' %}</p>
                            </th>
        </tr>
      </table>
    </th>
                        </tr></tbody></table>
                {% for line in lines %}
                    <table class="row column table">
                        <tbody>
                        <tr>
                            <th class="all-border small-12 large-2 columns first">
                              <table>
                                <tr>
                                  <th>
                                    <p class="text-left p-table">{{ line.quantity }}</p>
                                  </th>
                                </tr>
                              </table>
                            </th>
                            <th class="all-border small-12 large-8 columns">
                              <table>
                                <tr>
                                  <th>
                                    <p class="text-left p-table">
                                        {{ line.showname }}<br>
                                        {% trans 'Material' %}: {{ line.product.category}} ({{ line.product.full_product_title}})<br>
                                        {% if line.post_processing_option_list|length %}
                                            {% trans 'Post Processings' %}:<br>
                                            {% for option in line.post_processing_option_list %}
                                                {{ option.post_processing.title }}
                                                {% if option.color %}
                                                    {% if LANGUAGE_CODE == 'de' %}
                                                        ({{ option.color.title_de }})
                                                    {% elif LANGUAGE_CODE == 'en' %}
                                                        ({{ option.color.title_en }})
                                                    {% endif %}
                                                {% endif %}<br>
                                            {% endfor %}
                                        {% endif %}
                                        {% trans 'Dimensions' %} ({{ line.measure_unit }}): {{ line.dimensions_in_unit.h|floatformat:2 }} x {{ line.dimensions_in_unit.w|floatformat:2 }} x {{ line.dimensions_in_unit.d|floatformat:2 }}<br>
                                        {% if show_net_prices %}
                                            {% trans 'Unit Price' %}: {{ line.price_excl_tax|currency:currency }} <br>
                                        {% else %}
                                            {% trans 'Unit Price' %}: {{ line.price_incl_tax|currency:currency }} <br>
                                        {% endif %}
                                        {% if line.discount.incl_tax %}
                                            {% if show_net_prices %}
                                                {% trans 'Discount' %}: -{{ line.discount.excl_tax|currency:currency }} <br>
                                            {% else %}
                                                {% trans 'Discount' %}: -{{ line.discount.incl_tax|currency:currency }} <br>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                  </th>
                                </tr>
                              </table>
                            </th>
                            <th class="all-border small-12 large-2 columns last">
                              <table>
                                <tr>
                                  <th>
                                    {% if show_net_prices %}
                                      <p class="text-right p-table"> {{ line.line_price_excl_tax_incl_discounts|currency:currency }} </p>
                                    {% else %}
                                      <p class="text-right p-table"> {{ line.line_price_incl_tax_incl_discounts|currency:currency }} </p>
                                    {% endif %}
                                  </th>
                                </tr>
                              </table>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
                    <table class="column table all-border">
                        <tbody>
                            <tr class="horizontal">
                                <th></th>
                                <th></th>
                                <th class="small-10 large-8"></th>
                                <th class="small-2 large-2 last"></th>
                            </tr>
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{% trans 'Subtotal' %}</td>
                                {% if show_net_prices %}
                                <td style="text-align:right;">{{ total.subtotal.excl_tax|currency:currency}}</td>
                                {% else %}
                                <td style="text-align:right;">{{ total.subtotal.incl_tax|currency:currency}}</td>
                                {% endif %}
                            </tr>
                            {% if basket.list_extra_fees or basket.difference_to_minimum_price.incl_tax > 0 %}
                            {% for fee in fees %}
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{{ fee.name }}</td>
                                {% if show_net_prices %}
                                <td style="text-align:right;">{{ fee.excl_tax|currency:currency }}</td>
                                {% else %}
                                <td style="text-align:right;">{{ fee.incl_tax|currency:currency }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% if basket.difference_to_minimum_price.incl_tax > 0 %}
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{% trans 'Minimum Order' %}</td>
                                {% if show_net_prices %}
                                <td style="text-align:right;">{{ basket.difference_to_minimum_price.excl_tax|currency:currency }}</td>
                                {% else %}
                                <td style="text-align:right;">{{ basket.difference_to_minimum_price.incl_tax|currency:currency }}</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endif %}
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{% trans 'Shipping' %}</td>
                                {% if show_net_prices %}
                                <td style="text-align:right;">{{ shipping_method_price_excl_tax|currency:currency }}</td>
                                {% else %}
                                <td style="text-align:right;">{{ shipping_method_price_incl_tax|currency:currency }}</td>
                                {% endif %}
                            </tr>
                            <tr class="horizontal" style="height:10px;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{% trans 'Net Price' %}</td>
                                <td style="text-align:right;">{{ total.net_price |currency:currency }}</td>
                            </tr>
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">{{total.vat_rate|stringformat:".2f"}}% {{total.tax_type}}</td>
                                <td style="text-align:right;">{{ total.vat |currency:currency }}</td>
                            </tr>
                            <tr class="horizontal">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;"><b>{% trans 'Total' %}</b></td>
                                <td style="text-align:right;"><b>{{ total.total_price |currency:currency }}</b></td>
                            </tr>
                        </tbody>
                    </table>
                {% if not request|is_single_supplier %}
                  <p style="margin-top:20px;">{% trans 'Produced by' %}:</p>
                  {{ partner|get_partner_logo_tag }}
                {% endif %}

                        <table class="spacer"><tbody><tr><td height="50px" style="font-size:50px;line-height:50px;">&#xA0;</td></tr></tbody></table>
                        <table class="row column"><tbody><tr>
                            <p class="text-left p-12">
                                {% if LANGUAGE_CODE == 'de' %}
                                  Dieses Angebot ist kostenlos und <b>unverbindlich</b>.<br>
                                  Die Lieferzeit ist von Ihrer Bestellung abhängig: <b>{{delivery_time_string}}</b>.<br>
                                  {% if not show_net_prices %}
                                    {% with total.vat_rate|format_vat_rate as vat_rate %}Alle Preise sind inklusive {{ vat_rate }}% {{ total.tax_type }}{% endwith %}.<br>
                                  {% endif %}
                                  {% if partner.payment_conditions_de %}
                                    {{ partner.payment_conditions_de|safe }}<br>
                                  {% endif %}
                                  {% if partner.terms_conditions_de %}
                                    {{ partner.terms_conditions_de|safe }}
                                  {% endif %}
                                {% else %}
                                  This is an offer free of charge and <b>without obligation</b>.<br>
                                  Delivery time upon order: <b>{{delivery_time_string}}</b>.<br>
                                  {% if not show_net_prices %}
                                    {% with total.vat_rate|format_vat_rate as vat_rate %}All prices are inclusive {{ vat_rate }}% {{ total.tax_type }}{% endwith %}.<br>
                                  {% endif %}
                                  {% if partner.payment_conditions_en %}
                                  {{ partner.payment_conditions_en|safe }}<br>
                                {% endif %}
                                {% if partner.terms_conditions_en %}
                                  {{ partner.terms_conditions_en|safe }}
                                {% endif %}
                                {% endif %}
                            </p>
                        </tr></tbody></table>
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                        <hr>
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

    </th>
                </tr></tbody></table>
            </td></tr></tbody></table>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; </div>
  </body>
</html>
