{% load i18n %} {% load organization_flags %} {% load static %}

<div class="project-well">

    <!-- Title and Setting -->
    <div class="row b3-no-margin-row">
        <!-- ko if: !$parent.isProjectOrdered() -->
        <div class="col-xs-12 project-line-editname">
            <div class="edit-name" data-bind="editable: fileName, editableOptions: {mode: 'inline', emptytext: ''}, visible: !isAnalysing()"></div>
            <div class="projects-loading-box" style="width: 50%" data-bind="visible: isAnalysing()"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: $parent.isProjectOrdered()-->
        <div class="col-xs-12 project-line-editname">
            <div data-bind="text: fileName, visible: !isAnalysing()"></div>
            <div class="projects-loading-box" style="width: 50%" data-bind="visible: isAnalysing()"></div>
        </div>
        <!-- /ko -->
    </div>

    <!-- Information and Dropdowns -->
    <div class="row row-eq-height b3-no-margin-row">
        <!-- Information -->
        <div class="col-xs-12 col-md-5">
            <div class="project-item-thumb img-thumbnail">
                <a data-bind="attr: { href: configure_url }">
                    <img class="loading" draggable="false" data-bind="attr: {id: attrId() +'-img' }"
                         src="{% static 'images/webgl_load.gif' %}" alt="3YOURMIND">
                    <a data-bind="attr: {href: configUrlWithOpenPanel }">
                        <div class="project-print-info" data-bind="visible: printability || !isAnalysing(), css: printability">
                            <span data-bind="text: printabilityText, css: printability"></span>
                        </div>
                    </a>
                </a>
                <div class="progress progress-analyse" style="margin: 0; position: absolute; width: 100%; bottom: 10px; background: rgba(255,255,255,.6)"
                    data-bind="visible: isAnalysing()">
                    <div data-bind=" attr: { id: attrId() +'-progress-bar' }" class="progress-bar progress-bar-analyse progress-bar-striped progress-bar-success active progress-animation"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%; text-align: center; display: block!important">
                        <span class="progress-text" data-bind="text: analysingDetail">{% trans 'Analyzing' %}</span>
                    </div>
                </div>
            </div>
            <div class="b3-textgroup-sm" data-bind="visible: file_size && !serverError() && !error_not_printable() && !isAnalysing()">
                <label class="col-xs-12">{% trans 'Dimensions' %}
                    <span type="button" data-bind="css: {'active': measure_unit() === 'in'}, click: switchMeasureUnit.bind($data, 'in')" class="project-unit-btn">in</span>
                    <span type="button" data-bind="css: {'active': measure_unit() === 'mm'}, click: switchMeasureUnit.bind($data,'mm')" class="project-unit-btn">mm</span>
                </label>
                <div class="col-xs-12" data-bind="text: file_size"></div>
            </div>
        </div>
        <!-- End Information -->

        <!-- Loading animation -->
        <div class="col-xs-12 col-md-7" data-bind="visible: isAnalysing()">
            <div class="projects-loading-box"></div>
            <div class="projects-loading-box"></div>
            <div class="projects-loading-box" style="width: 50%"></div>
        </div>

        <!-- ErrorMessage-->
        <div class="col-xs-12 col-md-7" style="text-align: center; vertical-align: middle; padding: 48px 8px;" data-bind="visible: !isAnalysing() && error_not_printable()">
            <span data-bind="visible: uploadStatusError(), text: uploadStatusError()"></span>
            <span data-bind="visible: serverError(), text: serverError()"></span>
            <p>{% trans "Analysis failed" %}
                <a draggable="false" data-bind="click: remove_line"> {% trans 'Remove item' %}</a>
            </p>
            <p data-bind="text: jobErrorMessage()"></p>
        </div>

        <!--Dropdown-->
        <div class="col-xs-12 col-md-7" data-bind="visible: !isAnalysing() && !error_not_printable()">
            <!-- Material Dropdown -->
            <div class="b3-textgroup-sm">
                <label for="material-dropdown" class="col-xs-12">{% trans 'Material' %}:</label>
                <div class="col-xs-12">
                    <div class="project-dropdown-cover" data-bind="click: initByClick, visible: !materialDropdownClicked(), css: {disabled: !projectVM.isBasketEditable()}">
                        <span class="place-holder" data-bind="text: materialSelectPlaceHolder, css: {disabled: !projectVM.isBasketEditable()}"></span>
                    </div>
                    <select id="material-dropdown" style="width: 100%" name="material-dropdown" data-bind="value: selectedMaterial,
                        attr:{'data-id': id},
                        valueAllowUnset: false,
                        enable: projectVM.isBasketEditable,
                        optionsCaption: materialSelectPlaceHolder,
                        select2: {matcher: matchGroupWithChildren}">
                        <option data-bind="value: null">{% trans 'Choose a material...'%}</option>
                        <!-- ko foreach: categoriesOffersSorted -->
                        <optgroup data-bind="attr: { label: name }, foreach: materialOffersSorted">
                            <option data-bind="text: title, value: $data"></option>
                        </optgroup>
                        <!-- /ko -->
                    </select>
                </div>
                <!-- data-bind="visible: !selectedMaterial" -->
                <div class="col-xs-12" style="padding-left: 1.25em; padding-top: 0.25em;">
                    <a data-bind="
                visible: !selectedMaterial(),
                attr: { href: configure_url }
            ">
                {% blocktrans %}Compare Materials{% endblocktrans %}
            </a>
        </div>
    </div>

            <!-- Supplier Dropdown-->
            <div class="b3-textgroup-sm" data-bind="visible: !isSingleSupplierAccount() && (selectedMaterial() || preSelectedMaterial())">
                <label for="supplier" class="col-xs-12">{% trans '3D Printing Service' %}:</label>
                <div class="col-xs-12 project-loading-gif" data-bind="visible:isSupplierLoading()">
                    <img src="{% static "images/price_load.gif" %}" alt="{% trans 'Loading...' %}">
                </div>
                <div class="col-xs-12" data-bind="visible: !supplierErrorMsg() && showSupplier() && !isSupplierLoading()">
                    <select id="supplier" style="width: 100%" data-bind="
                    options: supplierOffersSorted,
                    optionsText: 'dropdownDisplay',
                    enable: projectVM.isBasketEditable,
                    optionsCaption: supplierSelectPlaceHolder,
                    valueAllowUnset: true,
                    value: selectedSupplier,
                    select2: {forceabove: true}
                ">
                    </select>
                </div>
            </div>
            <div class="col-xs-12" data-bind="visible: supplierErrorMsg" style="padding: 8px 0;">
                <span data-bind="text: supplierErrorMsg"></span>
            </div>

            <!-- Loading animation for single supplier -->
            <div class="b3-textgroup-sm" data-bind="visible: isSingleSupplierAccount() && (selectedMaterial() || preSelectedMaterial())">
                <div class="col-xs-12 project-loading-gif" style="padding-top: 8px" data-bind="visible:isSupplierLoading()">
                    <img src="{% static "images/price_load.gif" %}" alt="Loading ...">
                </div>
            </div>

            <!-- Finishing Dropdown -->
            <div class="b3-textgroup-sm" data-bind="if: showFinish() && !supplierErrorMsg() && selectedSupplier() && showPostProcessings()">
                <label for="finishing" class="col-xs-12">{% trans 'Post-processings' %}:</label>
                <div class="col-xs-12 project-loading-gif" data-bind="visible: isFinishingLoading()">
                    <img src="{% static "images/price_load.gif" %}" alt="Loading ...">
                </div>
                <div
                    class="finishing-container col-xs-12"
                    data-bind="visible: !isFinishingLoading()"
                >
                    <label data-bind="visible: !combinablePostProcessings()">
                        <input type="radio" data-bind="
                        attr: {
                            disabled: !projectVM.isBasketEditable(),
                            name: 'line-' + id + '-selected-post-processing'
                        },
                        click: clearSelectedPostProcessings.bind($data),
                        value: []
                    " checked>
                        <span>{% trans 'None' %}</span>
                    </label>
                    <div data-bind="foreach: { data:finishingOffers, as: 'finishing' }">
                        <div style="clear: both;">
                            <label data-bind="
                        for: finishing.slug,
                        visible: $parent.combinablePostProcessings()
                    ">
                                <input type="checkbox" data-bind="
                                checked: finishing.isSelected,
                                click: $parent.updatePostProcessings.bind($data),
                                attr: { disabled: !projectVM.isBasketEditable() }
                            ">
                                <span data-bind="text: finishing.dropdownDisplay"></span>
                            </label>
                            <label data-bind="
                        for: finishing.slug,
                        visible: !$parent.combinablePostProcessings()
                    ">
                                <input type="radio" data-bind="
                                name: 'line-' + $parent.id + '-selected-post-processing',
                                click: $parent.selectPostProcessing.bind($data, finishing),
                                value: true,
                                checked: finishing.isSelected,
                                attr: {
                                    disabled: !projectVM.isBasketEditable(),
                                    name: 'line-' + $parent.id + '-selected-post-processing'
                                },
                            ">
                                <span data-bind="text: finishing.dropdownDisplay"></span>
                            </label>
                            <div data-bind="if: finishing.color_ids().length && finishing.isSelected()">
                                <label for="color" class="col-xs-8">{% trans 'Color' %}:</label>
                                <div class="col-xs-8" style="padding-bottom: 1rem;">
                                    <select id="color" style="width: 100%" data-bind="
                                    select2: {},
                                    options: finishing.color_ids,
                                    value: finishing.selectedColor,
                                    optionsText: function(id) {return colors[id].title;},
                                    enable: projectVM.isBasketEditable,
                                    event: { change: $parent.updateColor.bind($data, finishing.selectedColor) }
                                ">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GKN Specified Machining Selecting -->
            {% if site.name == 'gkn' %}
            <div class="b3-textgroup-lr" data-bind="if: showFinish()">
                <div class="col-xs-12">
                    <a data-bind="attr:{value: id}, click: selectMachiningWithUpload" onclick="addFromLine(this)">{% trans 'Upload Part Documents'%}</a>
                </div>
            </div>
            {% endif %}

        </div>
        <!-- End Dropdown -->

    </div>
    <!-- End Information and Dropdown -->

</div>
<!-- End Project Well-->

<!-- Addition Well -->
<div class="project-well addition" data-bind="visible: !error_not_printable() && !serverError() && !isAnalysing() && selectedSupplier()">
    <div class="row b3-no-margin-row">
        <!-- Price Information -->
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 b3-textgroup-horizon" style="height: 90px;" data-bind="visible: showRequestMessage() ">
                <div class="project-price-manual-alert">
                    <label>
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </label>
                    <p>{% blocktrans %} We can't show the price of this item, please send price request!{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-2 b3-textgroup-horizon" data-bind="visible: showPriceTag()">
                <label>{% trans 'Unit Price' %}</label>
                <div data-bind="text: unitPriceRepresentation()" id="unit-price"></div>
            </div>

            <div class="col-xs-12 col-md-6  b3-textgroup-horizon" data-bind="visible: showRequestInput()">
                <label>{% trans 'Unit Price (without tax)' %} </label>
                <div class="project-price-manual">
                    <label data-bind="text: projectVM.manual_pricing_currency_symbol"></label>
                    <div class="project-price-manual-input" data-bind="editable: manualRequestPrice,
                        editableOptions: {mode: 'inline', emptytext: 'Click to set new price',
                                        validate: function(value){
                                            if (isNaN(value)){
                                                return 'Please enter a number';
                                            }
                                        },
                                        display: function(value){
                                            var displayValue = '';
                                            if (!isNaN(value)) {
                                                displayValue = parseFloat(value).toFixed(2);
                                            }
                                            $(this).text(displayValue);
                                        }
                                        }"></div>

                </div>
            </div>
            <div class="col-xs-6 col-md-2 b3-textgroup-horizon">
                <label>{% trans 'Quantity' %}</label>
                <div>
                    <input class="form-control" type="number" id="quantity" min="1" data-bind="
                    numeric,
                    value: quantity,
                    enable: projectVM.isBasketEditable">
                </div>
            </div>
            <div class="col-xs-6 col-md-2 b3-textgroup-horizon" data-bind="visible: !lineDiscountPriceValue()">
            </div>
            <div class="col-xs-6 col-md-2 b3-textgroup-horizon" data-bind="visible: lineDiscountPriceValue()">
                <label>{% trans 'Discount' %}</label>
                <div id="line-discount" data-bind="text: lineDiscountPriceRepresentation()"></div>
            </div>
            <div class="col-xs-6 col-md-3 b3-textgroup-horizon" data-bind="visible: showPriceTag()">
                <label>{% trans 'Total' %}</label>
                <div id="total-price" data-bind="text: totalLinePriceRepresentation()"></div>
            </div>

            <div class="col-xs-6 col-md-3 b3-textgroup-horizon">
                <label>{% trans 'Production Time' %}</label>
                <div id="production" data-bind="text: deliveryDaysRange"></div>
            </div>
        </div>

        <!-- Error handling -->
        <div class="col-xs-12" data-bind="visible: error_not_printable() && !isAnalysing()">
            <div class="project-price-request-tip">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% blocktrans %} We have problems analyzing your file.{%endblocktrans%}
            </div>
        </div>

    </div>
</div>

<!-- Attachemnt Information Well-->
<div data-bind="foreach: lineAttachment">
    <div class="project-well addition">
        <div class="row b3-no-margin-row">
            <div class="col-xs-1 col-md-1 file-type zip"></div>
            <div class="col-xs-10 col-md-3 short-name" data-bind="text: name, attr:{title: name}" data-toggle="tooltip">--</div>
            <div class="col-xs-4 col-md-3 short-name b3-text-gray" data-bind="text: uploader">--</div>
            <div class="col-xs-4 col-md-3 b3-text-gray" data-bind="text: Button3d.common.beautify.prettyByCurrentDate(pretty_creation_date)">
                --
            </div>
            <div class="col-xs-4 col-md-2 project-file-options">
                <a data-bind="attr: {href: url}" target="_blank" download>
                    <i class="material-icons">file_download</i>
                </a>
                <a data-bind="attr:{value: id}" onclick="deleteAttachment(this)" class="delete">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="project-well attachment project-upload-holder" data-bind="attr:{value: id}">
    <div class="row b3-no-margin-row">
        <div class="col-xs-1 col-md-1 file-type upload"></div>
        <div class="col-xs-10 col-md-11 file-name " data-bind="attr:{value: id}"></div>
    </div>
    <div class="progress-indicator" data-bind="attr:{value: id}"></div>
</div>

<div class="project-well addition control">
    <!-- Attachment Icon-->
    <div class="project-dropdown">
        <div data-toggle="dropdown" class="dots-button" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">settings</i>{% trans "Options" %}
        </div>
        <div class="dropdown-menu dropdown-menu-right">
            <ul>
                <li data-bind="if: projectVM.isBasketEditable, click: clone_line" style="margin-right: 5px;">{% trans 'Clone item' %}</li>
                <li data-bind="click: downloadFile">{% trans 'Download 3D file' %}</li>
                <li data-bind="visible: projectVM.isBasketEditable() && !error_not_printable(), click: $parent.apply_to_all">{% trans 'Apply settings to all items' %}</li>
            </ul>
        </div>
    </div>
    <div class="dots-button" data-bind="if: projectVM.isBasketEditable, click: remove_line">
        <i class="material-icons">delete</i>{% trans 'Remove item' %}
    </div>
    <div class="dots-button" data-bind="attr:{value: id}" onclick="addFromLine(this)">
        <i class="material-icons">file_upload</i>{% blocktrans %}Upload Part Documents{% endblocktrans %}
    </div>
</div>
