{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load compress %}
{% load b3_utils %}
{% load organization_flags %}
{% load currency_tags i18n %}

{% block title %}{% trans "3D Project" %} - {{ project_title }} {% endblock %}

{% block class %}compare userpanel{% endblock %}

{% block submenu %}
    {% include 'b3_user_panel/projects/project_detail_header.html'%}
{% endblock %}


{% block user_content %}
    <!-- Project Detail Page -->
{% include 'b3_user_panel/ajax_pagination.html' with knockout=True %}
<script type="text/javascript">
    $('.b3-overlay-container').remove();
    showSpinner();
    hideSpinner(1200);
    var is_single_supplier_account = {{ request|is_single_supplier|lower }};
    var supplierPlaceholder = "{% trans 'Select a 3D printing service...' %}";
    var finishingPlaceholder = "{% trans 'Select a post-processing...' %}";
    // TODO: move this to base.html
    $(function () {
            $('select').select2();
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            // if click other popover will close self
            $('[data-toggle="popover"]').on('show.bs.popover', function(){
               $('[data-toggle="popover"]').not(this).popover('hide')
            })
    });
    // only click outside popover will close
    $('body').on('click', function (e) {
        if ($(e.target).data('toggle') !== 'popover'
            && $(e.target).parents('.popover.in').length === 0) {
            $('[data-toggle="popover"]').popover('hide');
        }
    });
</script>

{% if error %}
    <div class="row alert b3-alert alert-danger" style="margin-top: 10px;">
        <div class="hidden-xxxs col-xxs-1 col-xs-1">
            <span style="position: absolute;top: -3px;left: 0;right: 0;bottom: 0;text-align: center;" class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-xxxs-12 col-xxs-10 col-xs-11">
            {{ error }}
        </div>
    </div>
{% endif %}

{% if order %}
    <script>
        var orderDeliveryDaysRange = '{{ order.delivery_days_range_pretty_printed }}';
        var orderShippingCostsInclTax = '{% convert_currency_from order.shipping_price.incl_tax order.currency request %}';
        var orderShippingCostsExclTax = '{% convert_currency_from order.shipping_price.excl_tax order.currency request %}';
    </script>
    {% include 'b3_user_panel/projects/project_order_detail.html' %}
{% endif %}

<div id="project-detail">

    <img data-bind="visible: project_lines_are_loading" style="display: inline-block;" src="{% static "images/price_load.gif" %}"
        class="b3-price-loading price-loading-snippet-small loading" alt="Loading ..." height="14" width="110">

    <div data-bind="visible: !project_lines_are_loading()">
        <div class="row project-panel row-eq-height">
            <div class="col-xs-12 col-md-8 left">
                <div class="b3-heading-title margin-bottom line">{% blocktrans %}3D Models{% endblocktrans %}</div>
                <div data-bind="visible: projectLines().length > 0">
                <!-- ko foreach: projectLines -->
                    {% include 'b3_user_panel/projects/project_line.html' %}
                <!-- /ko -->
                </div>

                <div class="alert alert-warning alert-dismissible" style="display:none" role="alert">
                <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% blocktrans %} Your 3D project has been locked, you can't add new items. {% endblocktrans %}
                </div>

                <!-- ko ifnot: showPriceSetMessage -->
                <div class="project-well empty margin-bottom baske-dropzone-area btn-new-project">
                    <!--  -->
                    <p style="pointer-events: none;" data-bind="if: !isProjectOrdered()">
                        {% blocktrans %}Drop file(s) here or click to upload {% endblocktrans %}
                    </p>
                    <p style="pointer-events: none;" data-bind="if: isProjectOrdered()">
                        {% blocktrans %}Drop file(s) here to add attachments {% endblocktrans %}
                    </p>
                    <div tabindex="0" class="project-upload-hint"
                        data-toggle="popover" data-trigger="focus"
                        data-placement="bottom"
                        data-html="true"
                        data-content=""
                        data-bind="if: !isProjectOrdered()">
                        {% trans 'See supported 3D File Types' %}
                    </div>
                    <div tabindex="0" class="project-upload-hint"
                        data-placement="bottom"
                        data-html="true"
                        data-bind="if: isProjectOrdered()">
                        {% trans 'You can upload any file you want' %}
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: showProjectAttachment() -->
                <div style="margin-top: 5px;" class="b3-heading-title margin-bottom line">{% blocktrans %}3D Project Attachments{% endblocktrans %}</div>
                    {% include 'b3_user_panel/projects/project_attachment.html' %}
                <!-- /ko -->
                <div class="project-well attachment project-upload-holder" value="basket-attachment">
                    <div class="row b3-no-margin-row">
                        <div class="col-xs-1 col-md-1 file-type upload"></div>
                        <div class="col-xs-10 col-md-11 file-name" value="basket-attachment"></div>
                    </div>
                    <div class="progress-indicator" value="basket-attachment"></div>
                </div>

                {% include 'dist/project_comments.html' %}

            </div>

            <div class="col-xs-12 col-md-4 right">
                {% if not request.user.is_anonymous and basket.owner %}
                <!-- ko with: projectPermissionVM-->
                {% include 'b3_user_panel/projects/project_permission.html' %}
                <!-- /ko -->
                {% endif %}

                {% include 'b3_user_panel/projects/project_supplier.html'%}

                {% include 'b3_user_panel/projects/project_summary.html' %}

                <!-- ko if: !isProjectOrdered()-->
                <div class="row project-sidebar-message danger" data-bind="visible: showPriceNeedMessage() && !showRequestSendMessage() && !is_manual_pricing_user()">
                    <label><i class="material-icons">warning</i></label>
                    <p>{% blocktrans %}The 3D project contains items for which a manual pricing is needed.{% endblocktrans %}</p>
                </div>
                <div class="row" data-bind="visible:is_orderable() && showOrderButton() && !showRequestButton(), with: order">
                    {% if should_redirect %}
                        {% if not basket.is_manually_priced %}
                            <a
                                href="{% url 'account_login' %}"
                            >
                                <div class="btn" style="width:100%">{% trans 'Login to Place Order' context "verb" %}</div>
                            </a>
                        {% endif %}
                    {% else %}
                        <a
                            data-bind="visible: can_be_printed"
                            id="new-checkout-link"
                            href="#/shipping-address"
                        >
                            <div class="btn" style="width:100%">{% trans 'Place Order' context "verb" %}</div>
                        </a>
                        <div
                            data-bind="visible: !can_be_printed(), click: $parent.showWarningPrintabilityModal"
                            class="btn"
                            style="width:100%"
                        >
                            {% trans 'Place Order' context "verb" %}
                        </div>
                    {% endif %}
                </div>

                <div class="row" data-bind="visible: !is_orderable() && showOrderButton()">
                    <div class="btn disabled" style="width:100%" data-bind="click: display_missing_order_info">{% trans 'Place Order' context "verb" %}</div>
                </div>

                <div class="row project-sidebar-message" data-bind="visible: showPriceNeedMessage() && is_manual_pricing_user()">
                    <label><i class="fa fa-exclamation-circle danger" aria-hidden="true"></i></label>
                    <p>{% blocktrans %}The 3D project contains items for which a manual pricing is needed. Please set the price on the items.{% endblocktrans %}</p>
                </div>

                <div class="row" data-bind="if: showRequestButton()">
                    <div class="btn" style="width: 100%" data-bind="click: requestPrice">
                        {% trans 'Request Price' %}
                    </div>
                </div>
                <div class="row" data-bind="if: showRequestSave()">
                    <div class="btn" style="width: 100%"
                        onclick="Button3d.modals.show_save_price_request_modal()">{% trans 'Save new price' %}</div>
                </div>
                <div class="row project-sidebar-message" data-bind="visible: showPriceFinishedMessage()">
                    <label><i class="fa fa-hourglass-start" aria-hidden="true"></i></label>
                    <p>{% blocktrans %}All items are now priced. The user can now order the 3D project.{% endblocktrans %}</p>
                </div>
                <div class="row project-sidebar-message" data-bind="visible: showRequestSendMessage()">
                    <label><i class="fa fa-paper-plane" aria-hidden="true"></i></label>
                    <p>{% blocktrans %}A pricing request was sent. You will get notified when the 3D project is ready to be ordered. {% endblocktrans %}</p>
                </div>
                <!-- /ko -->

            </div>
        </div>
    </div>
</div>



<script>
    var createCheckoutEvent = document.createEvent('Event');
    createCheckoutEvent.initEvent('createCheckout', true, true);
    var projectCheckoutBridge = (function(){
        var projectId = '{{ project_id }}';
        var sentryUrl = {% if SENTRY_JS_DSN %}'{{ SENTRY_JS_DSN }}'{% else %}null{% endif %};
        var serviceId = '{{ service_id }}';
        var userCurrency = '{{ user_currency }}';
        var userLanguage = '{{ LANGUAGE_CODE }}';
        return {
            projectId: projectId,
            sentryUrl: sentryUrl,
            serviceId: serviceId,
            userCurrency: userCurrency,
            userLanguage: userLanguage
        };
    })();
</script>
<link rel="stylesheet" href="https://unpkg.com/@3yourmind/yoco@0.0.4/dist/yoco-icon.min.css">
<div id="b3-checkout-mask">
    <div id="b3-checkout-container">
        {% if LANGUAGE_CODE == 'en' %}
            {% include 'dist/checkoutEN.html' %}
        {% elif LANGUAGE_CODE == 'de' %}
            {% include 'dist/checkoutDE.html' %}
        {% endif %}
    </div>
</div>
<style>
    #b3-checkout-mask {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        padding: 5% 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 99999;
    }
    #b3-checkout-container {
        align-self: center;
        height: 100%;
        width: 90%;
        max-width: 1120px;
        margin: 0 auto;
        overflow-y: auto;
        z-index: 100000;
        background: #FFF;
        box-sizing: border-box;
    }
    @media(max-width: 840px) {
        #b3-checkout-mask {
            padding: 0;
        }
        #b3-checkout-container {
            height: 100%;
            width: 100%;
            margin: 0;
            z-index: 100000;
        }
    }
</style>
<script>
    document.querySelector('#new-checkout-link').addEventListener('click', function() {
        document.dispatchEvent(createCheckoutEvent);
    });
</script>




<div id="hidden-upload" style="display: none"></div>

<div class="b3-make-space"></div>
<div class="b3-make-space"></div>

<script type="text/javascript">
    var country_user = "{{ current_country }}";
    var projectId = "{{ project_id }}";
</script>

<link href="{% static "css/vendor/bootstrap/bootstrap-editable.css" %}" rel="stylesheet"/>
<script src="{% static "js/vendor/bootstrap-editable.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.hc-sticky.min.js" %}"></script>
<script src="{% static "js/vendor/knockout.x-editable.min.js" %}"></script>

{% compress js %}
    <script src="{% static "js/button3d/api_calls.js" %}"></script>
{% endcompress %}

{% include "b3_compare/compare/components/database-lookup.html" %}
{% include "b3_modal/material_not_printable_modal.html" with project=True %}

<script type="text/javascript">
$(function () {
    setTimeout(function(){
        $('.order-total').hcSticky({
            innerSticker: $('.panel-order-quote'),
            top: 15,
            offResolutions: -992
        });
    }, 2000);

});
</script>

{% include 'b3_modal/project/clone_project_modal.html' %}
{% include 'b3_modal/project/new_permission_modal.html' %}
{% include 'b3_modal/project/delete_permission_modal.html' %}
{% include 'b3_modal/project/delete_project_modal.html' %}
{% include 'b3_modal/project/price_request_modal.html' %}
{% include 'b3_modal/project/save_price_request_modal.html' %}
{% include 'b3_modal/download_upload_modal.html' %}

<script type="text/javascript">
    $('#stl-hidden-upload').addClass("project-upload");
</script>

{% compress js %}
    <script src="{% static "js/button3d/userpanel/projects/details/CategoryVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/FinishingOfferVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/SupplierOfferVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/MaterialOfferVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/ProjectPermissionVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/ProjectLineVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/OrderVM.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/projects/details/ProjectVM.js" %}"></script>
    <script src="{% static "js/button3d/common/fileExtensions.js" %}"></script>
{% endcompress %}

    <script type="text/javascript">
        var projectVM = new ProjectVM();

        ko.applyBindings(projectVM, $('#project-detail-header')[0]);
        ko.applyBindings(projectVM, $('#project-detail')[0]);


        var basketDropzone = $('#basket-dropzone');

        basketDropzone.on('dragover', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('hover');
        });

        basketDropzone.on('dragleave', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).removeClass('hover');
        });

        basketDropzone.on('dragover', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('hover');
        });

        var attachment_url = '/basket-ajax/attachment/ajax/';
        function deleteAttachment(obj) {
            $.ajaxSetup({
                timeout: 30000,
                beforeSend: function (xhr, settings) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
            });
            var attachmentId = obj.getAttribute('value'),
            params = {
                'id': attachmentId,
                'basket_id': projectId
            };
            $.ajax({
                url: attachment_url + '?' + $.param(params),
                type: 'DELETE',
                dataType: "json",
                success: function(result) {
                    projectVM.basket_attachments.remove(function (item) {
                        return item.id == attachmentId }
                    );
                }
            });
        }

        function addFromLine(lineId){
            basket_line_id = lineId.getAttribute('value');
            // TODO: REASSIGN NEW DROPDOWN.
            $('#hidden-upload').click();
        }

        var basket_line_id = '';
        var file_local_name = [];
        var max_file_size_in_mb = parseFloat('{{ max_filz_size_in_mb }}');


        var lineAttachement = new Dropzone($('#hidden-upload')[0],{
            url: attachment_url,
            autoProcessQueue: true
        })





        lineAttachement.on('processing', function(file){
            lineAttachement.options.params = {
                'csrfmiddlewaretoken': getCookie('csrftoken'),
                'basket_id': projectId,
                'basket_line_id': basket_line_id
            }
        });
        lineAttachement.on('addedfile', function(file){
            file_local_name.push(file.name);
        });
        lineAttachement.on('totaluploadprogress', function(progress){
            $('.file-name[value=' + basket_line_id + ']' ).text(file_local_name);
            $('.project-upload-holder[value=' + basket_line_id + ']').css({'display': 'block'});
            $('.progress-indicator[value=' + basket_line_id +']').css({'width': progress + "%"});
        });

        lineAttachement.on('success', function(file, response){
            if(response.success) {
                var attachments = response.attachments;
                var attachmentsLength = attachments.length;
                for (var i = 0; i < attachmentsLength; ++i) {
                    projectVM.basket_attachments.push(attachments[i]);
                }
                $('.project-upload-holder[value=' + basket_line_id + ']').css({'display': 'none'});
                $('.progress-indicator[value=' + basket_line_id + ']').css({'width': '0'});
                file_local_name = [];
            }
        });
    </script>

    <script>
        var fileExtensions = Button3d.common.fileExtensions.getReadableExtensionsAlternative();
        var result = '<p style="word-wrap: break-word;">' + fileExtensions + '</p>'+
            '<p class="b3-text-gray">' + '{% trans 'Other filetypes (e.g. pdf) will be added as 3D Project Attachments.' %}' + '</p>';
        $('.project-upload-hint').attr('data-content', result);
    </script>
{% endblock %}
