{% load i18n %}
{% load l10n %}
<div id="project-detail-header">
    <div class="title-section">
        <div class="container" style="padding-bottom: 5px;padding-top: 5px;">
            <div class="row">
                <div class="col-xs-10">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'b3_user_panel:projects' %}">{% trans 'All 3D projects' %} &gt;</a>
                    {%  endif %}

                    {% if line_id %}
                        <a href="{% url 'b3_user_panel:project-detail' project_id %}">
                            <span data-bind="text: quotation_number"></span>: <span data-bind="text: title"></span> &gt;
                        </a>
                    {% endif %}
                    <!-- ko if: !isProjectOrdered() -->
                    {% if line_id %}
                    <div style="display:inline-block">
                        <div class="edit-name">
                            <h3 id="project-title" style="outline:none; font-weight: bold; font-size:14px; word-break:break-all;" data-bind="editable: filename,
                                     editableOptions: {
                                                mode: 'inline',
                                                url: function(params) {
                                                    $('h3.editable.editable-click').removeAttr('background-color');
                                                }
                                      }"></h3>
                        </div>
                    </div>
                    {% else %}
                    <span data-bind="text: quotation_number"></span>:
                    <div style="display:inline-block">
                        <div class="edit-name">
                            <h3 id="project-title" style="outline:none; font-weight: bold; font-size:14px; word-break:break-all;" data-bind="editable: title,
                                     editableOptions: {
                                                mode: 'inline',
                                                url: function(params) {
                                                    $('h3.editable.editable-click').removeAttr('background-color');
                                                }
                                      }"></h3>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /ko -->
                    <!-- ko if: isProjectOrdered()-->
                    {% if basket %}
                    {{ basket.quotation_number }}:
                    <b id="project-title">{{ basket.title }}</b>
                    <span class="ordered-tag" data-bind="visible:isProjectOrdered()">{% trans 'Ordered' %}</span>
                    {% endif %}
                    {% if line_id %}
                    <b data-bind="text: showname"></b>
                    {% endif %}
                    <!-- /ko -->
                </div>
                {% if request.user.is_authenticated and not line_id %}
                <div class="col-xs-2 project-dropdown dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog text-right" aria-hidden="true"></i></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                            <li onclick="Button3d.modals.show_clone_project_modal()">{% trans 'Clone 3D project' %}</li>
                            <li data-bind="if: !isProjectOrdered()" onclick="Button3d.modals.show_delete_project_modal()">{% trans 'Delete 3D project' %}</li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
