{% load i18n %}
{% load l10n %}
{% load currency_tags %}
{% load b3_utils %}
{% load customfiltercalc %}
{% load organization_flags %}
{% load static %}

<div class="project-well">

<div class="row b3-no-margin-row">
    <div class="col-xs-12 project-line-editname">
         <b {% if basket_line.showname|length > 35 %} data-toggle="tooltip" title="{{ basket_line.showname }}"{% endif %} >{{ basket_line.showname |inline_truncate:35 }}</b>
    </div>
</div>

<div class="row row-eq-height b3-no-margin-row">
<div class="col-xs-12 col-md-5">
    <div class="project-item-thumb img-thumbnail">
        <a href="{% url 'short_uploads' uuid=basket_line.uuid %}">
            <img draggable="false"
                data-src = "{{ basket_line.thumbnail_url }}"
                class = "lazy-load loading"
                src="{% static "images/webgl_load.gif" %}"
                alt="3YOURMIND">
        </a>
    </div>
    {% with basket_line.dimensions_in_unit as size %}
    <div class="b3-textgroup-sm">
        <label class="col-xs-12">{% trans 'Dimensions' %} ({{ basket_line.measure_unit }})</label>
        <div class="col-xs-12">{{ size.h|floatformat }} x {{ size.w|floatformat }} x {{ size.d|floatformat }}</div>
    </div>
    {% endwith %}
</div>

<div class="col-xs-12 col-md-7">

<div class="b3-textgroup-sm">
    <label for="material" class="col-xs-12">{% trans 'Material' %}:</label>
    <div id="material" class="col-xs-12">
        {% if basket_line.product.parent %}
            {{ basket_line.product.parent.title }}
        {% else %}
            {{ basket_line.product.title }}
        {% endif %}
    </div>
</div>

{% if not request|is_single_supplier%}
<div class="b3-textgroup-sm">
    <label for="supplier" class="col-xs-12">{% trans '3D Printing Service' %}:</label>
    <div id="supplier" class="col-xs-12">
        {{ basket_line.partner.name }}
    </div>
</div>
{% endif %}


<div class="b3-textgroup-sm">
    <label for="finishing"  class="col-xs-12">{% trans 'Post-processing' %}:</label>
    <div id="finishing" class="col-xs-12">
        {% if basket_line.product.parent %}
            {% with basket_line.product.parent.title|add:" " as product_title %}
                {{ basket_line.stockrecord.product.title|cut:product_title }}
            {% endwith %}
        {% else %}
            {% with basket_line.product.title|add:" " as product_title %}
                {{ basket_line.stockrecord.product.title|cut:product_title }}
            {% endwith %}
        {% endif %}
    </div>
</div>

{% if basket_line.color %}
<div class="b3-textgroup-sm">
    <label for="color" class="col-xs-12">{% trans 'Color' %}:</label>
    <div id="color" class="col-xs-12">
        <div class="color-box" style="background-color:{{ basket_line.color.rgb }};"></div>
        {{ basket_line.color.title }}
    </div>
</div>
{% endif %}

</div>

</div>
</div>
 

<div class="project-well addition">
<div class="row b3-no-margin-row">
<div class="col-xs-12">
    <div class="col-xs-6 col-md-3 b3-textgroup-horizon">
        <label>{% trans 'Unit Price' %}</label>
        <div>{{ basket_line.unit_price_incl_tax|currency:basket_line.price_currency }}</div>
    </div>
    <div class="col-xs-6 col-md-3 b3-textgroup-horizon">
        <label>{% trans 'Quantity' %}</label>
        <div>{{ basket_line.quantity }}</div>
    </div>
    <div class="col-xs-6 col-md-3 b3-textgroup-horizon">
        <label>{% trans 'Total' %}</label>
        <div>{{ basket_line.unit_price_incl_tax|mult:basket_line.quantity|currency:basket_line.price_currency }}</div>
    </div>
    <div class="col-xs-6 col-md-3 b3-textgroup-horizon">
        <label>{% trans 'Production in' %} </label>
        <div class="text-succes">{{ order.delivery_time }}</div>
    </div>

</div>
</div>
</div>
        
        

