{% extends "customer/emails/base.html" %}
{% load i18n %}
{% block body %}
    {% if first_name and last_name %}
        {% blocktrans %}Dear{% endblocktrans %} {{ first_name }} {{ last_name }},<br><br>
    {% endif %}

    {% blocktrans %}A request for onboarding a new printing service has been submitted:{% endblocktrans %}<br><br>

    {% blocktrans %}<b>Company:</b>{% endblocktrans %} {{ ps.company }}<br>
    {% blocktrans %}<b>Website:</b>{% endblocktrans %} {{ ps.website }}<br><br>

    {% blocktrans %}<b>Contact Person:</b>{% endblocktrans %} {{ ps.title }} {{ ps.first_name }} {{ ps.last_name }}<br>
    {% blocktrans %}<b>E-Mail:</b>{% endblocktrans %} {{ ps.email }}<br>
    {% blocktrans %}<b>Phone:</b>{% endblocktrans %} {{ ps.phone }}<br><br>

    {% if ps.questions %}
        {% blocktrans %}<b>Questions:</b>{% endblocktrans %} {{ ps.questions }}<br><br>
    {% endif %}
    {% if ps.username %}
        {% blocktrans %}<b>Username:</b>{% endblocktrans %} {{ ps.username }}<br><br>
    {% endif %}
{% endblock %}
