{% block footer %}
    <style>
    </style>
    <div class="footer">
        <table class="footer-table">
            <tr>
                <td class="footer-td">
                    <p class='footer-p'>GmbH, Angaben gemäß § 5 TMG</p>
                    <p class='footer-p'>Bismarckstraße 10-12</p>
                    <p class='footer-p'>10625 Berlin Germany</p>
                </td>
                <td class="footer-td">
                    <p class='footer-p'>Eintragung im Handelsregister: Berlin</p>
                    <p class='footer-p'>Registriergericht: Amtsgericht Charlottenburg (Berlin)</p>
                    <p class='footer-p'>Registriernummer: HRB 160616</p>
                </td>
                <td class="footer-td">
                    <p class='footer-p'>Geschäftsführer: Stephan Kühr & Aleksander Ciszek</p>
                    <p class='footer-p'>Steuer-Nr: 27/602/30370</p>
                    <p class='footer-p'>Umsatzsteuer-ID: DE296555110</p>
                </td>
            </tr>
        </table>
    </div>

{% endblock footer %}
