{% block header %}
    <style>
    </style>
    <div class="html-wrapper">
        <div class="body-wrapper">
            <table class="header header-table">
                <tr>
                    <td class="header__address">
                        3YOURMIND Gmbh| Bismarckstr. 10-12, 10625, Berlin
                    </td>
                    <td class="header__logo">
                        <img src="{{ organization_logo_url }}" alt="Default Logo">
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock header %}
