{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load b3_signup_tags %}
{% load auth_plugin_tags %}

{% block modal_id %}loginModal{% endblock modal_id %}

{% block modal_title %}
    {% trans "Login" %}
{% endblock modal_title %}

{% if not disable_normal_login %}
    {% block modal_body %}
        {% login_form %}
        <div class="b3-make-space" style="margin-top:30px;"></div>
    {% endblock modal_body %}
{% endif %}
{% block modal_footer %}
    {% if auth_plugin %}
        <div style="text-align: center">
            login via:
            <a class="btn btn-l btn-danger"
               href="{%  modify_auth_redirect_url auth_plugin %}">
                {{ auth_plugin.template_button_name }}
            </a>
        </div>
    {% endif %}
{% endblock modal_footer %}
