{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load l10n %}
{% load b3_signup_tags %}


{% block modal_id %}signupModal{% endblock %}

{% block modal_title %}
    {% trans "Sign Up" %}
{% endblock %}

{% block modal_body %}
    {% email_signup_form %}
    <div class="b3-make-space" style="margin-top:45px;"></div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        $(function () {
            $('.b3-btn-signin').click(function (e) {
                e.preventDefault();
                $('#loginModal').modal('show');
                return false;
            });
            $('.b3-btn-signup').click(function (e) {
                e.preventDefault();
                $('#signupModal').modal('show');
                return false;
            });
        });

        {% if 'u/' in request.path  or 'en/uploads/' in request.path  or 'de/uploads/' in request.path or 'en/demo/' in request.path or 'de/demo/' in request.path %}
            $('#signupModal').on('hidden.bs.modal', function (e) {
                if($('#signupModal').find('.close').hasClass('remove-message')){
                    $('#signupModal').find('.close').removeClass('remove-message');
                    $('#signupModal .modal-title' ).text("{% trans 'Sign Up' %}");
                }
            });
            $('.b3-btn-already-account').removeAttr("href");
            $('.b3-btn-already-account').click(function (e) {
                e.preventDefault();
                $('#loginModal').modal('show');
                $('#signupModal').modal('hide');
                return false;
            });
        {% endif %}


        function SignupVM() {
            var self = this;

            // Public members
            self.publicMembers = {
                "showSignup": function() {
                    $('#signupModal .modal-title' ).text("{% trans 'This function is only available for registered users.' %}");
                    $('#signupModal').find('.close').addClass('remove-message');
                    $('#signupModal').modal('show');
                }
            };
        }

        ko.applyBindings(new SignupVM(), $("#signupModal")[0]);

        $(document).on('click', '#modal-signup-button', function(e) {
            var origin_url = $('#id_origin_url');
            if (origin_url.length > 0)
                origin_url[0].value = window.location.href;
        });
    </script>
{% endblock %}
