/* Printer page */
@page {
    size: A4 portrait;
    margin: 30mm 10mm;
    @bottom-right {
        font-size: 0.8rem;
        color: #555;
        content: 'Page ' counter(page) ' / ' counter(pages);
    }
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: transparent;
}

body {
    padding: 0;
    background: transparent;
}

b,
p,
section h3 {
    font-size: 1rem;
}

section {
    margin-top: 2rem;
}

table {
    border-spacing: 0;
    width: 100%;
}

/* Header section */
header .branding {
    position: fixed;
    top: -20mm;
    width: 100%;
}
.header {
    position: fixed;
    top: -20mm;
    width: 100%;
}
.sender-address {
    font-size: 0.8rem;
    color: #555;
    position: relative;
    top: -5mm;
}

.branding__logo {
    float: right;
}

.branding__logo img {
    height: 20mm;
    max-width: 40mm;
}

/* Page footer section, via position hack */
footer {
    position: fixed;
    font-size: .8rem;
    line-height: 1rem;
    bottom: -2cm;
    left: 20%;
    width: 60%;
    text-align: center;
    color: #555;
    overflow: hidden;
}

footer p {
    font-size: .8rem !important;
    padding: 0;
    margin: 0;
}

/* Main page body */
.page-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#customer-greeting h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}

.address {
    margin: 0 0 2rem 0;
    line-height: 1.2rem;
}

.address__to,
.address__from {
    width: 50%;
    font-size: .9rem;
    vertical-align: top;
}

.address__from {
    text-align: right;
}

.info {
    width: 100%;
    padding: 0.5rem 0.5rem;
    height: 2rem;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    table-layout: fixed;
}

.info--grey {
    background: #eee;
    margin-top: 0;
    border-top: 0;
}

.element {
    width: 25%;
    vertical-align: top;
    word-wrap: break-word;
}

.element__label {
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
}

.element__value {
    font-size: 1rem;
    line-height: 1.5rem;
}

.kt-table {
    table-layout: auto;
    width: 100%;
}

.line-number {
    width: 2rem;
}

.line-thumbnail {
    text-align: center;
}

.line-image {
    width: 4rem;
}
.line-image img{
    width: 100%;
    display: block;
}
.line-part {
    word-wrap: break-word;
}
.line-quantity,
.line-price-unit,
.line-price-discount,
.line-price-total {
    width: 15%;
    word-wrap: break-word;
}

.kt-table td,
.kt-table th {
    border-bottom: 1px solid #ddd;
}

.kt-table th {
    font-size: 0.7rem;
    color: #555;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

.kt-table img {
    width: 2.4rem;
    height: 2.4rem;
}

.kt-table td {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-right {
    text-align: right !important;
}

.totals {
    font-size: 1em;
    line-height: 125%;
    font-weight: bolder;
}

#order-totals-summary th,
#order-totals-summary td {
    border-bottom: none;
    padding: 0;
}

#order-totals-summary tr > td:nth-child(2) {
    text-align: right !important;
}

#order-totals-summary tr.total-without-tax td {
    padding-top: 1.5rem;
}

.header__address {
    margin-top: -4rem;
    font-size: .8rem;
    height: 6rem;
    color: #555;
}
.header__logo {
    width: 100%;
    clear: both;
    height: 6rem;
    text-align: right;
    display: block;
}
.header__logo img {
    height: 100%;
}
