html {
  font-size: 15px;
  background: #ddd;
}

body {
  font-size: 15px;
  font-family: 'Open Sans';
  margin: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #555;
}

b,
p {
  font-size: 1rem;
}

section {
  margin-top: 2rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

.header__address {
  font-size: 0.8rem;
  color: #555;
}
.header__logo {
  width: 100%;
  clear: both;
  height: 3rem;
  text-align: right;
  display: block;
}
.header__logo img {
  height: 2em;
}

.address {
  margin: 2rem 0;
  line-height: 1.2rem;
}
.address__to,
.address__from {
  width: 50%;
  font-size: 0.9rem;
}
.address__from {
  text-align: right;
}

.metadata {
  margin-top: 2rem;
}
.metadata__title {
  font-size: 2rem;
  font-weight: 600;
}
.metadata__pagenumber {
  text-align: right;
  font-size: 1.5rem;
}
.info {
  width: 100%;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.info--grey {
  background: #eee;
  margin-top: 0;
  border-top: 0;
}
.element {
  width: 25%;
}
.element__label {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: #555;
}
.element__value {
  font-size: 1rem;
  line-height: 1.5rem;
}

.kt-table td,
.kt-table th {
  border-bottom: 1px solid #ddd;
}
.kt-table th {
  font-size: 0.7rem;
  color: #555;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.kt-table img {
  width: 2.4rem;
  height: 2.4rem;
}
.kt-table td {
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.text-right {
  text-align: right !important;
}

@page {
  margin: 50mm 10mm 30mm 10mm;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: 0;
  }
  html {
    background: transparent;
  }
  .first-header {
    margin-top: -30mm;
  }
}
