{% extends "admin/change_list.html" %}

{% load i18n cache %}
{% load staticfiles %}
{% block search %}
{% endblock %}

{% block content %}
<div class="b3-product-tree" id="changelist">
<style>
tr.row1{
    background-color: #FFFFFF !important;
}
tr.row2{
    background-color: #f9f9f9 !important;
}
.padding-level-0{
    padding-left:0px;
}
.padding-level-1{
    padding-left:20px;
}
.padding-level-2{
    padding-left:40px;
}
.padding-level-3{
    padding-left:60px;
}
.padding-level-4{
    padding-left:80px;
}
.padding-level-5{
    padding-left:100px;
}
.collapse{
    display: none;
}
.invisible{
    visibility: hidden;
}
</style>

<ul class="object-tools">
    <li>
      <a href="/en/admin/catalogue/product/add/" class="addlink">
        Add Product
      </a>
    </li>
</ul>

<div data-bind="foreach: categories">
    <button class="btn" data-bind="css: {'btn-default': !is_selected(), 'btn-primary': is_selected}, text: name, click: toggle_selected"></button>
</div>
<br/>
<table id="result_list" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans "Details" %}</th>
            <th>{% trans "Material name" %}</th>
            <th>{% trans "General material type" %}</th>
            <th>{% trans "Specific material type" %}</th>
            <th>{% trans "Technology" %}</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: flat_product_tree">
        <tr data-bind="visible: is_visible">
            <td><a class="product-edit-link" data-bind="attr: {href: id}">Edit</a></td>
            <td>
                <div data-bind="css: classes">
                    {% comment %}<!-- ko if: children().length --><span>+</span><!-- /ko -->{% endcomment %}
                    <span data-bind="text: title"></span>
                </div>
            </td>
            <td data-bind="html: categories_name"></td>
            <td data-bind="text: slug"></td>
            <td data-bind="text: technology"></td>
        </tr>
    </tbody>
</table>


<script src="{% static "js/vendor/jquery.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
<script src="{% static "js/vendor/knockout.min.js" %}"></script>
<script type="text/javascript">
var product_list = {{ products_json | safe }};
var categories_list = {{ categories_json | safe }};
</script>
<script>
function ProductTreeVM(){
    var self = this;
    self.categories_source = ko.observableArray(categories_list);
    self.products_source = ko.observableArray(product_list);
    self.products = ko.observableArray([]);
    self.children = ko.observableArray([]);
    self.flat_product_tree = ko.observableArray([]);
    self.categories = ko.observableArray([]);
    self.ALL_CATEGORIES = new CategoryVM({"id":"all","name":"All","hidden":true,"is_selected":true});
    self.NONE_CATEGORIES = new CategoryVM({"id":"none","name":"Not assigned","hidden":true});

    self.__auto_update_categories = ko.computed(function(){
        var res = [];
        res.push(self.ALL_CATEGORIES);
        var categories_list = self.categories_source();
        for(var i=0;i<categories_list.length;i++)
            res.push(new CategoryVM(categories_list[i]));
        res.push(self.NONE_CATEGORIES);
        self.categories(res)
    })

    self.__auto_update_products = ko.computed(function(){
        var res = [];
        var product_list = self.products_source();
        var categories_list = self.categories();
        var categories_dict = {}
        for(var i=0;i<categories_list.length;i++)
            categories_dict[categories_list[i].id] = categories_list[i];

        for(var i=0;i<product_list.length;i++) {
            cur_product = product_list[i];

            res_categories = [];
            res_categories.push(self.ALL_CATEGORIES);
            for(var j=0;j<cur_product.categories_id.length;j++)
                res_categories.push(categories_dict[cur_product.categories_id[j]])
            if(res_categories.length==1)
                res_categories.push(self.NONE_CATEGORIES);
            cur_product.categories = res_categories;

            res.push(new ProductVM(cur_product));
        }
        self.products(res);
    });

    self.__auto_update_children = ko.computed(function(){
        var products = self.products();
        var flat = [];
        function update_children(parent_product){
            var res = [];
            for(var i=0;i<products.length;i++)
                if(products[i].parent_id==parent_product.id) {
                    res.push(products[i]);
                    flat.push(products[i]);
                    if(parent_product.id)
                        products[i].parent(parent_product)
                    update_children(products[i]);
                }
            parent_product.children(res);
        }
        update_children(self);
        self.flat_product_tree(flat);
    });
}
function CategoryVM(data){
    var self = this;
    self.id = data.id;
    self.name = data.name;
    self.hidden = data.hidden;
    self.is_selected = ko.observable(data.is_selected);
    self.toggle_selected = function(){
        self.is_selected(!self.is_selected());
    }
}
function ProductVM(data){
    var self = this;
    self.id = data.id;
    self.parent_id = data.parent_id;
    self.title = data.title;
    self.slug = data.slug;
    self.is_postprocessed = data.is_postprocessed;
    self.attr_ultimate_tensile_strength_min = data.attr_ultimate_tensile_strength_min;
    self.attr_ultimate_tensile_strength_max = data.attr_ultimate_tensile_strength_max;
    self.attr_modulus_min = data.attr_modulus_min;
    self.attr_modulus_max = data.attr_modulus_max;
    self.attr_elongation_min = data.attr_elongation_min;
    self.attr_elongation_max = data.attr_elongation_max;
    self.attr_flexural_strength_min = data.attr_flexural_strength_min;
    self.attr_flexural_strength_max = data.attr_flexural_strength_max;
    self.attr_flexural_modulus_min = data.attr_flexural_modulus_min;
    self.attr_flexural_modulus_max = data.attr_flexural_modulus_max;
    self.attr_hardness_shore_scale = data.attr_hardness_shore_scale;
    self.attr_hardness_min = data.attr_hardness_min;
    self.attr_hardness_max = data.attr_hardness_max;
    self.attr_hdt_min = data.attr_hdt_min;
    self.attr_hdt_max = data.attr_hdt_max;
    self.attr_glass_transition_min = data.attr_glass_transition_min;
    self.attr_glass_transition_max = data.attr_glass_transition_max;
    self.attr_part_density = data.attr_part_density;
    self.attr_flammability = data.attr_flammability;
    self.attr_usp_class_vi_certified = data.attr_usp_class_vi_certified;
    self.technology = data.technology;
    self.partners = data.partners;
    self.categories = ko.observableArray(data.categories);

    self.parent = ko.observable();
    self.level = ko.observable(0);
    self.children = ko.observableArray([]);
    self.classes = ko.observable({});
    self.is_visible = ko.computed(function(){
        if(self.parent_id)
            return self.parent() && self.parent().is_visible();
        var categories = self.categories();
        for(var i=0;i<categories.length;i++)
            if(categories[i].is_selected())
                return true;
        return false;
    })
    self.categories_name = ko.computed(function(){
        if(self.parent())
            return self.parent().categories_name();
        var categories = self.categories();
        var names = [];
        for(var i=0;i<categories.length;i++)
            if(!categories[i].hidden)
                names.push('"'+categories[i].name+'"')
        return names.join(", ")
    })

    self.__auto_update_level = ko.computed(function(){
        if(self.parent())
            self.level(self.parent().level()+1);
    });
    self.__auto_update_classes = ko.computed(function(){
        var classes = {};
        //clear old classes
        for(var i=0;i<10;i++)
            classes['padding-level-'+i] = false;

        classes['padding-level-'+self.level()] = true;
        self.classes(classes);
    })
}
$(function(){
    window.ProductTree = new ProductTreeVM();
    ko.applyBindings(window.ProductTree, $(".b3-product-tree")[0]);
    $(".b3-product-tree").show();
})
</script>
</div>
{% endblock %}