# vim: ft=nginx ts=4 sw=4 et fo=croqn cindent
upstream django {
    ip_hash;
    server localhost:8080;
}
server {
    listen 8000;
    client_max_body_size 1000M;
    location /assets/ {
        root    /var/www;
    }

    location /media/ {
        root    /var/www;
    }

    location /private-media/ {
        secure_link $arg_md5,$arg_expires;
        secure_link_md5 "{{ SECRET_KEY|default("4e%669-tb4_#!t7$*^25ifzw!j%aohn+3h+@o5n_c%==#dy0c9")|urlencode }}$uri$secure_link_expires";

        # bad hash
        if ($secure_link = "") {
            return 403;
        }

        # link expired
        if ($secure_link = "0") {
            return 410;
        }
        alias   /var/www/private-media/;
    }

    location /mails/ {
        root   /var/www;
        autoindex on;
    }
    location /version {
        add_header Content-Type text/html;
        alias /var/www/django/version;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://django/;
    }
}
