#organizationtheme_form td.original{
    opacity: 0;
}
#organizationtheme_form #link_set-group{
    border: none;
}
#organizationtheme_form .ui-sortable th{
    text-align: center;
}
#organizationtheme_form .ui-sortable th:last-child{
    padding-left: 5px;
}

#organizationtheme_form .vURLField{
    width: 17em;
}
#organizationtheme_form td.field-published, #organizationtheme_form td.delete{
    text-align : center;
}

#organizationtheme_form .dynamic-link_set td{
    padding-top: 15px;
    padding-bottom: 15px;
}
#organizationtheme_form .dynamic-link_set:not(.has_original) td{
    padding-top: 15px;
    padding-bottom: 15px;
}
#organizationtheme_form .dynamic-link_set:not(.has_original) td .vURLField{
    width: 21.3em;
}
#organizationtheme_form .inline-deletelink{
    float: left;
    margin-left: 22px;
}
#organizationtheme_form .select2{
    width: 180px;
}

#organizationtheme_form .vLargeTextField {
    width: 274px;
}