{% extends "b3_core/base.html" %}
{% load i18n %}

{% block title %}
    {% trans '3D Printing Service Login' %}
{% endblock %}


{% block header %}{% endblock %}

{% block content %}
    {% include "b3_core/ribbon-small.html" with text="Partner Login" %}

    <div class="container">
    <div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6 login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "b3_user_panel/form_fields.html" with form=login_form %}
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
            </form>
        </div>
    <div class="col-sm-3"></div>
    </div>
    </div>

{% endblock content %}
