{% extends "b3_core/base.html" %}
{% load i18n %}
{% block content %}
    <div class="container b3-container-stretch">
        <div class="b3-make-space"></div>
        <div class="b3-make-space"></div>
        <div class="row">
            <div class="panel col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                {% block content_panel %}{% endblock %}
            </div>
        </div>
    </div>
    <script>
        $('#id_password1').on('input', function(){
            var pwString = $(this).val();
            var pwLength = pwString.length;
            var pwHintString = '';
            if(!pwLength) {
                pwHintString = ''
            }
            if (pwLength > 7) {
                if (pwString.match(/\d/)) {
                    pwHintString = "{% trans 'Weak' %}";
                    if (pwLength > 10)
                        pwHintString = "{% trans 'Medium' %}";
                    if (pwLength > 13)
                        pwHintString = "{% trans 'Strong' %}";
                } else {
                    pwHintString = "{% trans 'You need at least one number' %}";
                }
            } else {
                pwHintString = "{% trans 'Too short (min. 8 characters)' %}";
            }
            $('.password-hint').text(pwHintString)
        });
    </script>
{% endblock %}
