{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Account info" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Account info" %}</h4>
    </div>
    <div class="panel-body">
        <form id="password-form" method="POST" action=".">
            {% csrf_token %}
            <div class="form form-horizontal">
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.first_name.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.first_name class+="form-control" %}
                        {{ form.first_name.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.last_name.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.last_name class+="form-control" %}
                        {{ form.last_name.errors }}
                    </div>
                </div>

                {% if not form.customer_number.is_hidden %}
                    <div class="form-group">
                        <label for="{{ form.customer_number.id_for_label }}"
                               class="col-sm-5 control-label b3-control-labe">{{ form.customer_number.label }}</label>
                        <div class="col-sm-7">
                            {% render_field form.customer_number class+="form-control" %}
                            {{ form.customer_number.errors }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.password1.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.password1 class+="form-control" %}
                        {{ form.password1.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.password2.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.password2 class+="form-control" %}
                        {{ form.password2.errors }}
                    </div>
                </div>
                <input type="hidden" name="login" value="{{ form.user.email }}"/>

                <button class="btn pull-right" type="submit">{% trans "Continue" %}</button>
            </div>
        </form>
        <script>
            $('#password-form').submit(function() {
                // Send event to Google analytics
                if (typeof ga != 'undefined') {
                    ga('send', 'event', 'user', 'signup');
                 }
            })
        </script>
    </div>
{% endblock %}
