{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'Shipping addresses' %}{% endblock %}

{% block user_content %}
    <div class="b3-make-space"></div>
    <div class="panel" id="address-book-panel">
        <div class="panel-heading">
            <h4>{% trans "Add a new address" %}</h4>
        </div>
        <div class="panel-body">
            {% comment %}<div class="row">
                <div class="col-xs-12">
                    <h4>{% trans "Personal addressbook" %}</h4>
                    <hr />
                    {% if user.addresses.count != 0 %}
                        {% for address in user.addresses.all %}
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-4">
                                    {% include "checkout/partials/address_display.html" with address=address %}
                                </div>
                                <div class="col-xs-2">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <a  data-bind="click: function () { Button3d.modals.show_delete_user_address_modal('{% url 'account_email_extended_registration_addresses_delete' address.id %}') }">{% trans "Delete" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-4">
                                    {% if organization and organization.force_verify_customer_address %}
                                        <a class="btn btn-default" href="{% url 'verification_pending' %}">{% trans "Continue" %}</a>
                                    {% else %}
                                        <a class="btn btn-default" href="{% url 'home' %}">{% trans "Continue" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                    {% else %}
                        <p class="text-center">{% blocktrans %}You do not have any defined addresses. Create one below.{% endblocktrans %}</p>
                    {% endif %}

                    <hr />
                </div>
            </div>{% endcomment %}
            <div class="row">
                <div class="col-xs-12">
                    <form action="{% url 'account_email_extended_registration_addresses' %}" method="post" id="shipping_address" class="form form-horizontal">
                        {% csrf_token %}
                        {% include "b3_user_panel/form_fields.html" with form=address_form style='horizontal' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-7">
                                <button type="submit" id="b3-address-continue" class="btn">{% trans "Create" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "b3_modal/delete_user_address_modal.html" %}

    <script type="text/javascript">
        ko.applyBindings(function() {}, $('#address-book-panel')[0]);
    </script>

{% endblock %}
