{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Set Password" %}</h4>
    </div>
    <div class="panel-body">
        <form id="password-form" method="POST" action=".">
            {% csrf_token %}
            <div class="form form-horizontal">
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.password1.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.password1 class+="form-control" %}
                        {{ form.password1.errors }}
                        <p class="help-block">{% trans 'Password strength:' %}<br /><span class="password-hint"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.password2.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.password2 class+="form-control" %}
                        {{ form.password2.errors }}
                    </div>
                </div>
                <input type="hidden" name="login" value="{{ form.user.email }}"/>

                <button class="btn pull-right" type="submit">{% trans "Set Password" %}</button>

            </div>
        </form>
        <script>
            $('#password-form').submit(function() {
                // Send event to Google analytics
                if (typeof ga != 'undefined') {
                    ga('send', 'event', 'user', 'signup');
                 }
            })
        </script>
    </div>
{% endblock %}
