{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Change Password" %}</h4>
    </div>
    <div class="panel-body">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}
