{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
    </div>
    <div class="panel-body">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action=".">
                    <div class="form form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}" class="col-sm-5 control-label b3-control-label">{{ form.password1.label }}</label>

                            <div class="col-sm-7">
                                {% render_field form.password1 class+="form-control" placeholder=form.password1.label %}
                                {{ form.password1.errors }}
                                <p class="help-block">{% trans 'Password strength:' %} <br /><span class="password-hint"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}" class="col-sm-5 control-label b3-control-label">{{ form.password2.label }}</label>

                            <div class="col-sm-7">
                                {% render_field form.password2 class+="form-control" placeholder=form.password2.label %}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <button class="btn pull-right" type="submit">{% trans 'Change Password' %}</button>
                    </div>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
