{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Password Reset" %}</h4>
    </div>
    <div class="panel-body">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <div class="form form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="col-sm-4 control-label b3-control-label">{{ form.email.label }}</label>

                    <div class="col-sm-8">
                        {% render_field form.email class+="form-control" placeholder=form.email.label %}
                        {{ form.email.errors }}
                    </div>
                </div>
                <button class="btn pull-right" type="submit">{% trans 'Reset My Password' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
