{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Password Reset" %}</h4>
    </div>
    <div class="panel-body">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
