{% extends "account/base_popup.html" %}

{% block content %}
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        {% include "account/partials/login.html" %}
    </div>
    </div>
{% endblock %}
