{% extends "account/base_popup.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            {% include "account/partials/email_signup.html" %}
        </div>
    </div>
{% endblock %}