{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Printing Service Signup" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Printing Service Signup" %}</h4>
    </div>
    <div class="panel-body">
        <div class="col">
            {% blocktrans %}Please provide the following information about your company so that we can qualify you as a
                professional 3D printing service provider for the marketplace{% endblocktrans %}
        </div><br>
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="form form-horizontal">
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.company.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.company.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.company class+="form-control" %}
                        {{ form.company.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.website.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.website.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.website class+="form-control" %}
                        {{ form.website.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.email.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.email class+="form-control" %}
                        {{ form.email.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.phone.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.phone class+="form-control" %}
                        {{ form.phone.errors }}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.title.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.title class+="form-control" %}
                        {{ form.title.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.first_name.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.first_name class+="form-control" %}
                        {{ form.first_name.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.last_name.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.last_name class+="form-control" %}
                        {{ form.last_name.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.questions.id_for_label }}"
                           class="col-sm-5 control-label b3-control-labe">{{ form.questions.label }}</label>

                    <div class="col-sm-7">
                        {% render_field form.questions class+="form-control" %}
                        {{ form.questions.errors }}
                    </div>
                </div>


                <button class="btn pull-right" type="submit">{% trans "Send Request" %}</button>
            </div>
            {% comment %}
                    <div class="form form-horizontal">
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}"
                                   class="col-sm-5 control-label b3-control-labe">{{ form.password1.label }}</label>

                            <div class="col-sm-7">
                                {% render_field form.password1 class+="form-control" %}
                                {{ form.password1.errors }}
                                <p class="help-block">{% trans 'Password strength:' %}<br /><span class="password-hint"></span></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}"
                                   class="col-sm-5 control-label b3-control-labe">{{ form.password2.label }}</label>

                            <div class="col-sm-7">
                                {% render_field form.password2 class+="form-control" %}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <input type="hidden" name="login" value="{{ form.user.email }}"/>

                        <button class="btn pull-right" type="submit">{% trans "Set Password" %}</button>

                    </div>
                    <script>
                        $('#password-form').submit(function() {
                            // Send event to Google analytics
                            if (typeof ga != 'undefined') {
                                ga('send', 'event', 'user', 'signup');
                             }
                        })
                    </script>
            {% endcomment %}
        </form>
    </div>
{% endblock %}
