{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Thank You!" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Thank you for your request" %}</h4>
    </div>
    <div class="panel-body">
    {% blocktrans %}One of our partner managers will contact you with further information within 24 hours{% endblocktrans %}
    </div>
{% endblock %}
