{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verification Pending" %}{% endblock %}

{% block content_panel %}
    <div class="panel-heading">
        <h4>{% trans "Thank You!" %}</h4>
    </div>
    <div class="panel-body">
        <p>
            <b>{% blocktrans %}Our team has received your information and is now in the process of creating your account. You will receive an email notification within the next 48 hours as soon as your account is ready to use{% endblocktrans %}</b>
        </p>
        {% comment %}<div class="btn"><a href="{% url 'home' %}" style="color: #ffffff">{% blocktrans %}Back to homepage {% endblocktrans %}</a></div>{% endcomment %}
        <p class="registered-already pull-right" style="margin-top:5px;">
            <a href="{% url 'account_logout' %}" class="b3-btn-already-account">{% trans 'Have another account?' %} &nbsp;</a>
        </p>
    </div>
{% endblock %}
