/** Psconfig Index Page
  * @import psconfig/index
  * @prefix: psconfig-*
  */


// Title in the navbar override in psconfig
.b3-title.psconfig {
  margin-top: 15px;
  a{
    color: $gray;
    text-decoration: none;
    &:hover{
      color: $gray;
    }
  }
}

// Div to show general info - DISABLED at the moment
.psconfig-description-panel {
  margin-top: 20px;
  margin-bottom: 30px;
}

// Display error on PSConfig panel as links
.psconfig-errors {
  a{
    color: $brand-danger;
    text-decoration: none;
    &:hover{
      color: $brand-danger;
    }
  }
}

// Height for different panels

.psconfig-panel-top {
    min-height: 150px;
}

.psconfig-panel-bottom {
    min-height: 100px;
}

// Add space into the horizontal line
.psconfig-horizontal-divider-expanded {
  margin-bottom: 30px;
}

// Link Back to
.psconfig-back {
  margin-bottom: 25px;
}

