/** Styles for Material Panel
  * @import psconfig/material
  * @prefix psconfig-material-*
  */


// Left-icon on price wizzard
.psconfig-material-modal-icon {
  display: inline-block;
  text-align: center;
  img {
    margin-top: 15px;
  }
}