/** Styles for Psconfig Order panel
  * @import psconfig/orders
  * @prefix psconfig-orders
  */

// Styles for note from customer
.psconfig-orders-note-customer {
  [data-toggle="tooltip-note"] {
    cursor: pointer;
  }
  .tooltip.in {
    opacity: 1;
  }
}

// Clear button data sheet
label[for=datasheet_pdf_en-clear_id],
label[for=datasheet_pdf_de-clear_id],
label[for=certifications_pdf_en-clear_id],
label[for=certifications_pdf_de-clear_id] {
    display: inherit;
    padding-left: 15px;
}

#datasheet_pdf_en-clear_id, #datasheet_pdf_de-clear_id, #certifications_pdf_en-clear_id, #certifications_pdf_de-clear_id {
    display: block;
    opacity: 1;
}

