<template>
    <div>
        <div class="checkout__subtitle-icon-container">
            <h3
            class="kotti-h3 kotti-columns kotti-mb-4"
            v-t="'shippingInformation.additionalInformation'"
            />
        </div>
        <div class="checkout__additional-info-layout">
            <label
            class="kotti-form-label"
            v-t="'shippingInformation.yourReference'"
            />
            <input
                type="text"
                class="kotti-form-input"
                v-model="localAdditionalShippingInformation.reference"
                @input="updateAdditionalInfo"
            />
        </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'AdditionalInformation',
	data() {
		const additionalShippingInformation = this.$store.getters[
			'order/additionalShippingInformation'
		];

		return {
			localAdditionalShippingInformation: {
				...additionalShippingInformation,
			},
		};
	},
	methods: {
		updateAdditionalInfo() {
			this.$store.dispatch(
				'order/saveAdditionalShippingInformation',
				this.localAdditionalShippingInformation,
			);
		},
	},
};
</script>
