<template>
	<div>
		<form
			autocomplete="nope"
			@onsubmit.prevent="updateAddress"
		>
			<div class="checkout__form-columns">
				<div class="checkout__form-column--20">
					<GenericFormInput
						fieldName="title"
						:labelText="$t('addressForm.title')"
						:inputValue="address.title"
						:tabindex="1"
						:errorMessage="errors['title']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--40">
					<GenericFormInput
							fieldName="firstName"
							:labelText="$t('addressForm.firstName')"
							:inputValue="address.firstName"
							:tabindex="2"
							:errorMessage="errors['firstName']"
							@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--40">
					<GenericFormInput
							fieldName="lastName"
							:labelText="$t('addressForm.lastName')"
							:inputValue="address.lastName"
							:tabindex="3"
							:errorMessage="errors['lastName']"
							@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<div class="checkout__form-columns">
				<div class="checkout__form-column--100">
					<GenericFormInput
						fieldName="line1"
						:labelText="$t('addressForm.streetAddress')"
						:inputValue="address.line1"
						:tabindex="4"
						:errorMessage="errors['line1']"
						@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<div class="checkout__form-columns">
				<div class="checkout__form-column--60">
					<GenericFormInput
						fieldName="line2"
						:inputValue="address.line2"
						:labelText="$t('addressForm.addition')"
						:tabindex="5"
						:errorMessage="errors['line2']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--40">
					<GenericFormInput
						fieldName="city"
						:inputValue="address.city"
						:labelText="$t('addressForm.city')"
						:tabindex="6"
						:errorMessage="errors['city']"
						@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<div class="checkout__form-columns">
				<div class="checkout__form-column--33">
					<CountrySelectInput
						fieldName="country"
						:labelText="$t('addressForm.country')"
						:inputValue="address.country"
						:tabindex="7"
						:errorMessage="errors['country']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--33">
					<GenericFormInput
						fieldName="state"
						:labelText="stateLabelText"
						:inputValue="address.state"
						:tabindex="8"
						:errorMessage="errors['state']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--33">
					<GenericFormInput
						fieldName="zipCode"
						:labelText="$t('addressForm.zipCode')"
						:inputValue="address.zipCode"
						:tabindex="9"
						:errorMessage="errors['zipCode']"
						@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<div
				class="checkout__form-columns"
			>
				<div class="checkout__form-column--33">
					<GenericFormInput
						v-if="showCompanyInformation"
						fieldName="companyName"
						:labelText="companyLabelText"
						:inputValue="address.companyName"
						:tabindex="10"
						:errorMessage="errors['companyName']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--33">
					<GenericFormInput
						v-if="showCompanyInformation"
						fieldName="vatId"
						:labelText="vatLabelText"
						:inputValue="address.vatId"
						:tabindex="11"
						:errorMessage="errors['vatId']"
						@inputChanged="inputChanged"
					/>
				</div>
				<div class="checkout__form-column--33">
					<GenericFormInput
						v-if="showCompanyInformation"
						fieldName="department"
						:labelText="$t('addressForm.department')"
						:inputValue="address.department"
						:tabindex="12"
						:errorMessage="errors['department']"
						@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<div class="checkout__form-columns">
				<div class="checkout__form-column--100">
					<GenericFormInput
						fieldName="phoneNumber"
						:inputType="'tel'"
						:inputValue="address.phoneNumber"
						:labelText="$t('addressForm.phoneNumber')"
						:tabindex="13"
						:errorMessage="errors['phoneNumber']"
						@inputChanged="inputChanged"
					/>
				</div>
			</div>
			<button
				:class="saveButtonClasses"
				@click.prevent="updateAddress"
			>
				<div v-if="saveInProgress" class="kotti-loading inline white" />
				{{ $t('shippingAddress.save') }}
			</button>
			<button
				data-test="checkout-address-next-button"
				class="kotti-button text checkout__address-form-button"
				v-t="'shippingAddress.cancel'"
				@click.prevent="clearForm"
			/>
		</form>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import GenericFormInput from './GenericFormInput.vue';
import CountrySelectInput from './CountrySelectInput.vue';

export default {
	name: 'AddressForm',
	components: {
		GenericFormInput,
		CountrySelectInput,
	},
	props: {
		addressType: {
			type: String,
		},
		existingAddress: {
			type: Object,
			required: false,
		},
	},
	data() {
		const addressStub = {
			title: '',
			firstName: '',
			lastName: '',
			line1: '',
			line2: '',
			city: '',
			country: '',
			state: '',
			zipCode: '',
			companyName: '',
			vatId: '',
			department: '',
			phoneNumber: '',
		};

		const address = this.existingAddress
			? { ...this.existingAddress }
			: addressStub;
		return {
			address,
			errors: {},
			saveInProgress: false,
		};
	},
	computed: {
		...mapGetters({
			organizationSettings: 'organization/settings',
		}),
		companyLabelText() {
			return this.isCompanyInfoMandatory
				? this.$t('addressForm.company')
				: this.$t('addressForm.companyOptional');
		},
		isCompanyInfoMandatory() {
			return (
				this.organizationSettings.showNetPrices ||
				this.organizationSettings.companyInformationVisibility ===
					'Required'
			);
		},
		isStateMandatory() {
			return this.address.country === 'US';
		},
		saveButtonClasses() {
			return {
				'checkout__address-form-button': true,
				'kotti-button': true,
				primary: true,
			};
		},
		stateLabelText() {
			return this.isStateMandatory
				? this.$t('addressForm.state')
				: this.$t('addressForm.stateOptional');
		},
		showCompanyInformation() {
			return (
				this.organizationSettings.companyInformationVisibility !==
				'Hidden'
			);
		},
		vatLabelText() {
			const label = this.organizationSettings.vatIdLabel[
				this.$i18n.locale
			];
			return this.isCompanyInfoMandatory
				? label
				: `${label} (${this.$t('addressForm.optional')})`;
		},
		hasErrors() {
			return !!Object.keys(this.errors).length;
		},
	},
	methods: {
		clearForm() {
			this.$emit('cancel');
		},
		validate() {
			this.errors = {};
			let requiredFields = [
				'firstName',
				'lastName',
				'line1',
				'city',
				'zipCode',
				'phoneNumber',
				'country',
			];
			if (this.isCompanyInfoMandatory) {
				requiredFields = requiredFields.concat([
					'companyName',
					'vatId',
				]);
			}
			if (this.isStateMandatory) {
				requiredFields = requiredFields.concat(['state']);
			}

			requiredFields.forEach((fieldName) => {
				if (!this.address[fieldName]) {
					this.errors[fieldName] = ' ';
				}
			});
		},
		inputChanged(fieldName, value) {
			this.address[fieldName] = value;
			this.errors[fieldName] = null;
		},
		updateAddress() {
			const self = this;
			this.validate();
			if (this.hasErrors) {
				return;
			}

			this.saveInProgress = true;
			this.$store
				.dispatch('user/updateAddress', this.address)
				.then(({ data }) => {
					const actions = {
						BILLING: 'order/selectBillingAddress',
						SHIPPING: 'order/selectShippingAddress',
					};
					const actionName = actions[self.addressType];

					self.$store.dispatch(actionName, data);
					self.$emit('addressSaved');
				})
				.catch(({ response }) => {
					response.data.moreInfo.forEach(({ field, message }) => {
						self.errors[field] = message[0];
					});
				})
				.then(() => {
					self.saveInProgress = false;
				});
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__address-form-button {
	margin: $unit-2 0;
	border: 0;
	line-height: 32px;
	min-width: 80px;
	&:active,
	&:focus,
	&:hover {
		border: 0;
	}
	float: right;
	width: inherit;
	&:last-child {
		&:not(:only-child) {
			margin-right: $unit-2;
		}
	}
}

.checkout__form-column--20 {
	padding: $unit-1;
	width: 20%;
	box-sizing: border-box;
}
.checkout__form-column--33 {
	padding: $unit-1;
	width: 33.333%;
	box-sizing: border-box;
}
.checkout__form-column--40 {
	padding: $unit-1;
	width: 40%;
	box-sizing: border-box;
}
.checkout__form-column--60 {
	padding: $unit-1;
	width: 60%;
	box-sizing: border-box;
}
.checkout__form-column--100 {
	padding: $unit-1;
	width: 100%;
	box-sizing: border-box;
}

.checkout__form-columns {
	display: flex;
	> :first-child {
		padding-left: 0;
	}
	> :last-child {
		padding-right: 0;
	}
}

@media (max-width: $responsive-breakpoint) {
	.checkout__form-columns {
		display: block;
		> :first-child {
			padding-left: $unit-1;
		}
		> :last-child {
			padding-right: $unit-1;
		}
	}
	.checkout__form-column--20,
	.checkout__form-column--33,
	.checkout__form-column--40,
	.checkout__form-column--60 {
		width: 100%;
	}
}
</style>
