<template>
	<div class="kotti-modal-mask">
		<div class="kotti-modal-container">
			<h2
				class="kotti-h2 checkout__address-modal-header"
				v-text="headerRepresentation"
			/>
			<AddressForm
				:addressType="addressType"
				:existingAddress="existingAddress"
				@cancel="$emit('closeModal')"
				@addressSaved="$emit('closeModal')"
			/>
		</div>
	</div>
</template>

<script>
import AddressForm from './AddressForm.vue';

export default {
	name: 'AddressFormModal',
	components: {
		AddressForm,
	},
	props: {
		addressType: {
			type: String,
			required: true,
		},
		existingAddress: {
			types: [Object, null],
			required: true,
		},
	},
	computed: {
		headerRepresentation() {
			const editHeaderDict = {
				BILLING: this.$t('modal.address.editBillingAddress'),
				SHIPPING: this.$t('modal.address.editShippingAddress'),
			};
			return this.existingAddress
				? editHeaderDict[this.addressType]
				: this.$t('modal.address.createNewAddress');
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__address-modal-header {
	font-weight: bold;
}

.kotti-modal-mask {
	position: fixed;
	z-index: $zindex-5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.46);
	transition: opacity 0.3s ease;
	display: flex;
}

.kotti-modal-container {
	align-self: center;
	width: 90%;
	max-height: 90%;
	max-width: 48rem;
	box-sizing: border-box;
	margin: 0px auto;
	padding: $unit-6;
	background-color: #fff;
	border-radius: 0.1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	flex-direction: column;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@media (max-width: $responsive-breakpoint) {
	.kotti-modal-container {
		position: absolute;
		display: flex;
		max-height: 100%;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
}
</style>
