<template>
	<div>
		<AddressFormModal
			v-if="showAddressModal"
			:addressType="addressType"
			:existingAddress="addressToEdit"
			@closeModal="onModalClosed"
		/>
		<div class="kotti-columns">
			<div class="kotti-col-6">
				<h3
					class="kotti-h3 kotti-mt-6 kotti-mb-4"
					v-t="headerRepresentation"
				/>
			</div>
			<div class="kotti-col-6">
				<h3
					id="add-new-address"
					class="kotti-h3 kotti-mt-6 kotti-mb-4 kotti-right checkout__new-address"
					@click="openAddAddressModal"
				>
					{{ $t('shippingAddress.newAddress') }}<i class="yoco">plus</i>
				</h3>
			</div>
		</div>
		<slot name="billing-addresses" />
		<div v-if="userAddressList.length">
			<label class="kotti-form-label" v-t="'shippingAddress.yourAddress'" />
			<EditableFormOption
				v-for="(userAddress, index) in userAddressList"
				:key="userAddress.id"
				:infoText="addressRepresentation(userAddress)"
				:isEditable="true"
				:isChecked="isPreSelectedAddress(userAddress, index)"
				@edited="openEditAddressModal(userAddress)"
				@selected="selectAddress(userAddress)"
			>
			</EditableFormOption>
		</div>
		<div
			v-if="showLoadMoreButton"
			class="checkout__address-loader kotti-accent-color"
			@click="showAllAddresses = true"
		>
			<span v-t="'shippingAddress.loadMore'" />
			<i class="yoco">chevron_down</i>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import AddressFormModal from './AddressFormModal.vue';
import CreateAddressIcon from './CreateAddressIcon.vue';
import EditableFormOption from './EditableFormOption.vue';
import { prettyPrintAddress } from '../utils/AddressUtil';

export default {
	name: 'AddressWizard',
	components: {
		AddressFormModal,
		CreateAddressIcon,
		EditableFormOption,
	},
	props: {
		addressType: {
			type: String,
			required: true,
		},
	},
	data() {
		return {
			addressToEdit: {},
			showAddressModal: false,
			showAllAddresses: false,
		};
	},
	computed: {
		...mapGetters({
			pricePayload: 'pricePayload',
			selectedBillingAddress: 'order/selectedBillingAddress',
			selectedPaymentMethod: 'order/selectedPaymentMethod',
			selectedShippingAddress: 'order/selectedShippingAddress',
			selectedPickupLocation: 'order/selectedPickupLocation',
			userAddresses: 'user/userAddresses',
		}),
		headerRepresentation() {
			const headerDict = {
				BILLING: 'addressWizard.billingAddress',
				SHIPPING: 'addressWizard.shippingAddress',
			};
			return headerDict[this.addressType];
		},
		shouldBillingAddressBePreselected() {
			return (
				this.selectedBillingAddress &&
				!(
					this.selectedPaymentMethod &&
					!this.selectedPaymentMethod.isBillingAddressRequired
				)
			);
		},
		showLoadMoreButton() {
			return !this.showAllAddresses && this.userAddresses.length > 3;
		},
		userAddressList() {
			const filteredAddressList =
				this.addressType === 'BILLING' && this.selectedShippingAddress
					? this.userAddresses.filter(
							(address) =>
								this.selectedShippingAddress.id !== address.id,
					  )
					: this.userAddresses;
			const truncatedUserAddresses = filteredAddressList.slice(0, 3);
			return this.showAllAddresses
				? this.userAddresses
				: truncatedUserAddresses;
		},
	},
	methods: {
		addressRepresentation(address) {
			return prettyPrintAddress(address, this.$i18n.locale);
		},
		isPreSelectedAddress(address, index) {
			if (this.addressType === 'SHIPPING') {
				return this.selectedShippingAddress
					? this.selectedShippingAddress.id === address.id
					: index === 0 && !this.selectedPickupLocation;
			}
			if (this.addressType === 'BILLING') {
				const result = this.shouldBillingAddressBePreselected
					? this.selectedBillingAddress.id === address.id
					: index === 0;
				const shouldUpdateSelectedBillingAddress =
					result && !this.selectedBillingAddress;
				if (shouldUpdateSelectedBillingAddress) {
					this.$store.dispatch('order/selectBillingAddress', address);
				}
				return result;
			}
			return false;
		},
		onModalClosed() {
			this.showAddressModal = false;
			this.$emit('refreshPrices');
		},
		openAddAddressModal() {
			this.showAddressModal = true;
			this.addressToEdit = null;
		},
		openEditAddressModal(address) {
			this.showAddressModal = true;
			this.addressToEdit = address;
		},
		selectAddress(address) {
			if (this.addressType === 'SHIPPING') {
				this.$store.dispatch('order/selectShippingAddress', address);
			}
			if (this.addressType === 'BILLING') {
				this.$store.dispatch('order/selectBillingAddress', address);
			}
			this.$emit('refreshPrices');
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__new-address {
	font-weight: normal;
	cursor: pointer;
	i {
		font-size: 24px;
	}
}

.checkout__address-placeholder {
	margin: $unit-12 0;
	text-align: center;
}

.checkout__address-loader {
	padding: $unit-2 0 0;
	color: $primary-500;
	text-align: center;
	cursor: pointer;
}
</style>
