<template>
	<div>
		<transition name="slide">
			<div
				v-if="isBasketOpen"
				class="checkout__basket-slider--open"
			>
				<div class="checkout__basket-slider-padding">
					<div class="checkout__basket-arrow kotti-center kotti-accent-color">
						<i class="yoco" @click="$emit('closeBasket')">chevron_down</i>
					</div>
					<Basket />
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
import Basket from './Basket.vue';

export default {
	name: 'BasketSlider',
	components: {
		Basket,
	},
	props: {
		isBasketOpen: {
			type: Boolean,
			required: true,
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__basket-slider--open {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: $zindex-3;
	background-color: $lightgray-300;
	overflow-x: hidden;
	overflow-y: auto;
}

.checkout__basket-slider-padding {
	padding: $unit-7;
}

.checkout__basket-arrow {
	color: $primary-500;
	margin: 0 0 $unit-10;
}

.slide-enter-active,
.slide-leave-active {
	transition: top 0.5s;
	top: 0;
	overflow: hidden;
}
.slide-enter,
.slide-leave-to {
	transition: top 0.3s;
	top: 100vh;
	overflow: hidden;
}

@media (min-width: $responsive-breakpoint) {
	.checkout__basket-slider--open {
		display: none;
	}
}
</style>
