<template>
	<div class="checkout__basket-fixed-container">
		<ServiceOverview
			v-if="currentService && !organizationSettings.isSingleSupplierAccount"
			:service="currentService"
			data-test="checkout-service-overview"
		/>
		<ItemOverview
			v-if="lines.length && linePrices.length"
			:lines="lines"
			:linePrices="linePrices"
		/>
		<PaymentVoucher/>
		<OrderSummary
			v-if="currentProjectPrice"
			:projectPrice="currentProjectPrice"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import ItemOverview from './ItemOverview.vue';
import ServiceOverview from './ServiceOverview.vue';
import OrderSummary from './OrderSummary.vue';
import PaymentVoucher from './PaymentVoucher.vue';

export default {
	name: 'Basket',
	components: {
		ItemOverview,
		ServiceOverview,
		OrderSummary,
		PaymentVoucher,
	},
	computed: {
		...mapGetters({
			currentProject: 'basket/currentProject',
			currentProjectPrice: 'basket/currentProjectPrice',
			currentService: 'service/currentService',
			organizationSettings: 'organization/settings',
			projectId: 'basket/projectId',
			selectedShippingAddress: 'order/selectedShippingAddress',
			userCurrency: 'user/userCurrency',
		}),
		lines() {
			return this.currentProject ? this.currentProject.lines : [];
		},
		linePrices() {
			if (
				!this.currentProject ||
				!this.currentProjectPrice ||
				!this.currentProjectPrice.lines
			) {
				return [];
			}
			return this.currentProject.lines.map((line) =>
				this.currentProjectPrice.lines.find(
					(linePrice) => linePrice.lineId === line.id,
				),
			);
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

@media (min-width: $responsive-breakpoint) {
	.checkout__basket-fixed-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-bottom: $unit-8;
	}
}
</style>
