<template>
	<div>
		<AddressWizard
			:addressType="'BILLING'"
			@refreshPrices="refreshProjectPrices"
		>
			<div
				v-if="selectedShippingAddress"
				class="kotti-mb-2"
				slot="billing-addresses"
			>
				<label class="kotti-form-label" v-t="'paymentInformation.sameAsShipping'" />
				<EditableFormOption
					:infoText="shippingAddressRepresentation"
					:isEditable="false"
					:isChecked="isPreSelectedAddress(selectedShippingAddress)"
					@selected="selectShippingAsBilling"
				/>
			</div>
		</AddressWizard>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddressWizard from './AddressWizard.vue';
import EditableFormOption from './EditableFormOption.vue';
import { prettyPrintAddress } from '../utils/AddressUtil';

export default {
	name: 'BillingAddresses',
	components: {
		AddressWizard,
		EditableFormOption,
	},
	computed: {
		...mapGetters({
			pricePayload: 'pricePayload',
			selectedBillingAddress: 'order/selectedBillingAddress',
			selectedShippingAddress: 'order/selectedShippingAddress',
			userAddresses: 'user/userAddresses',
			userCurrency: 'user/userCurrency',
		}),
		shippingAddressRepresentation() {
			const address = this.selectedShippingAddress;
			return prettyPrintAddress(address, this.$i18n.locale);
		},
	},
	methods: {
		isPreSelectedAddress(address) {
			return this.selectedBillingAddress
				? this.selectedBillingAddress.id === address.id
				: false;
		},
		async refreshProjectPrices() {
			const payload = { ...this.pricePayload };
			try {
				const { data } = await this.$store.dispatch(
					'basket/getProjectPrices',
					payload,
				);
				if (this.userCurrency !== data.currency) {
					payload.currency = this.userCurrency;
					this.$store.dispatch(
						'basket/getUserCurrencyPrices',
						payload,
					);
				}
			} catch (error) {}
		},
		selectShippingAsBilling() {
			this.$store.dispatch(
				'order/selectBillingAddress',
				this.selectedShippingAddress,
			);
			this.refreshProjectPrices();
		},
	},
	mounted() {
		this.selectShippingAsBilling();
	},
};
</script>
