<template>
	<div class="kotti-columns kotti-mb-4">
		<BreadcrumbElement
			v-for="breadcrumb in breadcrumbs"
			:key="breadcrumb.path"
			:title="breadcrumb.title"
			:path="breadcrumb.path"
			:breadcrumbs="breadcrumbs"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import BreadcrumbElement from './BreadcrumbElement.vue';

export default {
	name: 'Breadcrumbs',

	components: {
		BreadcrumbElement,
	},
	computed: {
		...mapGetters({
			shippingMethodSelected: 'order/selectedShippingAddress',
		}),
		breadcrumbs() {
			this.$t.bind(this);
			const shippingMethodPath = '/shipping-method';
			const breadcrumbs = [
				{
					title: this.$t('breadcrumbs.shipping'),
					path: '/shipping-address',
				},
				{
					title: this.$t('breadcrumbs.shippingMethod'),
					path: shippingMethodPath,
				},
				{
					title: this.$t('breadcrumbs.payment'),
					path: '/payment-information',
				},
			];
			const shippingMethodSelected = this.shippingMethodSelected;
			return breadcrumbs.filter(
				({ path }) =>
					path !== shippingMethodPath ||
					(path === shippingMethodPath && shippingMethodSelected),
			);
		},
	},
};
</script>
