<template>
	<div class="kotti-columns checkout__breadcrumb-container">
		<div v-if="isCompleted">
			<router-link :to="path">
				<h6
					:class="titleClasses"
					v-text="title"
				/>
			</router-link>
		</div>
		<div v-else>
			<h6
				:class="titleClasses"
				v-text="title"
			/>
		</div>
		<div>
			<i
				v-if="showChevron"
				:class="chevronClasses"
			>
				chevron_right
			</i>
		</div>
	</div>
</template>

<script>
export default {
	name: 'BreadcrumbElement',
	props: {
		title: {
			type: String,
			required: true,
		},
		path: {
			type: String,
			required: true,
		},
		breadcrumbs: {
			type: Array,
			required: true,
		},
	},
	computed: {
		currentPath() {
			return this.$route.path;
		},
		isCurrentRoute() {
			return this.currentPath === this.path;
		},
		isLast() {
			return this.getPosition(this.path) + 1 === this.breadcrumbs.length;
		},
		titleClasses() {
			return this.getGenericClasses('kotti-h6 checkout__breadcrumb-h6');
		},
		chevronClasses() {
			return this.getGenericClasses('yoco');
		},
		showChevron() {
			return !this.isLast;
		},
		isCompleted() {
			return (
				this.getPosition(this.path) < this.getPosition(this.currentPath)
			);
		},
	},
	methods: {
		getGenericClasses(className) {
			return {
				[className]: true,
				'checkout__breadcrumb--gray': !(
					this.isCompleted || this.isCurrentRoute
				),
			};
		},
		getPosition(breadcrumbPath) {
			return this.breadcrumbs
				.map(({ path }) => path)
				.indexOf(breadcrumbPath);
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__breadcrumb-container {
	align-items: center;
}

.checkout__breadcrumb--gray {
	color: $lightgray-500;
}
.checkout__breadcrumb-h6 {
	margin: 0;
	line-height: 24px;
}
</style>
