<template>
	<div>
		<GenericModal>
			<h2 slot="title-mobile" class="kotti-h2" v-t="'modal.cancel.cancelOrderProcess'" />
			<p slot="message-mobile" class="kotti-p-sm kotti-mt-4" v-t="'modal.cancel.confirmation'" />
			<h2 slot="title-desktop" class="kotti-h2" v-t="'modal.cancel.cancelOrderProcess'" />
			<p slot="message-desktop" class="kotti-p-sm kotti-mt-4" v-t="'modal.cancel.confirmation'" />
			<div slot="buttons-mobile" class="checkout__modal-buttons--mobile">
				<button
					class="kotti-button danger checkout__modal-button--mobile"
					v-t="'modal.cancel.goBack'"
					@click="cancelOrder"
				/>
				<button
					class="kotti-button secondary checkout__modal-button--mobile"
					v-t="'modal.cancel.stayHere'"
					@click="$emit('hideModal')"
				/>
			</div>
			<div slot="buttons-desktop" class="checkout__modal-buttons--desktop">
				<button
					class="kotti-button danger checkout__modal-button--desktop"
					v-t="'modal.cancel.goBack'"
					@click="cancelOrder"
				/>
				<button
					class="kotti-button secondary checkout__modal-button--desktop"
					v-t="'modal.cancel.stayHere'"
					@click="$emit('hideModal')"
				/>
			</div>
		</GenericModal>
	</div>
</template>

<script>
import GenericModal from './GenericModal.vue';

export default {
	name: 'CancelModal',
	components: {
		GenericModal,
	},
	methods: {
		cancelOrder() {
			const pathWithoutHash = window.location.href.substring(
				0,
				window.location.href.indexOf('#'),
			);
			window.location.replace(pathWithoutHash);
		},
	},
};
</script>
