<template>
	<div class="checkout__header-container">
		<h1 class="kotti-h1" v-t="'header.placeOrder'"></h1>
		<Breadcrumbs />
	</div>
</template>

<script>
import Breadcrumbs from './Breadcrumbs.vue';

export default {
	components: {
		Breadcrumbs,
	},
};
</script>
