<template>
  <div class="kotti-form-group">
		<div :class="overlayClasses" v-text="labelText" />
			<MultiSelect
				v-model="selectedCountry"
				:class="multiSelectClasses"
				:options="countries"
				:placeholder="''"
				:value="defaultCountry"
				:show-labels="false"
				:tabIndex="tabindex"
				label="name"
				@input="changed"
				@open="focusInput"
			/>
  </div>
</template>

<script>
import MultiSelect from 'vue-multiselect';
import { mapGetters } from 'vuex';

import { translateAlphaTwo } from './../utils/CountryUtil';

export default {
	name: 'CountryInput',
	components: {
		MultiSelect,
	},
	props: {
		fieldName: {
			type: String,
		},
		inputValue: {
			type: String,
			required: false,
		},
		labelText: {
			type: String,

			required: true,
		},
		tabindex: {
			type: Number,
		},
		errorMessage: {
			type: String,
			required: false,
		},
	},
	data() {
		return {
			selectedCountry: null,
			isFocused: false,
		};
	},
	computed: {
		...mapGetters({
			countries: 'countries/countries',
			userPreferences: 'user/userPreferences',
		}),

		isInvalid() {
			return !!this.errorMessage;
		},
		multiSelectClasses() {
			return {
				'is-error': this.isInvalid,
			};
		},
		overlayClasses() {
			return {
				'kotti-form-label kotti-form-label--compact': true,
				'kotti-form-label--compact--focus': this.isFocused,
			};
		},
	},
	mounted() {
		if (!this.selectedCountry && this.defaultCountry) {
			this.focusInput();
			this.selectedCountry = this.defaultCountry();
			this.changed();
		}
		if (this.inputValue) {
			this.focusInput();
			this.selectedCountry = this.countries.find(
				(country) =>
					country.alphaTwoCode.toUpperCase() === this.inputValue,
			);
		}
	},
	methods: {
		focusInput() {
			this.isFocused = true;
		},
		defaultCountry() {
			const userDefaultCountry = this.countries.find(
				(country) =>
					country.alphaTwoCode.toUpperCase() === this.userPreferences.country,
			);
			return userDefaultCountry;
		},
		changed() {
			this.$emit(
				'inputChanged',
				this.fieldName,
				this.selectedCountry.alphaTwoCode,
			);
		},
	},
};
</script>

<style lang="scss">
@import '../assets/variables.scss';

.multiselect__single {
	padding: 0 0 0 $unit-2;
	font-size: $font-size-sm;
	color: $darkgray-500;
}

.multiselect {
	position: relative;
	padding-top: 16px;
	line-height: 22px;
	border: 1px solid $lightgray-400;
	outline: 0;
	margin: 0;
	border-radius: 0.1rem;
	background: transparent;
	::placeholder {
		color: $lightgray-500;
	}
}
.multiselect--active {
	border: 1px solid $primary-500;
	box-shadow: 0 0 0 0.1rem rgba($primary-500, 0.64);
}

.is-error {
	box-shadow: 0 0 0 0.1rem rgba($red-500, 0.64);
}

.multiselect__input {
	border: 0;
	outline: 0;
	font-size: 1rem;
	padding: 0 0 0 $unit-2;
}

.multiselect__content-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 48px;
	min-width: 100%;
	z-index: $zindex-4;
	background: #fff;
	color: $darkgray-500;
	border-radius: 2px;
	box-shadow: 0 0 1px #dbdbdb, 0 2px 5px rgba(0, 0, 0, 0.26);
	box-sizing: border-box;
}

.multiselect__content {
	list-style: none;
	padding: $unit-2 0;
	margin: 0;
	width: 100%;
}

.multiselect__option {
	display: block;
	width: 100%;
	padding: $unit-2;
	box-sizing: border-box;
}

.multiselect__option--highlight,
.multiselect__option--selected {
	background: $primary-500;
	color: #fff;
}
</style>
