<template>
	<div>
		<svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
				<title>glyph-empty-address</title>
				<desc>Created with Sketch.</desc>
				<defs></defs>
				<g id="glyph-empty-address" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path d="M59.4794102,72.4975586 L76,72.4975586 C76.5522847,72.4975586 77,72.0498433 77,71.4975586 L77,29.7457243 C77,29.1934396 76.5522847,28.7457243 76,28.7457243 L59.8585883,28.7457243 L59.6651858,28.7268438 L35.8254068,24.0274442 L20.7279116,28.2963536 C20.2972994,28.4181119 20,28.8111307 20,29.2586259 L20,70.9785892 C20,71.0549 20.0087349,71.1309601 20.0260342,71.2052842 C20.1512344,71.7431907 20.6887885,72.0777552 21.226695,71.952555 L35.7508125,68.5720001 L59.4794102,72.4975586 Z" id="Rectangle-2" stroke="#979797" stroke-width="2" fill-rule="nonzero"></path>
					<path d="M20,58.2744141 C25.9893577,50.3889974 30.57204,46.4462891 33.7480469,46.4462891 C38.5120572,46.4462891 46.256375,55.8154297 53.2705078,55.8154297 C60.2846406,55.8154297 76.5503043,50.5849609 78,43" id="Path-2" stroke="#979797" fill-rule="nonzero"></path>
					<path d="M63,62 C56.3333333,54.7565175 53,49.3398509 53,45.75 C53,40.3652237 57.4771525,36 63,36 C68.5228475,36 73,40.3652237 73,45.75 C73,49.3398509 69.6666667,54.7565175 63,62 Z M63,51 C65.7614237,51 68,48.7614237 68,46 C68,43.2385763 65.7614237,41 63,41 C60.2385763,41 58,43.2385763 58,46 C58,48.7614237 60.2385763,51 63,51 Z" id="Combined-Shape" stroke="#979797" stroke-width="2" fill="#FFFFFF" fill-rule="nonzero"></path>
				</g>
		</svg>
	</div>
</template>

<script>
export default {
	name: 'CreateAddressIcon'
}
</script>
