<template>
	<div class="checkout__editable-option-container">
		<div class="kotti-columns checkout__editable-option-cols">
				<div class="kotti-form-group">
					<label class="kotti-form-radio">
						<input
							type="radio"
							:checked="isChecked"
							@click="$emit('selected')"
						/>
						<i class="form-icon checkout__form-option-radio" />
						<span v-text="infoText" />
					</label>
				</div>
			<div>
				<button
					v-if="isEditable"
					class="kotti-button text checkout__editable-option-button"
					v-t="'formOption.edit'"
					@click.stop="$emit('edited')"
				/>
			</div>
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-14">
				<slot v-if="isChecked"/>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'EditableFormOption',
	props: {
		infoText: {
			type: String,
			required: true,
		},
		isEditable: {
			type: Boolean,
			required: true,
		},
		isChecked: {
			type: Boolean,
		},
	},
	mounted() {
		if (this.isChecked) {
			this.$emit('selected');
		}
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__editable-option-container {
	border-bottom: 1px solid $lightgray-400;
	padding: $unit-2 0 $unit-2 $unit-2;
	width: 100%;
	box-sizing: border-box;
}
.kotti-form-group {
	margin-bottom: 0;
}

.checkout__editable-option-cols {
	box-sizing: border-box;
	font-size: $font-size-sm;
	color: $darkgray-500;
}
.checkout__editable-option-button {
	height: $unit-6;
}
</style>
