<template>
	<div class="kotti-modal-mask">
		<div class="kotti-modal-container--desktop">
			<slot name="title-desktop" />
			<slot name="message-desktop" />
			<slot name="buttons-desktop" />
		</div>
		<div class="kotti-modal-container--mobile">
			<slot name="title-mobile" />
			<slot name="message-mobile" />
			<slot name="buttons-mobile" />
		</div>
		<slot/>
	</div>
</template>

<script>
export default {
	name: 'GenericModal',
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.kotti-modal-mask {
	position: fixed;
	z-index: $zindex-5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.46);
	transition: opacity 0.3s ease;
	display: flex;
}

.kotti-modal-container--mobile,
.kotti-modal-container--desktop {
	align-self: center;
	width: 90%;
	max-height: 90%;
	max-width: 36rem;
	box-sizing: border-box;
	margin: 0px auto;
	padding: $unit-6;
	background-color: #fff;
	border-radius: 0.1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	display: none;
	flex-direction: column;
}

.kotti-modal-container--mobile {
	display: flex;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@media (min-width: $responsive-breakpoint) {
	.kotti-modal-container--mobile {
		display: none;
	}
	.kotti-modal-container--desktop {
		display: flex;
	}
}
</style>
