<template>
	<div class="kotti-form-group">
		<div :class="overlayClasses" v-text="labelText" />
		<div class="kotti-input-group">
			<input
				:id="fieldName"
				:class="inputClasses"
				:tabindex="tabindex"
				:type="type"
				v-model="value"
				autocomplete="nope"
				ref="formInput"
				@input="changed"
				@focus="focusInput"
				@blur="blurInput"
			/>
		</div>
		<div
			v-if="errorMessage"
			class="form-validation-text"
			v-text="errorMessage"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { translateErrors } from '../utils/ErrorUtil';

export default {
	name: 'GenericFormInput',
	props: {
		fieldName: {
			type: String,
		},
		inputValue: {
			type: String,
		},
		inputType: {
			type: String,
		},
		labelText: {
			type: String,
			required: true,
		},
		errorMessage: {
			type: String,
			required: false,
		},
		tabindex: {
			type: Number,
		},
	},
	data() {
		return {
			isFocused: false,
			value: this.inputValue,
		};
	},
	computed: {
		inputClasses() {
			return {
				'kotti-form-input': true,
				'kotti-form-input--compact': true,
				'kotti-form-input--error': this.isInvalid,
			};
		},
		isInvalid() {
			return !!this.errorMessage;
		},
		overlayClasses() {
			return {
				'kotti-form-label kotti-form-label--compact': true,
				'kotti-form-label--compact--focus': this.isFocused,
			};
		},
		type() {
			return this.inputType || 'text';
		},
	},
	mounted() {
		this.isFocused = this.value;
	},
	methods: {
		focusInput() {
			this.isFocused = true;
			if (window.innerWidth < 840) {
				this.$refs.formInput.scrollTop = 10;
			}
		},
		blurInput() {
			this.isFocused = this.value;
		},
		changed() {
			this.$emit('inputChanged', this.fieldName, this.value);
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.form-validation-text {
	font-size: $font-size-sm;
	color: $red-500;
	padding: 0 $unit-1;
}
</style>
