<template>
	<div class="kotti-mb-4">
		<InformationOverview
			v-if="selectedShippingAddress && showInfo(0)"
			:iconName="'location'"
			:infoText="shippingAddressRepresentation"
			@edited="pushRoute('/shipping-address')"
		/>
		<InformationOverview
			v-if="selectedPickupLocation && showInfo(0)"
			:iconName="'location'"
			:infoText="selectedPickupLocation.location"
			@edited="pushRoute('/shipping-address')"
		/>
		<InformationOverview
			v-if="selectedShippingMethod && showInfo(1)"
			:iconName="'shipping'"
			:infoText="shippingMethodRepresentation"
			@edited="pushRoute('/shipping-method')"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { localizedCurrencyString } from '../utils/CurrencyUtil.js';
import { prettyPrintAddress } from '../utils/AddressUtil';
import InformationOverview from './InformationOverview.vue';

export default {
	name: 'InformationOverviewContainer',
	components: {
		InformationOverview,
	},
	data() {
		return {
			routeDict: {
				'/shipping-address': 0,
				'/shipping-method': 1,
				'/shipping-information': 2,
				'/payment-information': 3,
			},
		};
	},
	computed: {
		...mapGetters({
			additionalShippingInformation: 'order/additionalShippingInformation',
			selectedShippingAddress: 'order/selectedShippingAddress',
			selectedPickupLocation: 'order/selectedPickupLocation',
			selectedShippingMethod: 'order/selectedShippingMethod',
			taxMode: 'organization/taxMode',
		}),
		shippingAddressRepresentation() {
			const address = this.selectedShippingAddress;
			return prettyPrintAddress(address, this.$i18n.locale);
		},
		shippingMethodRepresentation() {
			const price =
				this.taxMode === 'inclusiveTax'
					? this.selectedShippingMethod.priceInclusiveTax
					: this.selectedShippingMethod.priceExclusiveTax;
			return `${this.selectedShippingMethod.name} · ${localizedCurrencyString(
				this.$i18n.locale,
				price,
				this.selectedShippingMethod.currency,
			)}`;
		},
		showAdditionalInformation() {
			return Boolean(
				this.additionalShippingInformation.notes ||
				this.additionalShippingInformation.reference,
			);
		},
		additionalInformationRepresentation() {
			const entries = [
				this.additionalShippingInformation.reference,
			]
				.filter((entry) => entry)
				.map((entry) => ` · ${entry}`)
				.join('');
			return entries.slice(2, entries.length);
		},
	},
	methods: {
		pushRoute(route) {
			this.$router.push(route);
		},
		showInfo(routeIndex) {
			return this.routeDict[this.$route.path] > routeIndex;
		},
	},
};
</script>

<style lang="scss" scoped>
</style>
