<template>
	<div class="kotti-columns checkout__info-overview-container">
		<div class="checkout__info-overview-icon-container">
			<i class="yoco checkout__info-overview-icon" v-text="iconName" />
		</div>
		<div class="kotti-col-12" v-text="infoText" />
		<div class="checkout__info-overview-edit-button">
			<button
				:class="buttonClasses"
				@click="$emit('edited')"
				v-text="buttonText"
			/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'InformationOverview',
	props: {
		buttonClassOverride: {
			type: String,
			default: '',
		},
		buttonTextOverride: {
			type: String,
		},
		iconName: {
			type: String,
			required: true,
		},
		infoText: {
			type: String,
			required: true,
		},
	},
	computed: {
		buttonClasses() {
			return {
				'kotti-button text checkout__info-overview-edit': true,
				[this.buttonClassOverride]: this.buttonClassOverride,
			};
		},
		buttonText() {
			return this.buttonTextOverride || this.$t('infoOverview.edit');
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__info-overview-container {
	font-size: $font-size-sm;
	box-sizing: border-box;
	height: $control-size-xl;
	line-height: 1.5rem;
	padding: $unit-1 0;
	margin: 0 0 $unit-2 0;
	border: solid 1px $lightgray-400;
	border-radius: 4px;
}

.checkout__info-overview-icon-container {
	text-align: center;
	color: $darkgray-300;
	font-size: $font-size-sm;
	flex-basis: 56px;
}
.checkout__info-overview-edit-button {
	padding: 0 $unit-2;
}

.checkout__info-overview-edit {
	border: 0;
	font-weight: 600;
	&:hover,
	&:active,
	&:focus {
		border: 0;
		background: $lightgray-300;
	}
}
</style>
