<template>
	<div class="checkout__item-overview__container">
		<h3 class="kotti-h3 kotti-mt-6" v-t="'orderSummary.summary'"/>
		<ItemDetail
			v-if="linesAndPricesLoaded"
			v-for="(line, index) in lines"
			:key="index"
			:line="line"
			:linePrice="linePrices[index].price"
			:currency="currentProjectPrice.currency"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import ItemDetail from './ItemDetail.vue';

export default {
	name: 'ItemOverview',
	components: {
		ItemDetail,
	},
	props: {
		lines: {
			type: Array,
			required: true,
		},
		linePrices: {
			type: Array,
			required: true,
		},
	},
	computed: {
		...mapGetters({
			currentProjectPrice: 'basket/currentProjectPrice',
		}),
		linesAndPricesLoaded() {
			return this.lines.length && this.currentProjectPrice;
		},
	},
	mounted() {
		this.$store.dispatch('color/getAllColors');
	},
};
</script>
