<template>
	<div class="kotti-columns checkout__line">
		<div class="checkout__line__thumbnail">
			<img :src="line.thumbnailUrl" class="checkout__line-image">
		</div>
		<div class="checkout__line-col--wide">
			<div class="checkout__line-item-name" v-text="line.name" />
			<div class="checkout__line-item-info" v-text="line.materialName[$i18n.locale]" />
			<div class="checkout__line-item-info" v-text="unitPriceRepresentation"/>
			<div
				v-for="(postProcessing, index) in line.postProcessings"
				:key="index"
				class="checkout__line-item-info"
				v-text="postProcessingRepresentation(postProcessing)"
			/>
		</div>
		<div class="checkout__line-col">
			<div class="checkout__line-total-price" v-text="itemTotalWithCurrency"/>
			<div
				v-if="parseFloat(linePrice.itemDiscount[taxMode])"
				class="checkout__line-discount"
				v-text="itemDiscountRepresentation"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { localizedCurrencyString } from './../utils/CurrencyUtil.js';

export default {
	name: 'ItemDetail',
	props: {
		line: {
			type: Object,
			required: true,
		},
		linePrice: {
			type: Object,
			required: true,
		},
		currency: {
			type: String,
			required: true,
		},
	},
	computed: {
		...mapGetters({
			colors: 'color/colors',
			taxMode: 'organization/taxMode',
		}),
		itemDiscountRepresentation() {
			return `${this.$t(
				'itemDetail.discount',
			)}: -${localizedCurrencyString(
				this.$i18n.locale,
				this.linePrice.itemDiscount[this.taxMode],
				this.currency,
			)}`;
		},
		itemTotalWithCurrency() {
			return localizedCurrencyString(
				this.$i18n.locale,
				this.linePrice.itemTotal[this.taxMode],
				this.currency,
			);
		},
		unitPriceRepresentation() {
			return `${this.unitPriceWithCurrency} ✕ ${this.line.quantity}`;
		},
		unitPriceWithCurrency() {
			return localizedCurrencyString(
				this.$i18n.locale,
				this.linePrice.unitPrice[this.taxMode],
				this.currency,
			);
		},
	},
	methods: {
		postProcessingRepresentation(postProcessing) {
			const colorKey = `title_${this.$i18n.locale}`;
			const color = this.colors.find(
				({ id }) => id === postProcessing.colorId,
			);
			if (!color) {
				return postProcessing.name;
			}
			return postProcessing.colorId
				? `${postProcessing.name} (${color[colorKey]})`
				: postProcessing.name;
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables';

.kotti-columns {
	align-items: flex-start;
}
.checkout__line {
	padding-bottom: 4px;
	border-bottom: 1px solid $lightgray-400;
}
.checkout__line:not(:first-child) {
	margin-top: 8px;
}
.checkout__line-image {
	width: 56px;
	height: 56px;
	align-self: center;
	box-sizing: border-box;
}
.checkout__line-item-name {
	font-weight: 600;
	word-break: break-all;
}
.checkout__line-item-info {
	color: $darkgray-300;
	font-weight: 600;
	font-size: $font-size-sm;
	line-height: $unit-4;
}
.checkout__line-total-price {
	margin: 0;
	font-weight: 600;
	font-size: $font-size-lg;
	text-align: right;
	overflow-wrap: break-word;
	max-width: 100px;
}
.checkout__line-discount {
	margin: 0;
	text-align: right;
	color: $darkgray-300;
	font-size: $font-size-sm;
}

.checkout__line__thumbnail {
	flex-basis: 40px;
	flex-shrink: 0;
}
.checkout__line-col {
	justify-content: space-evenly;
}

.checkout__line-col--wide {
	flex: 1;
	display: flex;
	margin-left: 8px;
	flex-direction: column;
	justify-content: space-evenly;
}
</style>
