<template>
	<div class="checkout__footer-container">
		<div class="checkout__footer-padding">
			<div class="kotti-columns">
				<div
					class="kotti-col-1"
					@click="cancelOrder"
				>
					<i class="yoco checkout__footer-chevron kotti-accent-color">chevron_left</i>
				</div>
				<div class="kotti-col-5 checkout__footer-total">
					<div class="kotti-label-value">
						<label v-t="'mobileFooter.total'" />
						<h2 class="kotti-h2" v-text="totalRepresentation" />
					</div>
				</div>
				<div
					class="kotti-col-2"
					@click="$emit('openBasket')"
				>
					<i class="yoco checkout__footer-icon">basket</i>
				</div>
				<transition name="grow">
					<div
						v-if="currentProject && !isBasketOpen"
						class="checkout__footer-icon-badge"
						@click="$emit('openBasket')"
					>
						<span v-text="currentProject.lines.length"/>
				</div>
				</transition>
			</div>
		</div>
		<div v-if="showCancelModal">
			<CancelModal
				@hideModal="hideCancelModal"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import { localizedCurrencyString } from '../utils/CurrencyUtil.js';
import CancelModal from './CancelModal.vue';

export default {
	name: 'MobileFooter',
	components: {
		CancelModal,
	},
	props: {
		isBasketOpen: {
			type: Boolean,
			required: true,
		},
	},
	data() {
		return {
			showCancelModal: false,
		};
	},
	computed: {
		...mapGetters({
			currentProject: 'basket/currentProject',
			currentProjectPrice: 'basket/currentProjectPrice',
			taxMode: 'organization/taxMode',
		}),
		totalRepresentation() {
			// prettier-ignore
			return this.currentProjectPrice ?
				localizedCurrencyString(
					this.$i18n.locale,
					this.currentProjectPrice.priceSummary.total[this.taxMode],
					this.currentProjectPrice.currency,
				)
				: '';
		},
	},
	watch: {
		isBasketOpen() {
			document
				.querySelector('.checkout__footer-icon')
				.classList.add('checkout__footer-icon--animated');
			setTimeout(() => {
				document
					.querySelector('.checkout__footer-icon')
					.classList.remove('checkout__footer-icon--animated');
			}, 500);
		},
	},
	methods: {
		cancelOrder() {
			this.showCancelModal = true;
		},
		hideCancelModal() {
			this.showCancelModal = false;
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__footer-container {
	height: 75px;
	width: inherit;
	max-width: inherit;
	box-shadow: 0 0 2px 0 $lightgray-600;
	background: $lightgray-300;
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	z-index: $zindex-4;
}

.checkout__footer-chevron {
	color: $primary-500;
}

.checkout__footer-padding {
	padding: $unit-2 $unit-4;
}

.checkout__footer-icon {
	position: absolute;
	top: 40%;
	right: 6.5%;
	color: $darkgray-300;
}

.checkout__footer-icon--animated {
	animation-name: shuffly;
	animation-duration: 0.5s;
}
.checkout__footer-icon-badge {
	transform: scale(1);
	height: $unit-4;
	width: $unit-4;
	border-radius: 0.55rem;
	text-align: center;
	font-size: 0.75rem;
	line-height: $unit-4;
	font-weight: 600;
	background: $red-400;
	color: #fff;
	position: absolute;
	top: 30%;
	right: 5%;
	span {
		position: relative;
		top: 0.05rem;
	}
}

.grow-enter-active,
.grow-leave-active {
	transition: transform 0.2s;
}
.grow-enter,
.grow-leave-to {
	transform: scale(0);
}

@keyframes shuffly {
	from {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(40deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
</style>
