<template>
	<div class="kotti-label-value kotti-columns">
		<div class="kotti-col-5">
			<label v-text="title" />
		</div>
		<div class="kotti-col-3 kotti-right">
			<h2 v-if="isTotal" class="kotti-h2 kotti-mb-0" v-text="valueRepresentation" />
			<p v-else class="checkout__order-summary-label" v-text="valueRepresentation" />
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { localizedCurrencyString } from '../utils/CurrencyUtil.js';

export default {
	name: 'OrderSummaryEntry',
	props: {
		title: {
			type: String,
			required: true,
		},
		value: {
			types: [Number, String, null],
			required: true,
		},
		isTotal: {
			type: Boolean,
			required: false,
		},
		isNegative: {
			type: Boolean,
			required: false,
		},
	},
	computed: {
		...mapGetters({
			currentProjectPrice: 'basket/currentProjectPrice',
		}),
		valueRepresentation() {
			if (this.value === null) {
				return '-/-';
			}
			const value = this.isNegative ? -this.value : this.value;
			return localizedCurrencyString(
				this.$i18n.locale,
				parseFloat(value),
				this.currentProjectPrice.currency,
			);
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__order-summary-label {
	margin: $unit-2 0;
}
</style>
