<template>
	<div>
		<GenericModal>
			<h2 slot="title-mobile" class="kotti-h2" v-t="'modal.success.placedOrder'" />
			<p
				slot="message-mobile"
				class="kotti-p-sm kotti-mt-4"
				v-t="'modal.success.message'"
			/>
			<h2 slot="title-desktop" class="kotti-h2" v-t="'modal.success.placedOrder'" />
			<p
				slot="message-desktop"
				class="kotti-p-sm kotti-mt-4"
				v-text="orderTextRepresentation"
			/>
			<div slot="buttons-mobile" class="checkout__modal-buttons--mobile">
				<a :href="orderLink">
					<button
						class="kotti-button primary checkout__modal-button--mobile"
						v-t="'modal.success.viewOrder'"
					/>
				</a>
			</div>
			<div slot="buttons-desktop" class="checkout__modal-buttons--desktop">
				<a :href="orderLink">
					<button
						id="checkout-view-order"
						class="kotti-button primary checkout__modal-button--desktop"
						v-t="'modal.success.viewOrder'"
					/>
				</a>
			</div>
		</GenericModal>
	</div>
</template>
<script>
import GenericModal from './GenericModal.vue';
import { mapGetters } from 'vuex';

export default {
	name: 'OrderSuccessModal',
	components: {
		GenericModal,
	},
	props: {
		orderId: {
			type: Number,
			required: true,
		},
		projectId: {
			type: Number,
			required: true,
		},
		orderNumber: {
			type: String,
			required: true,
		},
	},
	computed: {
		...mapGetters({
			organizationSettings: 'organization/settings',
		}),
		orderLink() {
			if (!this.organizationSettings.useNewUserPanel) {
				return `${window.location.origin}/${
					this.$i18n.locale
				}/user/projects/${this.projectId}/`;
			}
			return `${window.location.origin}/user-panel/#/orders/${
				this.orderId
			}`;
		},
		orderTextRepresentation() {
			return this.$t('modal.success.message', { id: this.orderNumber });
		},
	},
};
</script>
