<template>
	<div class="checkout__order-summary-container">
		<OrderSummaryEntry
			:title="$t('orderSummary.subtotal')"
			:value="projectPrice.priceSummary.subTotal[taxMode]"
		/>
		<OrderSummaryEntry
			v-if="projectPrice.fees"
			v-for="fee in projectPrice.fees"
			:key="fee.name"
			:title="fee.name"
			:value="fee.amount[taxMode]"
		/>
		<OrderSummaryEntry
			v-if="minimumPriceDifference"
			:title="$t('orderSummary.diffToMinimumPrice')"
			:value="minimumPriceDifference"
		/>
		<OrderSummaryEntry
			:title="$t('orderSummary.shippingCost')"
			:value="shippingCostRepresentation"
		/>
		<OrderSummaryEntry
			v-if="hasVoucherDiscount"
			:title="$t('orderSummary.voucher')"
			:value="toggleVoucherDiscount"
		/>
		<div class="checkout__order-summary-total">
			<OrderSummaryEntry
				v-if="isNetPricesOn"
				:title="$t('orderSummary.netTotal')"
				:value="projectPrice.priceSummary.total.exclusiveTax"
				:isTotal="true"
			/>
			<OrderSummaryEntry
				v-else
				:title="$t('orderSummary.total')"
				:value="projectPrice.priceSummary.total.inclusiveTax"
				:isTotal="true"
			/>
		</div>
		<OrderSummaryEntry
			:title="taxRateRepresentation"
			:value="totalTax"
		/>
		<div class="checkout__order-summary-total">
		<OrderSummaryEntry
			v-if="!isNetPricesOn"
			:title="$t('orderSummary.netTotal')"
			:value="projectPrice.priceSummary.total.exclusiveTax"
		/>
			<OrderSummaryEntry
				v-else
				:title="$t('orderSummary.total')"
				:value="projectPrice.priceSummary.total.inclusiveTax"
			/>
		</div>
		<div
			class="checkout__order-minimum-on"
			v-if="minimumPriceDifference"
		>
		<OrderSummaryEntry
			:value="minimumOrderPrice[taxMode]"
			:title="toggleMinimumOrderTitle"
		/>
		</div>
		<div
			v-if="showConvertedCurrency"
			class="kotti-columns kotti-label-value"
		>
			<div class="kotti-col-5" />
			<div
				class=" kotti-right kotti-tooltip checkout__order-price-info"
				:data-tooltip="tooltipInfo"
			>
				<span class="checkout__order-price-tax" v-text="userCurrencyTotalRepresentation"/>
				<i class="yoco checkout__order-price-info-icon">circle_i</i>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import { localizedCurrencyString } from '../utils/CurrencyUtil';
import OrderSummaryEntry from './OrderSummaryEntry.vue';

export default {
	name: 'OrderSummary',
	components: {
		OrderSummaryEntry,
	},
	props: {
		projectPrice: {
			type: Object,
			required: true,
		},
	},
	computed: {
		...mapGetters({
			userCurrencyPrice: 'basket/userCurrencyPrice',
			taxMode: 'organization/taxMode',
			isNetPricesOn: 'organization/isNetPricesOn',
		}),
		minimumPriceDifference() {
			return parseFloat(
				this.projectPrice.priceSummary.minimumPriceDifference[
					this.taxMode
				],
			);
		},
		shippingCostRepresentation() {
			const shippingCost = this.projectPrice.priceSummary.shippingCost[
				this.taxMode
			];
			return parseFloat(shippingCost)
				? this.projectPrice.priceSummary.shippingCost[this.taxMode]
				: null;
		},
		showConvertedCurrency() {
			return (
				this.userCurrencyPrice &&
				this.userCurrencyPrice.currency !== this.projectPrice.currency
			);
		},
		taxRateRepresentation() {
			const taxTypeDict = {
				VAT: this.$t('orderSummary.vat'),
				Sales_Tax: this.$t('orderSummary.salesTax'),
				Tax: this.$t('orderSummary.tax'),
				Incl: this.$t('orderSummary.including'),
			};
			const noTrailingZeroes = this.projectPrice.taxRate.replace(
				/\.?0*$/,
				'',
			);
			return `${taxTypeDict.Incl} ${noTrailingZeroes}% ${
				taxTypeDict[this.projectPrice.taxType]
			}`;
		},
		hasVoucherDiscount() {
			return !!parseInt(this.projectPrice.priceSummary.voucherDiscount.exclusiveTax);
		},
		toggleVoucherDiscount() {
			return this.isNetPricesOn
				? this.projectPrice.priceSummary.voucherDiscount.exclusiveTax
				: this.projectPrice.priceSummary.voucherDiscount.inclusiveTax;
		},
		tooltipInfo() {
			return this.$t('orderSummary.tooltipInfo', {
				currency: this.projectPrice.currency,
			});
		},
		totalTax() {
			return (
				this.projectPrice.priceSummary.total.inclusiveTax -
				this.projectPrice.priceSummary.total.exclusiveTax
			);
		},
		userCurrencyTotalRepresentation() {
			if (!this.userCurrencyPrice.priceSummary) {
				return '';
			}
			return localizedCurrencyString(
				this.$i18n.locale,
				this.userCurrencyPrice.priceSummary.total[this.taxMode],
				this.userCurrencyPrice.currency,
			);
		},
		minimumOrderPrice() {
			return this.projectPrice.minimumPrice;
		},
		toggleMinimumOrderTitle() {
			return this.isNetPricesOn
				? this.$t('orderSummary.netPricesOn')
				: this.$t('orderSummary.netPricesOff');
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__order-price-info {
	width: 100%;
}

.checkout__order-price-info-icon,
.checkout__order-price-tax {
	color: $lightgray-500;
	text-align: right;
	font-size: 0.9rem;
}
.checkout__order-minimum-on{
	border-top: 1px solid $lightgray-400;
	padding-top: 1rem;
	margin-top: 1rem;
}

@media (max-width: $responsive-breakpoint) {
	.checkout__order-summary-total {
		display: none;
	}
	.checkout__order-summary-container {
		margin-bottom: 75px;
	}
}
</style>
