<template>
	<GenericModal>
		<template v-if="orderErrorCodes.length">
			<template slot="title-mobile">
				<h2 class="kotti-h2" v-t="'modal.payment.error'" />
			</template>
			<template slot="title-desktop">
				<h2 class="kotti-h2" v-t="'modal.payment.error'" />
			</template>
			<template slot="message-mobile">
				<p
					v-for="(errorCode, index) in orderErrorCodes"
					:key="index"
					v-text="$t(translateErrorCodes(errorCode))"
				/>
			</template>
			<template slot="message-desktop">
				<p
					v-for="(errorCode, index) in orderErrorCodes"
					:key="index"
					v-text="$t(translateErrorCodes(errorCode))"
				/>
			</template>
			<div slot="buttons-mobile" class="checkout__modal-buttons--mobile">
				<button
					class="kotti-button checkout__modal-button--mobile"
					v-t="'modal.payment.goBack'"
					@click="$emit('close')"
				/>
			</div>
			<div slot="buttons-desktop" class="checkout__modal-buttons--desktop">
				<button
					class="kotti-button checkout__modal-button--desktop"
					v-t="'modal.payment.goBack'"
					@click="$emit('close')"
				/>
			</div>
		</template>
		<template v-else>
			<template slot="title-mobile">
				<h2 class="kotti-h2" v-t="'modal.payment.orderInProgress'" />
			</template>
			<template slot="title-desktop">
				<h2 class="kotti-h2" v-t="'modal.payment.orderInProgress'" />
			</template>
			<template slot="message-mobile">
				<div class="kotti-loading lg kotti-mt-6 kotti-mb-6"/>
			</template>
			<template slot="message-desktop">
				<div class="kotti-loading lg kotti-mt-6 kotti-mb-6"/>
			</template>
		</template>
	</GenericModal>
</template>

<script>
import { translateErrorCodes } from '../utils/ErrorUtil';
import GenericModal from './GenericModal.vue';

export default {
	name: 'OrderProgressModal',
	components: {
		GenericModal,
	},
	props: {
		orderErrorCodes: { type: Array },
	},
	data() {
		return {};
	},
	methods: {
		translateErrorCodes,
	},
};
</script>
