<template>
	<div>
		<h3
			class="kotti-h3 kotti-mt-6"
			v-t="'paymentInformation.paymentMethod'"
		/>
		<EditableFormOption
			v-for="(paymentMethod, index) in paymentMethods"
			:key="paymentMethod.id"
			:infoText="paymentMethodDisplayName(paymentMethod)"
			:isEditable="false"
			:isChecked="isPreSelectedPaymentMethod(paymentMethod, index)"
			@selected="selectPaymentMethod(paymentMethod)"
		>
			<div v-if="paymentMethod.type === 'stripe'">
				<StripeForm
					v-if="!stripeCardLast4"
					:publishableKey="stripePublishableKey"
					@tokenCreated="handleStripeToken($event)"
				/>
			</div>
			<div v-else-if="paymentMethod.type === 'po-upload'">
				<PaymentUpload />
			</div>
			<div v-else-if="paymentMethod.type === 'volkswagen'">
				<VolkswagenForm />
			</div>
			<div v-else-if="paymentMethod.type === 'custom'">
				<div
					class="checkout__custom-payment-description"
					v-text="paymentMethod.additionalInformation.description"
				/>
			</div>
		</EditableFormOption>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import EditableFormOption from './EditableFormOption.vue';
import PaymentUpload from './PaymentUpload.vue';
import StripeForm from './StripeForm.vue';
import VolkswagenForm from './VolkswagenForm.vue';

export default {
	name: 'PaymentMethodTable',
	components: {
		EditableFormOption,
		PaymentUpload,
		StripeForm: () =>
			new Promise((resolve) => {
				const script = document.createElement('script');
				script.onload = () => {
					resolve(StripeForm);
				};
				script.async = true;
				script.src = 'https://js.stripe.com/v3/';
				document.head.appendChild(script);
			}),
		VolkswagenForm,
	},
	props: {
		paymentMethods: {
			type: Array,
			required: true,
		},
	},
	data() {
		return {
			stripeCardLast4: '',
		};
	},
	computed: {
		...mapGetters({
			selectedPaymentMethod: 'order/selectedPaymentMethod',
			stripePublishableKey: 'organization/stripePublishableKey',
		}),
	},
	methods: {
		handleStripeToken(token) {
			this.$store.dispatch('order/handleStripeToken', token);
		},
		isPreSelectedPaymentMethod(paymentMethod, index) {
			if (this.selectedPaymentMethod) {
				return this.selectedPaymentMethod.id === paymentMethod.id;
			}
			return index === 0;
		},
		paymentMethodDisplayName(paymentMethod) {
			const translationDict = {
				free: this.$t('paymentInformation.paymentMethods.free'),
				invoice: this.$t('paymentInformation.paymentMethods.invoice'),
				nets: this.$t('paymentInformation.paymentMethods.nets'),
				'pay-in-store': this.$t(
					'paymentInformation.paymentMethods.payInStore',
				),
				'po-upload': this.$t(
					'paymentInformation.paymentMethods.poUpload',
				),
				stripe: this.$t('paymentInformation.paymentMethods.stripe'),
				volkswagen: this.$t(
					'paymentInformation.paymentMethods.volkswagen',
				),
			};
			return paymentMethod.type === 'custom'
				? paymentMethod.additionalInformation.name
				: translationDict[paymentMethod.type];
		},
		selectPaymentMethod(paymentMethod) {
			this.$store.dispatch('order/selectPaymentMethod', paymentMethod);
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__custom-payment-description {
	padding: 0 0 0 $unit-6;
	color: $darkgray-400;
}
</style>
