<template>
	<GenericModal>
		<template slot="title-mobile">
			<h2 class="kotti-h2" v-t="'modal.payment.paymentCancelled'" />
		</template>
		<template slot="message-mobile">
				<p
					class="kotti-p-sm kotti-mt-4"
					v-t="'modal.payment.cancellationMessage'"
				/>
		</template>
		<template slot="title-desktop">
			<h2 class="kotti-h2" v-t="'modal.payment.paymentCancelled'" />
		</template>
		<template slot="message-desktop">
				<p
					class="kotti-p-sm kotti-mt-4"
					v-t="'modal.payment.cancellationMessage'"
				/>
		</template>
		<template slot="buttons-mobile">
			<div class="checkout__modal-buttons--mobile">
				<button
					class="kotti-button primary checkout__modal-button--mobile"
					v-t="'modal.payment.close'"
					@click="$emit('close')"
				/>
			</div>
		</template>
		<template slot="buttons-desktop">
			<div class="checkout__modal-buttons--desktop">
				<button
					class="kotti-button primary checkout__modal-button--desktop"
					v-t="'modal.payment.close'"
					@click="$emit('close')"
				/>
			</div>
		</template>
	</GenericModal>
</template>

<script>
import GenericModal from './GenericModal.vue';

export default {
	name: 'PaymentCancelledModal',
	components: {
		GenericModal,
	},
};
</script>
