<template>
	<GenericModal>
		<h2 slot="title-mobile" class="kotti-h2" v-t="'modal.payment.waitingForPayment'" />
		<div slot="message-mobile" class="kotti-loading lg kotti-mt-6 kotti-mb-6"/>
		<h2 slot="title-desktop" class="kotti-h2" v-t="'modal.payment.waitingForPayment'" />
		<div slot="message-desktop" class="kotti-loading lg kotti-mt-6 kotti-mb-6"/>
	</GenericModal>
</template>

<script>
import GenericModal from './GenericModal.vue';

export default {
	name: 'PaymentProgressModal',
	components: {
		GenericModal,
	},
};
</script>
