<template>
	<div v-if="projectPrice" class="checkout__voucher-container">
		<div v-if="voucherCode" @click="editVoucher" class="checkout__voucher--display">
			<div class="kotti-label-value kotti-columns">
				<div class="kotti-col-5">
					<label v-t="'paymentInformation.voucher'" />
				</div>
				<div class="kotti-col-3 kotti-right">
					<p class="checkout__order-summary-label" v-text="voucherRepresentation" />
				</div>
			</div>
		</div>
		<div v-else class="checkout__voucher--editable">
			<div class="kotti-columns">
				<div class="kotti-col-6">
					<div class="kotti-has-icon-left">
						<form
							autocomplete="nope"
							@submit.prevent="applyVoucher"
						>
							<input
								v-model="localVoucherCode"
								class="kotti-form-input kotti-pl-8"
								type="text"
								:placeholder="$t('paymentInformation.voucherCode')"
							/>
							<i class="form-icon yoco" v-text="'tag'" />
						</form>
					</div>
				</div>
				<div class="kotti-col-1 checkout__apply-voucher-button">
					<button
						class="kotti-button kotti-w-100"
						:disabled="!voucherCodeTrimmed"
						v-t="'paymentInformation.apply'"
						@click="applyVoucher"
					/>
				</div>
			</div>
			<div
				v-if="showErrorMessage"
				class="checkout__voucher-errors"
				v-t="'paymentInformation.voucherError'"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import OrderSummaryEntry from './OrderSummaryEntry.vue';
import { localizedCurrencyString } from '../utils/CurrencyUtil.js';

export default {
	name: 'PaymentVoucher',
	components: {
		OrderSummaryEntry,
	},
	data() {
		return {
			showErrorMessage: false,
			localVoucherCode: '',
		};
	},
	computed: {
		...mapGetters({
			pricePayload: 'pricePayload',
			projectId: 'basket/projectId',
			projectPrice: 'basket/currentProjectPrice',
			selectedShippingAddress: 'order/selectedShippingAddress',
			selectedShippingMethod: 'order/selectedShippingMethod',
			taxMode: 'organization/taxMode',
			userCurrency: 'user/userCurrency',
			voucherCode: 'order/voucherCode',
		}),
		shippingMethodId() {
			return this.selectedShippingMethod
				? this.selectedShippingMethod.id
				: null;
		},
		voucherApplied() {
			return parseFloat(
				this.projectPrice.priceSummary.voucherDiscount[this.taxMode],
			);
		},
		voucherRepresentation() {
			if (!this.projectPrice.priceSummary) {
				return '';
			}
			return `${this.voucherCode} · -${localizedCurrencyString(
				this.$i18n.locale,
				this.projectPrice.priceSummary.voucherDiscount[this.taxMode],
				this.projectPrice.currency,
			)}`;
		},
		voucherCodeTrimmed() {
			return this.localVoucherCode.trim();
		},
	},
	methods: {
		async applyVoucher() {
			this.localVoucherCode = this.voucherCodeTrimmed;
			try {
				const payload = {
					...this.pricePayload,
					voucherCode: this.localVoucherCode,
				};
				const { data } = await this.$store.dispatch(
					'basket/getProjectPrices',
					payload,
				);
				this.$store.dispatch(
					'order/setVoucherCode',
					this.localVoucherCode,
				);
				if (this.userCurrency !== data.currency) {
					payload.currency = this.userCurrency;
					this.$store.dispatch(
						'basket/getUserCurrencyPrices',
						payload,
					);
				}
			} catch (error) {
				this.$store.dispatch('order/setVoucherCode', '');
				this.showErrorMessage = true;
				setTimeout(() => {
					this.showErrorMessage = false;
				}, 2500);
			}
		},
		async editVoucher() {
			await this.$store.dispatch('order/setVoucherCode', '');
			const payload = { ...this.pricePayload };
			try {
				const { data } = await this.$store.dispatch(
					'basket/getProjectPrices',
					payload,
				);
				if (this.userCurrency !== data.currency) {
					payload.currency = this.userCurrency;
					this.$store.dispatch(
						'basket/getUserCurrencyPrices',
						payload,
					);
				}
			} catch (error) {}
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__voucher-container {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: $unit-2;
}
.checkout__voucher--editable {
	margin: $unit-4 0;
}
.checkout__voucher--display {
	margin: $unit-2 0;
	&:hover {
		cursor: pointer;
		background: #fff9c0;
	}
}
.checkout__voucher-errors {
	color: $red-500;
	font-size: $font-size-sm;
	margin: $unit-1 0 0;
	text-align: center;
	opacity: 1;
}
</style>
