<template>
	<div class="checkout__payment-upload-container">
		<InformationOverview
			v-show="fileId"
			:buttonClassOverride="'danger'"
			:buttonTextOverride="$t('paymentUpload.delete')"
			:iconName="'file'"
			:infoText="fileName"
			@edited="removeAttachment"
		/>
		<div v-show="!fileId">
			<form
				class="checkout__payment-order-dropbox"
				ref="fileform"
				@drop.prevent.stop="updateFileList($event)"
				@dragover.prevent.stop
			>
				<label for="attachment-input">
					<span>
						<i class="yoco">cloud_upload</i>
					</span>
					<span v-t="'paymentUpload.upload'" />
				</label>
				<input
					type="file"
					id="attachment-input"
					class="checkout__attachment-input"
					@change="onFileChange($event.target.files)"
				>
			</form>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import InformationOverview from './InformationOverview.vue';

export default {
	name: 'PaymentUpload',
	components: {
		InformationOverview,
	},
	data() {
		return {
			fileUploading: false,
			fileName: '',
		};
	},
	computed: {
		...mapGetters({
			additionalPaymentInformation: 'order/additionalPaymentInformation',
			currentServiceId: 'service/currentServiceId',
		}),
		fileId() {
			return this.additionalPaymentInformation.attachments
				? this.additionalPaymentInformation.attachments[0]
				: null;
		},
	},
	methods: {
		updateFileList(event) {
			const filesList = Array.from(event.dataTransfer.files);
			this.onFileChange(filesList);
		},
		onFileChange(filesList) {
			if (!filesList.length) {
				return;
			}
			const formData = new FormData();
			formData.append('file', filesList[0]);
			this.fileUploading = true;
			const payload = {
				serviceId: this.currentServiceId,
				formData,
			};
			this.$store.dispatch('order/uploadAttachment', payload).then(() => {
				this.fileUploading = false;
				this.fileName = filesList[0].name;
			});
		},
		removeAttachment() {
			this.$store.dispatch('order/setAdditionalPaymentInformation', {});
			this.$refs.fileform.reset();
			this.fileName = '';
		},
	},
};
</script>

<style lang="scss">
@import '../assets/variables.scss';

.checkout__payment-upload-container {
	margin: $unit-2 0 $unit-2 $unit-6;
}

.checkout__payment-order-dropbox {
	padding: $unit-4;
	border: 1px dashed $primary-500;
	color: $lightgray-500;
	text-align: center;
}

.checkout__attachment-input {
	opacity: 0;
	height: 0;
	width: 0;
	&:focus {
		outline: 0;
	}
}
</style>
