<template>
	<div class="checkout-service-overview">
		<h3 class="kotti-h3" v-text="$t('serviceOverview.printingService')" />
			<div class="kotti-columns">
				<div class="kotti-col-2" v-if="service.logo">
					<img :src="service.logo" :alt="service.name" />
				</div>
				<div class="kotti-col-5 kotti-ml-2 kotti-overflow-auto">
					<h4 class="kotti-h4 kotti-truncate" v-text="service.name" />
				</div>
				<div class="kotti-col-1 kotti-right checkout__service-info-icon-holder kotti-accent-color">
					<span class="kotti-popover popover-left-bottom">
						<i class="yoco">circle_i</i>
						<div class="popover-container checkout__service-popover-container">
							<div class="card">
								<ServiceInfoEntry
									:iconName="'location'"
								>
									<div v-text="serviceLocation" />
								</ServiceInfoEntry>
								<ServiceInfoEntry
									v-if="service.description"
									:iconName="'circle_i'"

								>
									<div v-text="service.description" />
								</ServiceInfoEntry>
								<ServiceInfoEntry
									v-if="service.email"
									:iconName="'email'"
								>
									<a :href="emailLink">
										<span v-text="service.email"/>
									</a>
								</ServiceInfoEntry>
								<ServiceInfoEntry
									:iconName="'support'"
								>
									<a :href="phoneLink">
										<span v-text="service.phoneNumber"/>
									</a>
								</ServiceInfoEntry>
								<ServiceInfoEntry
									v-if="service.website"
									:iconName="'global'"
								>
									<a :href="service.website" target="blank">
										<span v-text="urlRepresentation"/>
									</a>
								</ServiceInfoEntry>
							</div>
						</div>
					</span>
				</div>
			</div>
	</div>
</template>

<script>
import ServiceInfoEntry from './ServiceInfoEntry.vue';

export default {
	name: 'ServiceOverview',
	components: {
		ServiceInfoEntry,
	},
	props: {
		service: {
			type: Object,
			required: true,
		},
	},
	computed: {
		serviceLocation() {
			return `${this.service.city}, ${this.service.country}`;
		},
		emailLink() {
			return `mailto:${this.service.email}`;
		},
		phoneLink() {
			return `tel:${this.service.phoneNumber}`;
		},
		urlRepresentation() {
			return this.service.website.replace(/^https?:\/\//i, '');
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout-service-overview {
	height: 100%;
}

.checkout__service-info-icon-holder {
	color: $primary-500;
}

.checkout__service-popover-container {
	text-align: left;
	width: 80vw;
}

@media (min-width: $size-sm) {
	.checkout__service-popover-container {
		width: 40vw;
		max-width: 380px;
	}
}
</style>
