<template>
	<div class="kotti-columns checkout__service-popover">
		<div class="kotti-col-1 kotti-center">
			<div class="checkout__service-popover-icon-div">
				<i class="yoco checkout__service-popover-icon" v-text="iconName" />
			</div>
		</div>
		<div class="kotti-col-9">
			<slot />
		</div>
	</div>
</template>

<script>
export default {
	name: 'ServiceInfoEntry',
	props: {
		iconName: {
			type: String,
			required: true,
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__service-popover {
	margin: $unit-4 0;
	font-size: $font-size-sm;
	color: $darkgray-500;
}

.checkout__service-popover-icon {
	font-size: $font-size-lg;
	color: $lightgray-500;
}

.checkout__service-popover-icon-div {
	text-align: left;
}
</style>
