<template>
	<div class="checkout__shipping-method-entry kotti-columns">
		<div class="kotti-col-8">
			<div class="kotti-form-group" id="shipping-method">
				<label class="kotti-form-radio">
					<input
						type="radio"
						:name="'shipping-method'"
						:checked="isChecked"
						@click="$emit('selected')"
					/>
					<i class="form-icon" /> <span class="kotti-p-sm" v-text="shippingMethod.name" />
				</label>
			</div>
		</div>
		<div class="kotti-col-7">
			<span class="kotti-p-sm" v-text="deliveryTimeRepresentation"/>
			</div>
		<div class="kotti-col-3 kotti-right">
			<span class="kotti-p-sm" v-text="priceRepresentation" />
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { localizedCurrencyString } from '../utils/CurrencyUtil.js';

export default {
	name: 'ShippingMethodEntry',
	props: {
		shippingMethod: {
			type: Object,
			required: true,
		},
		isChecked: {
			type: Boolean,
		},
	},
	computed: {
		...mapGetters({
			taxMode: 'organization/taxMode',
		}),
		deliveryTimeRepresentation() {
			if (this.shippingMethod.deliveryDays) {
				return this.$t('shippingMethod.deliveryTime', {
					min: this.shippingMethod.deliveryDays[0],
					max: this.shippingMethod.deliveryDays[1],
				})
			}
			else {
				return this.$t('shippingMethod.deliveryTime', {
					min: this.shippingMethod.shippingDaysMin,
					max: this.shippingMethod.shippingDaysMax,
				})
			};
		},
		priceRepresentation() {
			if (
				Number(this.shippingMethod.priceInclusiveTax) === 0 ||
				Number(this.shippingMethod.priceExclusiveTax) === 0
			) {
				return this.$t('shippingMethod.free');
			}
			const price =
				this.taxMode === 'inclusiveTax'
					? this.shippingMethod.priceInclusiveTax
					: this.shippingMethod.priceExclusiveTax;
			return localizedCurrencyString(
				this.$i18n.locale,
				price,
				this.shippingMethod.currency,
			);
		},
	},
	mounted() {
		if (this.isChecked) {
			this.$emit('selected');
		}
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__shipping-method-entry {
	border-bottom: 1px solid $lightgray-400;
	height: $unit-10;
	box-sizing: border-box;
	padding: 0 $unit-2;
}

.checkout__shipping-method-info-icon {
	color: $primary-500;
	font-size: $control-icon-size;
}
</style>
