<template>
	<div class="kotti-mt-4 checkout__skeleton-container">
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton" />
			</div>
			<div class="kotti-col-1" />
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton--small" />
			</div>
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton--small" />
			</div>
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton" />
			</div>
			<div class="kotti-col-1" />
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton--small" />
			</div>
		</div>
		<div class="kotti-columns">
			<div class="kotti-col-1">
				<div class="kotti-skeleton rectangle checkout__skeleton--large" />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Skeleton',
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__skeleton-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.checkout__skeleton {
	min-height: $control-size-xs;
}

.checkout__skeleton--small {
	min-height: $control-size-xxs;
}

.checkout__skeleton--large {
	min-height: $control-size-lg;
}
</style>
