<template>
	<div>
		<div
			v-if="last4"
			class="checkout__stripe-card-number"
			v-text="stripeCardNumberRepresentation"
		/>
		<div v-else>
			<form
				id="payment-form"
				autocomplete="nope"
				@submit.prevent="submitForm"
			>
				<div class="form-row">
					<div id="card-element" />
					<div id="card-errors" role="alert" v-text="stripeError" />
				</div>
				<div class="kotti-float-right">
					<button
						v-if="!last4"
						class="kotti-button primary"
						v-t="'stripeForm.selectCard'"
					/>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
/* global Stripe */

export default {
	name: 'StripeForm',
	props: {
		publishableKey: {
			type: String,
			required: true,
		},
	},
	data() {
		return {
			last4: '',
			stripeError: '',
			stripe: null,
			stripeCardElement: null,
		};
	},
	computed: {
		stripeCardNumberRepresentation() {
			return `**** **** **** ${this.last4}`;
		},
	},
	mounted() {
		this.stripe = Stripe(this.publishableKey);
		const elements = this.stripe.elements({ locale: this.$i18n.locale });
		this.stripeCardElement = elements.create('card');
		this.stripeCardElement.mount('#card-element');
		this.$store.dispatch('order/setAdditionalPaymentInformation', {});
	},
	methods: {
		async submitForm() {
			const { token, error } = await this.stripe.createToken(
				this.stripeCardElement,
			);
			if (error) {
				this.stripeError = error.message;
			} else {
				this.last4 = token.card.last4;
				this.$emit('tokenCreated', token.id);
				this.stripeError = '';
			}
		},
	},
};
</script>

<style lang="scss">
@import '../assets/variables.scss';
.StripeElement {
	margin: $unit-2 0 0 $unit-6;
	padding: $unit-2;
	border-radius: 4px;
	color: $darkgray-500;
	font-family: $base-font-family;
}

#card-errors {
	margin: 0 0 0 $unit-6;
	color: $red-500;
	padding-top: $unit-2;
	font-size: $font-size-sm;
}

.checkout__stripe-card-number {
	padding: 0 0 0 $unit-6;
}

.StripeElement--focus {
	box-shadow: 0 0 0 0.1rem rgba($primary-500, 0.64);
}

.StripeElement--invalid {
	box-shadow: 0 0 0 0.1rem rgba($red-500, 0.64);
}
</style>
