<template>
    <div class="checkout__conditions-columns">
					<div class="kotti-form-group">
						<label class="kotti-form-checkbox" id="accept-terms-conditions">
							<input
								type="checkbox"
								@change="$emit('acceptToggle')"
							/>
							<i class="form-icon" />
							<span v-html="conditions"></span>
						</label>
					</div>

					<p
						v-html="disclaimer"
						class="checkout__order-info"
					></p>
			</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'termsAndConditions',
	computed: {
		...mapGetters({
			serviceId: 'service/currentService',
		}),
		conditions() {
			if (!this.serviceId.termsAndConditions) {
				return '';
			}
			return this.serviceId.termsAndConditions[this.$i18n.locale];
		},
		disclaimer() {
			if (!this.serviceId) {
				return '';
			}
			return this.serviceId.disclaimer[this.$i18n.locale];
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';
.checkout__order-info {
	padding: 0 $unit-6;
	margin: 0;
	color: $darkgray-300;
	font-size: $font-size-xs;
}

.checkout__conditions-columns {
	margin: $unit-4 0 0 0;
}
</style>
