<template>
	<div>
		<div class="checkout__view-footer--mobile">
			<button
				:class="buttonClasses('checkout__footer-button--mobile')"
				v-text="buttonText"
				:disabled="isDisabled"
				data-test="checkout-footer-next-button"
				@click="$emit('nextView')"
			/>
		</div>
		<div class="kotti-columns checkout__view-footer--desktop">
			<div>
				<span
					class="kotti-col-1 checkout__view-footer-link kotti-accent-color"
					@click="cancelOrder"
				>
					<i class="yoco">chevron_left</i>
					<span v-t="'viewFooter.back'" />
				</span>
			</div>
			<div class="kotti-col-1 kotti-right">
				<button
					:class="buttonClasses('kotti-w-40')"
					v-text="buttonText"
					:disabled="isDisabled"
					data-test="checkout-footer-next-button"
					id="checkout-footer-next-button"
					@click="$emit('nextView')"
				/>
			</div>
		</div>
		<div v-if="showCancelModal">
			<CancelModal @hideModal="hideCancelModal" />
		</div>
	</div>
</template>

<script>
import CancelModal from './CancelModal.vue';

export default {
	name: 'ViewFooter',
	components: {
		CancelModal,
	},
	props: {
		buttonText: {
			type: String,
			required: true,
		},
		isDisabled: {
			type: Boolean,
			required: true,
		},
	},
	data() {
		return {
			showCancelModal: false,
		};
	},
	methods: {
		buttonClasses(widthClass) {
			return {
				[widthClass]: true,
				'kotti-button': true,
				primary: true,
				disabled: this.isDisabled,
			};
		},
		cancelOrder() {
			this.showCancelModal = true;
		},
		hideCancelModal() {
			this.showCancelModal = false;
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../assets/variables.scss';

.checkout__view-footer--desktop {
	display: none;
	margin: $unit-4 0 0;
}

.checkout__view-footer--mobile {
	display: block;
	margin: $unit-2 0 0;
}

@media (min-width: $responsive-breakpoint) {
	.checkout__view-footer--desktop {
		display: flex;
		flex: 0 1 auto;
	}
	.checkout__view-footer--mobile {
		display: none;
	}
}

.checkout__footer-button--mobile {
	width: 100%;
	margin: $unit-2 0 0;
}

.checkout__view-footer-link {
	flex-shrink: 1;
	color: $primary-500;
	cursor: pointer;
}
</style>
