<template>
	<div class="kotti-columns kotti-mb-2">
		<form
			class="kotti-col-14 checkout__credit-form"
			autocomplete="nope"
			onsubmit="return false;"
		>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="creatorName"
						:inputValue="form.creatorName"
						:errorMessage="errors['creatorName']"
						:labelText="$t('volkswagenForm.creatorName')"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="creatorEmail"
						:inputValue="form.creatorEmail"
						:labelText="$t('volkswagenForm.creatorEmail')"
						:errorMessage="errors['creatorEmail']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="provider"
						:inputValue="form.provider"
						:labelText="$t('volkswagenForm.provider')"
						:errorMessage="errors['provider']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="proposalNumber"
						:inputValue="form.proposalNumber"
						:labelText="$t('volkswagenForm.proposalNumber')"
						:errorMessage="errors['proposalNumber']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="proposal"
						:inputValue="form.proposal"
						:labelText="$t('volkswagenForm.proposal')"
						:errorMessage="errors['proposal']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="description"
						:inputValue="form.description"
						:labelText="$t('volkswagenForm.description')"
						:errorMessage="errors['description']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="deliveryDate"
						:inputValue="form.deliveryDate"
						:labelText="$t('volkswagenForm.deliveryDate')"
						:errorMessage="errors['deliveryDate']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="chargeFrom"
						:inputValue="form.chargeFrom"
						:labelText="$t('volkswagenForm.chargeFrom')"
						:errorMessage="errors['chargeFrom']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-w-100 checkout__card-input-div">
				<GenericFormInput
						fieldName="chargeTo"
						:inputValue="form.chargeTo"
						:labelText="$t('volkswagenForm.chargeTo')"
						:errorMessage="errors['chargeTo']"
						:tabindex="1"
						@inputChanged="inputChanged"
				/>
			</div>
			<div class="kotti-float-right">
				<button
					:class="volkswagenButtonClasses"
					v-t="'volkswagenForm.save'"
					@click="savePaymentDetails"
				/>
			</div>
		</form>
	</div>
</template>

<script>
import GenericFormInput from './GenericFormInput.vue';
import { validateVolkswagenPayment } from '../utils/ValidationUtil';

export default {
	name: 'VolkswagenForm',
	components: {
		GenericFormInput,
	},
	data() {
		const formStub = {
			creatorName: '',
			creatorEmail: '',
			provider: '',
			proposalNumber: '',
			proposal: '',
			description: '',
			deliveryDate: '',
			chargeFrom: '',
			chargeTo: '',
		};

		const additionalPaymentInformation = this.$store.getters[
			'order/additionalPaymentInformation'
		];
		const form = { ...additionalPaymentInformation } || formStub;
		return {
			form,
			errors: {},
			editMode: false,
		};
	},
	computed: {
		volkswagenButtonClasses() {
			return {
				'kotti-button primary kotti-mr-1 kotti-mt-2': true,
			};
		},
		hasErrors() {
			return Object.keys(this.errors).length > 0;
		},
	},
	methods: {
		validate() {
			this.errors = Object.assign(
				{},
				validateVolkswagenPayment(this.form),
			);
		},
		inputChanged(fieldName, value) {
			this.form[fieldName] = value;
			this.errors[fieldName] = null;
		},
		savePaymentDetails() {
			this.validate();
			if (this.hasErrors) {
				return;
			}
			this.$store.dispatch(
				'order/setAdditionalPaymentInformation',
				this.form,
			);
		},
		editModeOn() {
			this.editMode = true;
		},
		editModeOff() {
			this.editMode = false;
		},
	},
};
</script>

<style lang="scss">
@import '../assets/variables.scss';

.checkout__credit-form {
	padding: $unit-2 $unit-2 0 $unit-5;
	display: block;
}

.kotti-columns {
	.checkout__card-input-div {
		padding: $unit-1;
	}
}

@media (max-width: $responsive-breakpoint) {
	.kotti-columns {
		display: block;
		.checkout__card-input-div {
			padding: $unit-1;
			&:first-child {
				padding: $unit-1;
			}
			&:last-child {
				padding: $unit-1;
			}
		}
	}
	.kotti-w-60,
	.kotti-w-20 {
		width: 100%;
	}
}
</style>
