{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load organization_flags %}

<script>
    barColor = '{{organization.theme.primary_elements_color}}' || '#2C66C4';
</script>
<div class="row b3-step-1">
    <!-- Viewer Page -->
    {% if request|show_filters_panel %}
    <div class="col-xs-12 col-md-push-8 col-md-4">
        <div class="b3-col-filtering">
            <div class="panel b3-panel-filter b3-panel-expansible">
                <div class="panel-heading">
                    <h4>{% trans "Filter" %}</h4>
                </div>
                <div class="panel-body">
                    <!-- ko with: FilterCategories.root_category -->
                        <!-- ko if: num_materials() > 0 -->
                            <div class="row">
                                <div data-bind="css:  all_sub_checked_safe() ? 'col-xxxs-12 col-xxs-12 col-xs-12 col-md-12 ' : 'col-xxxs-11 col-xxs-11 col-xs-11 col-md-11' "  class="text-left line b3-heading-title no-margin-bottom" >{% trans "Material" %}</div>
                                <div data-bind="visible: !all_sub_checked_safe() " class="col-xxxs-1 col-xxs-1 col-xs-1 col-md-1 container-reset text-right"><i title="Reset" data-bind="click:  resetMaterial" class="fa fa-repeat fa-flip-horizontal"></i></div>
                            </div>

                            <div class="checkbox b3-content-category b3-materials-filter">
                                <div>
                                    <label class="b3-control-label b3-big-checkbox">
                                        <input type="checkbox" data-bind="checked: all_sub_checked_safe" /><span>{% trans "All" %}</span>
                                    </label>
                                </div>
                                <!-- ko foreach: categories -->
                                    <!-- ko if: num_materials() > 0 -->
                                    <div>
                                        <label class=" b3-control-label b3-big-checkbox">
                                            <input type="checkbox" data-bind="checked: checked" /><span data-bind="text: name"></span>
                                        </label>
                                        <div class="b3-category" data-bind="visible: checked">
                                            <!-- ko if: categories().length > 0 && num_materials() != categories()[0].num_materials() -->
                                                <label class="b3-control-label">
                                                    <input type="checkbox" data-bind="checked: all_sub_checked" /><span>{% trans "All" %}</span>
                                                </label>
                                            <!-- /ko -->
                                            <!-- ko foreach: categories -->
                                                <!-- ko if: num_materials() > 0 -->
                                                <label class=" b3-control-label">
                                                    <input type="checkbox" data-bind="disable: $index() == 0 && $parent.num_materials() == num_materials() , checked: $parent.num_materials() == num_materials() || checked " /><span data-bind="text: name"></span>
                                                </label>
                                                <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->

                    <div class="row">
                        <div data-bind="css: FilterCharacteristics.selected().length == 0 ? 'col-xxxs-12 col-xxs-12 col-xs-12 col-md-12' : 'col-xxxs-11 col-xxs-11 col-xs-11 col-md-11 ' "  class="text-left line b3-heading-title" >{% trans "Characteristics" %}</div>
                        <!-- ko if: FilterCharacteristics.selected().length != 0 -->
                        <div class="col-xxxs-1 col-xxs-1 col-xs-1 col-md-1 container-reset text-right"><i title="Reset" data-bind="click: FilterCharacteristics.resetCharacteristics" class="fa fa-repeat fa-flip-horizontal"></i></div>
                        <!-- /ko -->
                    </div>

                    <!-- ko with: FilterCharacteristics -->
                    <div class="panel-filter-characteristics">
                        <!-- ko foreach: visible_options -->
                            <label data-bind="visible: $index() < 3 || $parent.show_all" class=" b3-control-label characteristic">
                                <input type="checkbox" data-bind="click: checkCharacteristic, checked: checked" /><span data-bind="text: title"></span>
                            </label>
                        <!-- /ko -->
                        <a draggable="false" style="margin-left: 10px;" class="more" data-bind="click: showMore, visible: !show_all() && visible_options().length>3">{% trans 'More characteristics' %}</a>
                    </div>
                    <!-- /ko -->


                    <!-- ko with: FilterTechnologies -->
                    <div class="row">
                        <div data-bind="css: showResetFilter() ? 'col-xs-11' : 'col-xs-12'" class="text-left line b3-heading-title">
                            {% trans "Technologies" %}
                        </div>
                        <div class="col-xs-1 container-reset text-right" data-bind="visible: showResetFilter, click: reset">
                            <i title="Reset" class="fa fa-repeat fa-flip-horizontal"></i>
                        </div>
                    </div>
                    <div data-bind="if: technologies().length > 0" class="panel-filter-technologies" style="margin-left: -10px;">
                        <!-- ko foreach: technologies -->
                            <label data-bind="visible: $parent.listExpanded() || $index() < 3" class="b3-control-label characteristic" style="display: block;">
                                <input type="checkbox" data-bind="checked: selected, click: onClick.bind($data)" /><span data-bind="text: title"></span>
                            </label>
                        <!-- /ko -->
                        <a draggable="false" class="more" data-bind="visible: (!listExpanded()), click: showMore" style="margin-left: 10px;">
                            {% trans 'More technologies' %}
                        </a>
                    </div>
                    <!-- /ko -->

                    <!-- ko with: FilterProperties -->

                        <div class="row" data-bind="visible: histograms().length == 0" >
                            <div class="col-xxxs-12 col-xxs-12 col-xs-12 text-left line b3-heading-title">{% trans "Properties" %}</div>
                        </div>
                        <!-- ko foreach: histograms -->
                            <div class="row"  style="margin-top:10px;margin-bottom:10px;">
                                <div class="col-xxxs-11 col-xxs-11 col-xs-11 col-md-11 text-left line b3-heading-title no-margin-bottom" >{% trans "Property" %}</div>
                                <div class="col-xxxs-1 col-xxs-1 col-xs-1 col-md-1 container-reset text-right"><i title="Reset" data-bind="click: $parent.RemoveHistogram" class="filter-histogram fa fa-close fa-flip-horizontal"></i></div>
                            </div>
                            <select  data-bind="value: selected_property, options: filter_properties, optionsText: 'title', select2: { width : '100%',  minimumResultsForSearch: Infinity }"></select>
                            <div class="filter-histogram-property b3-filter-slider" data-bind="click: FindClosestClick">
                                <div class="b3-histogram" data-bind="foreach: histogram"><div class="b3-histogram-bar" data-bind="style: {'height': $data+'px', 'width': $parent.histogram_bar_width}"></div></div>
                                <div class="rheostat rheostat-horizontal row-space-2">
                                    <div class="rheostat-background"></div>
                                    <div class="rheostat-handle min" data-bind="style:{'left':from_percentage()+'%'}, event: {mousedown: MouseDown}" style="position: absolute;"></div>
                                    <div class="rheostat-handle max" data-bind="style:{'left':till_percentage()+'%'}, event: {mousedown: MouseDown}" style="position: absolute;"></div>
                                    <div class="rheostat-progress" ></div>
                                </div>
                            </div>
                            <div class="b3-filter-numbers">
                                <div class="b3-filter-numbers-min" data-bind="text: pointToComma(min_text())"></div>
                                <div class="b3-filter-numbers-range">
                                    <input type="number" data-bind="value: from, attr:{'step':step_size}" />
                                    -
                                    <input type="number" data-bind="value: till, attr:{'step':step_size}" />
                                </div>
                                <div class="b3-filter-numbers-max" data-bind="text: pointToComma(max_text())"></div>
                            </div>
                            <div style="text-align:center;display:none;" data-bind="text: text_all"></div>
                        <!-- /ko -->
                        <a  draggable="false" class="filter-histogram" data-bind="click: AddHistogram, visible: showMore">{% trans 'Add a new filter' %}</a>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-xs-12 {% if request|show_filters_panel %} col-md-8 col-md-pull-4{% else %}col-md-12 full-width{% endif %} col-snippet-list">
        <div class="row b3-breadcrumb">
            <div class="col-xxxs-12 col-xxs-5 col-xs-6 col-sm-6">
                <p style="margin-top:5px;">
                    <a draggable="false" class="b3-step-active b3-step-text">{% trans "Select Material" %}</a>
                </p>
            </div>
            <div class="col-xxxs-12 col-xxs-7 col-xs-6 col-sm-6">
                <label class="sort">
                    <span class="b3-selector-sort">{% trans "Sort by" %}</span>
                    <select class="sort_by_material"
                            data-bind="value: sort_method, select2: { minimumResultsForSearch: Infinity, width : '145px' }">
                        <option value="POPULARITY" selected="selected">{% trans "Popularity" %}</option>
                        <option value="PRICE">{% trans "Price" %}</option>
                        <option value="DELIVERY">{% trans "Delivery time" %}</option>
                        <option value="PRINTABILITY">{% trans "Printability" %}</option>
                    </select>
                </label>
            </div>
        </div>
        <!-- ko foreach: offers -->

        <div class="panel b3-panel-snippet" data-bind="visible:is_visible()">
        <div class="panel-body">
        <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-12 b3-material-title"><div data-bind="html: displayName"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 b3-material-scale">
                        <label class="col-xs-4">{% trans 'Density' %}</label>
                        <div class="col-xs-5">
                            <span class="scale-bg"></span>
                            <span class="scale-value" data-bind="style: {width: densityWidth, background: densityColor}"></span>
                        </div>
                        <div class="col-xs-3 value">
                            <label data-bind="text: densityValue"></label> g/cm<sup>3</sup>
                        </div>
                    </div>
                    <div class="col-xs-12 b3-material-scale">
                        <label class="col-xs-4">{% trans 'Details' %}</label>
                        <div class="col-xs-5">
                            <span class="scale-bg"></span>
                            <span class="scale-value" data-bind="style: {width: detailsWidth, background: detailsColor}"></span>
                        </div>
                        <div class="col-xs-3 value">
                            <label data-bind="html: detailsValue"></label>
                        </div>
                    </div>
                    <div class="col-xs-12 b3-material-scale">
                        <label class="col-xs-4">{% trans 'Strength' %}</label>
                        <div class="col-xs-5">
                            <span class="scale-bg"></span>
                            <span class="scale-value" data-bind="style: {width: strengthWidth, background: strengthColor}"></span>
                        </div>
                        <div class="col-xs-3 value">
                            <label data-bind="text: strengthValue"></label> MPa
                        </div>
                    </div>
                </div>
                <div class="row b3-material-info">
                    <div class="col-xs-12 col-sm-3 printability"
                        data-bind="text: printabilityText, css: material.cached_printability, click: material.show_printability"
                        onclick="Button3d.compare.three_d_tools.animate_panel('options', true, true)"
                        ></div>
                    <div class="col-xs-12 col-sm-6 tech" data-bind="text: material.technology"></div>
                    <div class="col-xs-12 col-sm-3 shipping" data-bind="if: delivery_days_range"><span class="ship" data-bind="text: delivery_days_range"></span></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 b3-price-holder" data-bind="click: $parents[1].StepMaterialsSelect ">
                <img style="display: block;" src="{% static "images/price_load.gif" %}" data-bind="visible: is_loading()"
                    class="b3-price-loading price-loading-snippet-small loading" alt="Loading ..." height="14" width="110">
                <div data-bind="if: !manualPricingRequired() && !is_loading()">
                    <div class="b3-price" data-bind="text: price_text, css: price_css"></div>
                </div>
                <div data-bind="if: manualPricingRequired()"><h5>{% trans 'Manual Pricing Required' %}</h5></div>
                <div class="text-right stockrecords" data-bind="visible: !isSingleAccount">
                   <span data-bind="text: amount_stockrecords_text, attr:{title: amount_stockrecords_text}"></span>
                </div>
                <div class="btn btn-primary b3-material-price-select" data-bind="attr: { 'id': 'select-'+ material.slug }">{% trans "Select" %}</div>
            </div>

        </div>
        </div>
        </div>

        <!-- /ko -->



        <!-- ko if:is_loading() && !any_offer_visible() -->
            <div class="panel b3-panel-snippet">
                 <img class="loading loading-big-panel" src="{% static "images/big_load.gif" %}" alt="Loading ..."
                      height="25" width="200" style="margin: auto; display: block; margin-top: 45px;"/>
                <p class="b3-error error-500" style="display: none;">{% blocktrans %}Sorry, an error occured. Our support team has been notified and will take care of it.{% endblocktrans %}</p>
                <p class="b3-error error-timeout" style="display: none;">{% blocktrans %}The server is unreachable. Please check your Internet connection.{% endblocktrans %}</p>
            </div>
        <!-- /ko -->
        <!-- ko if:!is_loading() && !any_offer_visible() -->
            <div class="panel b3-panel-snippet text-center" style="padding-top:38px">
                <!-- ko ifnot:error_message -->
                    <!-- ko with: FilterCategories.root_category -->
                        <!-- ko if: num_materials() > 0 -->
                            {% trans 'No matching materials found.' %}<br/>
                            {% trans 'Try to reduce the scale' %}{% if request|show_filters_panel %}{% trans ' or reset the filter to "All" ' %}{% endif %}
                        <!-- /ko -->
                        <!-- ko if: num_materials() == 0 -->
                            <br>{% trans 'There are no offers available in your country ' %}(<span data-bind="text:$root.country_user"></span>)
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if:error_message -->
                    <div data-bind="text: error_message"></div>
                <!-- /ko -->
            </div>
        <!-- /ko -->

    </div>

</div>
