{% load i18n %}
{% load l10n %}
{% load static %}
{% load organization_flags %}
<div class="row b3-step-2">

<!-- Right Panel -->
<div class="col-xs-12 col-md-push-8 col-md-4">
    <div class="b3-col-filtering">
        <div class="panel b3-panel-filter b3-panel-expansible">
            <div class="panel-heading">
                <h4>{% trans "Your 3D print" %}</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-10 col-md-9 text-left line b3-heading-title no-margin-bottom">{% trans "Material" %}</div>
                    <div class="col-xs-2 text-right"><a data-bind="click: $parent.SwitchToStepMaterials">{% trans "change" %}</a></div>
                    <div class="col-xs-12">
                        <div class="b3-cart-option-selected">
                            <div data-bind="text: $parent.materialDisplayName()"></div>
                            <div style="color: #a2a2a2;margin-top:5px;" data-bind="text:$parent.selected_material().technology"></div>
                        </div>
                        <div data-bind="with: $parent.selected_material">
                            <div class="b3-material-status b3-material-printable b3-material-status-cart" data-bind="visible: is_printability_printable">
                                <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                    <i class="fa fa-lg fa-check"></i> {% trans "Printable" %}</a>
                            </div>
                            <div class="b3-material-status b3-material-thin-walls b3-material-status-cart" data-bind="visible: is_printability_thin_walls">
                                <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                    <i class="fa fa-lg fa-times"></i> {% trans "Not Printable" %}</a>
                            </div>
                            <div class="b3-material-status b3-material-suspicious b3-material-status-cart" data-bind="visible: is_printability_suspicious">
                                <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                    <i class="fa fa-lg fa-exclamation"></i> {% trans "Suspicious" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo promo-sculpteo {% if LANGUAGE_CODE == 'de' %}de{% endif %}" data-bind="visible: is_sculpteo_available"></div>
    </div>
</div>

<!-- Left Panel -->
    <div class="col-xs-12 col-md-8  col-md-pull-4">
        <div class="row b3-breadcrumb">
            <div data-bind="style: { 'font-size': $parent.selected_material().title.length > 25 ? '12px' : '' , 'margin-top': $parent.selected_material().title.length > 25 ? '7px' : '5px' }" class="col-xxxs-12 col-xxs-12 col-xs-6 col-sm-6" style="padding-right:0;">
                <p>
                    <a draggable="false" class="b3-step-disabled b3-step-text" data-bind="click: $parent.SwitchToStepMaterials, text: $parent.selected_material().title"></a>
                    <i class="fa fa-lg fa-angle-right b3-arrow-step"></i>
                    <a draggable="false" class="b3-step-active b3-step-text">{% trans "Select Service" %}</a>
                </p>
            </div>
            <div class="col-xxxs-12 col-xxs-12 col-xs-6 col-sm-6">
                <label class="sort">
                    <span class="b3-selector-sort">{% trans "Sort by" %}</span>
                    <select class="sort_by_material"
                            data-bind="value: sort_method, select2: { minimumResultsForSearch: Infinity, width : '145px' }">
                        <option value="BY_LOCATION" selected="selected">{% trans "Location" %}</option>
                        <option value="PRICE">{% trans "Price" %}</option>
                        <option value="RATING">{% trans "Rating" %}</option>
                        <option value="DELIVERY">{% trans "Delivery time" %}</option>
                    </select>
                </label>
            </div>
        </div>
        <!-- ko foreach: offers -->
        <div class="panel b3-panel-snippet">

            <div class="panel-body" >

                <div class="row" data-bind="visible: is_draft">
                    <div class="partner_stockrecord_is_draft">
                        {% trans "DRAFT - NOT PUBLICLY VISIBLE" %}
                    </div>
                </div>

                <div class="row row-eq-height">
                    <div class="col-xs-12 col-sm-9">
                        <div class="row row-eq-height">

                            <div class="col-xs-12 col-sm-5 b3-snippet-supplier-col-left">
                                <div class="b3-logo-partner" data-bind="html: supplier.logo_tag"></div>
                                <div class="pop-rating-partner" data-bind="bootstrapPopover : { data : {'type':'rating_partner', 'values' :  supplier.rating_detail() }  , title: '', trigger: 'click hover' },">
                                    <div class="b3-star-rating" data-bind=" foreach: supplier.rating_total_stars">
                                        <div class="fa fa-lg fa-star" data-bind="visible: $data==1"></div>
                                        <div class="fa fa-lg fa-star-o" data-bind="visible: $data==0"></div>
                                    </div>
                                </div>
                                <div class="b3-supplier-country"><span data-bind="text: supplier.country"></span> | <span data-bind="text: supplier.city"></span></div>
                            </div>

                            <div class="col-xs-12 col-sm-7 b3-supplier-info">
                                <div data-bind="visible: datasheet" class="b3-payment-methods">
                                    <a target="_blank" rel="noopener noreferrer" draggable="false"
                                        data-bind="attr: { href: datasheet }" >
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        {% trans 'Download Datasheet' %}
                                    </a>
                                </div>
                                <div data-bind="visible: supplier.certifications" class="b3-payment-methods">
                                    <a target="_blank" rel="noopener noreferrer" draggable="false"
                                        data-bind="attr: { href: supplier.certifications }" >
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        {% trans 'Download Certifications' %}
                                    </a>
                                </div>
                                <div class="b3-payment-methods">
                                    <span class="b3-hover-effect b3-payment-text"
                                        data-bind="visible: supplier.is_invoice_enabled,
                                            bootstrapToolTip: {title: '{% trans 'Payment with invoice '%}' }">
                                        {% trans "Invoice" %}
                                    </span>
                                    <span class="b3-hover-effect"
                                        data-bind="visible: supplier.is_stripe_enabled,
                                            bootstrapToolTip: {title: '{% trans 'Payment with credit card'%}' }">
                                        <img src="{% static 'images/svg-icons/payment-method.svg' %}" width="85px" />
                                    </span>
                                </div>
                                <!-- /ko -->

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 b3-price-holder" data-bind="click: $parents[1].StepPartnersSelect, hoverEffect: ''">
                        <img src="{% static "images/price_load.gif" %}" class="b3-price-loading loading" alt="Loading ..." height="14" width="110" data-bind="visible: is_loading()"/>
                        <h5 data-bind="if: manualPricingRequired && !is_loading()">
                            {% trans 'Manual Pricing Required' %}
                        </h5>
                        <div data-bind="if: !manualPricingRequired && !is_loading()">
                            <div class="b3-price" data-bind="text: price.incl_tax_limit_display"></div>
                        </div>
                        <div class="b3-delivery-time" data-bind="text: delivery_days_range"></div>
                        {% if request.basket.is_empty or not request.basket.first_line.stockrecord %}
                                <div class="btn btn-primary" data-bind="attr: { 'id': 'select-'+ supplier.slug }">{% trans "Select" %}</div>
                        {% else %}
                            <script>
                                var basket_partner = '{{ request.basket.first_line.partner.code }}';
                            </script>
                            <div class="btn btn-primary" data-bind="attr: { 'id': 'select-'+ supplier.slug }, visible: supplier.slug == basket_partner">{% trans "Select" %}</div>
                            <div class="btn b3-btn-black" data-bind="attr: { 'id': 'select-'+ supplier.slug }, visible: supplier.slug != basket_partner">{% trans "Select" %}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="progress-1 b3-hidden" style="margin-bottom: 0;margin-top: 10px;">
                    <div class="percentage-1 progress-bar progress-bar-success progress-bar-striped active"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="width:0;max-width: 605px;color: transparent;"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->

            {% if organization.theme.supplier_additional_panel_text %}
                <div data-bind="visible: !is_loading() && offers().length != 0" class="panel b3-supplier-addition">
                    <div class="panel-body">
                        {{ organization.theme.supplier_additional_panel_text | safe }}
                    </div>
                </div>
            {% endif %}


        <!-- ko if:is_loading() && offers().length == 0 -->
            <div class="panel b3-panel-snippet">
                 <img class="loading loading-big-panel" src="{% static "images/big_load.gif" %}" alt="Loading ..."
                      height="25" width="200" style="margin: auto; display: block; margin-top: 45px;"/>
                <p class="b3-error error-500" style="display: none;">{% blocktrans %}Sorry, an error occured. Our support team has been notified and will take care of it.{% endblocktrans %}</p>
                <p class="b3-error error-timeout" style="display: none;">{% blocktrans %}The server is unreachable. Please check your Internet connection.{% endblocktrans %}</p>
            </div>
        <!-- /ko -->
        <!-- ko if:!is_loading() && offers().length == 0 -->
            <div class="panel b3-panel-snippet text-center" style="padding-top:38px">
                {% trans "No printing service supports printing in this size." %}<br/>
                {% trans "Try to reduce the scale or <a draggable='false' href='#' data-bind='click: $parent.SwitchToStepMaterials'>change</a> the material." %}
            </div>
        <!-- /ko -->
    </div>
</div>
