{% load i18n %}
{% load l10n %}
{% load static %}
{% load organization_flags %}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row b3-breadcrumb">
            <div class="col-xs-12">
                <p>
                    <a class="b3-step-disabled b3-step-text" data-bind="click: $parent.SwitchToStepMaterials, text: $parent.selected_material().title"></a>
                    {% if not request|is_single_supplier %}
                        <i class="fa fa-lg fa-angle-right b3-arrow-step"></i>
                        <a  draggable="false" class="b3-step-disabled b3-step-text" data-bind="click: $parent.SwitchToStepPartners, text: $parent.selected_partner_title"></a>
                    {% endif %}
                    <i class="fa fa-lg fa-angle-right b3-arrow-step"></i>
                    <a draggable="false" class="b3-step-active b3-step-text">
                        {% trans "Post-processing" %}
                    </a>
                </p>
            </div>
        </div>

        <div class="panel b3-panel-step-3">
            <div class="panel-heading">
                <h4>{% trans "Post-processing" %}</h4>
            </div>
            <div class="panel-body">
                <!-- ko if:is_loading() -->
                    <img class="loading loading-big-panel" src="{% static "images/big_load.gif" %}" alt="Loading ..."
                              height="25" width="200" style="margin: auto; display: block; margin-top: 30px; margin-bottom: 30px"/>
                    <p class="b3-error error-500" style="padding-top: 0;display: none;">{% blocktrans %}Sorry, an error occured. Our support team has been notified and will take care of it.{% endblocktrans %}</p>
                    <p class="b3-error error-timeout" style="padding-top: 0;display: none;">{% blocktrans %}The server is unreachable. Please check your Internet connection.{% endblocktrans %}</p>
                <!-- /ko -->
                <!-- Finishing Dropdown -->
                <div class="b3-textgroup-sm" data-bind="if: !is_loading()">
                    <label class="col-xs-12">{% trans 'Post-processings' %}:</label>
                    <div class="col-xs-12" data-bind="if: !is_loading()">
                        <div class="col-xs-12">
                            <label data-bind="visible: !combinable_post_processings()">
                                <input
                                    type="radio"
                                    name="selected-post-processing"
                                    data-bind="
                                        click: clear_selected_offers(),
                                        attr: { checked: true }
                                    "
                                    checked
                                >
                                <span>{% trans 'None' %}</span>
                            </label>
                        </div>
                        <div data-bind="foreach: { data:offers, as: 'finishing' }">
                            <div data-bind="visible: $parent.combinable_post_processings()">
                                <label class="col-xs-12" data-bind="for: finishing.slug">
                                    <input
                                        type="checkbox"
                                        data-bind="checked: is_selected"
                                    >
                                    <span data-bind="text: finishing.short_product_title"></span>
                                </label>
                            </div>
                            <div data-bind="visible: !$parent.combinable_post_processings()">
                                <label class="col-xs-12" data-bind="for: finishing.slug">
                                    <input
                                        type="radio"
                                        name="selected-post-processing"
                                        data-bind="
                                            checked: is_selected,
                                        "
                                    >
                                    <span data-bind="text: finishing.short_product_title"></span>
                                </label>
                            </div>
                            <div
                                class="col-xs-12 b3-description"
                                data-bind="visible: finishing.is_selected() && finishing.product.description"
                            >
                                <p style="padding-left: 2rem;" data-bind="text: finishing.product.description"></p>
                            </div>
                            <div
                                data-bind="visible: finishing.color_ids.length && finishing.is_selected()"
                                style="padding-left: 2rem;"
                            >
                                <label for="color" class="col-xs-8">{% trans 'Color' %}:</label>
                                <div class="col-xs-8" style="margin-bottom: 1rem;">
                                    <select
                                        id="color"
                                        style="width: 100%"
                                        data-bind="
                                            options: finishing.color_ids,
                                            value: finishing.selected_color_id,
                                            optionsText: function(id) {return colors[id].title;},
                                            select2: {}
                                        "
                                    >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel b3-panel-step-3" data-bind="visible: post_processings_datasheets().length">
            <div class="panel-heading">
                <h4>{% trans "Datasheets" %}</h4>
            </div>
            <div class="panel-body">
                <div data-bind="foreach: { data: selected_offers(), as: 'offer' }">
                    <a
                        data-bind="if: offer.datasheet, attr: { href: offer.datasheet }"
                        target="_blank"
                        rel="noopener noreferrer"
                        draggable="false"
                    >
                        <div>
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span data-bind="text: offer.short_product_title() + ' - {% trans 'Download Datasheet' %}'"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel b3-panel-step-3">
            <script type="text/javascript">
                var manual_request_url_base = "{% url 'manual-request' %}";
            </script>
            <div class="panel-heading">
                <h4>{% trans "Do you need help?" %}</h4>
            </div>
            <div class="panel-body">
                {% customize 'request_compare_step3_text' %}
                    {% blocktrans %}
                        Ask our 3D printing experts by creating a manual request. Our in-house 3D Modelers can assist you editing the file.
                    {% endblocktrans %}
                {% endcustomize %}
                <br>
                <a draggable="false" data-bind="attr: { href: step3_manual_request_url }">{% trans 'Create manual request' %}</a>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-4">
        <div class="b3-col-filtering">
            <div class="panel b3-panel-filter">
                <div class="panel-heading">
                    <h4>{% trans "Your 3D print" %}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xxxs-9 col-xxs-10 col-xs-10 col-md-9 text-left line b3-heading-title no-margin-bottom" >{% trans "Material" %}</div>
                        <div class="col-xxxs-2 col-xxs-2 col-xs-2 col-md-2 text-right"><a  draggable="false" data-bind="click: $parent.SwitchToStepMaterials">{% trans "change" %}</a></div>
                        <div class="col-xs-12">
                            <div class="b3-cart-option-selected">
                                <!-- ko if: $parent.selected_material().tradename.length !== 0 -->
                                <span data-bind="text: $parent.selected_material().tradename"></span>
                                (<span data-bind="text: $parent.selected_material().title"></span>)
                                <!-- /ko -->
                                <!-- ko if: $parent.selected_material().tradename.length == 0 -->
                                <span data-bind="text: $parent.selected_material().title"></span>
                                <!-- /ko -->
                                <!-- ko if: base_material_datasheet -->
                                <br/>
                                <a target="_blank" rel="noopener noreferrer" draggable="false" data-bind="attr: { href: base_material_datasheet }"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {% trans 'Download Datasheet' %}</a>
                                <!-- /ko -->
                                <div style="color: #a2a2a2;margin-top:5px;" data-bind="text:$parent.selected_material().technology"></div>
                            </div>
                            <!-- ko with: $parent.selected_material -->
                                <!-- ko if:is_printability_printable -->
                                    <div class="b3-material-status b3-material-printable b3-material-status-cart">
                                        <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                            <i class="fa fa-lg fa-check"></i> {% trans "Printable" %}</a></div>
                                <!-- /ko -->
                                <!-- ko if:is_printability_thin_walls -->
                                    <div class="b3-material-status b3-material-thin-walls b3-material-status-cart">
                                        <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                            <i class="fa fa-lg fa-times"></i> {% trans "Not Printable" %}</a></div>
                                <!-- /ko -->
                                <!-- ko if:is_printability_suspicious -->
                                    <div class="b3-material-status b3-material-suspicious b3-material-status-cart">
                                        <a class="ancla" data-bind="click: show_printability" onclick="Button3d.compare.three_d_tools.animate_panel('options', true, false)">
                                            <i class="fa fa-lg fa-exclamation"></i> {% trans "Suspicious" %}</a></div>
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                    {% if not request|is_single_supplier %}
                    <div class="row b3-cart-option-selected">
                        <div class="col-xxxs-9 col-xxs-10 col-xs-10 col-md-9 text-left line b3-heading-title no-margin-bottom">{% trans "3D Printing Service" %}</div>
                        <div class="col-xxxs-2 col-xxs-2 col-xs-2 col-md-2 text-right"><a  draggable="false" data-bind="click: $parent.SwitchToStepPartners">{% trans "change" %}</a></div>
                        <div class="col-xs-12 content-material">
                            <div class="b3-option-selected" style=" color: #555;"
                                 data-bind="text: $parent.selected_partner_title()+' ('+$parent.selected_partner_city()+', '+$parent.selected_partner_country()+')'"></div>
                            <div class="b3-option-selected popover-partner">
                                <a  draggable="false" class="b3-value b3-hand-cursor" data-bind="bootstrapPopover : { data : { 'type' : 'info_partner', 'values': $parent.selected_partner_info() }  , title: '{% trans "Contact Information" %}', trigger : 'click'   }" >{% trans "Contact Information" %}</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 15px;">
                            <div style="line-height: 35px;display: inline;color: #a2a2a2;">{% trans "Amount" %}:</div>
                            <input class="form-control checkout-basket-update big pull-right" type="number" data-bind="value: quantity"/>
                        </div>
                        <div class="col-xs-12" style="line-height: 35px;" data-bind="if: !manual_pricing_required()">
                            <div style="display: inline;color: #a2a2a2;">{% trans "Printout" %}:</div>
                            <div class="pull-right" data-bind="text: base_material_price_representation"></div>
                        </div>
                        <div class="col-xs-12" data-bind="if: selected_offers().length && !manual_pricing_required()">
                            <div data-bind="
                                foreach: {
                                    data: selected_offers(),
                                    as: 'offer'
                                }
                            ">
                                <div>
                                    <div
                                        style="display: inline;color: #a2a2a2;"
                                        data-bind="
                                            text: offer.short_product_title() ?
                                                ('{% trans "Post-processing" %}: ' + offer.short_product_title()) :
                                                ''
                                            "
                                    ></div>
                                    <div class="pull-right" data-bind="text: $parent.post_processing_price_representation(offer)"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="margin-left: 0;margin-top: 20px;margin-bottom: 20px;">
                            <div data-bind="if: manual_pricing_required()">
                                <h4>{% trans 'Manual Pricing Required' %}</h4>
                            </div>
                            <div data-bind="if: !manual_pricing_required()">
                                <h3 class="pull-right" data-bind="text: total_price_representation()"></h3>
                            </div>
                            <br><br>
                            <p style="color: #a2a2a2;text-align: right">
                                {% trans "Excl. shipping cost" %}<br>
                                <span data-bind="if: delivery_days_range && supplier_cheapest_shipping_method()">
                                        {% blocktrans %}
                                        Delivery in <span data-bind="text: delivery_days_range()"></span> days<br>
                                        Shipping: <span data-bind="text: supplier_cheapest_shipping_method()"></span>
                                    {% endblocktrans %}
                                <span>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            {% if project_id and line_id %}
                                <button id="btn_add_basket" type="button" class="btn" data-bind="click: function() { SaveConfiguration('{% url "b3_user_panel:project-detail" project_id %}') }">{% trans "Continue" %}</button>
                            {% else %}
                                <button id="btn_add_basket" type="button" class="btn" data-bind="click: AddToProject">{% trans "Continue" %}</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
