{% load i18n %}
{% load organization_flags %}
{% load static %}
<div class="b3-overlay">
    <div class="container">
    <h1>{% trans "Hello!" %}<br /><br />{% blocktrans %}This is the demo of our price comparison tool.{% endblocktrans %}</h1>
    <div class="b3-make-space"></div>
    <h4>
        {% blocktrans %}Repair and analyze this dummy model - Select a material - Compare 3D printing services.{% endblocktrans %}
    </h4>
    <div class="b3-make-space"></div>
    <button id="overlay-got-it" class="btn btn-lg">{% blocktrans %}Got it{% endblocktrans %}</button>
    <div id="upload-explainer">
        {% if request|show_upload_button %}
        <p>
            {% blocktrans %}Whenever you're ready, <br />
            upload your own 3D model.{% endblocktrans %}
        </p>
        <div class="arrow-demo-overlay"></div>
        {% endif %}
    </div>
        </div>
</div>
<style>
    #upload-explainer {
        position: absolute;
        right: 127px;
        top: 25px;
        text-align: right;
    }
    @media (max-width: 692px) {
        #upload-explainer {
        display: none;
        }
    }
    #upload-explainer p {
        float: left;
    }
    #upload-explainer .arrow-demo-overlay {
        background: url("{% static 'images/svg-icons/arrow-demo-overlay.svg' %}") no-repeat;
        float: right;
        position: relative;
        bottom: 37px;
        left: 10px;
        width: 160px;
        height: 120px;
    }
</style>

<script>
    $(function() {
        $("#overlay-got-it, .b3-overlay").click(function() {
            $('.b3-overlay').fadeOut();
        });
    });
</script>
