{% load static %}
<div data-bind="if: is_loading()">
    <img style="display: inline-block;"
         src="{% static "images/price_load.gif" %}"
         class="b3-price-loading loading"
         alt="Loading ..."
         height="14"
         width="110" />
</div>
<div class="b3-price-wrap" data-bind="ifnot: is_loading()">
    <h5 data-bind="if: manualPricingRequired">
        Manual Pricing Required
    </h5>
    <div data-bind="ifnot: manualPricingRequired">
        <div class="b3-price" data-bind="text: price.incl_tax_limit_display"></div>
    </div>
    <div class="b3-delivery-time" data-bind="text: delivery_days_range"></div>
</div>
