{% load i18n %}
{% load l10n %}
{% load staticfiles %}

<div class="panel progress-panel">
    <div class="row" id="b3-progress" style="margin-top: 13px">
        <div class="col-md-12">
            <div class="progress progress-analyse">
                <div class="progress-bar progress-bar-analyse progress-bar-striped progress-bar-success" id="repair_wta_progress" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100" style="width:0; text-align: center">
                    <span class="progress-text"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row b3-hidden" id="b3-3d-tools">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="b3-3d-tools-options">
                <div class="b3-triangle-border b3-hidden"></div>
                <div class="b3-triangle b3-hidden"></div>

                <img alt="" src="{% static 'images/svg-icons/magnifiying-glass.svg' %}" class="svg-icon b3-wta-icon" onclick="Button3d.compare.three_d_tools.animate_panel('options', false)"/>
                <a class="tools-options b3-3d-tools-item" id="3d-tools-options" onclick="Button3d.compare.three_d_tools.animate_panel('options', false)">{% trans "Printability & Scale" %}</a>


                <img alt="" onclick="Button3d.viewer.webgl.fullscreen.enable()" src="{% static 'images/svg-icons/fullscreen.svg' %}" class="svg-icon svg-fullscreen b3-wta-icon" style="margin-right:5px;"/>
                <a  onclick="Button3d.viewer.webgl.fullscreen.enable()" class="tools-fullscreen b3-3d-tools-item" id="3d-tools-fullscreen" >{% trans "Fullscreen" %}</a>

                <img alt="" onclick="Button3d.viewer.webgl.fullscreen.disable()" src="{% static 'images/svg-icons/close-fullscreen.svg' %}" class="svg-icon svg-fullscreen-exit  b3-wta-icon" style="display: none;margin-right:2px;"/>
                <a  onclick="Button3d.viewer.webgl.fullscreen.disable()" class="tools-close-fullscreen b3-3d-tools-item" id="3d-tools-close-fullscreen" style="display: none;">{% trans "Close fullscreen" %}</a>

            </div>
        </div>
        <div class="col-md-5">
            <div class="b3-hidden b3-3d-tools-legend {% if LANGUAGE_CODE == 'de' %} de{% endif %}">
                <div id="swatch-green" class="b3-color-swatch"></div>
                    <span class="viewer-tools-text">{% trans "OK" %}</span>

                <div id="swatch-yellow" class="b3-color-swatch"></div>
                <span class="viewer-tools-text">{% trans "Might Break" %}</span>

                <div id="swatch-red" class="b3-color-swatch"></div>
                <span class="viewer-tools-text">{% trans "Thin Walls" %}</span>
            </div>
        </div>
    </div>
</div>
<!-- if open from project line, scale panel open automatically-->
{% if request.GET.fromproject == "true" %}
<script>
    Button3d.viewer.wta.init();
    Button3d.compare.three_d_tools.animate_panel('options', false);
    $('body').on('analysingFinished', function() {
        Button3d.compare.three_d_tools.animate_panel('options', true);
    });
</script>
{% endif %}
