{% load i18n %}
{% load staticfiles %}

<div class="jumbotron b3-webgl-ribbon b3-big-ribbon b3-noselect">
    <div id="webgl-error-message" style="display: none; color: white; opacity: 1; text-align: center;" >
        <span class="hidden">{{ stl_file.thumbnail_url }}</span>
        <img src="">
    </div>
    <div id="webgl" class="wc3dprint-box">

        <canvas id="webglcanvas"></canvas>
    </div>
    <div id="paintcanvas" style="z-index: 99; float: left; position: absolute; top: 0; display: none; background: #333; width: 100%; height: auto">
        <canvas id="draw"></canvas>
        <canvas id="fillfloor" style="display:none"></canvas>
    </div>

    <noscript>
        <div id="webgl-no-javascript">
            <p class="text-center">{% trans 'Please enable JavaScript' %}</p>
        </div>
    </noscript>
    <div id="b3-webgl-scale" class="b3-unselectable">
        <div class="webgl-scale-class" id="webgl-scale-line">
            <div class="b3-left-scale-bar"></div>
            <div class="b3-right-scale-bar"></div>
            <div class="b3-bottom-scale-bar"></div>
        </div>
        <p class="text-center webgl-scale-class" id="b3-webgl-scale-number"></p>
        <div class="b3-upload-name-class" id="b3-webgl-filename">
            <div class="b3-upload-name">
            </div>
        </div>
    </div>
    <img id="webgl-loading" class="loading" src="{% static "images/webgl_load.gif" %}" alt="Loading animation"
         height="128"
         width="128" />

    <div class="container b3-button-holder">
        <div class="container b3-button-blocker"></div>
        <div class="container b3-zoom-holder">
            <div class="row">
                <div class="col-md-1">
                    <div class="b3-btn-zoom" id="zoom-in">+</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                     <div class="b3-btn-zoom" id="zoom-out">-</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="b3-arrow-holder">
                    <div class="b3-margin-auto b3-hidden" id="arrow-clockwise"><i class="b3-icon-rotate-right"></i></div>
                    <div class="b3-margin-auto b3-hidden" id="arrow-counterclockwise"><i class="b3-icon-rotate-left"></i></div>
                </div>
                {% include "b3_core/rotation-cube.html" %}
                <div class="b3-legend-controls">
                    <span class="mouse-zoom">
                        <i class="b3-icon-mouse-zoom mouse-zoom"></i>
                        <div id="mouse-zoom" class="b3-legend-explanation">{% blocktrans %}Middle mouse wheel:<br> Zoom in/out{% endblocktrans %}</div>
                    </span>
                    <span class="mouse-rotate">
                        <i class="b3-icon-mouse-rotate" ></i>
                        <div id="mouse-rotate" class="b3-legend-explanation">{% blocktrans %}Left mouse button:<br> Rotate object{% endblocktrans %}</div>
                    </span>
                    <span class="mouse-move">
                        <i class="b3-icon-mouse-move"></i>
                        <div id="mouse-move" class="b3-legend-explanation">{% blocktrans %}Right mouse button:<br> Move object{% endblocktrans %}</div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="b3-3d-tools-panels">
        {% include "b3_compare/compare/components/webgl_3d_tools.html" %}
    </div>


    <script type="text/javascript">
        $(function(){
            ko.applyBindings(Button3d.modals.ShareSettings, $(".b3-upload-name")[0]);
        });
    </script>

</div>


