{% load i18n %}
{% load l10n %}
<div class="row" id="scale-material-row">
    <div class="col-md-12">
        <div class="panel b3-scale-panel">
            <div class="panel-body">
                <form id="scale-config-panel-elements">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1 text-center">{% trans 'Scale' %}</div>
                        <div class="col-xxxs-5 col-xs-7 col-sm-4 b3-col-scale" >
                            <div id="scale-slider-div">
                                <input type="range" id="comparator-scale-slider" min="0" max="100" step="1" value="100" />
                            </div>
                        </div>
                        <div class="col-xxxs-5 col-xs-3  col-sm-2 b3-input-scale">
                            <input type="number" step="0.1" min="0" id="scale-percentage"
                                       class="b3-scale-input-text" value="100.0">
                                <span class="scale-text">%</span>
                        </div>
                        <div class="col-xxxs-12 col-xxxs-offset-0 col-xxs-9 col-xxs-offset-0 col-xs-8 col-xs-offset-0 col-sm-offset-0 col-sm-3 b3-col-dimensions">
                            <div id="scale-mm-div">
                                <input type="number" step="0.1" min="0" id="scale-mm-h"
                                       class="b3-scale-input-text scale-mm" value="120">
                                <span class="scale-text"> x</span>
                                <input type="number" step="0.1" min="0" id="scale-mm-w"
                                       class="b3-scale-input-text scale-mm" value="120">
                                <span class="scale-text"> x</span>
                                <input type="number" step="0.1" min="0" id="scale-mm-d"
                                       class="b3-scale-input-text scale-mm" value="120">
                            </div>

                        </div>
                        <div class="col-xxxs-5 col-xxs-3 col-xs-4 col-sm-2 text-center b3-col-units" >
                            <div class="btn-group" role="group" aria-label="unit">
                                    <button type="button" id="unit-mm" data-unit="mm"
                                            class="btn btn-sm b3-btn-unit {% if scale_unit == 'mm' %}b3-btn-unit-active{% endif %}">mm</button>
                                    <button type="button" id="unit-in" data-unit="in"
                                            class="btn btn-sm b3-btn-unit {% if scale_unit == 'in' %}b3-btn-unit-active{% endif %}">in</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>