{% load i18n %}
{% load l10n %}
{% load staticfiles %}
<div class="jumbotron b3-hidden panel b3-bar viewer-tools b3-select" id="viewer-options">
  <div class="container clearfix b3-bar-viewer">
  <!-- Scale Begin -->
    <div class="row">
      <div class="col-xs-12 col-xxxs-12 b3-heading-title no-margin-bottom line">
          {% trans 'Scale' %}
      </div>
    </div>
    <div class="row">
      <div class="b3-scale-panel">
        <div class="panel-body">
          <form id="scale-config-panel-elements">
            <div class="row">
              <div class="col-xs-12">
                <div id="scale-slider-div">
                  <input
                    type="range"
                    id="comparator-scale-slider"
                    min="0"
                    max="100"
                    step="1"
                    value="100"
                    {% if basket_is_ordered %}disabled{% endif %}
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1 col-xxxs-2 b3-input-scale">
                <input
                  type="number"
                  step="0.1"
                  min="0"
                  id="scale-percentage"
                  class="b3-scale-input-text"
                  value="100.0"
                  {% if basket_is_ordered %}disabled{% endif %}
                />
                <span class="scale-text-percentage viewer-tools-text">%</span>
              </div>
              <div class="col-xs-1 col-xxxs-2 b3-col-dimensions">
                <input
                  type="number"
                  step="0.1"
                  min="0"
                  id="scale-mm-h"
                  class="b3-scale-input-text scale-mm"
                  value="120"
                  {% if basket_is_ordered %}disabled{% endif %}
                />
                <span class="viewer-tools-text">x</span>
                <input
                  type="number"
                  step="0.1"
                  min="0"
                  id="scale-mm-w"
                  class="b3-scale-input-text scale-mm"
                  value="120"
                  {% if basket_is_ordered %}disabled{% endif %}
                />
                <span class="viewer-tools-text">x</span>
                <input
                  type="number"
                  step="0.1"
                  min="0"
                  id="scale-mm-d"
                  class="b3-scale-input-text scale-mm"
                  value="120"
                  {% if basket_is_ordered %}disabled{% endif %}
                />
              </div>
              <div class="col-xs-1 col-xxxs-5 col-sm-2 b3-btn-units">
                {% if not basket_is_ordered or scale_unit == 'mm' %}
                    <button {% if basket_is_ordered %}disabled{% endif %} type="button" id="unit-mm" data-unit="mm" class="btn btn-sm b3-btn-unit {% if scale_unit == 'mm' %}b3-btn-unit-active{% endif %}" style="margin-left:0;">mm</button>
                {% endif %}
                {% if not basket_is_ordered or scale_unit == 'in' %}
                    <button {% if basket_is_ordered %}disabled{% endif %} type="button" id="unit-in" data-unit="in" class="btn btn-sm b3-btn-unit {% if scale_unit == 'in' %}b3-btn-unit-active{% endif %}" style="margin-left:-5px;">in</button>
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <!-- Model Info Begin  -->
    <div class="row">
      <div class="col-xs-12 col-xxxs-12 b3-heading-title line">{% trans 'Model Information' %}</div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xxxs-5 col-md-2 viewer-tools-labels">{% trans 'Faces' %}: </div>
      <div class="col-xs-8 col-xxxs-6 col-md-2"><span class="viewer-tools-text" id="info-faces">n/a</span></div>
      <div class="col-md-1"></div>
      <div class="col-xs-3 col-xxxs-5 col-md-3 viewer-tools-labels">{% trans 'Box Volume' %}: </div>
      <div class="col-md-3 col-xs-8 col-xxxs-6"><span class="viewer-tools-text" id="info-box-volume">n/a</span></div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xxxs-5 viewer-tools-labels col-md-2">{% trans 'Shells' %}: </div>
      <div class="col-md-2 col-xs-8 col-xxxs-6"><span class="viewer-tools-text" id="info-shells">n/a</span></div>
      <div class="col-md-1"></div>
      <div class="col-xs-3 col-xxxs-5 viewer-tools-labels col-md-3">{% trans 'Volume' %}: </div>
      <div class="col-md-3 col-xs-8 col-xxxs-6"><span class="viewer-tools-text" id="info-volume">n/a</span></div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xxxs-5 viewer-tools-labels col-md-2">{% trans 'Holes' %}: </div>
      <div class="col-md-2 col-xs-8 col-xxxs-6"><span class="viewer-tools-text" id="info-holes">n/a</span></div>
      <div class="col-md-1"></div>
      <div class="col-xs-3 col-xxxs-5 viewer-tools-labels col-md-3">{% trans 'Area' %}: </div>
      <div class="col-md-3 col-xs-8 col-xxxs-6"><span class="viewer-tools-text" id="info-area">n/a</span></div>
    </div>

    <!-- Printability Begin -->
    <div class="row">
      <div class="col-xs-12 col-xxxs-12 b3-heading-title line">{% trans 'Printability Analysis' %}</div>
    </div>

    <!-- show selected material -->
    <div class="row">
      <div class="col-xs-12 viewer-tools-labels">{% blocktrans %}Selected Material: <span class="viewer-tools-text" id="printability-material" style="margin-left: 17px">-/-</span>{% endblocktrans %}</div>
    </div>

    <div id="printability-analysis"> <!-- this div control show and hide all the printablity info -->

    <!-- printability init finished, show the label -->

    <div class="row" id="printability-panel-info">
      <div class="col-xs-2 viewer-tools-labels">{% trans 'Printability:' %}</div>
      <div class="col-xxxs-9 col-xs-8">
        <!-- printability analysis init with loding gif-->
        <div id="printability-panel-loading" class="b3-wta-info">
          <img style="display: inline;" src="{% static "images/price_load.gif" %}" class="glyphicon" alt="Loading ..." height="14" width="110">
        </div>
        <div id="wta-info-printable" class="b3-hidden b3-wta-info text-success">
          <span class="glyphicon glyphicon-ok"></span>
          <p class="b3-wta-info-text" style="font-weight: 400">{% trans "Printable" %}</p>
          <br>
        </div>
        <div id="wta-info-suspicious" class="b3-hidden b3-wta-info text-warning">
          <span class="glyphicon glyphicon-warning-sign"></span>
          <p class="b3-wta-info-text" style="font-weight: 400">{% trans "Suspicious" %}</p>
        </div>
        <div id="wta-info-unprintable" class=" b3-wta-info text-danger">
          <span class="glyphicon glyphicon-remove"></span>
          <p class="b3-wta-info-text" style="font-weight: 400">{% trans "Not Printable" %}</p>
          <br>
        </div>
        <div id="wta-info-unprintable-unknown" class="b3-wta-info text-warning">
          <p class="b3-wta-info-text" style="font-weight: 400; margin-top: 5px;">{% trans "Unknown" %}</p>
          <br>
        </div>
      </div>
    </div>

    <!-- show the alert -->
    <div class="row alert b3-alert b3-hidden" id="wta-info-alert-printability">
      <div class="hidden-xxxs col-xxs-1 col-xs-1">
        <span style="top:5px;" class="glyphicon glyphicon-info-sign"></span>
      </div>
      <div class="col-xxxs-12 col-xxs-10 col-xs-11 printability-erroneous-message">
        <span class="b3-hidden" id="wta-info-suspicious-text">{% trans "Your 3D model is printable but some walls might break." %}</span>
        <span class="b3-hidden" id="wta-info-unprintable-text">{% trans "Your 3D model is not printable with the selected material because it contains thin walls." %}</span>
        <span class="b3-hidden" id="wta-info-unprintable-shells-text">{% trans "Your 3D model is not printable because it contains multiple shells (Parts are not connected)." %}</span>
        <span class="b3-hidden" id="wta-info-unprintable-unknown-text" style="position: relative;top: 7px;">{% trans "The 3D model is too complex to be analyzed for thin walls." %}</span>
      </div>
    </div>

    <!-- show printable information -->
    <div class="row">
      <div id="wta-info-text-printable" class="b3-hidden" style=" margin-left: 12px;">
          <span class="viewer-tools-text" id="wta-info-printable-text">{% trans "Your 3D model is printable." %}</span>
      </div>
    </div>

    <!-- reload checking with color dots -->
    <div class="row">
        <div class="b3-hidden b3-3d-tools-legend-in-panel-tools {% if LANGUAGE_CODE == 'de' %} de{% endif %}">
          <div id="swatch-green" class="b3-color-swatch {% if LANGUAGE_CODE == 'de' %} de{% endif %}"></div>
          <span class="viewer-tools-text">{% trans "OK" %}</span>
          <div id="swatch-yellow" class="b3-color-swatch {% if LANGUAGE_CODE == 'de' %} de{% endif %}"></div>
          <span class="viewer-tools-text">{% trans "Might Break" %}</span>
          <div id="swatch-red" class="b3-color-swatch {% if LANGUAGE_CODE == 'de' %} de{% endif %}"></div>
          <span class="viewer-tools-text">{% trans "Not Printable" %}</span>
        </div>
    </div>



    <!-- Complex Info Begin -->
    <div id="printability-complex" class="row b3-hidden">
      <span class="viewer-tools-text">{% trans "The 3D model is too complex to be analyzed for thin walls" %}</span>
    </div>

    </div>
  </div>
</div>
