{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
</head>
<body>
    <style>
    .loader {
        border: 0.75em solid #f3f3f3;
        border-top: 0.75em solid #2c66c4;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        animation: spin 2s linear infinite;
        margin: 3em auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
    <div class="loader"></div>
    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({
        timeout: 30000,
        beforeSend: function (xhr, settings) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    var payload = {
        'partner_slug': '{{ partner_slug }}',
        'material_slug': '{{ material_slug }}',
        'scale': {{ scale }},
        'unit': '{{ unit }}',
        'filetype': 'r',
        {% if color_id != None %}'color': {{ color_id }},{% endif %}
        'amount': 1
    };
    postGenericUpload();

    function postGenericUpload() {
        $.ajax({
            url: "{{ url }}",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(payload),
            success: function(data) {
                if (data.success == false) {
                    alert(data.message);
                } else {
                    window.location.href = data.redirect_url;
                }
            },
            error: function(data) {
                if (
                    data.responseJSON.code ===
                    "GENERIC_UPLOAD_MISSING_PARAMETER"
                ) {
                    setTimeout(function() {
                        postGenericUpload();
                    }, 5000);
                }
            }
        });
    }
    </script>

    <form action="" method="POST">
        {% csrf_token %}
    </form>
</body>
</html>
