{% extends "b3_core/base.html" %}
{% load i18n %}
{% load l10n %}
{% load compress %}
{% load staticfiles %}
{% load organization_flags %}

{% block title %}
    {% if project_id and line_id %}
        {{ line_name }}
    {% else %}
        {{ stl_file.showname }}
    {% endif %}
{% endblock %}
{% block class %}compare viewer{% endblock %}
{% block og_title %}<meta property="og:title" content="{% blocktrans with stl_file_showname=stl_file.showname %}View my 3D model - {{ stl_file_showname }} on 3YOURMIND{% endblocktrans %}"/>{% endblock %}
{% block og_description %}<meta property="og:description" content="{% trans 'The online tool for 3D model optimization, material selection and comparing professional print services.' %}"/>{% endblock %}
{% block og_image %}<meta property="og:image" content="{{ stl_file.thumbnail_url }}"/>{% endblock %}
{% block og_video %}{% endblock %}
{% block content %}
    {% if project_id and line_id %}
        <link href="{% static "css/vendor/bootstrap/bootstrap-editable.css" %}" rel="stylesheet"/>
        <script src="{% static "js/vendor/bootstrap-editable.min.js" %}"></script>
        <script src="{% static "js/vendor/knockout.x-editable.min.js" %}"></script>
        <div id="left_nav_detail_page_wrapper">
        {% if request.user.is_authenticated %}
            {% include "b3_user_panel/usernav.html" %}
        {% endif %}
        {% include "b3_user_panel/projects/project_detail_header.html" with editable=True line_id=line_id %}

        <script type="text/javascript">
            var projectId = '{{ project_id }}';
            var lineId = '{{ line_id }}';
        </script>

        {% compress js %}
            <script type="text/javascript">
                function HeaderVM() {
                    var self = this;
                    self.title = ko.observable();
                    self.filename = ko.observable();
                    self.add_date = ko.observable();
                    self.owner_email = ko.observable();
                    self.uploader_email = ko.observable();
                    self.quotation_number = ko.observable();
                    self.creation_date = ko.observable();
                    self.formatted_creation_date = ko.pureComputed(function(){
                        return date_formatted_lang(self.creation_date());
                    });

                    self.formatted_add_date = ko.pureComputed(function(){
                        return date_formatted_lang(self.add_date());
                    });
                    self.showname = ko.observable();
                    self.status = ko.observable();

                    self.isProjectOrdered = ko.pureComputed(function () {
                        return self.status() === 'Submitted';
                    });
                    // Init with ajax call
                    project_api.get_project(projectId, '', function(data) {
                        self.title(data.title);
                        self.creation_date(data.creation_date);
                        self.owner_email(data.owner_email);
                        self.status(data.status);
                        self.quotation_number(data.quotation_number);
                    });
                    project_api.get_project_line(projectId, lineId, '', function(data) {
                        self.filename(data.showname);
                        self.add_date(data.stl_file_creation_date);
                        self.scale = data.scale;
                        self.unit = data.measure_unit;
                        self.quantity = data.quantity;
                        self.showname(data.showname);
                        self.filename.subscribe(function (newValue) {
                            if (newValue && newValue !== "")
                                project_api.set_line_file_name(projectId, lineId, newValue);
                        });
                    });
                }

                var headerVM = new HeaderVM();
                ko.applyBindings(headerVM, $('#project-detail-header')[0]);

                $(document).ready(function() {
                    setTimeout(function() {
                        var webglProjectFileNme = $('#b3-webgl-filename')[0];
                        ko.cleanNode(webglProjectFileNme);
                        ko.applyBindings(headerVM, webglProjectFileNme);
                    }, 800);
                });
            </script>
        {% endcompress %}
    {% else %}
        <script type="text/javascript">
            {% with line=stl_file.latest_belonging_line %}
                var projectId = '{{ line.basket.id }}';
                var lineId = '{{ line.id }}';
            {% endwith %}
        </script>
    {% endif %}

    <script type="text/javascript">
        var project_url = "{% url 'b3_user_panel:project-detail' 0 %}".replace('0', projectId);
    </script>

    <script type="text/javascript">
        var webgl_compare = true;
        var is_single_supplier_account = {{ request|is_single_supplier|lower }};
        {% if request|is_single_supplier %}
            var supplier = '{{ organization.is_single_supplier.code }}';
        {% endif %}
        var country_user = '{{ current_country }}';
        var is_demo = '{% if stl_file.is_demo %}true{% else %}false{% endif %}';


        {% comment%}
            This variable defines if a anonymous user should see a sign-up window, when trying to access
            certain features (e.g. printability analysis)
            Right now it is always deactivated. However it may change again in the feature.
            Old logic:
            var show_signup = {% if is_pro_account %}false{% elif request.user.is_anonymous and not stl_file.is_demo %}true{% else %}false{% endif %};
        {% endcomment %}
        var show_signup = false;

    </script>
    <style type="text/css">
        .b3-step-comparator{
            display: inline;
            margin-left: 25px;
        }
        .b3-step-active{
            color: #555555;
            border-bottom: 2px solid #555555;
        }
        .b3-step-disabled{
            color: #a9a9a9;
        }

        [class^='select2'] {
          border-radius: 0 !important;
        }

        input[type="select"]{
            width: 188px;
        }
        input[type="checkbox"]:disabled + span {
            opacity: 1;
        }
    </style>

    <!--[if IE 9]>
    {% compress js %}
        <script src="{% static "js/ie-compat/typedarray.js" %}"></script>
        <script type="text/javascript">
            window.performance.now = Date.now;
        </script>
    {% endcompress %}
    <![endif]-->

    <link href="{% static "css/vendor/select2.min.css" %}" rel="stylesheet" />
    <script src="{% static "js/vendor/select2/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/3d/three.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/3d/tween.min.js" %}"></script>
    {% compress js %}
        <script src="{% static "js/button3d/common/popover.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>
        <script src="{% static "js/button3d/api_calls.js" %}"></script>
        <script src="{% static "js/vendor/jquery.hc-sticky.min.js" %}"></script>
        <script src="{% static "js/button3d/init_compare.js" %}"></script>
        <script src="{% static "js/button3d/common/StlFileVM.js" %}"></script>
        <script src="{% static "js/button3d/common/scale.js" %}"></script>
        <script src="{% static "js/button3d/common/repair.js" %}"></script>
        <script src="{% static "js/button3d/init_viewer.js" %}"></script>
        <script src="{% static "js/button3d/viewer/supportstructure.js" %}"></script>
        <script src="{% static "js/button3d/viewer/orientation.js" %}"></script>
        <script src="{% static "js/button3d/viewer/draw.js" %}"></script>
        <script src="{% static "js/button3d/viewer/paint.js" %}"></script>
        <script src="{% static "js/button3d/viewer/wta.js" %}"></script>
        <script src="{% static "js/vendor/fabric.min.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/CategoryVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/MaterialsFilterHistogramVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/ProductVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/StepMaterialsVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/StepsVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/FilterVMs.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/OfferVMs.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/StepExtraVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/StepPartnersVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/steps-knockout-models/SupplierVM.js" %}"></script>
        <script src="{% static "js/button3d/compare/materials.js" %}"></script>
        <script src="{% static "js/button3d/compare/three_d_tools.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/stlloader.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery.mousewheel.min.js" %}"></script><!-- from https://github.com/jquery/jquery-mousewheel -->
        <script type="text/javascript" src="{% static "js/3d/PLYLoader.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/ctm/lzma.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/ctm/ctm.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/ctm/CTMLoader.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/trackball.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/detector.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/Stats.js" %}"></script>
        <script type="text/javascript" src="{% static "js/3d/webgl.js" %}"></script>
    {% endcompress %}
    <div id="detail-wrapper">
        {% if '/demo/' in request.path and request.user.is_anonymous and not request.COOKIES.hide_overlay %}
            {% include "b3_compare/compare/components/demo-overlay.html" %}
        {% endif %}
        <input type="hidden" id="uuid" value="{{ stl_file.uuid }}" />
        <input type="hidden" id="show_net_prices" value="{{ show_net_prices }}" />
        <input type="hidden" id="domain" value="{{ site.domain }}" />
        <input type="hidden" id="max-scale" value="{{ stl_file.o_parameter.max_scale|unlocalize }}" />
        {% include "b3_compare/compare/components/ribbon-webgl.html" %}
        <div class="container-fluid b3-no-padding-right b3-no-padding-left">
            {% include "b3_compare/compare/components/repair_wta_progress.html" %}
        </div>

        <div class="container b3-container-stretch" {% if basket_is_ordered %}style="display:none;"{% endif %}>
            {{ compare_steps_prerendered | safe }}
            <div class="b3-make-space"></div>
            <div class="b3-make-space"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            var viewerInitPositon = $('.b3-webgl-ribbon').position().top;
            $('.b3-3d-tools-panels').css('margin-top', viewerInitPositon);
        });

        $(document).on('click', '#modal-login-button', function(e) {
            $('#next-login-form-input')[0].value = window.location.href.replace(window.location.protocol, '').replace('//', '').replace(window.location.host, '');
        });

        updateSvgStyle();

    </script>
</div>
{% endblock %}
