{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load b3_utils %}
{% load widget_tweaks %}

{% block modal_id %}BusinessVAT{% endblock %}

{% block modal_title %}
{% trans "Company Information (optional)" %}
{% endblock %}

{% block modal_body %}

{% if billing_address_form.vat_number.errors %}
<div class="error-form-vat alert alert-danger">
    <i class="icon-exclamation-sign"></i>{{billing_address_form.vat_number.errors}}
</div>
{% endif %}
<div class="form form-horizontal form-vat">
    {% for field in form %}
        {% if field.auto_id == "id_company" %}
            <div class="form-group ">
                <label  class="col-sm-4 control-label b3-control-label">
                    {% trans "Company" %}
                </label>
                <div class="col-sm-7">
                    {% render_field field class+="form-control" %}
                    {% if field.errors %}
                        <script>
                            $('#id_company').addClass('has-errors');
                        </script>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if field.auto_id == "id_vat_number" %}
            <div class="form-group ">
                <label  class="col-sm-4 control-label b3-control-label">
                    {% trans "VAT Number" %}
                </label>
                <div class="col-sm-7">
                    {% render_field field class+="form-control" %}
                    {% if field.errors %}
                        <script>
                            $('#id_vat_number').addClass('has-errors');
                        </script>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1">
            <input type="checkbox" id="check_vat" style="margin-left: 11px;margin-top: 7px;">
            <span></span>
        </div>
        <div class="col-xs-11 vat-text">
            {% blocktrans %}By completing the field "VAT number", you warrant that the purchase of products is done for professional purposes and that you are entitled to use this VAT number. You will be responsible for any consequence that may arise from inappropriate use of the VAT number.{% endblocktrans %}
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block modal_footer %}
    <div class="btn" data-bind="click: SaveData">{% trans 'Save' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function BusinessVATVM() {
            var self = this;

            self.ShowBusinessVatModal = function(){
                $('#BusinessVAT').modal('show');
            }


            self.SaveData = function(){

                var vat_number = $('#id_vat_number').val();
                var company = $('#id_company').val();
                var checked = $('#check_vat').is(':checked');

                if($('.error-form-vat')){
                    $('.error-form-vat').remove();
                }

                if( vat_number && !company){
                    $('#BusinessVAT .modal-dialog').css('margin-top', '-88px');
                    if(!checked){
                        $( '<div class="error-form-vat alert alert-danger"><i class="icon-exclamation-sign"></i>{% trans "Please, accept the conditions to continue and fill the name of your company." %}</div>' ).insertBefore( ".form-vat" );
                    }else{
                        $( '<div class="error-form-vat alert alert-danger"><i class="icon-exclamation-sign"></i>{% trans "Please, fill the name of your company." %}</div>' ).insertBefore( ".form-vat" );
                    }
                    return;
                }

                if(!vat_number && company){
                    $('#BusinessVAT .modal-dialog').css('margin-top', '-88px');
                    if(!checked){
                        $( '<div class="error-form-vat alert alert-danger"><i class="icon-exclamation-sign"></i>{% trans "Please accept the conditions to continue and fill VAT number of your company." %}</div>' ).insertBefore( ".form-vat" );
                    }else{
                        $( '<div class="error-form-vat alert alert-danger"><i class="icon-exclamation-sign"></i>{% trans "Please fill in the VAT number of your company." %}</div>' ).insertBefore( ".form-vat" );
                    }
                    return;
                }

                if(vat_number && company){
                    if(!checked){
                        $('#BusinessVAT .modal-dialog').css('margin-top', '-88px');
                        $( '<div class="error-form-vat alert alert-danger"><i class="icon-exclamation-sign"></i>{% trans "Please accept the conditions to continue." %}</div>' ).insertBefore( ".form-vat" );
                        return;
                    }
                }

                $('#BusinessVAT .modal-dialog').css('margin-top', '');

                $('#BusinessVAT').modal('hide');


            }

            // Public members
            self.publicMembers = {
                "show_business_vat_modal": self.ShowBusinessVatModal
            };
        }

        ko.applyBindings(new BusinessVATVM(), $("#BusinessVAT")[0]);

        $(function(){
            $('#BusinessVAT').modal({
                backdrop: 'static',
                keyboard: false,  // to prevent closing with Esc button (if you want this too),
                show: false
            })
            {% if request.session.checkout_data.billing.company_info.company %}
                $('#id_company').val('{{request.session.checkout_data.billing.company_info.company}}');
                $('#id_vat_number').val('{{request.session.checkout_data.billing.company_info.vat_number}}');
                $('#check_vat').trigger('click');
            {% endif %}
            var elem = $('#BusinessVAT .errorlist');
            if(elem.length == 1){
                elem.addClass('has-errors-message');
                $('#BusinessVAT').modal('show');
                if($(window).height() < 560)
                    $('#BusinessVAT .modal-dialog').css('margin-top', '-88px');
            }

            $('.vat-text').click(function(){
                $('#check_vat').trigger('click');
            });

        })

    </script>
{% endblock %}
