{% load i18n %}
{% load b3_utils %}

<div class="panel" id="address-book-panel">
    <div class="panel-heading">
        <h4>{% trans "Personal addressbook" %}</h4>
    </div>
    <div class="panel-body">
         <div>
            <div class="row">
                <div class="col-xs-12">
                    {% if user.user_address.count != 0 %}
                            {% for address in user.user_address.all %}
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-4">
                                        {% include "checkout/partials/new_user_address_display.html" with address=address %}
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="row">
                                            <div class="col-xs-12 text-center" style="margin-top:15px;margin-bottom:30px;">
                                                <a class="btn btn-default" href="{% url 'b3_user_panel:edit-user-address' address.id %}">{% trans "Edit" %}</a>
                                            </div>
                                            <div class="col-xs-12 text-center">
                                                <a  data-bind="click: function () { Button3d.modals.show_delete_user_address_modal('{% url 'b3_user_panel:delete-user-address' address.id %}') }">{% trans "Delete" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    {% else %}
                        <p class="text-center">{% blocktrans %}You do not have any defined addresses. Create one below.{% endblocktrans %}</p>
                    {% endif %}

                    <hr />
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <h4>{% trans "Add a new address" %}</h4>
                    <hr />
                    <form action="{% url 'b3_user_panel:user-address' %}" method="post" id="shipping_address" class="form form-horizontal">
                        {% csrf_token %}
                        {% include "b3_user_panel/form_fields.html" with form=address_form style='horizontal' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-7">
                                <button type="submit" id="b3-address-continue" class="btn">{% trans "Create" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "b3_modal/delete_user_address_modal.html" %}

<script type="text/javascript">
    ko.applyBindings(function() {}, $('#address-book-panel')[0]);
</script>
