{% load i18n %}

<div class="panel">
    <div class="panel-heading">
        <h4>{% blocktrans %}Change Password{% endblocktrans %}</h4>
    </div>
    <div class="panel-body">
        <form method="POST" action="" class="password_change">
            {% csrf_token %}
            <div class="form form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label b3-control-label">{% blocktrans %}Current Password{% endblocktrans %}:</label>

                    <div class="col-sm-8">
                        <input class="form-control" id="id_oldpassword" name="oldpassword"
                               placeholder="{% trans "Current Password" %}"
                               type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label b3-control-label">{% blocktrans %}New Password{% endblocktrans %}:</label>

                    <div class="col-sm-8">
                        <input class="form-control" id="id_password1" name="password1" placeholder="{% trans "New Password" %}"
                               type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label b3-control-label">{% blocktrans %}New Password (again){% endblocktrans %}:</label>

                    <div class="col-sm-8">
                        <input class="form-control" id="id_password2" name="password2"
                               placeholder="{% trans "New Password (again)" %}"
                               type="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <button class="btn pull-right" type="submit" name="action">{% blocktrans %}Change Password{% endblocktrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('form.password_change').submit(function (e) {
            e.preventDefault();
            var formData = $('form.password_change').serialize();
            $.ajax({
                url: "{% url 'account_change_password' %}",
                data: formData,
                method: 'POST',
                success: function (response) {
                    $("form.password_change .has-error").removeClass('has-error');
                    $("form.password_change .error-block").remove();

                    setTimeout(function(){
                        $("form.password_change [type=submit]").parent().addClass("green-tooltip");
                        $("form.password_change [type=submit]")
                            .tooltip({html: true, title:'<span id="password-changed-tooltip">' + "{% trans 'Success!'%}" + '</span>', placement:'left', trigger:'manual'}).tooltip('show');
                    }, 500);
                    setTimeout(function() {$("form.password_change [type=submit]").tooltip('destroy')},3000);
                },
                error: function (response) {

                    $('form.password_change .tooltip').tooltip('destroy');
                    $("form.password_change .error-block").remove();

                    var errors = response.responseJSON.form_errors;

                    setTimeout(function(){
                        for(var name in errors){
                            $("form.password_change [name="+name+"]").parent().addClass('has-error');
                            $("form.password_change [name="+name+"]").after("<span class='error-block'>" + errors[name] + "</span>");
                        }
                    }, 500);
                    console.log();
                }
            });
        });
    });
</script>
