{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block body %}
{% trans 'Welcome to' %} {{ current_org.showname }}!<br/>
{% blocktrans %}
Your Account is now ready to use.<br/>
<a href="{{ home_url }}">Upload</a> your first CAD file.
{% endblocktrans %}
{% endblock %}
