// User cant select checkboxes
// TODO: need add prefix
.checkbox label {
  display: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 5px;
}

// Style for name of the category filter
.b3-materials-filter div label {
  cursor: pointer;
  margin-top: 10px;
  margin-left: -30px;
}

// Style for selector sort by
.b3-selector-sort {
  font-size: 15px;
  padding-right: 9px;
  position: relative;
  top: 3px;
}

// Column right side with filters
.b3-col-filtering {
  margin-bottom: 15px;
   @media (min-width: $screen-desktop) {
     padding-left: 0;
   }

}

// Panel filter
.b3-panel-filter {
  margin-bottom: 5px;
  .panel-heading {
    h4 {
      font-size: 19px;
    }
  }
}



// Style for category
div[class$="-category"] {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 25px;
}


// Content Cart

.b3-option-selected{
  display: inline-block;
  height: 23px;
  margin-top: 5px;
}

.b3-material-status-cart{
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}


// Icon reset

.container-reset{
 margin-left:-15px;
}

.fa-close, .fa-repeat{
  opacity: 0.7;
  color: #bbb;
  &:hover{
    opacity:1;
  }
}


// Disable input search on characteristics filter
.panel-filter-characteristics{
    margin-left: -10px;
    cursor:pointer;
    .characteristic{
        display:block;
    }
    .more{
        margin-left: 10px;
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-bottom:10px;
    .select2-search__field{
        display:none;
    }
}


