.b3-panel-step-3{
    margin-bottom: 15px;
    margin-top: 9px;
    .b3-line{
      border-right: 1px solid #eee;
    }
    .b3-title{
      margin-top: 10px;
    }

    .b3-description{
      margin-top: 5px;
      margin-bottom: 0px;
    }

    .b3-description-big{
      margin-top: 10px;
    }
    .panel-heading {
      h4{
        font-size: 19px;
      }
    }
    .checkbox {
      margin-top: 20px;
      label{
        cursor: pointer;
        margin-top: 20px;
        margin-left: -30px;
      }
    }
}

.b3-panel-no-finishing{
  font-size: 18px;
  font-weight: lighter;
  color:#898989;
}

.b3-row-coloring{
  margin-top: 15px;
}

.b3-cart-option-selected{
  margin-bottom: 5px !important;
  margin-top:5px !important;
}

.popover-partner {
  .popover{
    min-width: 380px;
    max-width: 420px;
    width: auto;
    @media screen and (max-width: $screen-phone - 1){
      min-width: 280px;
      width: 300px;
    }
  }
}
