//The scale and material panel

#comparator-scale-slider {
  height: 34px;
  width: 100%;
  margin-top: -5px;
}

#scale-material-row {
  margin-top: 30px;
  h4 {
    padding-left: 0;
  }
}

// Styles for new scale

.b3-scale-panel.disabled{
  pointer-events: none;
  opacity: 0.4;
}

.b3-scale-panel {
  height: 90px;
  .ie9 &{
    height:35px;
  }
  width: 93%;
  pointer-events: auto;
  margin-left: 15px;
  @media screen and (max-width: $screen-phone - 1) {
    min-height: 90px;
    max-height: 120px;
    height: auto;
  }
  @media screen and (min-width: $screen-phone) and (max-width: $screen-tablet - 1) {
    height: 95px;
    .ie9 &{
        height:45px;
    }
  }

  .b3-btn-unit {
    line-height: 1.5;
    border-radius: 0;
    width: 40px;
    padding: 1px 3px;
    background-color: white;
    border: 1px solid #E6E6E6;
    text-transform: lowercase;
    margin-top: 0;
    color: $text-color;
    outline: none !important;
    height: 25px;
    margin-left: 28px;
    &:active {
      padding-top: 4px;
      padding-bottom: 0;
    }
    &:focus {
      color: $text-color;
    }
    &:hover {
      background-color: #fafafa;
      color: $text-color;
    }
    @media screen and (max-width: 479px) {
      margin-left: -178px;
    }
  }

}


.b3-btn-units {
  padding-left: 0;
  padding-right: 0;

  @media screen and (max-width: 479px) {
    margin-top: 8px;
    padding-left:0;
    margin-left: 15px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-left: 0;
    margin-left: 5px;
    padding-right: 0;
    width:21%;
  }

  @media screen and (min-width: 768px){
    float: right;
  }

  @media screen and (min-width: 992px){
      width: 20%;
  }


}

//The active of the two buttons
.b3-btn-unit-active {
  background: radial-gradient(ellipse at center, #ffffff 0%, #FAFAFA 100%);
  padding-top: 2px;
  padding-bottom: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.00);
}

//Percentage and dimension input fields
.b3-scale-input-text {
  width: 65px;
  height: 25px;
  border: 1px solid #ccc;
  color: $text-color;
  padding-left: 3px;
}


.b3-input-scale {
  float: left;
  padding-right:0;
  width: 23%;

  @media screen and  (max-width: 479px ) {
    width:35%;
  }

  @media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop - 1) {
    width: 21%;
  }
  @media screen and (min-width: $screen-desktop) {
    width: 22.5%;
  }

}

.b3-col-dimensions {
    width:55%;
    padding-right: 0;
  @media screen and (max-width: 479px) {
    margin-top: 15px;
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: $screen-desktop - 1) {
    width: 54.2%;
    padding-right: 0;
  }
  #scale-mm-div {
    display: inline;
    text-align: center;
    padding: 0;
    padding-left: 10px;
  }
}


//Percentage input field
#scale-percentage {
  @media (max-width: 767px) {
    margin-left: 0 !important;
  }
}

.b3-col-units {
  float: left;
  @media screen and (max-width: $screen-phone - 1) {
    margin-top: 10px;
  }
  @media screen and (min-width: $screen-large-phone) and (max-width: $screen-tablet - 1) {
    text-align: right;
  }
  @media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop - 1) {
    width: 15.2%;
    padding-left: 0;
  }
  @media screen and (min-width: $screen-desktop) {
    width: 11.4%;
  }
}




.scale-text-percentage {
  margin-left: 5px;
}
