// Panel Snippet Step 1 and 2 Common
.b3-panel-snippet {
    min-height: 122px;
    margin-bottom: 15px;
    .panel-body {
        padding: 15px;
    }
}

// Snippet Step 1 and 2 Price Column Common
.b3-price-holder {
    text-align: right;
    border-left: 1px solid #eee;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    @media (max-width: $screen-sm - 1) {
        border-top: 1px solid #eee;
        border-left: none;
        margin-top: 8px;
        padding-top: 15px;
    }
    .stockrecords {
        color: $brand-warning;
        position: absolute;
        bottom: 48px;
        box-sizing: border-box;
        text-align: right;
        right: 15px;
        left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        @media (max-width: $screen-phone - 1) {
            position: relative;
            margin: 8px 15px;
            bottom: 0;
        }
    }
    // &.material {
    //     @media screen and (max-width: $screen-xs - 1) {
    //         height: 120px !important;
    //     }
    // }
}

// renderings material
.sprite-material {
    zoom: 0.8 !important;
    margin-top: 15px;
    -moz-transform: scale(0.8);
    -moz-transform-origin: left top;
    max-height: 159px;
    &.small {
        height: 68px !important;
    }
}

//Wrapper for the price
.b3-price-wrap {
    height: 54px;
    position: relative;
    &.price-snippet-small {
        height: 36px;
    }
}

.b3-price-loading {
    margin: 8px 0;
    position: relative;
    &.price-loading-snippet-small {
        top: 0;
        margin-bottom: 12px;
        margin-top: 10px;
    }
}

.b3-price {
    display: block;
    font-weight: 300;
    padding-top: 0; //length lte 10
    font-size: 22px;
    margin-bottom: 0; // length gte 15
    &.b3-price-xs {
        font-size: 14px;
        margin-bottom: 6px;
    } // length lte 14
    &.b3-price-sm {
        font-size: 16px;
        margin-bottom: 3px;
    } // length lte 12
    &.b3-price-md {
        font-size: 19px;
    }
    small {
        font-size: 20px;
        margin-right: 5px;
        padding-top: 0;
        position: relative;
        bottom: 18px;
        width: 22px;
        display: inline-block;
    }
}

.b3-delivery-time {
    padding-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    display: block;
    &.green {
        color: $brand-success;
        font-weight: inherit;
    }
    &.material {
        @media all and (max-width: $screen-phone - 1) {
            left: 16px;
            position: absolute;
            top: -28px;
        }
        @media all and (min-width: $screen-phone) {
            &.single-supplier {
                position: relative;
                top: 25px;
            }
        }
    }
}
.b3-material-info {
    margin: 10px 0;
    line-height: 24px;
    .tech {
        text-align: center;
        color: #555;
        white-space: nowrap;
        &::before {
            content: "\f0ad";
            font-family: "FontAwesome";
            width: 22px;
            display: inline-block;
            color: #999;
        }
        @media (max-width: $screen-sm){
            text-align: left;
        }
    }
    .shipping {
        padding:0;
        text-align: right;
        @media (max-width: $screen-sm){
            text-align: left;
            padding: 0 15px;
        }
    }
    .ship {
        color: #555;
        white-space: nowrap;
        &::before {
            content: "\f0d1";
            font-family: FontAwesome;
            padding-right: 8px;
            color: #999;
        }
    }
    .printability {
        white-space: nowrap;
        &:hover {
            cursor: pointer;
        }
        &.printable {
            color: #3c9d07;
            &::before {
                content: "\f00c";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
            &:hover::before {
                content: "\f06e";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
        }
        &.warning {
            color: #ff7800;
            &::before {
                content: "\f071";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
            &:hover::before {
                content: "\f06e";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
        }
        &.not_printable {
            color: #A7082A;
            &::before {
                content: "\f00d";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
            &:hover::before {
                content: "\f06e";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
        }
        &.unknown {
            color: #555;
            &::before {
                content: "\f059";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
            &:hover::before {
                content: "\f06e";
                font-family: FontAwesome;
                width: 22px;
                display: inline-block;
            }
        }
    }
}

.b3-material-title {
    font-weight: 600;
    line-height: 2em;
    font-size: 1.1em;
    span {
        padding-left: 8px;
        font-weight: 400;
    }
}

.b3-material-scale {
    position: relative;
    line-height: 24px;
    label {
        margin: 0;
        color: #555;
    }
    span {
        position: absolute;
        top: 8px;
        left: 0;
        // border-radius: 2px;
        margin-right: 16px;
        box-sizing: border-box;
        height: 8px;
        display: block;
    }
    .value {
        text-align: right;
        padding: 0;
    }
    .scale-bg {
        width: 100%;
        background: #ddd;
    }
    .scale-value {
        width: 50%;
        background: #2C66C4;
    }
}
.b3-material-price-select {
    bottom: 8px;
    right: 16px;
    width: calc(100% - 32px) !important;
    position: absolute;
    box-sizing: border-box;
    @media (max-width: $screen-sm) {
        position: relative;
        margin-top: 15px;
        right: 0;
        bottom: 0;
        width: 100% !important;
    }
}

//Wrapper for the dots
.b3-dots {
    display: inline;
    margin-left: -5px;
}

//Filled dot
.b3-full-dot {
    background: #BEBDBD;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 0;
    border-radius: 50%;
}

//Empty dot
.b3-empty-dot {
    border: 1px solid #bbb;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 0;
    border-radius: 50%;
}

.b3-col-mat-properties {
    margin-left: 52px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 17px;
    width: 28.33333%;
    @media (max-width: $screen-phone - 1) {
        padding-top: 0;
        padding-left: 0;
        padding-right: 15px;
        margin-left: 15px;
        width: 100%;
    }
    @media (min-width: $screen-phone) and (max-width: $screen-large-phone - 1) {
        padding-right: 15px;
        margin-left: 35px;
        width: 33.33333%;
    }
    @media (min-width: $screen-large-phone) and (max-width: $screen-tablet - 1) {
        width: 29.33333%;
    }
}

.b3-mat-property {
    margin-left: 0;
    span {
        float: left;
        width: 74px;
        color: #a9a9a9
    }
    @media screen and (max-width: $screen-phone - 1) {
        width: 138px;
    }
}

// Column to show status of material
// .b3-material-info {
//     color: #000000;
//     z-index: 2; // default view
//     &.small {
//         margin-top: 40px;
//         position: absolute;
//         .b3-material-status {
//             text-align: center;
//             &:after {
//                 opacity: 0.75;
//                 content: "//3yourmind.com/de ";
//                 background: white;
//                 color: transparent;
//                 position: absolute;
//                 top: 0;
//                 left: 5px;
//                 z-index: -1;
//             }
//         }
//     } // open the small panel view
//     &.big {
//         margin-top: 140px;
//         position: absolute;
//         .b3-material-status {
//             text-align: center;
//         }
//     }

// }

.no-margin-bottom {
    margin-bottom: 15px;
    @media all and (max-width: $screen-xs - 1) {
        margin-bottom:0;
    }
}

.b3-material-status {
    margin-bottom: 23px;
    margin-left: -5px;
    font-size: 14px;
    height: 23px;
    &:hover {
        .fa-check:before {
            content: "\f06e"
        }
        .fa-times:before {
            margin-left: -3px;
            content: "\f06e"
        }
        .fa-exclamation:before {
            content: "\f06e"
        }
    }
    &.b3-material-printable {
        color: #3c9d07;
        a {
            color: #3c9d07;
        }
    }
    &.b3-material-thin-walls {
        color: #A7082A;
        i {
            width: 15px;
        }
        a {
            color: #A7082A
        }
    }
    &.b3-material-suspicious {
        color: #ff7800;
        a {
            color: #ff7800;
        }
    }
}

.b3-price-expanded {
    @media screen and (min-width: $screen-large-phone) {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
}

// Snippet Step 2
.b3-supplier-info {
    @media screen and (max-width: $screen-phone - 1) {
        margin-top: 5px;
    }
    .finish-color-info {
       color: #3c9d07;
    }
}

.b3-snippet-supplier-col-left {
    border-right: 1px solid #eee;
    text-align: center;
    .b3-logo-partner {
        height: 40px;
        margin-bottom: 4px;
        img {
            height: 100%;
        }
    }
    .pop-rating-partner {
        cursor: pointer;
        height: 25px;
        min-width: 150px;
    }
    .b3-supplier-country {
        height: 15px;
        color: #909090;
        font-size: 12px;
        @media screen and (max-width: $screen-phone - 1) {
            font-size: 14px;
        }
        @media screen and (min-width: $screen-large-phone) and (max-width: $screen-tablet - 1) {
            font-size: 10px;
        }
    }
    .popover {
        .panel {
            border: 0;
        }
        .arrow {
            height: auto;
        }
    }
}

.b3-star-rating {
    color: #fc0;
    opacity: 0.5;
    font-size: 13px;
    &:hover {
        opacity: 1;
    }
    @media screen and (max-width: $screen-phone - 1) {
        font-size: 14px;
    }
}

.fa-star-o,
.fa-star {
    margin-right: 2px;
}

.b3-supplier-addition {
    p {
        margin-bottom: 0;
    }
    .default {
        text-align: center;
    }
}

.b3-payment-methods {
    color: #909090;
    margin-top: 12px;
    @media screen and (max-width: $screen-phone - 1) {
        margin-top: 5px;
    }
    .b3-payment-text {
        display: inline;
        font-style: italic;
        font-weight: bolder;
        font-size: 14px;
    }
    .payment-method-icon {
        display: inline-block;
        position: relative;
        width: 100px;
    }
}

//Draft message
.partner_stockrecord_is_draft {
    text-align: center;
    color: $brand-danger;
    font-weight: bolder;
    margin-bottom: 10px;
    border-bottom: 1px solid $brand-danger;
    padding-bottom: 10px;
}

// Sculpteo Promo
.highlight-banner {
    position: relative;
    z-index: 2;
    top: -3px;
    left: -3px;
    display: block;
}

.discount-panel {
    @media all and (min-width: 640px) {
        height: 122px !important;
    }
    .panel-body {
        position: relative;
        top: -60px;
    }
}

// Discounts
.promo {
    margin-top: 15px;
    width: 100%;
    display: block;
    background-position: center center; // For Sculpteo
    &.promo-sculpteo {
        background-repeat: no-repeat;
        background-size: contain;
        @media all and (max-width: 639px) {
            background-image: url('../../images/promos/sculpteo/639x120.jpg');
            height: 120px;
            &.de {
                background-image: url('../../images/promos/sculpteo/de/639x120.jpg') !important;
            }
        }
        @media all and (min-width: 640px) and (max-width: 991px) {
            background-image: url('../../images/promos/sculpteo/992x100.jpg');
            height: 100px;
            &.de {
                background-image: url('../../images/promos/sculpteo/de/992x100.jpg') !important;
            }
        }
        @media all and (min-width: 992px) {
            background-image: url('../../images/promos/sculpteo/316x354.jpg');
            height: 354px;
            &.de {
                background-image: url('../../images/promos/sculpteo/de/316x354.jpg') !important;
            }
        }
    }
}

