// Styles for Panel Steps

.b3-step-comparator {
  display: inline;
}

.b3-step-active {
  color: #555555;
  border-bottom: 2px solid #555555;
}

.b3-step-disabled {
  color: #a9a9a9;
}

.b3-step-text{
  position: relative;
  top: 3px;
}

.b3-breadcrumb{
  a{
    &:hover{
      color: inherit;
    }
  }
  div{
    &:first-child{
      padding-left: 20px;
    }
    &:last-child{
      .sort{
        float: right;
        margin-bottom: 10px;
      }
    }
  }

}

.b3-arrow-step {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
a,i{
  cursor: pointer;
}

.color-box{
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.1em;
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Filter Rheostat */
.rheostat-handle{
  border: 1px solid black;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  height: 16px;
  width: 13px;
  margin-top: 6px;
  margin-left: -12px;
  outline: none;
  position: absolute;
  z-index: 1;

}
.rheostat-progress{
  background-color: #2C66C4;
  height: 5px;
  position: absolute;
  top: 14px;
  width:100%;
}
.rheostat-background {
  background: #dce0e0;
  height: 2px;
  position: relative;
  top: 14px;
  width: 100%;
}
.rheostat{
  position:relative;
  height:24px;
  overflow:visible;
}
.b3-histogram{
  position:relative;
  top:19px;
}
.b3-histogram-bar{
  background: #9ca299;
  display: inline-block;
  width: 10%;
}
.b3-filter-numbers{
  display: table;
  width: 100%;
  margin-bottom:15px;
}
.b3-filter-numbers-min{
  display:table-cell;
  text-align: left;
  width:20%;
}
.b3-filter-numbers-max{
  display:table-cell;
  text-align: right;
  width:20%;
}
.b3-filter-numbers-range{
  display:table-cell;
  text-align: center;
  input{
    width: 70px;
  }
}
.filter-histogram-property{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}