{% extends "customer/emails/base.html" %}
{% load i18n %}
{% block body %}
    {% blocktrans %}
    <p>Hello,</p>
    <p>Your 3D project has been manually priced.</p>
    <p>You can find the link: <a href="{{basket_url}}">here.</p>
    {% endblocktrans %}
{% endblock %}