{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block body %}
    <h2>{{subject}}</h2>
    {% blocktrans %}
    <p>Hello,</p>
    <p>You have been requested to price a 3D project.</p>
    <p>You can find the link: <a href="{{basket_url}}">here.</p>
    {% endblocktrans %}
{% endblock %}