{% extends "b3_core/base.html" %}
{% load i18n %}
{% block title %}{% trans "Error" %}{% endblock %}
{% block class %}error{% endblock %}
{% block content %}
    {% trans "Error" as t_error %}
    {% include "b3_core/ribbon-small.html" with text=t_error %}
    <div class="container text-center b3-container-stretch">
        <div class="b3-make-space"></div>
        <h2>{{ errormessage }}</h2>

        <div id="buttons-error-page">
            <div class="btn btn-new-project" style="position:relative;">{% blocktrans %}Upload a 3D model{% endblocktrans %}</div>
            <a class="btn" href="{% url 'home' %}" style="position:relative;">{% blocktrans %}Create 3D Project{% endblocktrans %}</a>
        </div>
        <div class="b3-make-space"></div>
        <script>
            $(function() {
                Button3d.common.send_event_to_ga("error_page", "opened");
            });
        </script>
    </div>
{% endblock %}
