{% load static prettify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Status</title>
    <script src="{% static 'rest_framework/js/jquery-3.3.1.min.js'%}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
    <style>
        .container-fluid {
            margin-top: 1em;
        }
        .log {
            margin-top: 10px;
            border: solid thin silver;
            padding: 3px;
            background-color: white;
            font-family: monospace;
        }

        .log pre {
            overflow-x: auto;
        }

        .buttons {
            float: right;
            text-align: right;
            width: 100px;
        }
        .message {
            font-family: monospace;
        }

    </style>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            {% for title, data in monitor_results %}

                <div class="alert {% if data.status == 'ok' %}alert-success{% else %}alert-danger{% endif %}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="buttons">
                                {% if data.log %}
                                    <button class="btn btn-primary"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#log{{ forloop.counter }}"
                                            aria-expanded="false"
                                            aria-controls="collapseExample">
                                        Show
                                    </button>
                                {% endif %}
                            </div>
                            <h4 class="alert-heading">
                                {{ title }}
                            </h4>
                            <div class="message">
                                {% if data.message %}
                                    {{ data.message|prettify|linebreaksbr }}
                                {% endif %}
                            </div>

                        </div>

                    </div>
                    {% if data.log %}
                        <div class="row collapse" id="log{{ forloop.counter }}">
                            <div class="col-md-12 log">
                                <pre>{{ data.log|prettify|linebreaksbr }}</pre>
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}


        </div>

    </div>
</div>
<script src="{% static 'rest_framework/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>

</body>
</html>
