{% extends "customer/emails/base.html" %}
{% load  i18n %}
{% block body %}
    <br>
    <h2>
        {% blocktrans with order_number_t=order.number %}
            Your Order {{ order_number_t }} has been canceled.
        {% endblocktrans %}
    </h2>
    <p align="justify">
        {% blocktrans %}
        Your order has been canceled.<br>
        If you still want to produce the part, upload a replacement file and place a new order.<br>
        {% endblocktrans %}
    </p>
    <p align="justify">
        <em>
            {{ custom_message|safe }}
        </em>
    </p>
    {% if not order.shipping_address.guest_email_address %}
        <p align="justify">
            {% url 'b3_user_panel:project-detail' order.basket.id as order_link %}
            {% blocktrans %}You can follow the status of your order <a href="{{ base_url }}{{ order_link }}">here</a>{% endblocktrans %}
        </p>
    {% endif %}
    <p align="justify">
            {% blocktrans %}
                Thanks,<br>
            {% endblocktrans %}
            {{ current_org.showname }}
        </p>
{% endblock %}
