@font-face {
  font-family: 'b3-icon';
  src:  url('../../fonts/b3icons/b3-icon.eot');
  src:  url('../../fonts/b3icons/b3-icon.eot#iefix') format('embedded-opentype'),
    url('../../fonts/b3icons/b3-icon.ttf') format('truetype'),
    url('../../fonts/b3icons/b3-icon.woff') format('woff'),
    url('../../fonts/b3icons/b3-icon.svg#b3-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="b3-icon"], [class*=" b3-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b3-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b3-icon-mouse-zoom:before {
  content: "\e900";
}
.b3-icon-rotate-right:before {
  content: "\e901";
}
.b3-icon-rotate-left:before {
  content: "\e902";
}
.b3-icon-mouse-rotate:before {
  content: "\e903";
}
.b3-icon-mouse-move:before {
  content: "\e904";
}
