/* https://google-webfonts-helper.herokuapp.com */

/* open-sans-300 - greek_greek-ext_latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       /*url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.ttf') format('truetype'),*/ /* Safari, Android, iOS */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - greek_greek-ext_latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       /*url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.ttf') format('truetype'),*/ /* Safari, Android, iOS */
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-bold - greek_greek-ext_latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/opensans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/opensans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       /*url('../../fonts/opensans/open-sans-v13-greek_greek-ext_latin_latin-ext-regular.ttf') format('truetype'),*/ /* Safari, Android, iOS */
       url('../../fonts/opensans/OpenSans-Bold.svg#OpenSansBold') format('svg'); /* Legacy iOS */
}
