{% extends "customer/emails/base.html" %}
{% load currency_tags i18n %}
{% block body %}
    <div style="width: 750px;">
        <p align="justify">{% trans 'The following order was placed' %}:</p>
        {% include 'b3_core/emails/include/order_details.html' %}
    </div>
{% endblock %}
