/* Form element: Input*/

@mixin control-shadow($color: $primary-500) {
	box-shadow: 0 0 0 0.1rem rgba($color, 0.64);
}

.kotti-form-input {
	color: $darkgray-500;
	width: 100%;
	height: $control-size;
	line-height: $line-height;
	border: 1px solid $lightgray-400;
	border-radius: 0.1rem;
	padding: $unit-2;
	position: relative;
	font-family: $base-font-family;
	font-size: $font-size-sm;
	outline: none;
	box-sizing: border-box;
	&:focus {
		@include control-shadow();
		border-color: $primary-500;
	}
	&:invalid {
		border: 1px solid $red-500;
	}
	&--compact {
		height: $control-size-lg;
		line-height: 1.3rem;
		padding-top: 1.5rem;
	}
	&--error {
		@include control-shadow($red-500);
	}
}

textarea.kotti-form-input {
	color: $darkgray-500;
	height: auto;
	padding: $unit-2;
	margin: $unit-1 0 $unit-4 0;
	font-family: $base-font-family;
	font-size: $font-size-sm;
	resize: none;
}

// Form element: Input groups
.kotti-input-group {
	display: flex;

	.input-group-addon {
		background: $lightgray-300;
		border: $border-width solid #dbdbdb;
		border-radius: $border-radius;
		line-height: 1.5rem;
		font-size: $font-size-sm;
		padding: 0 $control-padding-x;
		white-space: nowrap;
		&.addon-sm {
			font-size: $font-size-sm;
			padding: $control-padding-y-sm $control-padding-x-sm;
		}

		&.addon-lg {
			font-size: $font-size-lg;
			padding: $control-padding-y-lg $control-padding-x-lg;
		}
	}

	.form-input,
	.kotti-form-select {
		flex: 1 1 auto;
	}

	.input-group-btn {
		z-index: $zindex-0;
	}

	.form-input,
	.form-select,
	.input-group-addon,
	.input-group-btn {
		&:first-child:not(:last-child) {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
			margin-left: -$border-width;
		}
		&:last-child:not(:first-child) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			margin-left: -$border-width;
		}
		&:focus {
			z-index: $zindex-0 + 1;
		}
	}

	.form-select {
		width: auto;
	}

	&.input-inline {
		display: inline-flex;
	}
}
