{% load staticfiles %}

<div class="b3-spinner hidden">
    <div class="loading-content">
        <img src="{% static "images/spinner.gif" %}">
    </div>
</div>

{% if not knockout %}
<nav class="paginator">
    {% if paging.visible %}
        <div class="text-right">
            <ul class="pagination">
                <li>
                    <a onclick="loadData('{{ paging.first_url }}'); return false" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page_url in paging.range_urls %}
                    <li {% if page_url.is_current %}class="active"{% endif %}>
                        <a onclick="loadData('{{ page_url.url }}'); return false" href="#">{{ page_url.title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a onclick="loadData('{{ paging.last_url }}'); return false" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>

<script type="text/javascript">

    function loadData(page){
        $('.b3-data').hide();
        $('.b3-spinner').removeClass('hidden');
        $('.paginator').hide();
        $('.ajax_refresh_area').load(page+' .ajax_refresh_area', function() {
            $('.b3-spinner').addClass('hidden');
            $('.paginator').show();
        });
    }

</script>
{% else %}
<script type="text/javascript">
    function showSpinner(){
        $('.b3-spinner').removeClass('hidden');
    }
    function hideSpinner(timeout){
        if (typeof timeout == "undefined") {
            timeout = 1000;
        }
        setTimeout(function(){ $('.b3-spinner').addClass('hidden'); }, timeout);
    }
</script>
{% endif %}
