{% extends "b3_core/base.html" %}
{% load i18n %}
{% load l10n %}
{% load compress %}
{% load staticfiles %}
{% block title %}{{ stl_file.showname }}{% endblock %}
{% block class %}uploads{% endblock %}
{% block og_title %}<meta property="og:title" content="{% trans '3YOURMIND ' %}{{ stl_file.showname }}"/>{% endblock %}
{% block og_description %}<meta property="og:description" content="{% trans '3D Model on 3YOURMIND ' %}:{{ stl_file.showname }}"/>{% endblock %}
{% block og_video %}{% endblock %}
{% block content %}
    {% compress js %}
    <script src="{% static "js/button3d/common/beautify.js" %}"></script>
    <script src="{% static "js/button3d/userpanel/StringPolyfill.js" %}"></script>
    {% endcompress %}
    <script>
        var djangoData = (function () {
            var requestUserEmail = '{{ request.user.email }}';
            var noOwner = '{{ basket.owner }}' == 'None';

            var requestUser = {
                email: requestUserEmail
            };

            return {
                requestUser: requestUser,
                basketNoOwner: noOwner
            };
        })();

        var projectData = (function () {
            var projectId = null;
            {% if basket %}
                projectId = parseInt('{{ basket.id }}');
            {% endif %}
            return {
                id: projectId,
            }
        })();

        function getUserId() {
            var userId = null;
            {% if request.user.is_authenticated %}
                userId = parseInt('{{ request.user.id }}');
            {% endif %}
            return userId;
        }
    </script>
    <div id="detail-wrapper">
    {% if request.user.is_authenticated %}
        {% include "b3_user_panel/usernav.html" %}
    {% endif %}
    {% block submenu %}{% endblock %}
    <div class="container b3-container-stretch">
        {% block user_content %}{% endblock %}
    </div>
    </div>
{% endblock %}
