{% load form_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        {% if field.auto_id == "id_vat_number" or field.auto_id == "id_company" or field.auto_id == "id_customer_number" %}
                {% render_field field class+="hidden" %}
        {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if field.auto_id == "id_guest_email_address" and user.is_authenticated  %}
                {% elif not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}"
                           class="col-sm-4 control-label b3-control-label{% if field.field.required %} required{% endif %}">
                        {% if field.auto_id == "id_line3" %}{% trans 'Company' %}{% else %}
                            {{ field.label|safe }}{% endif %}{% if field.field.required %} &#42;{% endif %}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="col-sm-7">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}"
                                   class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-control" %}
                            </label>
                        {% elif field.auto_id == "id_guest_email_address" and user.is_authenticated %}
                            {% render_field field value=user.email class+="hidden" %}
                        {% elif field.auto_id == "id_postcode" %}
                            {% render_field field class+="form-control b3-form-postalcode" autocomplete="postal-code" %}
                        {% elif field.auto_id == "id_country" %}
                            {% if 'shipping-address' in request.path %}
                                {% render_field field|set_data:"bind:value: country_selected,valueUpdate: 'keyup' " class+="form-control b3-form-city" autocomplete="address-level2" %}
                            {% else %}
                                {% render_field field class+="form-control b3-form-city" autocomplete="address-level2" %}
                            {% endif %}
                                {% comment %} Applying Select2 to Select Country{% endcomment %}
                                <script type="text/javascript">
                                 $('#id_country').val('{{ current_country }}');
                                 $("#id_country").select2({
                                     width:'197px'
                                 });
                                </script>
                        {% elif field.auto_id == "id_line3" %}
                            {% render_field field class+="form-control" autocomplete="organization" %}
                        {% elif field.auto_id == "id_line4" %}
                            {% render_field field class+="form-control b3-form-city" %}
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
        {% endif %}
    {% endblock %}
{% endif %}
