{% load i18n %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>{% trans "Oops! Something went wrong, or something is missing." %}</strong>
        - {% trans "Please check whether you've filled out all mandatory fields and try again." %}
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
    {% if field.auto_id == "id_same_as_shipping" %}
    {% else %}
        {% if field.auto_id == "id_guest_email_address" %}
            <hr/>
        {% endif %}
        {% include 'b3_user_panel/form_field.html' with field=field style=style %}
    {% endif %}
{% endfor %}
