{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load currency_tags %}
{% load b3_utils %}

{% block title %}{% trans "Pending verifications" %}{% endblock %}

{% block user_content %}
<style>
.pending-buttons-view,
.verified-buttons-view,
.declined-buttons-view{
    display: none
}
.address-container.pending .pending-buttons-view,
.address-container.verified .verified-buttons-view,
.address-container.declined .declined-buttons-view{
    display: inline-block;
}
</style>
<div class="ajax_refresh_area" xmlns:address="http://www.w3.org/1999/xhtml">
    <div class="b3-make-space"></div>
    <div class="row">
        <span>Filter by: </span>
        <a class="btn btn-default" href="?filter_verified_status=pending">{% trans "Pending" %}</a>
        <a class="btn btn-default" href="?filter_verified_status=declined">{% trans "Declined" %}</a>
        <a class="btn btn-default" href="?filter_verified_status=verified">{% trans "Verified" %}</a>
    </div>
    <div class="b3-make-space"></div>
    {% if user_addresses %}
        {% for address in user_addresses %}
            <div class="row address-container {{ address.verified_status }}">
                <div class="well">
                  {% block select_address_fields %}

                  <p class="b3-address-name">{% if address.title %}{{address.title}} {% endif %}{{address.first_name}} {{ address.last_name}}</p>
                      <p>{{ address.user.email }}</p><br />
                      <b>{% trans "Company Name" %}: </b>{{address.company_name}} <br/>
                      <b>{% trans "Department" %}: </b>{{address.department}} <br/>
                      <b>{{ organization.vat_id_label }}:</b> {{ address.vat_id }}<br/>
                      <br />
                      <b>{% trans "Address" %}</b>
                      <br />
                    {{address.line1}}<br/>
                    {% if address.line2 %}{{address.line2}}<br/>{% endif %}
                  {{address.zip_code}} {{ address.city }}{% if address.state %}, {{address.state}}{% endif %}<br />
                    {{address.country}}<br/>
                      <br>
                      <b>{% trans "Phone" %}: </b>{{address.phone_number}} <br/>
                  </p>

                  {% endblock %}
                </div>



                <div class="pending-buttons-view">
                    <span>Status: Pending</span>
                    <button class="btn btn-default" data-id="{{ address.id }}" data-new-status="verified" onclick="update_verify_address(this)">{% trans "Verify" %}</button>
                    <button class="btn btn-default" data-id="{{ address.id }}" data-new-status="declined" onclick="update_verify_address(this)">{% trans "Decline" %}</button>
                </div>
                <div class="verified-buttons-view">
                    <span>Status: Verified</span>
                    <button class="btn btn-default" data-id="{{ address.id }}" data-new-status="declined" onclick="update_verify_address(this)">{% trans "Decline" %}</button>
                </div>
                <div class="declined-buttons-view">
                    <span>Status: Declined</span>
                    <button class="btn btn-default" data-id="{{ address.id }}" data-new-status="verified" onclick="update_verify_address(this)">{% trans "Verify" %}</button>
                </div>
            </div>
            <div class="b3-make-space"></div>
        {% endfor %}
        {% include "b3_user_panel/ajax_pagination.html" with knockout=False %}
        <div class="b3-make-space"></div>
        <div class="b3-make-space"></div>
        <script>
            function update_verify_address(elem){
                var id = $(elem).data("id");
                var new_status = $(elem).data("new-status");
                $.post("{% url 'b3_user_panel:pending-verifications-update' %}",
                    {"id":id,"new_status":new_status},
                    function(data){
                        if(data.success){
                            $($(elem).parents(".address-container")[0]).removeClass("pending verified declined").addClass(data.new_status);
                        }
                    })
            }
        </script>
    {% else %}
        <div class="text-center">
            <h1>{% trans "No addresses to list." %}</h1>
            <p>
                {% trans "As soon as customer will register, add or change his address it will appear as pending." %}
            </p>
        </div>
    {% endif %}
</div>

{% endblock %}
