{% load i18n %}
{% load l10n %}
{% load b3_utils %}

{% if not use_left_navigation %}

    <div class="mainnav userpanel-navbar {% if project_id %} projects{% endif %}" id="userpanel-navbar">
        <div class="container">
            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
            <nav class="collapse mainnav-collapse" role="navigation">
                <ul class="mainnav-menu">
                    <li class="dropdown {% active 'b3_organization:dashboard' %}"><a href="{% url 'b3_organization:dashboard' %}">{% trans "Home" %}</a></li>
                    <li class="dropdown {% active 'b3_user_panel:projects' %}"><a href="{% url 'b3_user_panel:projects' %}">{% trans "3D Projects" %}</a></li>
                    {% if use_new_user_panel %}
                        <li class="dropdown"><a href="/user-panel/#/orders">{% trans "Orders" %}</a></li>
                    {% endif %}
                    <li class="dropdown {% active 'b3_user_panel:settings' %}"><a href="{% url 'b3_user_panel:settings' %}">{% trans "Settings" %}</a></li>
                </ul>
            </nav>
        </div> <!-- /.container -->
    </div> <!-- /.mainnav -->
{% endif %}
