{% load staticfiles %}



<div class="b3-spinner-white hidden">
    <div class="loading-content">
        <img src="{% static "images/spinner.gif" %}">
    </div>
</div>


<script type="text/javascript">
    function showWhiteSpinner(element){
        $('.b3-spinner-white').removeClass('hidden');
        if (typeof element != "undefined") {
            $(element).addClass('hidden');
        }
    }
    function hideWhiteSpinner(timeout,element){
        if (typeof timeout == "undefined") {
            timeout = 1000;
        }
        setTimeout(function(){
            $('.b3-spinner-white').addClass('hidden');
            if (typeof element != "undefined") {
                $(element).removeClass('hidden');
            }
        }, timeout);
    }
</script>
