{% extends "b3_core/base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}
{% block class %}error{% endblock %}
{% block content %}
    {% trans "<span class='text-center'>Page not found (404)</span>" as t_page_not_found %}
    {% include "b3_core/ribbon-small.html" with text=t_page_not_found %}
    <div class="container text-center">
        <div class="b3-make-space"></div>
        <h2>{% blocktrans %}Either you are not logged in to your account or the URL is wrong.{% endblocktrans %}</h2>
        <span class="b3-huge-text">:-(</span><br />

        <div class="b3-make-space"></div>
        <a href="/" class="btn">{% blocktrans %}Bring me to the Homepage{% endblocktrans %}</a><br />
    <div class="b3-make-space"></div>
    </div>
    <script>
        $(function() {
            Button3d.common.send_event_to_ga("404_page", "opened");
        });
    </script>
{% endblock %}