{% extends "b3_core/base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Page unavailable{% endblocktrans %}{% endblock %}
{% block class %}error{% endblock %}
{% block content %}
    {% trans "<span class='text-center'>Page unavailable (500)</span>" as t_page_error_server %}
    {% include "b3_core/ribbon-small.html" with text=t_page_error_server %}
    <div class="container text-center">
        <div class="b3-make-space"></div>
        <h2>{% blocktrans %}Sorry, but the requested page is unavailable due to a server hiccup.{% endblocktrans %}</h2>
        <br>
        <h2>{% blocktrans %}Our support team has been notified. Please check back later.{% endblocktrans %}</h2>
        <span class="b3-huge-text">:-(</span><br />

        <div class="b3-make-space"></div>
        <a href="/" class="btn">{% blocktrans %}Bring me to the Homepage{% endblocktrans %}</a><br />
    <div class="b3-make-space"></div>
    </div>
    <script>
        $(function() {
            Button3d.common.send_event_to_ga("500_page", "opened");
        });
    </script>
{% endblock %}
