<!--BEGIN:TRANSLATION-BLOCK-->
<i18n src="./i18n/locales.json"></i18n>
<!--END:TRANSLATION-BLOCK-->

<template>
	<div class="checkout__container--main">
		<div class="checkout__layout">
			<div class="checkout__content">
				<CheckoutHeader />
				<div class="checkout__router-view">
					<router-view />
				</div>
			</div>
			<div class="checkout__item-overview">
				<Basket />
			</div>
			<div class="checkout__mobile-footer">
				<MobileFooter
					:isBasketOpen="isBasketOpen"
					@openBasket="openBasket"
					@openCancelModal="openCancelModal"
				/>
			</div>
			<BasketSlider
				:isBasketOpen="isBasketOpen"
				@closeBasket="closeBasket"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import CheckoutHeader from './components/CheckoutHeader.vue';
import BasketSlider from './components/BasketSlider.vue';
import MobileFooter from './components/MobileFooter.vue';
import Basket from './components/Basket.vue';

import setTheme from './utils/cssUtil.js';

export default {
	name: 'checkout',
	components: {
		CheckoutHeader,
		BasketSlider,
		MobileFooter,
		Basket,
	},
	data() {
		return {
			isBasketOpen: false,
		};
	},
	computed: {
		...mapGetters({
			currentProject: 'basket/currentProject',
			currentService: 'service/currentService',
			projectId: 'basket/projectId',
			userCurrency: 'user/userCurrency',
		}),
	},
	async beforeCreate() {
		this.$store.dispatch(
			'basket/setProjectId',
			parseInt(window.projectCheckoutBridge.projectId, 10),
		);

		await this.$store.dispatch('user/getUserPreferences');
		this.$i18n.locale =
			window.pseudoLang ||
			this.$store.state.user.userPreferences.language ||
			'en';

		this.$store.dispatch(
			'user/setUserCurrency',
			this.$store.state.user.userPreferences.currency,
		);

		await this.$store.dispatch('organization/getSettings');
		setTheme(this.$store.state.organization.settings);
		await this.$store.dispatch(
			'service/setServiceId',
			parseInt(window.projectCheckoutBridge.serviceId, 10),
		);
		await this.$store.dispatch(
			'service/getCurrentService',
			parseInt(window.projectCheckoutBridge.serviceId, 10),
		);
		await this.$store.dispatch('basket/getProject', this.projectId);

		const userCurrencySupported = this.currentService.supportedCurrencies
			.includes(this.userCurrency);
		const payload = {
			currency: userCurrencySupported ? this.userCurrency : null,
			projectId: this.projectId,
			shippingMethodId: this.shippingMethodId,
			shippingAddressId: this.selectedShippingAddress
				? this.selectedShippingAddress.id
				: null,
			voucherCode: null,
		};

		this.$store.dispatch('basket/getProjectPrices', payload);
		if (!userCurrencySupported) {
			this.$store.dispatch('basket/getUserCurrencyPrices', {
				...payload,
				currency: this.userCurrency,
			});
		}
	},
	methods: {
		openCancelModal() {
			return null;
		},
		openBasket() {
			this.isBasketOpen = true;
		},
		closeBasket() {
			this.isBasketOpen = false;
		},
	},
};
</script>

<style lang="scss">
@import './assets/main.scss';

.checkout__layout {
	display: flex;
	height: 100%;
}
.checkout__content {
	display: flex;
	flex-direction: column;
	padding: $unit-8;
	width: 62%;
	overflow-y: auto;
	margin-bottom: $unit-8;
	box-sizing: border-box;
}
.checkout__router-view {
	display: flex;
	flex-direction: column;
	flex: 1 auto;
}

.checkout__item-overview {
	position: relative;
	overflow-y: auto;
	width: 38%;
	padding: $unit-6;
	background: $lightgray-300;
	box-sizing: border-box;
}
.checkout__mobile-footer {
	display: none;
}

// Mobile View
@media (max-width: $responsive-breakpoint) {
	.checkout__layout {
		display: block;
	}
	.checkout__router-view {
		margin: 0 auto;
		width: 100%;
	}

	.checkout__content {
		width: 100%;
		padding: $unit-6 $unit-6 $unit-12;
	}
	.checkout__item-overview {
		display: none;
	}
	.checkout__mobile-footer {
		display: block;
		width: 100%;
	}
}

.checkout__container--main {
	// mainly rules to stop the checkout inheriting from button3d
	display: block;
	position: relative;
	height: 100%;
	box-sizing: border-box;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, sans-serif;
	line-height: $unit-5;
	color: $darkgray-500;
	background: #fff;
	text-rendering: optimizeLegibility;

	a {
		color: $link-color;
		outline: none;
		text-decoration: none;
		&:focus,
		&:hover,
		&:active,
		&.active {
			color: $link-color-dark;
			text-decoration: none;
		}
		i {
			font-size: 1.5em !important;
		}
	}

	img {
		width: 100%;
		border: 0;
	}
}
</style>
