{% extends "customer/emails/base.html" %}
{% load  i18n %}
{% block body %}
    <br>
    <h2>{% trans 'Your order is on it’s way!' %}</h2>
    <p align="justify">{% blocktrans with order_number_t=order.number %}Your order with number {{ order_number_t }} has been shipped.{% endblocktrans %}</p>

    {% if order.tracking_info %}
        <p>
            {% trans 'Tracking information (URL)'%}:
            {% if order.is_tracking_info_url %}
                <a href="{{ order.tracking_info }}">{{ order.tracking_info }}</a>
            {% else %}
                {{ order.tracking_info }}
            {% endif %}
        </p>
    {% endif %}

    <p align="justify">
        <em>
            {{ custom_message|safe }}
        </em>
    </p>
    {% if not order.shipping_address.guest_email_address %}
        <p align="justify">
            {% url 'b3_user_panel:project-detail' order.basket.id as order_link %}
            {% blocktrans %}You can follow the status of your order <a href="{{ base_url }}{{ order_link }}">here</a>{% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
