{% load i18n %}
{% load compress %}
{% load b3_utils %}
{% load staticfiles %}
{% load organization_flags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset='utf-8'/>
    <title>{{ request|show_organization }} - {% block title %}{% endblock %}</title>
    <link rel="alternate" href="{% change_lang 'x-default' %}" hreflang="x-default">
    <link rel="alternate" href="{% change_lang 'en' %}" hreflang="en">
    <link rel="alternate" href="{% change_lang 'de' %}" hreflang="de">

    <!-- Styles -->
    {% compress css %}
        <link href="{% static "css/master.scss" %}" media="screen" rel="stylesheet" type="text/x-scss"/>
        <link href="{% static "css/fonts/google-fonts.css" %}" rel="stylesheet">
        <link href="{% static "css/fonts/material-icon.css" %}" rel="stylesheet">
    {% endcompress %}

    <!-- Scripts -->
    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/vendor/knockout.min.js" %}"></script>


    {% compress js %}
        <script src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
        <script src="{% static "js/vendor/bootstrap.js" %}"></script>
    {% endcompress %}

    <style>
    html, body {
        height: 100%;
    }

    .vertical-center {
        min-height: 100%;  /* Fallback for vh unit */
        min-height: 100vh; /* You might also want to use
                            'height' property instead.

                            Note that for percentage values of
                            'height' or 'min-height' properties,
                            the 'height' of the parent element
                            should be specified explicitly.

                            In this case the parent of '.vertical-center'
                            is the <body> element */

        /* Make it a flex container */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        /* Align the bootstrap's container vertically */
          -webkit-box-align : center;
        -webkit-align-items : center;
             -moz-box-align : center;
             -ms-flex-align : center;
                align-items : center;

        /* In legacy web browsers such as Firefox 9
           we need to specify the width of the flex container */
        width: 100%;

        /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
           hence the bootstrap's container won't be aligned to the center anymore.

           Therefore, we should use the following declarations to get it centered again */
               -webkit-box-pack : center;
                  -moz-box-pack : center;
                  -ms-flex-pack : center;
        -webkit-justify-content : center;
                justify-content : center;
    }
    </style>

    {% block extra %}{% endblock %}

</head>
<body class="{% block class %}{% endblock %}">
<base target="_parent" />
<div class="b3-wrapper">
{% block content %}
{% endblock %}
</div>
</body>
</html>
