{% load i18n %}
{% load compress %}
{% load b3_utils %}
{% load staticfiles %}
{% load organization_flags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<!--[if IE 9]>                <html lang="{{ LANGUAGE_CODE }}" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ LANGUAGE_CODE }}">         <!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset='utf-8'/>
    <title>{{ request|show_organization }} - {% block title %}{% endblock %}</title>
    <meta name="application-name" content="{{ request|show_organization }}"/>
    <meta name="author" content="{{ request|show_organization }}"/>
    <meta name="robots" content="All"/>
    <meta name="description" content="{% customize 'description_portal' %}{% trans "Only the best 3D printing services" %}{% endcustomize %}"/>
    <meta name="keywords" content="{% trans "Compare, 3D, Print, Printing, Plugin, Rhino, SketchUp, 3DS Max" %}"/>
    <meta name="rating" content="General"/>
    <meta name="dcterms.title" content="{{ request|show_organization }}"/>
    <meta name="dcterms.contributor" content="{{ request|show_organization }}"/>
    <meta name="dcterms.creator" content="{{ request|show_organization }}"/>
    <meta name="dcterms.publisher" content="{{ request|show_organization }}"/>
    <meta name="dcterms.description" content="{% customize 'description_portal' %}{% trans "Only the best 3D printing services" %}{% endcustomize %}"/>
    <meta name="dcterms.rights" content="© 2017 3YOURMIND GmbH"/>
    <meta property="og:url" content="{{ base_url }}{{ request.get_full_path }}"/>
    <meta property="og:type" content="website"/>
    {% block og_title %}<meta property="og:title" content="{{ request|show_organization }}"/>{% endblock %}
    {% block og_description %}<meta property="og:description" content="{% customize 'description_portal' %}{% trans "Only the best 3D printing services" %}{% endcustomize %}"/>{% endblock %}
    {% block og_image %}
       <meta property="og:image" content="{% customize 'navbar_logo_image' %}{% static "images/3d-facebook_share.png" %}{% endcustomize %}"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if organization.theme.favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{{organization.theme.favicon.url}}"/>
    {% else %}
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}"/>
    {% endif %}
    <link rel="alternate" href="{% change_lang 'x-default' %}" hreflang="x-default">
    <link rel="alternate" href="{% change_lang 'en' %}" hreflang="en">
    <link rel="alternate" href="{% change_lang 'de' %}" hreflang="de">

    <link href="{% static "css/vendor/select2.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/vendor/flag-icon/css/flag-icon.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/vendor/dropzone.min.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    {% block main_css %}
    <!-- Styles -->
    {% compress css %}
        <link href="{% static "css/fonts/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/master.scss" %}" media="screen" rel="stylesheet" type="text/x-scss"/>
        <link href="{% static "css/select2-bootstrap.theme.min.css" %}" media="screen" rel="stylesheet" />
        <link href="{% static "css/fonts/google-fonts.css" %}" rel="stylesheet">
        <link href="{% static "css/fonts/material-icon.css" %}" rel="stylesheet">
        <link href="{% static "css/fonts/b3-icon-font.css" %}" rel="stylesheet">
        <link href="{% static "css/vendor/cropper.min.css" %}" rel="stylesheet" />
    {% endcompress %}
    {% endblock %}

    {# Organization Theme #}
    {% block theme_css %}
    {% with organization.theme as theme %}
        {{ theme.render_css|safe }}
    {% endwith %}
    {% endblock %}


    <!-- Scripts -->
    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/vendor/knockout.min.js" %}"></script>
    <script src="{% static "js/vendor/select2/select2.full.js" %}"></script>
    <script src="{% static "js/vendor/cropper.min.js" %}"></script>
    {% with 'js/vendor/select2/i18n/'|add:request.LANGUAGE_CODE|add:'.js' as select2i18n %}
        <script src="{% static select2i18n %}"></script>
    {% endwith %}
    <script src="{% static "js/vendor/sammy.min.js" %}"></script>

    <!-- Sentry -->
    {% include "b3_core/partials/sentry-js.html" %}


    <script>
        var user_is_active = {% if user_is_active %}true{% else %}false{% endif %};
        var lang = '{{LANGUAGE_CODE}}';
        var userCurrency = '{{ active_currency }}' || 'EUR';
        var manual_request_url = '{% url 'manual-request' %}';
    </script>

    <script>
        var djangoVueBridge = (function () {
            var requestUserEmail = '{{ request.user.email }}';
            var isAuthenticated = false;
            {% if request.user.is_authenticated %}
                isAuthenticated = true;
            {% endif %}
            var userProfile = null;
            {% if request.user.userprofile %}
                userProfile = '{{ request.user.userprofile }}';
            {% endif %}
            var userId = parseInt('{{ request.user.id }}') || null;
            var requestUser = {
                email: requestUserEmail,
                isAuthenticated: isAuthenticated,
                userProfile: userProfile,
                userId: userId,
            };

            return {
                requestUser: requestUser
            };
        })();
    </script>

    <script>
        function setCurrency(value, currency) {
            var selected_language = '{{ LANGUAGE_CODE }}';
            var languagesDict = {
                en: 'en-US',
                de: 'de-DE'
            };
            var countryFormat = languagesDict[selected_language];
            return Number(value).toLocaleString(countryFormat, {
                style: 'currency',
                currency: currency
            });
        }
    </script>

    <!--[if IE 9]>
        <script src="{% static "js/ie-compat/xdr.js" %}"></script>
    <![endif]-->

    <script>
        var isIE10 = !!navigator.userAgent.match(/MSIE 10/);
        if(isIE10) $('html').addClass('ie10');
    </script>

    <script>
        var psConfigUpload = false;
    </script>

    <script type="text/javascript">
        var CKEDITOR_BASEPATH = "{{ STATIC_URL }}js/ckeditor/";
    </script>

    {% compress js %}
        <script src="{% static "js/ckeditor/ckeditor.js" %}"></script>
        <script src="{% static "js/ckeditor/adapters/jquery.js" %}"></script>
        <script src="{% static "js/vendor/dropzone-custom.js" %}"></script>
        <script src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
        <script src="{% static "js/vendor/bootstrap.js" %}"></script>
        <script src="{% static "js/button3d/common.js" %}"></script>
        <script src="{% static "js/vendor/snap.svg.js" %}"></script>
        <script src="{% static "js/vendor/jquery.transform2d.js" %}"></script>
        <script src="{% static "js/vendor/jquery.ui.touch-punch.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery-modal-reveal.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>
        <script src="{% static "js/button3d/userpanel/projects/project_api_calls.js" %}"></script>
        <script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
    {% endcompress %}

</head>

{% block page_overlay %}
    {% include "b3_core/upload-overlay.html" %}
{% endblock %}

<body class="{% block class %}{% endblock %}">
{% if not user.is_authenticated %}
    {% include "b3_modal/signup/login_modal.html" %}
    {% include "b3_modal/signup/signup_modal.html" %}
{% endif %}

<div class="{% if not use_left_navigation %}b3-wrapper{% elif use_left_navigation %}d-flex responsive{% endif %}">
    {% csrf_token %}
    {% include "b3_core/notice-bar.html" %}
    {% block nav %}{% include "b3_core/nav.html" %}{% endblock %}
    {% include "b3_modal/error_modal.html" %}
    {% include "b3_core/partials/all_countries.html" %}
    <div {% if use_left_navigation %}style="width:100%;"{% endif %}>
        {% block content %}{% endblock %}
    </div>
    {% include "b3_modal/site_configuration_modal.html" %}

    {% if request|show_upload_button %}
        <!--[if (!IE)&(gt IE 9)]><!-->{% include "b3_modal/multiple_upload_modal.html" %}<!--<![endif]-->
        <!--[if IE]>
            <script type="text/javascript">
                $('.b3-btn-upload').addClass('hidden');

                $('#nav-upload-button').replaceWith('<form id="compat-form" method="post" enctype="multipart/form-data" action="/compatibility/">\
                    <input type="hidden" name="origin" value="button3d">\
                    <input type="hidden" name="domain" value="{{ site.domain }}">\
                    <input class="btn" id="stl-hidden-upload" type="file" name="file" accept=".obj,.dae,.wrl,.ply,.3ds,.step,.iges,.stl,.zip,.x3d">\
                </form>');
                $('#compat-form').append("{% csrf_token %}");
                $('#stl-hidden-upload').on('change', function() {
                    $('#compat-form').submit();
                });
            </script>
        <![endif]-->
    {% endif %}
</div>

{% include "b3_core/footer.html" %}
{% block extra_body %}
{% endblock %}
{% include "b3_core/custom_scripts.html" %}
{% include "b3_modal/project/new_project_modal.html" %}

</body>
</html>
