{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "CSRF Error" %}{% endblock %}
{% block content_panel %}
<div class="panel-heading">
    <h4>{% trans 'Cross-Site Identity Error' %}</h4>
</div>
<div class="panel-body">
    <p>
        {% blocktrans %}
            The cross-site request forgery token was not found or is invalid.
            This usually occurs when you have logged in on multiple browser windows.
            Click the "Refresh" button below, or use the browser's back button and refresh the page.
        {% endblocktrans%}
    </p>
    <button  class="btn" type="button" onClick="window.location.href=window.location.href">{% trans 'Refresh' %}</button>
</div>

{% endblock %}
