{% load i18n %}
{% load b3_utils %}
{% load organization_flags %}
{% load staticfiles %}
{% if use_left_navigation %}
    <!-- These values are needed by project detail page -->
    <span class="b3-languages" style="display:none">
        <a id="change_language_to_en" href="{% change_lang 'en' %}">{{ 'en'|language_name_local }}</a> | <a id="change_language_to_de" href="{% change_lang 'de' %}">{{ 'de'|language_name_local }}</a>
    </span>
    <span class="b3-currencies" style="display:none">
        <span class="initial-currency">{{ active_currency }}</span>
    </span>
{% else %}
<style>
    .footer-pro-account{
        height: auto !important;
    }
    .capitalize{
        text-transform:uppercase;
        font-weight: 700;
        color: white;
        margin-bottom:5px;
    }
    .custom-links p{
        margin-bottom:5px;
    }
    .contact-info p{
        margin-bottom: 5px;
    }
    .b3-currencies, .b3-languages {
        display: none;
    }
    .img-footer{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-drag : none;
    }
</style>
<footer class="footer-pro-account">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                {% if organization.theme.links_footer %}
                    <p class="capitalize">{% trans 'Information' %}</p>
                    <div class="custom-links">
                        {% for link in organization.theme.links_footer %}
                            {% if link.published %}
                                <p><a href="{{link.url}}" target="_blank">{{link.title}}</a></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-4">
                {% if organization.theme.contact_info_footer %}
                    <p class="capitalize">{% trans 'Contact' %}</p>
                    <div class="contact-info">
                        {{ organization.theme.contact_info_footer|safe }}
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-4 text-right img-footer">
                {% if organization.theme.powered_by_3yourmind %}
                    <p>{% trans 'Powered by 3YOURMIND' %}</p>
                    <a draggable="false"  href="https://www.3yourmind.com" target="_blank"><img draggable="false" style="margin-top:10px;width:50%;" src="{% static 'images/logo_white.png'%}"></a>
                {% endif %}
            </div>
        </div>
    </div>
    <span class="b3-languages">
        <a id="change_language_to_en" href="{% change_lang 'en' %}">{{ 'en'|language_name_local }}</a> | <a id="change_language_to_de" href="{% change_lang 'de' %}">{{ 'de'|language_name_local }}</a>
    </span>
    <span class="b3-currencies">
        <span class="initial-currency">{{ active_currency }}</span>
    </span>
</footer>
{% endif %}

