{% extends "b3_core/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load compress %}
{% load b3_utils %}
{% load organization_flags %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block class %}home{% endblock %}

{% block content %}

    {% if request|show_upload_button %}
    <div class="b3-big-ribbon">
        <div class="container">
            <div class="row" style="margin-top:80px;">
                <div class="col-xs-12">
                    <div id="basket-dropzone" class="ribbon-dropzone">
                        <div class="ribbon-dropzone-text">{% trans 'Drop 3D File here or click to upload' %}</div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.ribbon-dropzone-text').click(function (event) {
                                event.preventDefault();
                                $(this).parent().click();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="b3-view-control-holder">
                    <div id="b3-arrow-holder">
                        <div class="sprite-rotation b3-margin-auto b3-hidden" id="arrow-clockwise"></div>
                        <div class="sprite-rotation b3-margin-auto b3-hidden" id="arrow-counterclockwise"></div>
                    </div>
                    <div class="b3-legend-controls b3-control">
                        <i class="b3-icon-mouse-zoom"></i>
                        <i class="b3-icon-mouse-rotate"></i>
                        <i class="b3-icon-mouse-zoom"></i>
                    </div>
                    {% include "b3_core/rotation-cube.html" %}
                </div>
            </div>
        </div>
        <div class="panel progress-panel">
            <div class="container">
            <div class="b3-3d-tools-options holder">
                <img src="{% static 'images/svg-icons/magnifiying-glass.svg' %}" class="svg-icon b3-wta-icon">
                <a class="tools-options b3-3d-tools-item" id="3d-tools-options">{% trans "Printability & Scale" %}</a>
                <img src="{% static 'images/svg-icons/fullscreen.svg' %}" class="svg-icon svg-fullscreen b3-wta-icon">
                <a class="tools-fullscreen b3-3d-tools-item">{% trans "Fullscreen" %}</a>
            </div>
            </div>
        </div>
    </div>

    {% elif request|show_login_button %}
        <div class="container">
            <div class="b3-make-space"></div>
            <div class="row">
                <div class="panel col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    {% include "account/partials/login.html" %}
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    {% if request|show_register_button %}
                        <div>
                            <div style="width:100%;" id="nav-signup-button" class="btn btn-warning b3-btn-signup" >
                                {% blocktrans %}Sign Up For Free{% endblocktrans %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
       <div class="b3-make-space"></div>
    {% endif %}



{% endblock %}

