{% load i18n %}
{% load staticfiles %}
{% load b3_utils %}
{% load organization_flags %}
{% load auth_plugin_tags %}
{% load currency_tags %}

{% if use_left_navigation %}
    {% with organization.theme as theme %}
        <link rel="stylesheet" href="{% static "css/yoco/yoco-icon.css" %}">
        <nav class="navbar">
            <div class="navbar-wrapper">
                <div class="navbar-togglekt"><i class="yoco" style="color: {{ theme.navbar_txt_color }};">burger</i>
                </div>
                <div class="navbar-header" style="border-color: rgba(255,255,255,0.26);">
                    <div style="color: {{ theme.navbar_txt_color }};">
                        <div class="navbar-logo">
                            {% if theme.navbar_logo_image %}
                                <a href="{{ theme.navbar_logo_url }}">
                                    <img src="{{ theme.navbar_logo_image.url }}">
                                </a>
                            {% else %}
                                <span>{{ organization.showname|title }}</span>
                            {% endif %}
                        </div>
                        <div class="navbar-logo--mobile">
                            {% if theme.navbar_logo_image %}
                                <a href="{{ theme.navbar_logo_url }}">
                                    <img src="{{ theme.navbar_logo_image.url }}">
                                </a>
                            {% else %}
                                <span>{{ organization.showname|title }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="navbar-body">
                    <div class="navbar-menu">
                        {% if request.user.is_authenticated %}
                            <script>
                                var handler = function () {
                                    if (window.location.hash === '#createProject') {
                                        Button3d.modals.show_new_project_modal();
                                        return true;
                                    }
                                    if (window.location.hash === '#regionSettings') {
                                        Button3d.modals.show_site_configuration_modal();
                                        return true;
                                    }
                                };

                                window.onhashchange = handler;
                                window.onload = handler;
                            </script>
                            <div>
                                <a href="#" onclick="Button3d.modals.show_new_project_modal()"
                                   style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">plus</i>
                                        <span>{% trans "New 3D project" %}</span></div>
                                </a>
                            </div>
                            <div>
                                <a href="/" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">dashboard</i> <span>{% trans "Home" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user/projects" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">3dbox</i>
                                        <span>{% trans "3D Projects" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user-panel/#/orders" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">file</i>
                                        <span>{% trans "Orders" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user/settings/" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">setting</i>
                                        <span>{% trans "Settings" %}</span>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'account_login' %}" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">user</i>
                                        <span>{% trans "Login" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'account_email_signup' %}" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">request</i>
                                        <span>{% trans "Sign Up" %}</span>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-footer" style="border-color: rgba(255,255,255,0.26);">
                    {% if request.user.is_authenticated %}
                        <div class="user-menus">
                            <div class="user-menu" id="userMenu" style="display:none;">
                                <div>
                                    <a href="#" onclick="Button3d.modals.show_site_configuration_modal();return true;"
                                       style="color: {{ theme.navbar_txt_color }};">
                                        <div class="navbar-menu__item">
                                            <span>{% trans "Region Settings" %}</span>
                                        </div>
                                    </a>
                                </div>
                                {% if request.user.userprofile.can_use_service_panel %}
                                    <div>
                                        <a href="/service-panel/" style="color: {{ theme.navbar_txt_color }};">
                                            <div class="navbar-menu__item">
                                                <span>{% trans "Service Configuration" %}</span>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                                <div>
                                    <a href="{% url 'account_logout' %}" style="color: {{ theme.navbar_txt_color }};">
                                        <div class="navbar-menu__item">
                                            <span>{% trans "Logout" %}</span>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="user-info" id="menuToggle">

                                <div class="user-info-avatar">
                                    <div class="avatar avatar--sm">
                                        {% if request.user.userprofile.avatar_url %}
                                            <div>
                                                <img
                                                    src="{{ request.user.userprofile.avatar_url }}"
                                                    class="avatar-img">
                                            </div>
                                        {% else %}
                                            <div class="avatar-fallback avatar-fallback--small">
                                                <div class="avatar-fallback__head"></div>
                                                <div class="avatar-fallback__body"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="user-info-text">
                                    <div class="user-info-text__name" style="color: {{ theme.navbar_txt_color }};">
                                        {% if not request.user.first_name %}
                                            -/-
                                        {% else %}
                                            {{ request.user.first_name }} {{ request.user.last_name }}
                                        {% endif %}
                                    </div>
                                    <div class="user-info-text__status"
                                         style="color: {{ theme.navbar_txt_color }};">
                                        {{ request.user.email|truncatechars:22 }}
                                    </div>
                                </div>
                                <div class="user-info-toggle" style="color: {{ theme.navbar_txt_color }};">
                                    <i class="yoco chevron-menu" style="display:none;">chevron_down</i>
                                    <i class="yoco chevron-menu">chevron_up</i>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="navbar-dropdown" id="menuDropdown"
                     style="display:none; border-color: rgba(255,255,255,0.26);">
                    <div class="navbar-menu">
                        {% if request.user.is_authenticated %}
                            <div>
                                <a href="#" onclick="Button3d.modals.show_new_project_modal()"
                                   style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">plus</i>
                                        <span>{% trans "New 3D project" %}</span></div>
                                </a>
                            </div>
                            <div>
                                <a href="/" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">dashboard</i>
                                        <span>{% trans "Home" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user/projects" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">3dbox</i>
                                        <span>{% trans "Projects" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user-panel/#/orders" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">file</i>
                                        <span>{% trans "Orders" %}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="/user/settings/" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item"><i class="yoco">setting</i>
                                        <span>{% trans "Settings" %}</span>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'account_login' %}" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">user</i>
                                        <span>{% trans "Login" %}</span>
                                    </div>
                                </a>
                            </div>
                             <div>
                                <a href="{% url 'account_email_signup' %}" style="color: {{ theme.navbar_txt_color }};">
                                    <div class="navbar-menu__item">
                                        <i class="yoco">request</i>
                                        <span>{% trans "Sign Up" %}</span>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    {% endwith %}
    <script>
        $(".navbar-togglekt").click(function () {
            $("#menuDropdown").toggle();
        });
        $("#menuToggle").click(function () {
            $(".chevron-menu").toggle();
            $("#userMenu").toggle();

        });
        $(window).on('resize', function () {
            var win = $(this); //this = window
            if (win.height() >= 840) {
                $("#menuDropdown").hide();
            }
        });
    </script>

{% else %}

    <header>
        <div class="navbar  hidden-md hidden-lg"
             style="height: 40px !important;background-color: #f2f2f2;border-bottom: 1px solid #e0e0e0;">
            <div class="row" style="margin-top: 8px;margin-right: -5px;">
                <div class="col-md-1 pull-right site-configuration "
                     onclick="Button3d.modals.show_site_configuration_modal();return true;">
                    <span class="flag-icon flag-icon-{{ current_country|lower }}">
                    </span>
                    <span class="currency-selected">{{ active_currency | currency_with_symbol }}</span>
                </div>
                {% comment %}
            Here was a telephonnumber shown in app.3yourmind.com
            Telephone number may be introduced again soon (configurable in admin panel)
            <div class="col-md-2 pull-right phone-navbar" style="width: 180px;margin-top: 3px;">
                <i class="fa fa-phone"></i> {{ customer_support_phone }}
            </div>
            {% endcomment %}
            </div>
        </div>
        <div class="navbar navbar-menu" role="banner">

            <a id="navbar-logo" href="{{ navbar_logo_url }}" class="navbar-header navbar-brand navbar-brand-img">

                {# TODO: set logo with css instead!! #}
                {% with organization.theme as theme %}
                    {% if theme.navbar_logo_image %}
                        <span class="navbar-logo">
                            <img style="margin: -9px;" src="{{ theme.navbar_logo_image.url }}" id="header-logo"
                                 class="logo" height="39" alt="{{ organization.showname }}"/>
                        </span>
                    {% else %}
                        <span class="navbar-title">{{ organization.showname }}</span>
                    {% endif %}
                {% endwith %}

            </a>
            <div class="b3-vertical-divider"></div>
            {% comment %}
            Here was a telephonnumber shown in app.3yourmind.com
            <div class="hidden-xxxs hidden-xxs hidden-xs hidden-sm navbar-telephone" >
                <i class="fa fa-phone"></i> {{ customer_support_phone }}
            </div>
        {% endcomment %}
            <div class="hidden-xxxs hidden-xxs hidden-xs hidden-sm site-configuration "
                 onclick="showSiteConfigurationModal();">
                <span class="flag-icon flag-icon-{{ current_country|lower }}"></span>
                <span class="currency-selected">{{ active_currency | currency_with_symbol }}</span>
            </div>
            {% block extra_nav_title %}{% endblock %}

            {% if view_name == 'demo' %}
                <a id="back-to-homepage" class=" btn b3-btn-black hidden-md" style="margin-left:
                    {% if LANGUAGE_CODE == 'de' %}
                        {% if request.basket.num_lines >= 1 %}
                            {% if not user.is_authenticated %}
                                -180px;
                            {% else %}
                                -130px;
                            {% endif %}
                        {% else %}
                            -110px;
                        {% endif %}
                    {% else %}
                        {% if request.basket.num_lines >= 1 %}
                            {% if not user.is_authenticated %}
                                -125px;
                            {% else %}
                                -90px;
                            {% endif %}
                        {% else %}
                            -95px;
                        {% endif %}
                    {% endif %}"
                   href="{% url 'home' %}">
                    < {% blocktrans %}Back to Homepage{% endblocktrans %}
                </a>
            {% endif %}

            <div class="icon-navbar-responsive" id="collapse-menu" style="margin-top: 8px !important;"
                 data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                <i class="fa fa-bars fa-3x" style="color:#888888;" aria-hidden="true"></i></div>
            {% if request|show_upload_button %}
                <div class="b3-btn-upload-responsive
            {% if request.basket.num_lines == 0 %}b3-btn-upload-responsive-big{% endif %}
            btn-warning btn b3-btn-upload hidden-xxxs hidden-xxs hidden-xs hidden-sm"
                     href="#">
                    {% blocktrans %}Upload a 3D model{% endblocktrans %}
                </div>
            {% endif %}
            <nav class="collapse navbar-collapse " role="navigation">
                <ul class="nav navbar-nav navbar-right b3-generic-navbar {% if LANGUAGE_CODE == 'de' and  not user.is_authenticated %}german-unloggued{% endif %}">
                    {% if not user.is_authenticated %}
                        <li style="border-right:none;">
                            {% if not disable_normal_login %}
                                {% if request|show_login_button %}
                                    <div id="nav-login-button" class="btn b3-btn-black b3-btn-signin">
                                        {% blocktrans %}Login{% endblocktrans %}
                                    </div> &nbsp;
                                {% endif %}
                                {% if request|show_register_button %}
                                    <div id="nav-signup-button" class="btn btn-warning b3-btn-signup">
                                        {% customize 'signup_text_button' %}{% blocktrans %}Sign Up For Free
                                        {% endblocktrans %}{% endcustomize %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if auth_plugin %}
                                    <div id="nav-login-button"
                                         class="btn b3-btn-black">
                                        <a href="{% modify_auth_redirect_url auth_plugin %}">
                                            {{ auth_plugin.template_button_name }}</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% block extra_nav_button %}
                        {% if request|show_upload_button %}
                            <li {% if not user.is_authenticated %} style="border-right:none;" {% endif %}>
                                <div id="nav-upload-button" class="btn-warning btn" href=""
                                     onclick="Button3d.modals.show_new_project_modal()">
                                    {% blocktrans %}New 3D project{% endblocktrans %}
                                </div>
                            </li>
                        {% endif %}
                    {% endblock %}
                    {% if user.is_authenticated %}
                        {% include 'b3_core/partials/nav-dropdown.html' %}
                    {% endif %}
                </ul>
            </nav>
        </div>


        <div id="collapseMenu"
             class="collapse-menu collapse {% if not user.is_authenticated and LANGUAGE_CODE == 'de' %}collapse-german-btn{% endif %}">
            <ul>
                <li>
                    <div id="nav-upload-button" class="btn-warning btn" href=""
                         onclick="Button3d.modals.show_new_project_modal()">
                        {% blocktrans %}New 3D project{% endblocktrans %}
                    </div>
                </li>
                {% if not user.is_authenticated %}
                    <li>
                        {% if request|show_login_button %}
                            <div class="btn b3-btn-black b3-btn-signin">
                                {% blocktrans %}Login{% endblocktrans %}
                            </div> &nbsp;
                            {% if not user.is_authenticated and LANGUAGE_CODE == 'de' %}<br><br>{% endif %}
                        {% endif %}
                        {% if request|show_register_button %}
                            <div class="btn btn-warning b3-btn-signup">
                                {% customize 'signup_text_button' %}{% blocktrans %}Sign Up For Free
                                {% endblocktrans %}{% endcustomize %}
                            </div>
                        {% endif %}
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    {% include 'b3_core/partials/nav-dropdown-content.html' %}
                {% endif %}
            </ul>
        </div>
    </header>

{% endif %}
{% if use_left_navigation %}
    {% with organization.theme as theme %}
        <style>

            html {

                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%
            }

            body {
                margin: 0
            }

            article, aside, footer, header, nav, section {
                display: block
            }

            h1 {
                font-size: 2em;
                margin: .67em 0
            }

            hr {
                overflow: visible;
                box-sizing: content-box;
                height: 0
            }

            a {
                background-color: transparent;
                -webkit-text-decoration-skip: objects
            }

            a:active, a:hover {
                outline-width: 0
            }

            address {
                font-style: normal
            }

            b, strong {
                font-weight: inherit;
                font-weight: bolder
            }

            dfn {
                font-style: italic
            }

            small {
                font-size: 80%;
                font-weight: 400
            }

            sub, sup {
                font-size: 75%;
                line-height: 0;
                position: relative;
                vertical-align: baseline
            }

            sub {
                bottom: -.25em
            }

            img {
                border-style: none
            }

            svg:not(:root) {
                overflow: hidden
            }

            *, ::after, ::before {
                box-sizing: inherit
            }

            html {
                line-height: 1.5;
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent
            }

            body {
                overflow-x: hidden;
                color: #3d3d3d;
                background: #f8f8f8;
                text-rendering: optimizeLegibility
            }

            a {
                text-decoration: none;
                color: #2c66c4;
                outline: 0
            }

            a.active, a:active, a:focus, a:hover {
                text-decoration: none;
                color: #2659ab
            }

            .float-left {
                float: left
            }

            .float-right {
                float: right
            }


            .d-flex {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 100%;
                flex-flow: nowrap
            }

            .d-block {
                display: block
            }

            .d-inline {
                display: inline
            }

            .d-inline-block {
                display: inline-block
            }

            .d-none {
                display: none
            }

            .d-flex-row {
                display: flex;
                flex-direction: row
            }

            .d-flex-column {
                display: flex;
                flex-direction: column
            }

            .kt-container {
                display: flex
            }

            @media (max-width: 840px) {
                .kt-container {
                    display: flex;
                    flex-direction: column
                }
            }

            @media (max-width: 840px) {
                .responsive {
                    display: flex;
                    flex-direction: column
                }
            }

            .navbar {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                font-size: 20px;
                font-weight: 400;
                position: relative;
                z-index: 100;
                top: 0;
                bottom: 0;
                left: -1px;
                min-height: 100vh;
                border-right: 1px solid #000;
                background-color: {{ theme.navbar_bkg_color }};
                flex: 0 0 12em
            }

            .navbar-wrapper {
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 12em;
                height: 100%;
                flex-wrap: nowrap;
                background-color: {{ theme.navbar_bkg_color }};
                border-right: 1px solid #000;
            }

            .navbar-togglekt {
                display: none;
                width: 2.4em;
                height: 2.4em;
                text-align: center;
                color: {{ navbar_txt_color }};
                flex: 0 0 2.4em;
                justify-content: center;
                align-items: center
            }

            .navbar-togglekt:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, .24)
            }

            .navbar-togglekt--active {
                background: #193b71
            }

            .navbar-header {
                padding: .8em 1.2em;
                border-bottom: 1px solid rgba(255, 255, 255, .26);
                flex: 1 1 auto
            }

            .navbar-header:hover {
                cursor: pointer
            }

            .navbar-body {
                overflow-y: auto;
                flex: 1 1 100%;
                background-color: {{ theme.navbar_bkg_color }};
            }

            .navbar-footer {
                padding: .8em;
                border-top: 1px solid rgba(255, 255, 255, .26);
                flex: 0 0 auto;
                background-color: {{ theme.navbar_bkg_color }};
            }

            .navbar-logo {
                display: flex;
                align-items: center;
                justify-content: space-between
            }

            .navbar-logo span {
                font-size:15px;
            }

            .navbar-logo--mobile {
                display: none
            }

            .navbar-logo i {
                width: 1.2em;
                flex: 0 0
            }

            .navbar-logo img {
                width: 9em;
                padding: .4em 0
            }

            .navbar-dropdown {
                position: absolute;
                top: 2.4em;
                display: none;
                width: 100%;
                padding: .8em 0;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .26);
                background-color: {{ theme.navbar_bkg_color }};
            }

            .navbar-notification {
                font-size: .75em;
                line-height: 1.2em;
                display: flex;
                margin-bottom: .4em;
                padding: .8em 1.2em;
                border-bottom: 1px solid rgba(255, 255, 255, .26);
                align-items: center;
                justify-content: space-between
            }

            .navbar-notification span {
                margin-left: .8em
            }

            .navbar-notification--narrow {
                padding: .8em 0;
                justify-content: center
            }

            .navbar-notification .yoco {
                font-size: 20px;
            }

            .navbar-menu {
                box-sizing: border-box;
                padding: .4em 1.2em;
                text-align: left;
                color: #fff
            }

            .navbar-menu__item {
                font-size: .75em;
                display: block;
                padding: .6em 0
            }

            .navbar-menu__item span {
                margin-left: .8em
            }

            .navbar-menu .yoco {
                font-size: 20px;
            }

            .navbar-menu .active {
                font-weight: 700
            }

            @media (max-width: 840px) {
                .navbar {
                    z-index: 400;
                    height: 2.4em;
                    min-height: auto;
                    border: 0;
                    flex: 0 0 2.4em;
                    border-bottom: 1px solid #ddd;
                    border-right: none !important;
                }

                .navbar-wrapper {
                    position: relative;
                    flex-direction: row;
                    width: 100%;
                    height: 2.4em;
                    padding: 0;
                    border-bottom: 1px solid #ddd;
                    border-right: none !important;
                    flex: 0 0 2.4em
                }

                .navbar-header {
                    display: flex;
                    width: 100%;
                    flex: 1 1 auto;
                    align-items: center
                }

                .navbar-logo {
                    display: none
                }

                .navbar-logo--mobile {
                    display: inline;
                    padding: .2em
                }

                .navbar-logo--mobile img {
                    height: 2em
                }

                .navbar-notification--mobile .yoco {
                    font-size: 20px;
                }

                .navbar-body {
                    display: none
                }

                .navbar-dropdown {
                    display: block;
                    background-color: {{ theme.navbar_bkg_color }};
                }

                .navbar--narrow .navbar-wrapper {
                    padding: 0
                }

                .navbar-togglekt {
                    display: flex
                }

                .navbar-header {
                    border: 0
                }

                .navbar-footer {
                    border: 0;
                    padding-top: .4em !important;
                    padding-left: .2em !important;
                    flex: 0 0 2.4em;
                    justify-content: center;
                    align-items: center
                }
            }


            .user-info {
                line-height: 1;
                position: relative;
                display: flex;
                flex-direction: row;
                margin: -.4em;
                padding: .4em;
                justify-content: space-between
            }

            .user-info:hover {
                cursor: pointer;
                border-radius: .2em;
                background: rgba(0, 0, 0, .24)
            }

            .user-info-text {
                line-height: .8em;
                z-index: 2;
                width: 100%;
                margin-left: .4em;
                color: #fff
            }

            .user-info-text__name {
                font-size: .7em;
                font-weight: 600
            }

            .user-info-text__status {
                font-size: .6em;
                font-weight: 600;
                opacity: .65
            }

            .user-info-toggle {
                z-index: 2;
                color: #fff;
                flex-grow: 0;
                align-self: center
            }

            .user-menu {
                position: absolute;
                bottom: .4em;
                left: .4em;
                box-sizing: border-box;
                width: 11.2em;
                padding: .8em;
                padding-bottom: 3.2em;
                color: {{ theme.navbar_txt_color }};
                border-radius: .2em;
                background: {{ theme.navbar_bkg_color}};
                box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
                flex: none
            }

            .user-menu__section {
                font-size: .5em;
                font-weight: 600;
                padding: .2em .4em;
                text-transform: uppercase;
                opacity: .46
            }

            .user-menu__item {
                font-size: .68em;
                line-height: 1.2em;
                display: block;
                margin: .1em 0;
                padding: .2em .4em;
                color: inherit;
                border-radius: .2em
            }

            .user-menu__item:hover {
                cursor: pointer;
                color: inherit;
                background: rgba(255, 255, 255, .14)
            }

            @media (max-width: 840px) {
                .user-info {
                    flex-basis: 48px
                }

                .user-info--narrow {
                    position: relative;
                    top: 0;
                    left: 0
                }

                .user-info--narrow-wide {
                    width: auto
                }

                .user-info-text, .user-info-toggle {
                    display: none
                }

                .user-menus {
                    display: block
                }

                .user-menu {
                    top: 2.4em;
                    bottom: auto;
                    left: 0;
                    width: 100%;
                    padding-bottom: .8em;
                    border-radius: 0 0 .2em .2em
                }
            }

            .avatar {
                position: relative;
                display: inline-flex;
                width: 2.4em;
                height: 2.4em;
                border: .1em solid #fff;
                border-radius: 100%;
                background: #dbdbdb
            }

            .avatar--hover:hover {
                cursor: pointer;
                border: .1em solid #2659ab
            }

            .avatar-img {
                width: 100%;
                border-radius: 100%;
                -o-object-fit: cover;
                object-fit: cover
            }

            .avatar-group {
                display: flex;
                flex-direction: row;
                align-items: center
            }

            .avatar-group .avatar {
                margin-right: .2em
            }

            .avatar-group .avatar:nth-child(1) {
                z-index: 9
            }

            .avatar-group .avatar:nth-child(2) {
                z-index: 8
            }

            .avatar-group .avatar:nth-child(3) {
                z-index: 7
            }

            .avatar-group .avatar:nth-child(4) {
                z-index: 6
            }

            .avatar-group .avatar:nth-child(5) {
                z-index: 5
            }

            .avatar-group .avatar:nth-child(6) {
                z-index: 4
            }

            .avatar-group .avatar:nth-child(7) {
                z-index: 3
            }

            .avatar-group .avatar:nth-child(8) {
                z-index: 2
            }

            .avatar-group .avatar:nth-child(9) {
                z-index: 1
            }

            .avatar-group .avatar:nth-child(10) {
                z-index: 0
            }

            .avatar-group.stack .avatar:not(:first-of-type) {
                margin-left: -.8em
            }

            .avatar-group .avatar.avatar-number {
                margin-left: .2em;
                background: #dbdbdb;
                align-items: center
            }

            .avatar-group .avatar.avatar-number span {
                width: 100%;
                text-align: center
            }

            .avatar--sm {
                width: 1.6em;
                height: 1.6em
            }

            .avatar--selected {
                background: #2c64cc
            }

            .avatar-fallback .avatar-fallback__head {
                position: absolute;
                top: .5em;
                left: .8em;
                width: .6em;
                height: .6em;
                border-radius: 100%;
                background: #fff
            }

            .avatar-fallback .avatar-fallback__body {
                position: absolute;
                top: 1.3em;
                left: .5em;
                width: 1.2em;
                height: .4em;
                border-radius: 50% 50% 0 0;
                background: #fff
            }

            .avatar-fallback--small .avatar-fallback__head {
                top: .3em;
                left: .5em;
                width: .4em;
                height: .4em
            }

            .avatar-fallback--small .avatar-fallback__body {
                top: .8em;
                left: .3em;
                width: .8em;
                height: .3em
            }
            /* Old Container used on some UP Pages, overriden here for responsiveness ¯\_(ツ)_/¯ */

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: auto !important;
        }

        </style>
    {% endwith %}
{% endif %}
