{% load i18n %}
{% load staticfiles %}
<noscript>
    <div id="b3-no-javascript" class="danger">
        <p class="text-center" id="no-js">{% trans 'Please enable JavaScript for this site to work' %}</p>
    </div>
</noscript>