{% load i18n %}
<div id="b3-cube-holder">
    <div id="b3-cube-rotation">
        <div class="b3-cube-face b3-cube-face-one">
            {% trans 'Top' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-back"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-back"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-right"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-right"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-top"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-left"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-left"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-front"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-front"></div>
            </div>
        </div>
        <div class="b3-cube-face b3-cube-face-two">
            {% trans 'Front' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-top"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-top"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-right"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-right"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-front"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-left"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-left"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-bottom"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-bottom"></div>
            </div>
        </div>
        <div class="b3-cube-face b3-cube-face-three">
            {% trans 'Left' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-top"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-top"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-front"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-front"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-left"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-back"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-back"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-bottom"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-bottom"></div>
            </div>
        </div>
        <div class="b3-cube-face b3-cube-face-four">
            {% trans 'Back' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-top"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-top"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-left"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-left"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-back"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-right"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-right"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-bottom"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-bottom"></div>
            </div>
        </div>
        <div class="b3-cube-face b3-cube-face-five">
            {% trans 'Right' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-top"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-top"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-back"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-back"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-right"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-front"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-front"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-bottom"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-bottom"></div>
            </div>
        </div>
        <div class="b3-cube-face b3-cube-face-six">
            {% trans 'Bottom' %}
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-top-1 b3-to-front"></div>
                <div class="b3-cube-inner-faces-top-2 b3-to-front"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-left-1 b3-to-right"></div>
                <div class="b3-cube-inner-faces-left-2 b3-to-right"></div>
            </div>
            <div class="b3-cube-inner-main b3-inner-main-bottom"></div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-right-1 b3-to-left"></div>
                <div class="b3-cube-inner-faces-right-2 b3-to-left"></div>
            </div>
            <div class="b3-inner-cube-faces">
                <div class="b3-cube-inner-faces-bottom-1 b3-to-back"></div>
                <div class="b3-cube-inner-faces-bottom-2 b3-to-back"></div>
            </div>
        </div>
    </div>
</div>
