{% load i18n %}
{% load organization_flags %}
{% if request|show_upload_button and view_name != 'home_pro_account' %}
<div class="b3-overlay-container hidden">
    <div class="b3-overlay uploads "></div>
    <h4 class="b3-overlay-uploads-text">
        {% blocktrans %}Drop to upload{% endblocktrans %}
    </h4>
</div>
<style>
    .b3-overlay.uploads{
        position: fixed;
        padding-top:0;
        z-index: 9001;
        background-color: rgba(232, 230, 230, 0.7);
    }

    .b3-overlay-uploads-text{
        position: absolute;
        z-index: 9001;
        width: 100%;
        margin-top: 255px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: white;
    }
</style>
{% endif %}