{% load currency_tags i18n %}
{% load customfiltercalc %}
{% load b3_utils %}
{% load l10n %}

<table cellspacing="2" cellpadding="2" style="border:0;border-collapse:collapse; width:100%; font-size:12px;">
    <tr style="border-bottom:1px solid gray;">
        <td><b>{% trans 'Quantity' %}</b></td>
        <td>{% if not current_site or not current_org.is_single_supplier_account %}<b>{% trans '3D printing service' %}</b>{% endif %}</td>
        <td><b>{% trans 'Item' %}</b></td>
        <td style="text-align: right"><b>{% trans 'Price' %}</b></td>
    </tr>
    {% for line in order.lines.all %}
        <tr style="border-bottom:1px solid gray;">
            <td>{{ line.quantity }}</td>
            <td>{% if not current_site or not current_org.is_single_supplier_account %}{{ line.partner }}{% endif %}</td>
            <td>
                {{ line.name}}
                {% trans 'Download' %} (
                <a href="{{ base_url }}/uploads/{{ line.stl_file.uuid }}/download_original?scale={{line.scale|unlocalize}}">{% trans 'original' %}</a>
                {% if current_org.enable_optimized_file_download %}
                 | <a href="{{ base_url }}/uploads/{{ line.stl_file.uuid }}/download_optimized?scale={{line.scale|unlocalize}}">{%  trans 'optimized' %}</a>
                {% endif %}
                 )<br/>
                {% trans "Material" %}:  {{ line.stock_record.product.category }}  ({{ line.stock_record.product.full_product_title }})  <br/>
                {% if line.post_processing_options.exists %}
                    {% trans 'Post Processings' %}:<br />
                    {% for option in line.post_processing_options.all %}
                        {{ option.post_processing.title }}
                        {% if option.color %}
                            {% if LANGUAGE_CODE == 'de' %}
                                ({{ option.color.title_de }})
                            {% elif LANGUAGE_CODE == 'en' %}
                                ({{ option.color.title_en }})
                            {% endif %}
                        {% endif %}<br />
                    {% endfor %}
                {% endif %}
                {% trans 'Dimensions' %} ({{ line.dimensions_formatted }})<br />
                {% trans 'Unit Price' %}:
                    {% if current_org.show_net_prices %}
                        {{ line.unit_price.excl_tax|currency:order.currency }} x {{ line.quantity }}
                        {% if line.item_discount.excl_tax %}
                            <br/>
                            {% trans 'Discount' %}: - {{ line.item_discount.excl_tax|currency:order.currency }}
                        {% endif %}
                    {% else %}
                        {{ line.unit_price.incl_tax|currency:order.currency }} x {{ line.quantity }}
                        {% if line.item_discount.incl_tax %}
                            <br/>
                            {% trans 'Discount' %}: - {{ line.item_discount.incl_tax|currency:order.currency }}
                        {% endif %}
                    {% endif %}

            </td>
            <td style="text-align:right">
                {% if current_org.show_net_prices %}
                    {{ line.item_total.excl_tax|currency:order.currency }}
                {% else %}
                    {{ line.item_total.incl_tax|currency:order.currency }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
     <tr>
        <td></td>
        <td></td>
        <td>{% trans 'Subtotal' %}:</td>
        <td style="text-align:right;">
            {% if current_org.show_net_prices %}
                {{ order.subtotal.excl_tax|currency:order.currency }}
            {% else %}
                {{ order.subtotal.incl_tax|currency:order.currency }}
            {% endif %}
        </td>
    </tr>
    {% if order.applied_fees.exists %}
    <tr>
        <td></td>
        <td></td>
        <td>{% trans 'Extra Fees' %}:</td>
        <td></td>
    </tr>
    {% for fee in order.applied_fees.all %}
    <tr>
        <td></td>
        <td></td>
        <td>{{ fee.name }}</td>
        {% if current_org.show_net_prices %}
            <td style="text-align:right;">{{ fee.price.excl_tax|currency:order.currency }}</td>
        {% else %}
            <td style="text-align:right;">{{ fee.price.incl_tax|currency:order.currency }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}

    {% if order.min_price_diff_value %}
        <tr>
            <td></td>
            <td></td>
            <td>{% trans 'Difference to Minimum Price' %}:</td>
            <td style="text-align:right">
                {% if current_org.show_net_prices %}
                    {{ order.minimum_price_fee.excl_tax|currency:order.currency }}
                {% else %}
                    {{ order.minimum_price_fee.incl_tax|currency:order.currency }}
                {% endif %}

            </td>
        </tr>
    {% endif %}

    {% if order.shipping_method %}
    <tr>
        <td></td>
        <td></td>
        <td style="border-bottom: 1px solid gray;">{% trans 'Shipping' %}:</td>
        <td style="border-bottom: 1px solid gray; text-align:right">
            {% if current_org.show_net_prices %}
                {{ order.shipping_price.excl_tax|currency:order.currency }}
            {% else %}
                {{ order.shipping_price.incl_tax|currency:order.currency }}
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% if order.voucher_discount_value %}
        <tr>
            <td></td>
            <td></td>
            <td>{% trans 'Discount' %}:</td>
            <td style="text-align:right">
                {% if current_org.show_net_prices %}
                    -{{ order.voucher_discount.excl_tax|currency:order.currency }}
                {% else %}
                    -{{ order.voucher_discount.incl_tax|currency:order.currency }}
                {% endif %}
            </td>
        </tr>
    {% endif %}

    <tr style="font-weight: bold;">
        <td></td>
        <td></td>
        <td style="border-bottom: 3px double gray;">
            {% if current_org.show_net_prices %}
                {% trans 'Net total' %}:
            {% else %}
                {% trans 'Total' %}:
            {% endif %}
        </td>
        <td style="text-align:right;border-bottom: 3px double gray;">
            {% if current_org.show_net_prices %}
                {{ order.total.excl_tax|currency:order.currency }}
            {% else %}
                {{ order.total.incl_tax|currency:order.currency }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>
            {% if not current_org.show_net_prices %}including {% endif %}
            {{ order.tax_rate|floatformat:2 }}&#37; {{ order.partner.tax_type }}:
        </td>
        <td style="text-align:right">
            {{ order.total.tax|currency:order.currency }}
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td style="border-bottom: 1px solid gray;">
            {% if current_org.show_net_prices %}
                {% trans 'Total' %}:
            {% else %}
                {% trans 'Net total' %}:
            {% endif %}
        </td>
        <td style="border-bottom: 1px solid gray; text-align:right">
            {% if current_org.show_net_prices %}
                {{ order.total.incl_tax|currency:order.currency }}
            {% else %}
                {{ order.total.excl_tax|currency:order.currency }}
            {% endif %}
        </td>
    </tr>

</table>
