{% load currency_tags i18n %}
{% load customfiltercalc %}
{% load b3_utils %}
{% load l10n %}
{% load tz %}
<style type="text/css">
    p{
        font-size:12px;
    }
</style>

<table cellspacing="2" cellpadding="2" style="border:0;border-collapse:collapse; width:100%; font-size:12px;">
    <tr valign="top">
        <td>
            <h4 align="justify">{% trans 'Order details' %}:</h4>
            {% trans 'Ordered By' %}: {{ order.purchased_by.userprofile }}<br/>
            {% resolve_timezone_of_user_from_order order as TIME_ZONE %}
            {% trans 'Ordered date' %}: {% timezone TIME_ZONE %}{{order.datetime_placed}}{% endtimezone %} ({{ TIME_ZONE }})<br/>
            {% trans 'Order/Quotation number' %}: {{ order.number }} <br/>
            {% if order.customer_number %}
                {% trans 'Customer Number' %}: {{ order.customer_number }}
            {% endif %}
            {% if order.basket.reference %}
                {% trans 'Your reference' %}: {{ order.basket.reference }} <br/>
            {% endif %}
        </td>
        <td></td>
        <td></td>
    </tr>
</table>

{% include 'b3_core/emails/include/order_lines.html' %}

<br><br>

<div style="width: 220px;display: inline-block; vertical-align: top;">
    <h3 style="font-size: 12px">
        {% if order.shipping_method %}
            {% trans 'Shipping Address' %}
        {% else %}
            {% trans 'Customer Pickup' %}
        {% endif %}

    </h3>
    <address>
        {% if order.shipping_method %}
            {{ order.shipping_address.salutation }}
            {% if order.shipping_address.company_name %}
                <br/> {{ order.shipping_address.company_name }}
            {% endif %}
            {% if order.shipping_address.line1 %}
                <br/> {{ order.shipping_address.line1 }}
            {% endif %}
            {% if order.shipping_address.line2 %}
                <br/> {{ order.shipping_address.line2 }}
            {% endif %}
            <br/> {{ order.shipping_address.city }}{% if order.shipping_address.state %}, {{ order.shipping_address.state }}{% endif %}, {{ order.shipping_address.zip_code }}
            <br/> {{ order.shipping_address.country.name }}
        {% else %}
            {{ order.pickup_location.location }} <br/>
            {{ order.pickup_location.instructions|default_if_none:'' }}

        {% endif %}

        {% if order.company %}
            <h3 style="font-size: 12px">{% trans 'Company Information' %}:</h3>
            {{ order.company }} <br/>
            {% trans 'VAT: ' %}{{ order.vat_number }}
        {% endif %}
    </address>
</div>

<div style="width: 220px;display: inline-block; vertical-align: top;">
    {% if order.billing_address %}
        <h3 style="font-size: 12px">{% trans 'Billing Address' %}</h3>
        <address>
            {{ order.billing_address.salutation }}
            {% if order.billing_address.company_name %}
                <br/> {{ order.billing_address.company_name }}
            {% endif %}
            {% if order.billing_address.line1 %}
                <br/> {{ order.billing_address.line1 }}
            {% endif %}
            {% if order.billing_address.line2 %}
                <br/> {{ order.billing_address.line2 }}
            {% endif %}
            <br/> {{ order.billing_address.city }}{% if order.billing_address.state %}, {{ order.billing_address.state }}{% endif %}, {{ order.billing_address.zip_code }}
            <br/> {{ order.billing_address.country.name }}
        </address>
    {% endif %}
</div>

<div style="display: inline-block; width: 250px; vertical-align: top; padding-top: 13px;">
    <b>{% trans 'Delivery time' %}:</b> {{ delivery_time_string }}<br/>
    <b>{% trans 'Payment method' %}:</b> {{ order.payment.payment_method }}<br/>
    {% if order.payment.payment_method.description %}
        <b>{% trans 'Payment description' %}:</b> {{ order.payment.payment_method.description }}
    {% endif %}
    {% if not current_site or not current_org.is_single_supplier_account %}
        <br/>
        {% if order.partner.address_id %}
            <b>{% trans 'Phone number of the 3D printing service' %}:</b><br> {{ order.partner.address.phone_number }}
        {% endif %}
    {% endif %}
</div>
