{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}cloneProjectModal{% endblock %}

{% block modal_title %}{% trans 'Clone 3D project' %}{% endblock %}

{% block modal_body %}

    <div class="form-horizontal">
      <div class="form-group">
        <label for="clone-project-title" style="margin-top: 7px;" class="col-sm-2 control-label">{% trans 'Title' %}</label>
        <div class="col-sm-10">
          <input onclick="this.setSelectionRange(0, this.value.length)" type="text" required data-bind="textInput: title, event:{keypress: enter}" class="form-control" id="clone-project-title" >
          <span class="text-danger" style="position: absolute;bottom: -25px;" data-bind="visible: error">{% trans 'The 3D project title cannot be empty.' %}</span>
        </div>
      </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: cloneProject">{% trans 'Clone' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function CloneProjectVM() {
            var self = this;

            self.title = ko.observable();
            self.error = ko.observable();

            self.ShowCloneProjectModal = function(data, event) {
                self.title($('#project-title')[0].innerText + '_cloned');
                self.error(false);
                $("#cloneProjectModal").modal('show');
            };

            self.enter = function(data, event){
                if (event.which == 13) {
                    self.cloneProject();
                }
                return true;
            };

            self.cloneProject = function() {
                if (!self.title() || self.title() === "") {
                    self.error(true);
                } else {
                    project_api.clone_project(projectId, self.title(), function(data) {
                        if (data.success) {
                            document.location.href = data.redirect_url;
                        }
                    });
                }
            };

            // Public members
            self.publicMembers = {
                "show_clone_project_modal": self.ShowCloneProjectModal
            };
        }

        ko.applyBindings(new CloneProjectVM(), $("#cloneProjectModal")[0]);
    </script>
{% endblock %}
