{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteProjectPermission{% endblock %}

{% block modal_title %}{% trans 'Remove Permission' %}{% endblock %}

{% block modal_body %}

    <div class="form-horizontal">
      {% blocktrans %}
        <p>Are you sure you want to remove <span data-bind="text:user">username</span> from this project?</p>
      {% endblocktrans %}
      <span data-bind="text: errorMsg"></span>
    </div>

{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteProjectPermission">{% trans 'Revoke Access' %}</div>
{% endblock %}

{% block modal_logic %}
<script type="text/javascript">
function DeletePermissionVM() {
    var self = this;
    self.email = ko.observable('');
    self.user = ko.observable('');
    self.permission = null;
    self.selected = null;
    self.errorMsg = ko.observable('');
    self.deleteProjectPermission = function () {
        self.email(self.selected.email);
        project_api.deletePermission(projectId, self.email(), function(data) {
            if (data.success) {
                self.permission.sharingPermissionArrary.remove(function (item) {
                    return item.email === self.selected.email;
                });
                $('#deleteProjectPermission').modal('hide');
            }
            self.errorMsg('data.message');
        });
    };
    self.showDeleteProjectPermission = function (selected) {
        self.permission = projectVM.projectPermissionVM;
        self.selected = selected;
        self.email(self.selected.email);
        self.user(self.selected.user);
        $('#deleteProjectPermission').modal('show');
    };
    self.publicMembers = {
        'show_delete_permission_modal': self.showDeleteProjectPermission
    };
}
ko.applyBindings(new DeletePermissionVM(), $('#deleteProjectPermission')[0]);
</script>
{% endblock %}
