{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteProjectModal{% endblock %}

{% block modal_title %}{% trans 'Delete 3D Project' %}{% endblock %}

{% block modal_body %}{% blocktrans %}Are you sure you want to delete this 3D project? <br/> You cannot undo this action.{% endblocktrans %}{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteProject" data-dismiss="modal">{% trans 'Delete' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteProjectVM() {
            var self = this;

            self.projectId = '';
            if (typeof projectId !== 'undefined')
                self.projectId = projectId;

            self.ShowDeleteProjectModal = function (project_id) {
                if (project_id && project_id == parseInt(project_id, 10))
                    self.projectId = project_id;

                $("#deleteProjectModal").modal('show');
            };

            self.deleteProject = function() {
                project_api.delete_project(self.projectId, function(data) {
                    if (data.success)
                        window.location.href = data.redirect_url;
                });
            };

            // Public members
            self.publicMembers = {
                "show_delete_project_modal": self.ShowDeleteProjectModal
            };
        }

        ko.applyBindings(new DeleteProjectVM(), $("#deleteProjectModal")[0]);
    </script>
{% endblock %}
