{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}newPermissionModal{% endblock %}

{% block modal_title %}{% trans 'Grant permission to others' %}{% endblock %}

{% block modal_body %}

    <div class="form-horizontal">

      <div class="form-group">
        {% blocktrans %}
            <p>Can view, download and order files from your 3D Project.</p>
        {% endblocktrans %}
        <input class="form-control" placeholder="email@example.com"
            data-bind="value: email, valueUpdate: 'afterkeydown', event: {keypress: enterKeyPress}">
        <span class="error-msg" data-bind="text:errorMsg"></span>
      </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: sendProjectPermission">{% trans 'Send' %}</div>
{% endblock %}

{% block modal_logic %}
<script type="text/javascript">
    function NewPermissionVM() {
        var self = this;
        self.email = ko.observable('');
        self.permission = null;
        self.errorMsg = ko.observable(null);
        self.sendProjectPermission = function () {
            project_api.sharePermission(projectId, self.email(), function (data) {
                if (data.success) {
                    var permissionVM = new PermissionVM(data);
                    self.permission.sharingPermissionArrary.unshift(permissionVM);
                    $('#newPermissionModal').modal('hide');
                }
                return self.errorMsg(data.message);
            });
        };
        self.enterKeyPress = function (data, event) {
            if (event.which === 13) {
                self.sendProjectPermission()
            }
            return true
        }
        // Public members
        self.showNewProjectPermission = function () {
            self.permission = projectVM.projectPermissionVM;
            self.email('')
            self.errorMsg(null)
            $('#newPermissionModal').modal('show');
        };
        self.publicMembers = {
            "show_new_permission_modal": self.showNewProjectPermission
        };
    }
    ko.applyBindings(new NewPermissionVM(), $("#newPermissionModal")[0]);

</script>

{% endblock %}
