{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}newProjectModal{% endblock %}

{% block modal_title %}{% trans 'New 3D project' %}{% endblock %}

{% block modal_body %}

    <div class="form-horizontal">
      <div class="form-group">
        <label for="new-project-title" style="margin-top: 7px;" class="col-sm-2 control-label">{% trans 'Title' %}</label>
        <div class="col-sm-10">
          <input onclick="this.setSelectionRange(0, this.value.length)" type="text" required data-bind="textInput: title, event:{keypress: enter}" class="form-control" id="new-project-title" >
          <span class="text-danger" style="position: absolute;bottom: -25px;" data-bind="visible: error">{% trans 'The 3D project title cannot be empty.' %}</span>
        </div>
      </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: newProject">{% trans 'Create 3D Project' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function NewProjectVM() {
            var self = this;
            var text = "{% trans '3D Project' %}";
            self.title = ko.observable(text);
            self.error = ko.observable();
            self.uuid = ko.observable(null);

            self.ShowNewProjectModal = function(uuid) {
                if (uuid) {
                    self.uuid(uuid);
                }

                self.error(false);
                $('#newProjectModal').modal('show');
                self.title(text);
            };

            self.enter = function(data, event) {
                if (event.which === 13) {
                    self.newProject();
                }
                return true;
            };

            self.newProject = function() {
                var title =
                    self.title() === '' ? gettext('3D Project') : self.title();
                project_api.add_project(title, function(data) {
                    window.location = data.redirect_url;
                });
            };

            // Public members
            self.publicMembers = {
                show_new_project_modal: self.ShowNewProjectModal
            };
        }

        ko.applyBindings(new NewProjectVM(), $('#newProjectModal')[0]);
    </script>
{% endblock %}
