{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}priceRequestModal{% endblock %}

{% block modal_title %}{% trans 'Request Price' %}{% endblock %}

{% block modal_body %}
    {% blocktrans %}
    <p>Once you request the price, this 3D project will be frozen while we quote it for you.</p>
    <p>This typically takes less than 48 hours. We will notify you as soon as we are finished!</p>
    {% endblocktrans %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <a data-bind="click: sendPriceRequest">
        <div class="btn btn-primary">{% trans 'Request' %}</div>
    </a>
{% endblock %}

{% block modal_logic %}
<script type="text/javascript">
    function priceRequestModalVM() {
        var self = this;
        // self.order_url = ko.observable('#');
        self.sendPriceRequest = function () {
            project_api.request_manual_price(projectId, function(data){
                $('#priceRequestModal').modal('hide');
                projectVM.is_frozen(true);// Block user change the basket
                console.log('send post to backend and forzen the basket')
            });
        }
        self.showPriceRequestModal = function () {
            $("#priceRequestModal").modal('show');
        };

        // Public members
        self.publicMembers = {
            "show_price_request_modal": self.showPriceRequestModal
        };
    }

    ko.applyBindings(new priceRequestModalVM(), $("#priceRequestModal")[0]);
</script>
{% endblock %}
