{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}savePriceRequestModal{% endblock %}

{% block modal_title %}{% trans 'Save Request Price' %}{% endblock %}

{% block modal_body %}
    {% blocktrans %}After your save this price request, your customer will be notified and can't change in the future.{% endblocktrans %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <a data-bind="click: sendPriceRequest">
        <div class="btn btn-primary">{% trans 'Save Request' %}</div>
    </a>
{% endblock %}

{% block modal_logic %}
<script type="text/javascript">
    function savePriceRequestModalVM() {
        var self = this;
        // self.order_url = ko.observable('#');
        self.sendPriceRequest = function () {
            project_api.set_basket_as_priced(projectId, function(data){
                $('#savePriceRequestModal').modal('hide');
                projectVM.is_frozen(true);// Block user change the basket
                location.reload(); // refresh page after success
            });
        }
        self.showSavePriceRequestModal = function () {
            $("#savePriceRequestModal").modal('show');
        };

        // Public members
        self.publicMembers = {
            "show_save_price_request_modal": self.showSavePriceRequestModal
        };
    }

    ko.applyBindings(new savePriceRequestModalVM(), $("#savePriceRequestModal")[0]);
</script>
{% endblock %}
