---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose-all.yml
    kompose.version: 1.1.0 (36652f6)
  labels:
    service: {{ name }}-backend
  name: {{ name }}-backend
spec:
  clusterIP: None
  ports:
  - name: headless
    port: 55555
    targetPort: 8080
  selector:
    service: {{ name }}-backend
status:
  loadBalancer: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose-all.yml
    kompose.version: 1.1.0 (36652f6)
  creationTimestamp: null
  labels:
    service: {{ name }}-backend
  name: {{ name }}-backend
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: {{ name }}-backend
    spec:
      restartPolicy: Always
      containers:
        - env:
          - name: APP_PORT
            value: "443"
          - name: APP_URL
            value: http://my.3yd
          - name: DB_HOST
            value: {{ name }}-db
          - name: DB_NAME
            value: threeyd
          - name: DB_PASSWORD
            value: threeyd
          - name: DB_PORT
            value: "3306"
          - name: DB_SSL
            value: "false"
          - name: DB_USER
            value: threeyd
          - name: DISABLE_REPAIR
            value: "false"
          - name: LOG_LEVEL
            value: info
          - name: ROBOT_URL
            value: http://ec2-18-194-200-118.eu-central-1.compute.amazonaws.com:80
          - name: SECRET_KEY
            value: 4e%669-tb4_#!t7$*^25ifzw!j%aohn+3h+@o5n_c%==#dy0c9
          - name: SQL_ENGINE
            value: mysql
          - name: STORAGE_CLASS
            value: AmazonStorage
          - name: AMAZON_BUCKET_NAME
            valueFrom:
              secretKeyRef:
                name: ci-aws-bucket-credentials
                key: upload_bucket
          - name: AMAZON_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: ci-aws-bucket-credentials
                key: access_key
          - name: AMAZON_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: ci-aws-bucket-credentials
                key: secret_key
          - name: AMAZON_REGION
            value: eu-central-1
          image: 854130308264.dkr.ecr.eu-central-1.amazonaws.com/3yd-backend:latest
          name: backend
          ports:
            - containerPort: 8080
          resources: {}
status: {}

