---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: {{ name }}-button3d
  name: {{ name }}-button3d
spec:
  clusterIP: None
  ports:
  - name: headless
    port: 55555
    targetPort: 8000
  selector:
    service: {{ name }}-button3d
status:
  loadBalancer: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    service: {{ name }}-button3d
  name: {{ name }}-button3d
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: {{ name }}-button3d
    spec:
      containers:
      - env:
        - name: COMPRESS_OFFLINE
          value: "True"
        - name: DB_HOST
          value: {{ name }}-db
        - name: DB_NAME
          value: threeyd
        - name: DB_PASSWORD
          value: threeyd
        - name: DB_PORT
          value: "3306"
        - name: DB_USER
          value: threeyd
        - name: DEBUG
          value: "False"
        - name: ENABLE_IPINFO_API
          value: "false"
        - name: INIT_DB
          value: "True"
        - name: LOG_LEVEL
          value: DEBUG
        - name: PYTHONDONTWRITEBYTECODE
          value: "True"
        - name: SQL_ENGINE
          value: mysql
        - name: SAMPLE_DATA_MULTI_DOMAIN
          value: multi-{{ name }}.test.kub.3yourmind.com
        - name: SAMPLE_DATA_SINGLE_DOMAIN
          value: single-{{ name }}.test.kub.3yourmind.com
        - name: EMAIL_BACKEND
          value: "django.core.mail.backends.filebased.EmailBackend"
        - name: MEDIA_STORAGE
          value: s3
        - name: S3_BUCKET
          valueFrom:
            secretKeyRef:
              name: ci-aws-bucket-credentials
              key: media_bucket
        - name: S3_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: ci-aws-bucket-credentials
              key: access_key
        - name: S3_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: ci-aws-bucket-credentials
              key: secret_key
        image: 854130308264.dkr.ecr.eu-central-1.amazonaws.com/3yd-django:{{ b3tag }}
        name: button3d
        ports:
          - containerPort: 8000
        resources: {}
      restartPolicy: Always
status: {}

