---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose-all.yml
    kompose.version: 1.1.0 (36652f6)
  creationTimestamp: null
  labels:
    service: {{ name }}-db
  name: {{ name }}-db
spec:
  ports:
  - name: "3306"
    port: 3306
    targetPort: 3306
  selector:
    service: {{ name }}-db
status:
  loadBalancer: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose-all.yml
    kompose.version: 1.1.0 (36652f6)
  creationTimestamp: null
  labels:
    service: {{ name }}-db
  name: {{ name }}-db
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: {{ name }}-db
    spec:
      restartPolicy: Always
      containers:
        - args:
            - --character-set-server=utf8mb4
            - --collation-server=utf8mb4_unicode_ci
            - --bind-address=0.0.0.0
          env:
            - name: MYSQL_DATABASE
              value: threeyd
            - name: MYSQL_PASSWORD
              value: threeyd
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_USER
              value: threeyd
          image: mariadb
          name: db
          ports:
            - containerPort: 3306
          resources: {}
status: {}

