---
apiVersion: v1
kind: Service
metadata:
  annotations:
    domains: "multi-{{ name }} single-{{ name }}"
  creationTimestamp: null
  labels:
    service: {{ name }}-nginx
  name: {{ name }}-nginx
spec:
  type: NodePort
  ports:
  - name: "b3-nginx"
    port: 80
    targetPort: 8000
  selector:
    service: {{ name }}-nginx
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    service: {{ name }}-nginx
  name: {{ name }}-nginx
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: {{ name }}-nginx
    spec:
      containers:
      - env:
          - name: BACKEND_UPSTREAM
            value: {{ name }}-backend:8080
          - name: DJANGO_UPSTREAM
            value: {{ name }}-button3d:8000
          - name: ENABLE_ORGAMAX
            value: "false"
          - name: ENABLE_SSL
            value: "false"
          - name: SSL_EXTERNAL
            value: "true"
          - name: YODA_UPSTREAM
            value: {{ name }}-yoda:8081
          - name: REEVAL_DNS
            value: "true"
        image: 854130308264.dkr.ecr.eu-central-1.amazonaws.com/3yd-nginx:1.1
        name: nginx
        ports:
          - containerPort: 8000
        resources: {}
      - name: "dnsmasq"
        image: "janeczku/go-dnsmasq:release-1.0.5"
        args:
          - --listen
          - "127.0.0.1:53"
          - --default-resolver
          - --append-search-domains
          - --hostsfile=/etc/hosts
          - --verbose
      restartPolicy: Always
status: {}

