---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: {{ name }}-yoda
  name: {{ name }}-yoda
spec:
  clusterIP: None
  ports:
  - name: headless
    port: 55555
    targetPort: 0
  selector:
    service: {{ name }}-yoda
status:
  loadBalancer: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    service: {{ name }}-yoda
  name: {{ name }}-yoda
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: {{ name }}-yoda
    spec:
      containers:
      - image: 854130308264.dkr.ecr.eu-central-1.amazonaws.com/3yd-yoda:1.9.0
        name: {{ name }}-yoda
        resources: {}
      restartPolicy: Always
status: {}

