{% load i18n %}

<li class="dropdown" style="border-right:none;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{ user.email }} <span class="caret"></span></a>

    <ul class="dropdown-menu">
        {% include 'b3_core/partials/nav-dropdown-content.html' %}
    </ul>
</li>
