{% load i18n %}
{% load organization_flags %}
{% load currency_tags %}

{% if request.user.userprofile.can_use_service_panel %}
    <li onclick="showSiteConfigurationModal();" style="width:100%; text-align: center; border:0; cursor:pointer; margin: .2rem;">
        <span class="flag-icon flag-icon-{{ current_country|lower }}"></span>
        <span class="currency-selected">{{ active_currency | currency_with_symbol }}</span>
    </li>
    <li>
        <a
            href="/service-panel/"
            id="service-panel-link"
        >
            {% trans "Service Configuration" %}
        </a>
    </li>
    <li class="divider"></li>
{% endif %}
<li><a id="nav-logout-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>

<script>
    function trySetLanguageOnServicePanelChange() {
        var servicePanelLink = document.getElementById('service-panel-link');
        if (!servicePanelLink) return;
        servicePanelLink.addEventListener('click', function() {
            var languageCode = '{{ request.LANGUAGE_CODE }}';
            localStorage.setItem('yoda-language', languageCode);
        });
    }
    trySetLanguageOnServicePanelChange();
</script>
