{% load i18n %}
{% load organization_flags %}

<li><a href="{% url 'b3_organization:dashboard' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'b3_user_panel:projects' %}">{% trans "3D Projects" %}</a></li>
<li><a href="{% url 'b3_user_panel:settings' %}">{% trans "Settings" %}</a></li>
<li class="divider"></li>

{% if request.user.userprofile.can_use_service_panel %}
    <li>
        <a
            href="/service-panel/"
            id="service-panel-link"
        >
            {% trans "Service Configuration" %}
        </a>
    </li>
    <li class="divider"></li>
{% endif %}
<li><a id="nav-logout-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>

<script>
    function trySetLanguageOnServicePanelChange() {
        var servicePanelLink = document.getElementById('service-panel-link');
        if (!servicePanelLink) return;
        servicePanelLink.addEventListener('click', function() {
            var languageCode = '{{ request.LANGUAGE_CODE }}';
            localStorage.setItem('yoda-language', languageCode);
        });
    }
    trySetLanguageOnServicePanelChange();
</script>
