{% load staticfiles %}
{% if SENTRY_JS_DSN and not is_debug_ip %}
<script src="{% static "js/vendor/raven.min.js" %}"></script>
<script type="text/javascript">
   Raven.config('{{ SENTRY_JS_DSN }}').install();
</script>
{% endif %}