<template>
	<div class="checkout__payment-info-container">
		<PaymentCancelledModal
			v-if="orderStatus === 'CANCELLED'"
			@close="orderStatus = 'READY'"
		/>
		<PaymentProgressModal
			v-if="orderStatus === 'PAYMENT'"
		/>
		<OrderProgressModal
			v-if="orderStatus === 'IN-PROGRESS'"
			:orderErrorCodes="orderErrorCodes"
			@close="handleOrderModalClose"
		/>
		<OrderSuccessModal
			v-if="orderStatus === 'SUCCESS'"
			:orderId="orderId"
			:projectId="projectId"
			:orderNumber="orderNumber"
		/>
		<div v-else class="checkout__payment-info-form-container">
			<InformationOverviewContainer />
			<Skeleton v-if="isLoading" />
			<div v-else>
				<AdditionalInformation/>

				<PaymentMethodTable
					:paymentMethods="paymentMethods"
				/>
				<BillingAddresses v-if="billingAddressShown" />
				<TermsAndConditions @acceptToggle="termsAccepted=!termsAccepted"/>
			</div>
		</div>

		<div class="checkout__payment-info-footer">
			<ViewFooter
				@nextView="onNextView"
				:buttonText="$t('viewFooter.confirmOrder')"
				:isDisabled="!placeOrderPossible"
			/>
		</div>
	</div>
</template>

<script>
/* global Stripe */

import { mapGetters } from 'vuex';
import AddressWizard from '../../components/AddressWizard.vue';
import BillingAddresses from '../../components/BillingAddresses.vue';
import InformationOverviewContainer from '../../components/InformationOverviewContainer.vue';
import OrderProgressModal from '../../components/OrderProgressModal.vue';
import PaymentMethodTable from '../../components/PaymentMethodTable.vue';
import PaymentCancelledModal from '../../components/PaymentCancelledModal.vue';
import PaymentProgressModal from '../../components/PaymentProgressModal.vue';
import AdditionalInformation from '../../components/AdditionalInformation.vue';
import AddressForm from '../../components/AddressForm.vue';
import Skeleton from '../../components/Skeleton.vue';
import OrderSuccessModal from '../../components/OrderSuccessModal.vue';
import ViewFooter from '../../components/ViewFooter.vue';
import TermsAndConditions from '../../components/TermsAndConditions.vue';
import { validatePaymentMethodConfig } from '../../utils/ValidationUtil';

export default {
	name: 'PaymentInformation',
	components: {
		TermsAndConditions,
		AddressWizard,
		BillingAddresses,
		InformationOverviewContainer,
		OrderProgressModal,
		PaymentMethodTable,
		PaymentCancelledModal,
		PaymentProgressModal,
		AddressForm,
		Skeleton,
		OrderSuccessModal,
		ViewFooter,
		AdditionalInformation,
	},
	data() {
		return {
			isLoading: true,
			netsInformation: {},
			netsWindow: null,
			newBillingAddress: {},
			orderErrorCodes: [],
			orderId: null,
			orderNumber: null,
			orderStatus: 'READY',
			sameAsShipping: false,
			termsAccepted: false,
			netsPaymentTab: null
		};
	},
	computed: {
		...mapGetters({
			additionalPaymentInformation: 'order/additionalPaymentInformation',
			additionalShippingInformation:
				'order/additionalShippingInformation',
			serviceId: 'service/currentServiceId',
			deliveryInstructions: 'order/deliveryInstructions',
			paymentMethods: 'service/paymentMethods',
			pricePayload: 'pricePayload',
			projectId: 'basket/projectId',
			voucherCode: 'order/voucherCode',
			currentProject: 'basket/currentProject',
			projectPrice: 'basket/currentProjectPrice',
			selectedShippingAddress: 'order/selectedShippingAddress',
			selectedPaymentMethod: 'order/selectedPaymentMethod',
			selectedPickupLocation: 'order/selectedPickupLocation',
			selectedShippingMethod: 'order/selectedShippingMethod',
			selectedBillingAddress: 'order/selectedBillingAddress',
		}),
		authorizedAmount() {
			return this.projectPrice.priceSummary.total.inclusiveTax;
		},
		netsInitializationPayload() {
			const priceExclusiveTax = this.projectPrice.priceSummary.total
				.exclusiveTax;
			const priceInclusiveTax = this.projectPrice.priceSummary.total
				.inclusiveTax;
			return {
				currency: this.projectPrice.currency,
				priceExclusiveTax,
				priceInclusiveTax,
				methodId: this.netsPaymentMethod.id,
				serviceId: this.serviceId,
			};
		},
		netsPaymentMethod() {
			return this.paymentMethods.find(({ type }) => type === 'nets');
		},
		reducedPayment() {
			return {
				authorizedAmount: this.authorizedAmount,
				currency: this.projectPrice.currency,
				details: this.additionalPaymentInformation,
				methodId: this.selectedPaymentMethod.id,
			};
		},
		pickupLocationReducer() {
			return this.selectedPickupLocation
				? this.selectedPickupLocation.id
				: null;
		},
		billingAddressShown() {
			return (
				this.selectedPaymentMethod &&
				this.selectedPaymentMethod.isBillingAddressRequired
			);
		},
		placeOrderPossible() {
			return (
				this.termsAccepted &&
				this.selectedPaymentMethod &&
				(this.selectedBillingAddress ||
					!this.selectedPaymentMethod.isBillingAddressRequired) &&
				validatePaymentMethodConfig(
					this.selectedPaymentMethod,
					this.additionalPaymentInformation,
				)
			);
		},
		projectReducer() {
			return {
				additionalInformation: this.additionalShippingInformation,
				billingAddressId: this.reducedBilling,
				payment: this.reducedPayment,
				pickupLocationId: this.pickupLocationReducer,
				projectId: this.projectId,
				shipping: this.reducedShipping,
				voucherCode: this.voucherCode,
			};
		},
		purchaseOrderUploaded() {
			if (
				!this.selectedPaymentMethod ||
				this.selectedPaymentMethod.type !== 'po-upload'
			) {
				return true;
			}
			return Boolean(
				this.additionalPaymentInformation.attachments
					? this.additionalPaymentInformation.attachments.length
					: false,
			);
		},
		reducedBilling() {
			if (!this.selectedBillingAddress && !this.selectedShippingAddress) {
				return null;
			}
			return this.selectedBillingAddress
				? this.selectedBillingAddress.id
				: this.selectedShippingAddress.id;
		},
		reducedShipping() {
			if (!this.selectedShippingAddress || !this.selectedShippingMethod) {
				return null;
			}
			return {
				methodId: this.selectedShippingMethod.id,
				addressId: this.selectedShippingAddress.id,
				deliveryInstructions: this.deliveryInstructions,
			};
		},
	},
	async mounted() {
		await this.$store
			.dispatch('service/getPaymentMethods', this.serviceId);
		this.isLoading = false;
	},
	methods: {
		dispatchOrder() {
			this.orderStatus = 'IN-PROGRESS';
			const orderPayload = this.projectReducer;
			this.$store
				.dispatch('order/placeOrder', {
					projectId: this.projectId,
					orderPayload,
				})
				.then((response) => {
					this.handleSuccessfulOrder(response.data.id);
				})
				.catch(({ response }) => {
					if (!response || !response.data) {
						this.orderErrorCodes = [null];
						return;
					}
					if (
						response.data.moreInfo &&
						response.data.moreInfo.errors
					) {
						this.orderErrorCodes = response.data.moreInfo.errors.map(
							({ code }) => code,
						);
						return;
					}
					this.orderErrorCodes = [response.data.code];
				});
		},
		finalizeNetsPayment(event) {
			// Strip ports for testing with non docker setup.
			let eventOrigin = event.origin.split(':')[1];
			let windowOrigin = window.origin.split(':')[1];
			if (event.data.responseCode === 'Cancel') {
				this.orderStatus = 'CANCELLED';
				this.initializeNetsPayment();
			}
			if (eventOrigin !== windowOrigin) {
				return;
			}
			if (event.data.responseCode === 'OK') {
				this.dispatchOrder();
			}
		},
		handleOrderModalClose() {
			this.orderStatus = 'READY';
		},
		handleNetsPayment(netsInformation) {
			const { terminalUrl, ...payload } = netsInformation;
			this.$store.dispatch(
				'order/setAdditionalPaymentInformation',
				payload,
			);
			this.netsPaymentTab.location = terminalUrl;
			window.addEventListener('message', this.finalizeNetsPayment, false);
		},
		handleSuccessfulOrder(id) {
			this.orderId = id;
			this.orderNumber = this.currentProject.number;
			this.orderStatus = 'SUCCESS';
		},
		initializeNetsPayment() {
			return this.$store
				.dispatch(
					'order/initializeNetsPayment',
					this.netsInitializationPayload,
				)
				.then((response) => {
					this.netsInformation = response.data.result;
					return response.data.result;
				});
		},
		async onNextView() {
			const netsSelected =
				this.selectedPaymentMethod &&
				this.selectedPaymentMethod.type === 'nets';
			if (netsSelected) {
				this.orderStatus = 'PAYMENT';
				this.netsPaymentTab = window.open();
				const netsInformation =  await this.initializeNetsPayment();
				this.handleNetsPayment(netsInformation);
				return;
			}
			this.dispatchOrder();
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../../assets/variables.scss';

.checkout__payment-info-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.checkout__payment-info-form-container {
	flex: 1 1 auto;
	margin: $unit-2 0 0;
}

.checkout__conditions-columns {
	margin: $unit-4 0 0 0;
}

.checkout__order-info {
	padding: 0 $unit-6;
	margin: 0;
	color: $darkgray-300;
	font-size: $font-size-xs;
}

.checkout__payment-info-footer {
	flex: 0 1 auto;
}
</style>
