<template>
	<div class="checkout__shipping-address-container">
		<Skeleton v-if="isLoading"/>
		<div v-else class="checkout__shipping-address-form-container">
			<AddressWizard
				:addressType="'SHIPPING'"
				@refreshPrices="handleAddressSelected"
			/>
			<div
				v-if="pickupLocations.length"
				class="checkout__pickup-locations-container"
			>
				<label
					class="kotti-form-label kotti-mt-8px"
					v-t="'shippingAddress.pickupLocation'"
				/>
				<EditableFormOption
					v-for="location in pickupLocations"
					:key="location.id"
					:infoText="location.location"
					:isEditable="false"
					:isChecked="isPreSelectedPickupLocation(location)"
					@selected="selectPickupLocation(location)"
				>
					<p class="checkout__pickup-location-info" v-text="location.instructions" />
				</EditableFormOption>
			</div>
		</div>
		<ViewFooter
			@nextView="$router.push(nextRoute)"
			:buttonText="$t('viewFooter.next')"
			:isDisabled="addressError"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import AddressWizard from '../../components/AddressWizard.vue';
import EditableFormOption from '../../components/EditableFormOption.vue';
import AddressForm from '../../components/AddressForm.vue';
import Skeleton from '../../components/Skeleton.vue';
import ViewFooter from '../../components/ViewFooter.vue';

export default {
	name: 'ShippingAddress',
	components: {
		AddressWizard,
		EditableFormOption,
		AddressForm,
		Skeleton,
		ViewFooter,
	},
	data() {
		return {
			addressType: 'SHIPPING',
			editDict: {},
			isLoading: true,
			showAllAddresses: false,
		};
	},
	computed: {
		...mapGetters({
			currentServiceId: 'service/currentServiceId',
			pickupLocations: 'service/pickupLocations',
			pricePayload: 'pricePayload',
			selectedShippingAddress: 'order/selectedShippingAddress',
			selectedPickupLocation: 'order/selectedPickupLocation',
			userCurrency: 'user/userCurrency',
		}),
		addressError() {
			return !(
				this.selectedShippingAddress || this.selectedPickupLocation
			);
		},
		nextRoute() {
			return this.addressType === 'PICKUP'
				? '/payment-information'
				: '/shipping-method';
		},
	},
	watch: {
		currentServiceId(value) {
			this.$store.dispatch('service/getPickupLocations', value);
		},
	},
	mounted() {
		const addressPromise = this.$store.dispatch('user/getUserAddresses');
		const countryPromise = this.$store.dispatch(
			'countries/getAllCountries',
		);
		Promise.all([addressPromise, countryPromise]).then(() => {
			this.isLoading = false;
		});
	},
	methods: {
		handleAddressSelected() {
			this.addressType = 'SHIPPING';
			this.refreshProjectPrices();
		},
		isPreSelectedPickupLocation(address) {
			if (this.selectedPickupLocation !== null) {
				return this.selectedPickupLocation.id === address.id;
			}
			return false;
		},
		async refreshProjectPrices() {
			const payload = { ...this.pricePayload };
			try {
				const { data } = await this.$store.dispatch(
					'basket/getProjectPrices',
					payload,
				);
				if (this.userCurrency !== data.currency) {
					payload.currency = this.userCurrency;
					this.$store.dispatch(
						'basket/getUserCurrencyPrices',
						payload,
					);
				}
			} catch (error) {}
		},
		selectPickupLocation(location) {
			this.addressType = 'PICKUP';
			this.$store.dispatch('order/selectPickupLocation', location);
			this.refreshProjectPrices();
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../../assets/variables.scss';

.checkout__shipping-address-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.checkout__shipping-address-form-container {
	flex: 1 1 auto;
}

.checkout__pickup-location-info {
	padding-left: $unit-6;
	margin: $unit-1 0;
	color: $darkgray-400;
	font-size: $font-size-sm;
}
</style>
