<template>
	<div class="checkout__shipping-method-container">
		<div class="checkout__shipping-method-table-container">
			<InformationOverviewContainer />
			<Skeleton v-if="isLoading" />
			<div v-else>
				<h3
					class="kotti-h3 kotti-mb-0"
					v-t="'shippingMethod.shippingMethod'"
				/>
				<ShippingMethodEntry
					v-for="(shippingMethod, index) in shippingMethods"
					:key="shippingMethod.id"
					:shippingMethod="shippingMethod"
					:isChecked="isPreSelectedShippingMethod(shippingMethod, index)"
					@selected="selectShippingMethod(shippingMethod)"
				/>
				<div class="kotti-form-group kotti-mt-4">
					<label
						class="kotti-form-label"
						v-t="'shippingMethod.deliveryInstructions'"
					/>
					<textarea
						rows="5"
						class="kotti-form-input kotti-pt-2"
						v-model="localDeliveryInstructions"
					/>
				</div>
			</div>
		</div>
		<div class="checkout__shipping-method-footer">
			<ViewFooter
				@nextView="saveDeliveryInstructions"
				:buttonText="$t('viewFooter.next')"
				:isDisabled="shippingMethodError"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Skeleton from '../../components/Skeleton.vue';
import InformationOverviewContainer from '../../components/InformationOverviewContainer.vue';
import ShippingMethodEntry from '../../components/ShippingMethodEntry.vue';
import ViewFooter from '../../components/ViewFooter.vue';

export default {
	name: 'ShippingMethod',
	components: {
		Skeleton,
		InformationOverviewContainer,
		ShippingMethodEntry,
		ViewFooter,
	},
	data() {
		return {
			isLoading: true,
			localDeliveryInstructions: this.deliveryInstructions || '',
		};
	},
	computed: {
		...mapGetters({
			currentServiceId: 'service/currentServiceId',
			projectId: 'basket/projectId',
			projectPrice: 'basket/currentProjectPrice',
			deliveryInstructions: 'order/deliveryInstructions',
			pricePayload: 'pricePayload',
			selectedShippingMethod: 'order/selectedShippingMethod',
			selectedShippingAddress: 'order/selectedShippingAddress',
			shippingMethods: 'service/shippingMethods',
			userCurrency: 'user/userCurrency',
			voucherCode: 'order/voucherCode',
		}),
		shippingMethodError() {
			return !this.selectedShippingMethod;
		},
	},
	async mounted() {
		const payload = {
			serviceId: this.currentServiceId,
			shippingAddress: this.selectedShippingAddress,
			projectId: this.projectId,
		};
		try {
			await this.$store.dispatch('service/getShippingMethods', payload);
			this.isLoading = false;
			this.refreshProjectPrices();
		} catch (error) {}
		if (this.deliveryInstructions) {
			this.localDeliveryInstructions = this.deliveryInstructions;
		}
	},
	methods: {
		isPreSelectedShippingMethod(shippingMethod, index) {
			if (this.selectedShippingMethod) {
				return this.selectedShippingMethod.id === shippingMethod.id;
			}
			return index === 0;
		},
		async refreshProjectPrices() {
			const payload = { ...this.pricePayload };
			try {
				const { data } = await this.$store.dispatch(
					'basket/getProjectPrices',
					payload,
				);
				if (this.userCurrency !== data.currency) {
					payload.currency = this.userCurrency;
					this.$store.dispatch(
						'basket/getUserCurrencyPrices',
						payload,
					);
				}
			} catch (error) {}
		},
		async selectShippingMethod(shippingMethod) {
			try {
				const payload = { ...this.pricePayload };
				await this.$store.dispatch(
					'order/selectShippingMethod',
					shippingMethod,
				);
				this.refreshProjectPrices();
			} catch (error) {
				console.error('Error updating shipping method');
			}
		},
		saveDeliveryInstructions() {
			this.$store
				.dispatch(
					'order/saveDeliveryInstructions',
					this.localDeliveryInstructions,
				)
				.then(() => {
					this.$router.push({ name: 'payment-information' });
				});
		},
	},
};
</script>

<style lang="scss" scoped>
@import '../../assets/variables.scss';

.checkout__shipping-method-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.checkout__shipping-method-table-container {
	flex: 1 1 auto;
}

.checkout__shipping-method-footer {
	flex: 0 1 auto;
}
</style>
