{% load i18n widget_tweaks organization_flags %}
<div class="panel-heading">
    {% if email_sent %}
        <h4>{% trans "Sign Up confirmation" %}</h4>
    {% else %}
        <h4>{% customize 'signup_text_button' %}{% blocktrans %}Sign Up For Free{% endblocktrans %}{% endcustomize %}</h4>
    {% endif %}
</div>
<div class="panel-body">
    {% if email_sent %}
        {% blocktrans %}A confirmation e-mail was sent to your address.{% endblocktrans %}
    {% else %}
        {% include "account/partials/email_signup_form.html" %}
    {% endif %}
</div>
