{% load i18n widget_tweaks organization_flags %}

<p>
    {% customize 'signup_text' %}
        {% if is_printing_service_signup %}
            {% blocktrans %}Sign up as a printing service on 3YOURMIND!{% endblocktrans %}
        {% else %}
            {% blocktrans %}Sign up for a free account on 3YOURMIND and start managing your 3D printing projects online.{% endblocktrans %}
        {% endif %}
    {% endcustomize %}
</p>
<form method="POST" class="b3-make-space" {% if not is_popup %} style="margin-top:25px;" {% endif %} action="{% if is_printing_service_signup %}{% url 'account_ps_email_signup' %}{% else %}{% url 'account_email_signup' %}{% endif %}{% if is_popup %}?popup=1{% endif %}">
    {% csrf_token %}
    {% if upload_uuid %}
        <input type="hidden" name="upload_uuid" value="{{ upload_uuid }}" />
    {% endif %}
    <div class="form form-horizontal">
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}"
                   class="col-xxxs-4 col-xxs-3 col-xs-3 control-label b3-control-label">{{ form.email.label }}</label>
            <div class="col-xxxs-8 col-xxs-9 col-xs-9">
                {% render_field form.email class+="form-control" placeholder+=form.email.label %}
                {{ form.email.errors }}
            </div>

        </div>
        {%  get_terms_and_condition_message as terms_conditions_message %}
        {% if terms_conditions_message %}
            <div class="row">
                <div class="col-xxxs-9 col-xxxs-offset-3 col-xxs-9 col-xxs-offset-3 col-xs-9 col-xs-offset-3 ">
                    <label for="terms_conditions_checkbox">
                        <input type="checkbox" id="terms_conditions_checkbox" required/>
                        <span style="margin-left: -10px;">{{ terms_conditions_message|safe }}</span>
                    </label>
                </div>
            </div>
        {% endif %}
    </div>
    <button id="modal-signup-button" class="btn btn-lg btn-warning pull-right" type="submit">
        {% customize 'signup_text_button' %}{% blocktrans %}Sign Up{% endblocktrans %}{% endcustomize %}
    </button>
</form>
<p class="registered-already pull-right" style="margin-top:5px;">
    <a href="{% url 'account_login' %}" class="b3-btn-already-account">{% trans 'Already have an account?' %} &nbsp;</a>
</p>
