{% load i18n %}
{% load auth_plugin_tags %}

<div class="panel-heading">
    <h4>{% trans "Login" %}</h4>
</div>
{% if not disable_normal_login %}
    <div class="panel-body">
        {% include "account/partials/login_form.html" %}
    </div>
{% endif %}

{% if auth_plugin %}
    <div class="panel-footer" style="text-align: center">
        login via:
        <a class="btn btn-l btn-danger"
           href="{%  modify_auth_redirect_url auth_plugin %}">
            {{ auth_plugin.template_button_name }}
        </a>
    </div>
{% endif %}
