{% load i18n widget_tweaks %}
{% url 'account_reset_password' as auth_pwd_reset_url %}

<form method="POST" action="{% url 'account_login' %}{% if is_popup %}?popup=1{% endif %}" target='_parent'>
    {% csrf_token %}
    {% if upload_uuid %}
        <input type="hidden" name="upload_uuid" value="{{ upload_uuid }}" />
    {% endif %}
    {% if next %}
        <input id="next-login-form-input" type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="form form-horizontal">
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.login.id_for_label }}"
                   class="col-xxxs-4 col-xxs-3 col-xs-3 control-label b3-control-label">{{ form.login.label }}</label>

            <div class="col-xxxs-8 col-xxs-9 col-xs-9">
                {% render_field form.login class+="form-control" %}
                {{ form.login.errors }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}"
                   class="col-xxxs-4 col-xxs-3 col-xs-3 control-label b3-control-label">{{ form.password.label }}</label>

            <div class="col-xxxs-8 col-xxs-9 col-xs-9">
                {% render_field form.password class+="form-control" %}
                {{ form.password.errors }}
            </div>
        </div>
        <div class="row">
            {{ form.remember.errors }}
            <div class="col-xxxs-9 col-xxxs-offset-3 col-xxs-9 col-xxs-offset-3 col-xs-9 col-xs-offset-3 ">
                <label for="{{ form.remember.id_for_label }}">
                    {{ form.remember }}
                    <span style="margin-left: -10px;">{{ form.remember.label }}</span>
                </label>
                <a class="pull-right" href="{{ auth_pwd_reset_url }}">{% blocktrans %}Forgot
                    password?{% endblocktrans %}</a>
            </div>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <br/>
    </div>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button id="modal-login-button" class="btn btn-lg pull-right" type="submit">{% trans "Login" %}</button>
</form>
<script type="text/javascript">
    currentNextPath = `{{ next }}`;
    if (currentNextPath) {
        var currentHashPath = window.location.hash;
        document.getElementsByName('next').forEach(function (item) {
            item.value = currentNextPath + currentHashPath;
        });
    }
</script>
