.kotti-button {
	border-radius: 0.1rem;
	border: 0;
	height: $unit-8;
	outline: none;
	text-transform: uppercase;
	padding: 0 1em;
	color: $primary-600;
	background: $lightgray-300;
	font-size: $font-size-sm;
	font-weight: 500;
	&.tooltip::after {
		font-size: $font-size-sm;
		text-transform: none;
	}
	&:hover {
		cursor: pointer;
		background: $primary-300;
		border: 0;
	}
}

.kotti-button.primary {
	background: $primary-500;
	color: #ffffff;
	&:hover {
		background: $primary-600;
	}
}

.kotti-button.secondary {
	border: 0;
	color: $primary-500;
	font-weight: 600;
	&:hover {
		color: $primary-600;
		border: 1px solid $primary-600;
		background: $primary-300;
	}
}

.kotti-button.text {
	color: $primary-500;
	font-weight: 600;
	background: transparent;
	&:hover {
		background: darken(#fff, 10);
	}
}

.kotti-button.danger {
	background: #f8f8f8;
	color: $red-500;
	font-weight: 600;
	&:hover {
		color: #ffffff;
		background: $red-500;
	}
}

.kotti-button.icon {
	i {
		font-size: 1rem;
		margin-right: 0.2rem;
	}
}
.kotti-button.icon-only {
	padding: 0 0.4rem;
	i {
		margin-right: 0;
	}
}

.kotti-button.disabled,
.kotti-button:disabled {
	cursor: auto;
	opacity: 0.46;
}
