// Cards
.kotti-card {
	background: #fff;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;

	.card-header {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	.card-footer {
		text-align: right;
	}

	.card-header,
	.card-body,
	.card-footer {
		padding: $layout-spacing-lg;
		padding-bottom: 0;

		&:last-child {
			padding-bottom: $layout-spacing-lg;
		}
	}
}
