@import 'typography';
@import 'variables';
@import 'forms/base';
@import 'buttons';
@import 'cards';
@import 'loadings';
@import 'tooltip';
@import 'utilities';
@import 'popover';
@import 'loadings';
@import 'modal';

.kotti-columns {
	display: flex;
	align-items: center;
}

.kotti-rows {
	display: flex;
	flex-direction: column;
}

.kotti-col-1 {
	flex: 1;
}
.kotti-col-2 {
	flex: 2;
}
.kotti-col-3 {
	flex: 3;
}
.kotti-col-4 {
	flex: 4;
}
.kotti-col-5 {
	flex: 5;
}
.kotti-col-6 {
	flex: 6;
}
.kotti-col-7 {
	flex: 7;
}
.kotti-col-8 {
	flex: 8;
}
.kotti-col-9 {
	flex: 9;
}
.kotti-col-10 {
	flex: 10;
}
.kotti-col-11 {
	flex: 11;
}
.kotti-col-12 {
	flex: 12;
}
.kotti-col-14 {
	flex: 14;
}

img {
	vertical-align: baseline;
}
