@import './variables.scss';

.checkout__modal-message {
	margin: $unit-4 0 0;
	font-size: $font-size-sm;
}

@mixin checkout__modal-buttons {
	width: 100%;
}

.checkout__modal-buttons--desktop {
	@include checkout__modal-buttons();
	text-align: right;
}

.checkout__modal-buttons--mobile {
	@include checkout__modal-buttons();
	text-align: center;
}

@mixin checkout__modal-button {
	margin: $unit-6 0 0 0;
	border: 0;
	&:active,
	&:focus,
	&:hover {
		border: 0;
	}
}

.checkout__modal-button--desktop {
	@include checkout__modal-button();
}

.checkout__modal-button--mobile {
	@include checkout__modal-button();
	width: 49%;
	padding: 0;
}

.checkout__modal-buttons--mobile {
	display: block;
}
.checkout__modal-buttons--desktop {
	display: none;
}

@media (min-width: $responsive-breakpoint) {
	.checkout__modal-buttons--mobile {
		display: none;
	}
	.checkout__modal-buttons--desktop {
		display: block;
	}
}
