// Popovers
.kotti-popover {
	display: inline-block;
	position: relative;

	.popover-container {
		left: 50%;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: transform 0.2s ease;
		width: 200px;
		z-index: $zindex-3;
	}

	*:focus + .popover-container,
	&:hover .popover-container,
	.popover-container:hover {
		display: block;
		opacity: 1;
		transform: translate(-50%, -100%) scale(1);
	}

	&.popover-right {
		.popover-container {
			left: 100%;
			top: 50%;
		}

		:focus + .popover-container,
		&:hover .popover-container,
		.popover-container:hover {
			transform: translate(0, -50%) scale(1);
		}
	}

	&.popover-bottom {
		.popover-container {
			left: 50%;
			top: 100%;
		}

		:focus + .popover-container,
		&:hover .popover-container,
		.popover-container:hover {
			transform: translate(-50%, 0) scale(1);
		}
	}

	&.popover-left {
		.popover-container {
			left: 0;
			top: 50%;
		}

		:focus + .popover-container,
		&:hover .popover-container,
		.popover-container:hover {
			transform: translate(-100%, -50%) scale(1);
		}
	}

	&.popover-left-bottom {
		.popover-container {
			left: 0;
			top: 50%;
		}

		:focus + .popover-container,
		&:hover .popover-container,
		.popover-container:hover {
			transform: translate(-100%, 0) scale(1);
		}
	}

	.card {
		box-shadow: 0 2px 2px 1px rgba(100, 100, 100, 0.46);
		border: 0;
		border-radius: 2px;
		z-index: $zindex-4;
		background: #fff;
		padding: $unit-4 $unit-6;
	}
}
