@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('./assets/fonts/open-sans-v15-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('./assets/fonts/open-sans-v15-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/open-sans-v15-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/assets/fonts/open-sans-v15-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/open-sans-v15-latin-regular.svg#OpenSans')
			format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('./assets/fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('./assets/fonts/open-sans-v15-latin-600.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('./assets/fonts/open-sans-v15-latin-600.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/open-sans-v15-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('./assets/fonts/open-sans-v15-latin-600.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@import 'variables';

// Headings
.kotti-h1,
.kotti-h2,
.kotti-h3,
.kotti-h4,
.kotti-h6 {
	color: $darkgray-600;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.kotti-h1 {
	font-size: $font-size-h1;
}

.kotti-h2 {
	font-size: $font-size-h2;
	font-weight: 500;
}

.kotti-h4 {
	font-size: $font-size;
}

.kotti-h3 {
	font-size: $font-size-h3;
	color: $primary-500;
	padding-bottom: $unit-2;
	border-bottom: 1px solid $lightgray-400;
	span {
		float: right;
		font-weight: 500;
		&:hover {
			cursor: pointer;
			font-weight: 600;
			color: $primary-600;
		}
	}
	i.yoco {
		font-size: 1rem;
	}
}

.kotti-h6 {
	font-size: $font-size;
	font-weight: 500;
	color: $darkgray-500;
}

// Paragraphs
.kotti-p {
	margin: 0;
	font-size: $font-size;
}
.kotti-p-sm {
	margin: 0;
	font-size: $font-size-sm;
}

.kotti-gray {
	color: $lightgray-500;
	font-size: $font-size-sm;
}

// Lists
.kotti-ul,
.kotti-ol {
	margin: $unit-4 0 $unit-4 $unit-4;
	padding: 0;
	ul,
	ol {
		margin: $unit-4 0 $unit-4 $unit-4;
	}
	li {
		margin-top: $unit-2;
	}
}

.kotti-dl {
	dt {
		font-weight: bold;
	}
	dd {
		margin: $unit-2 0 $unit-4 0;
	}
}

.kotti-label-value {
	line-height: 1.5;
	color: $darkgray-500;
	position: relative;
	label {
		font-size: $font-size-sm;
		font-weight: 600;
		color: $darkgray-300;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.default {
		font-size: $font-size;
	}
	.key {
		font-size: $font-size-h2;
		font-weight: 600;
	}
	.addition {
		font-size: $font-size-h3;
		font-weight: 600;
	}
	.action {
		color: $primary-500;
		position: absolute;
		right: 0.2rem;
		top: 50%;
		margin-top: -0.5rem;
		&:hover {
			color: $primary-600;
			cursor: pointer;
		}
	}
	.editable {
		padding: 0.1rem 0;
		&:hover {
			cursor: pointer;
			background: $lightgray-300;
		}
	}
}
