$margins: (
	0: 0,
	h: $unit-h,
	1: $unit-1,
	2: $unit-2,
	3: $unit-3,
	4: $unit-4,
	5: $unit-5,
	6: $unit-6,
	7: $unit-7,
	8: $unit-8,
	9: $unit-9,
	10: $unit-10,
	12: $unit-12,
	16: $unit-16,
	'8px': $unit-2,
	'16px': $unit-4,
	element: $unit-4,
	block: $unit-6,
);

@each $prop,
	$abbrev
		in (
			margin-top: kotti-mt,
			margin-bottom: kotti-mb,
			margin-right: kotti-mr,
			margin-left: kotti-ml
		)
{
	@each $size, $length in $margins {
		.#{$abbrev}-#{$size} {
			#{$prop}: $length;
		}
	}
}

$paddings: (
	0: 0,
	1: $unit-1,
	2: $unit-2,
	3: $unit-3,
	4: $unit-4,
	5: $unit-5,
	6: $unit-6,
	'8px': $unit-2,
	'16px': $unit-4,
	element: $unit-4,
);

@each $prop,
	$abbrev
		in (
			padding-top: kotti-pt,
			padding-bottom: kotti-pb,
			padding-right: kotti-pr,
			padding-left: kotti-pl
		)
{
	@each $size, $length in $margins {
		.#{$abbrev}-#{$size} {
			#{$prop}: $length;
		}
	}
}

.kotti-center {
	text-align: center;
}

.kotti-right {
	text-align: right;
}

.kotti-w-100 {
	width: 100%;
	box-sizing: border-box;
}

.kotti-w-60 {
	width: 60%;
	box-sizing: border-box;
}

.kotti-w-40 {
	width: 40%;
	box-sizing: border-box;
}

.kotti-w-33 {
	width: 33.333%;
	box-sizing: border-box;
}

.kotti-w-20 {
	width: 20%;
	box-sizing: border-box;
}

.kotti-has-icon-left {
	position: relative;
	.form-input,
	.form-select {
		padding-left: 1.6rem;
	}
	.form-icon {
		color: $lightgray-500;
		font-size: 1.5rem;
		position: absolute;
		top: 0.4rem;
		left: 0.4rem;
	}
}

.kotti-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	.show-all {
		overflow: auto;
	}
}

.kotti-float-right {
	float: right;
}

.kotti-overflow-auto {
	overflow: auto;
}
