// Color
$primary-300: #afc5e8;
$primary-500: #2c66c4;
$primary-400: #3173de;
$primary-600: #2659ab;
$primary-700: darken($primary-500, 20);

$darkgray-300: #8a8a8a;
$darkgray-400: #575757;
$darkgray-500: #3d3d3d;
$darkgray-600: #242424;

$lightgray-300: #f8f8f8;
$lightgray-500: #8f8f8f;
$lightgray-400: #dbdbdb;
$lightgray-600: #5c5c5c;

$green-300: #c4e0a5;
$green-400: #71c716;
$green-500: #64ad13;
$green-600: #549410;

$orange-300: #ffae66;
$orange-400: #ff9333;
$orange-500: #ff7800;
$orange-600: #d37d30;

$red-300: #f0a8a8;
$red-400: #f21d1d;
$red-500: #d91919;
$red-600: #bf1717;

$purple-300: #b995ca;
$purple-400: #932dc2;
$purple-500: #6c218f;
$purple-600: #591b75;

$warning-500: #ff7800;

$body-font-color: $darkgray-500;
$body-bg: $lightgray-300;

$link-color: $primary-500;
$link-color-dark: $primary-600;
$border-color: $lightgray-400;
$code-color: $primary-600;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

$base-font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont,
	'Segoe UI', Roboto !default;
$body-font-family: $base-font-family;
$mono-font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier,
	monospace !default;
$fallback-font-family: 'Helvetica Neue', sans-serif !default;
$cjk-zh-font-family: $base-font-family, 'PingFang SC', 'Hiragino Sans GB',
	'Microsoft YaHei', $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, 'Hiragino Sans',
	'Hiragino Kaku Gothic Pro', 'Yu Gothic', YuGothic, Meiryo,
	$fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, 'Malgun Gothic', $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: 0.7 * $html-font-size !default;
$font-size-xs: 0.6 * $html-font-size !default;
$font-size-sm: 0.65 * $html-font-size !default;
$font-size-lg: 0.8 * $html-font-size !default;
$line-height: 1 * $html-font-size !default;
$font-size-h1: 1.6 * $html-font-size !default;
$font-size-h2: 1.2 * $html-font-size !default;
$font-size-h3: 0.8 * $html-font-size !default;

// Unit sizes
$unit-base: 20px !default;
$unit-o: 0.05 * $unit-base !default;
$unit-h: 0.1 * $unit-base !default;
$unit-1: 0.2 * $unit-base !default;
$unit-2: 0.4 * $unit-base !default;
$unit-3: 0.6 * $unit-base !default;
$unit-4: 0.8 * $unit-base !default;
$unit-5: 1 * $unit-base !default;
$unit-6: 1.2 * $unit-base !default;
$unit-7: 1.4 * $unit-base !default;
$unit-8: 1.6 * $unit-base !default;
$unit-9: 1.8 * $unit-base !default;
$unit-10: 2 * $unit-base !default;
$unit-12: 2.4 * $unit-base !default;
$unit-16: 3.2 * $unit-base !default;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-h !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-8 !default;
$control-size-xxs: $unit-4 !default;
$control-size-xs: $unit-6 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-size-xl: $unit-12 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * 0.75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: $unit-4 !default;
$control-icon-size-sm: $unit-3 !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

$navbar-width: 12rem;
$actionbar-width: 16rem;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-md !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
$zindex-5: 500 !default;
