{% extends 'admin/change_form.html' %}
{% load admin_static %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <link href="{% static "css/vendor/select2.min.css" %}" rel="stylesheet" />
    <script src="{% static "js/vendor/select2/select2.min.js" %}"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('select').select2();
            });
        }(jQuery));
    </script>
{% endblock %}
