// 3D Viewer Toolbar
// Prefix: b3-3d-tools-*


// Indicator for Ok, Might Break, Thin Walls
.b3-3d-tools-legend {
  float: left;
  margin-left: 160px;
  margin-top: 13px;
  width: 315px;
  white-space: nowrap;
  &.de{
    margin-left:108px;
    width: 375px;
  }
  @media screen and (max-width: $screen-md) {
    display: none !important;
  }
}

.b3-3d-tools-legend-in-panel-tools {
  display: none;

  @media (max-width: $screen-md) {
    display: block;
    float: left;
    margin-left: -12px;
    margin-top: 13px;
    width: 380px;
  }

  @media (max-width: $screen-xs) {
    margin-left: -30px !important;
    &.de{
        margin-left: -12px !important;
    }
    &.with-alert{
        margin-top: -30px;
        &.de{
            margin-top: -43px;
        }
    }
  }
}

// Tools button options
// TODO: Hard coded, need better solution
.b3-3d-tools-options {
  width: 615px;
  float: right;
  line-height: 45px;
  margin-right: -148px;

  /*.ie9 & {
      margin-top: 13px;
  }*/
  &.holder{
    float:left;
    opacity: 0.6;
    pointer-events: none;
  }
  @media (max-width: $screen-md) {
    position: absolute;
    right: 50%;
    left: 5.5%;
  }
  a {
    @media (max-width: $screen-sm) {
      display: none !important;
    }
  }
  i {
    @media (max-width: $screen-xs) {
      margin-right: 98px;
    }
  }
  i.sprite-magnifying-glass {
    @media (max-width: $screen-sm) {
      margin-left: 50px;
    }
  }
}

.b3-3d-tools-item {
  margin-right: 50px;
  line-height: 45px;
}


// 3dtools panels allows being scrolled
.b3-3d-tools-panels{
  height: 420px;
  display: inline !important;
  @media (max-width: $screen-md) {
    height: auto;
  }
  .panel{
    height: inherit;
    @media all and (max-width: $screen-md){
      position: relative;
      width: 100%;
      float: left;
      margin-top: 50px;
      height: inherit;
      padding: 30px 15px;
    }
  }
}

//@override bootstrap progress class
.progress-text {
  position:absolute;
  right:0;
  left:0;
  color: black;
}

.progress {
  background-color: white;
  box-shadow: none;
}

.progress-panel {
  height: 50px;
}


// 3d viewer white panel
// TODO: Need Refactor
.viewer-tools {
  position: absolute;
  padding: 15px 20px;
  width: 40%;
  top: 0;
  border: none;
  background-color: #fff;
  @media (min-width: $screen-md){
    min-width: 530px;
  }
}

.viewer-tools-text {
  white-space: nowrap;
  color: #555;
}

.viewer-tools-labels {
  color: #a9a9a9;
  margin-left: 12px;
}


//To center details of the viewer on the div
.b3-bar-viewer {
  margin-top: 10px;
  width: 500px;
  float: right;
  height: 100%;
  right: 0;
  .b3-viewer-line {
    position: relative;
    top: -10px;
    height: 20px;
    margin-left: -5px;
    hr{
      width: 100%;
    }
  }
  @media (max-width: $screen-md){
    width: 100%;
    box-sizing: border-box;
    float: left;
  }
}

.b3-triangle-border {
  position: absolute;
  top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 9px 0 9px;
  border-color: #D6D6D6 transparent transparent transparent;
  margin-top: 0;
  margin-left: 78px;
  @media (max-width: $screen-md){
    top: 43px;
    z-index: 999;
  }
}

.b3-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 9px 0 8px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  margin-bottom: -10px;
  margin-left: 79px;
  top: -5px;

  @media (max-width: $screen-md){
    top: 43px;
    z-index: 999;
  }
}

.b3-wta-icon{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &.hidden{
    display:none;
  }
  @media (max-width: $screen-sm){
    margin-left: 14px;
  }
}

.svg-icon{
    cursor: pointer;
    width: 24px;
    height:24px;
}
