// Global common reusable element related to the 3D-cube on preview window
// Usage: @import common/3d-cube
// Prefix: b3-cube

// Define variables
$cubeWidth: 50px;
$cubeHeight: 50px;
$faceWidth: 5px;
$brand-primary-alpha: rgba(22,129,174,0.5);

//Wrapper for the 3D-cube
#b3-cube-holder {
  opacity: 0.5;
  position: absolute;
  right: 32px;
  bottom: 24px;
  width: $cubeWidth;
  height: $cubeHeight;
  perspective: 1000px;
  pointer-events: auto;
  .ie9 &{
    display: none;
  }
}

//Rotation of the cube
#b3-cube-rotation {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition: transform 0s linear;
  transform-style: preserve-3d;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

//The six sites of the cube
.b3-cube-face {
  position: absolute;
  height: $cubeHeight;
  width: $cubeWidth;
  padding-top: 14px;
  background-color: #1A408B;//rgba(45, 74, 97, 1);
  border: 1px solid rgba(255, 255, 255, 0.26);
  font-size: 11px;
  font-weight: initial;
}

//The six sites of the cube specified
.b3-cube-face-one  {
  transform: rotateX(90deg) translateZ($cubeWidth/2);
}

.b3-cube-face-two {
  transform: translateZ($cubeWidth/2);
}

.b3-cube-face-three {
  transform: rotateY(90deg) translateZ($cubeWidth/2);
}

.b3-cube-face-four {
  transform: rotateY(180deg) translateZ($cubeWidth/2);
}

.b3-cube-face-five {
  transform: rotateY(-90deg) translateZ($cubeWidth/2);
}

.b3-cube-face-six {
  transform: rotateX(-90deg) translateZ($cubeWidth/2);
}

//Wrapper for the singe parts of one site
.b3-inner-cube-faces {
  * {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
  }
  &:hover {
    * {
      background-color: $brand-primary;
    }
  }
}

//Main part of on site
.b3-cube-inner-main {
  width: $cubeWidth * 2/3;
  height: $cubeHeight * 2/3;
  cursor: pointer;
  &:hover {
    background-color: $brand-primary-alpha;
  };
  position: absolute;
  top: 15%;
  left: 15%;
}

//Specified parts of one site (Top, right, bottom, left)
.b3-cube-inner-faces-top-1 {
  width: $cubeWidth/2;
  height: $cubeHeight/6;
  transform: skewX(330deg);
  left: 42%;
  top: 1%;
}

.b3-cube-inner-faces-top-2 {
  width: $cubeWidth/2;
  height: $cubeHeight/6;
  transform: skewX(30deg);
  left: 6%;
  top: 1%;
}

.b3-cube-inner-faces-bottom-1 {
  width: $cubeWidth/2;
  height: $cubeHeight/6;
  transform: skewX(30deg);
  left: 42%;
  bottom: 1%
}

.b3-cube-inner-faces-bottom-2 {
  width: $cubeWidth/2;
  height: $cubeHeight/6;
  transform: skewX(330deg);
  left: 6%;
  bottom: 1%;
}

.b3-cube-inner-faces-left-1 {
  width: $cubeWidth/6;
  height: $cubeHeight/2;
  transform: skewY(30deg);
  top: 6%;
}

.b3-cube-inner-faces-left-2 {
  width: $cubeWidth/6;
  height: $cubeHeight/2;
  transform: skewY(330deg);
  bottom: 6%;
}

.b3-cube-inner-faces-right-1 {
  width: $cubeWidth/6;
  height: $cubeHeight/2;
  transform: skewY(330deg);
  right: 1%;
  top: 6%;
}

.b3-cube-inner-faces-right-2 {
  width: $cubeWidth/6;
  height: $cubeHeight/2;
  transform: skewY(30deg);
  right: 1%;
  bottom: 6%;
}
