/** Address Line 
  * @prefix: b3-address
  * @import: common/address
  */

.b3-address-name{
  line-height: 1.5;
  font-weight: 600;
}

.b3-address-line{
  color: $gray;
}

.b3-address-company{
  color: $gray-light;
  font-style: italic;
}
