/** Progress Bar Animation
 * @import common/animations
 */
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress-animation {
  animation: progress 200s 0s 1 cubic-bezier(0.10, 1, 0.22, 1) normal forwards !important;
}

/** 3D Viewer Panel Animation
 * .move_panel: move the panel to the right
 * .move_panel_fast: move the panel with out time duration
 * .move_panel_back: move the panel back to left
 */

@keyframes move_panel {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

@keyframes move_panel_back {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
}

.move_panel {
  animation: move_panel 0.4s 0s 1 ease-in-out normal forwards;
  top: 0;
  .ie9 & {
    top: 0;
  }
}

.move_panel_fast {
  animation: move_panel 0s 0s 1 ease-in-out normal forwards;
  top: 0;
  .ie9 & {
    top: 0;
  }
}

// IE10 & IE11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .move_panel_fast {
    top: 0;
  }

  .move_panel {
    top: 0;
  }
}

.move_panel_back {
  animation: move_panel_back 0.4s 0s 1 ease-in-out normal forwards;
}

/** 3D Model Animation
 * .move_model: move 3D Model to the right
 * .move_model_back: move 3D Model back to the left
 */

@keyframes move_model {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}

@keyframes move_model_back {
  from {
    width: 140%;
  }
  to {
    width: 100%;
  }
}


.move_model {
  animation: move_model 0.4s 0s 1 ease-in-out normal forwards;
}

.move_model_back {
  animation: move_model_back 0.4s 0s 1 ease-in-out normal forwards;
}

/** Move Scale Animation
 * .move_webgl_scale: move the scale to the right
 * .move_webgl_scale: move the scale back to the center
 */

@keyframes move_webgl_scale {
    to {
      left: 55%;
    }
}

.move_webgl_scale {
  animation: move_webgl_scale 0.4s 0s 1 ease-in-out normal forwards;
}

.move_webgl_scale_back {
  animation-fill-mode: move_webgl_scale_back 0.4s 0s 1 ease-in-out normal forwards;
}

/** Move Button(legend) on 3D Viewer
 * .move_legend: move the 3D cube, zoom button to the right
 * .move_legend_back: move it back to the original postion
 */

@keyframes move_legend {
  to {
    left: 530px;
    width: 50%;
  }
}


.move_legend {
  animation: move_legend 0.4s 0s 1 ease-in-out normal forwards;
}

.move_legend_back {
  animation-fill-mode: move_legend 0.4s 0s 1 ease-in-out normal forwards;
}


/** Spinner for loading pages
 */

.b3-spinner,.b3-spinner-white{
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   background-color: #ddd;
   z-index: 99;
   text-align: center;
}
.b3-spinner-white{
    position: relative !important;
    background-color: white;
}

.loading-content {
  position: relative;
  top: 45%;
  text-align: center;
  z-index: 100;
}
