/** Global Button Styles
  * @import common/buttons
  * @prefix b3-btn-*
  */

// @override bootstrap btn class
.btn {
  background: $brand-primary none repeat scroll 0 0;
  color: #FFF;
  line-height: 1.7 !important;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  height: 30px;
  box-shadow: none;
  border: none;
  font-size: 14px;
  &:hover {
    background-color: $brand-primary;
    opacity: 0.9 !important;
    color: white;
  }
  &:focus {
    background-color: $brand-primary;
    opacity: 0.9;
    color: white;
  }
}

// Make hover effect in a div same as hover on normal btn
.btn-hover {
  background-color: $brand-primary;
  opacity: 0.9 !important;
  color: white;
}

// Black buttons (use with btn)
.b3-btn-black {
  background-color: transparent;
  line-height: 1.5 !important;
  border: 2px solid #000;
  color: #000;
  &:hover {
    background-color: #000;
    color: white;
    border: 2px solid #000;
  }
  &:focus {
    background-color: #000;
    color: white;
    border: 2px solid #000;
  }
}

//@override Use this for big buttons
.btn-lg {
  padding: 4px 20px;
  min-width: 248px;
}

// make button fullwidth
.btn-fullwidth{
  width: 100%;
}

//@override Use this for orange buttons
.btn-warning {
  background-color: #ff7800 !important;
}

// Upload buttons
.b3-btn-upload {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-right: 0;
}

// Button shows when screen size smaller than 480px
.b3-btn-upload-responsive {
  display: none !important;
  @media (max-width: $screen-xs) {
    font-size: 11px;
    margin-top: 14px;
    height: 24px;
    margin-left: -7px;
    width: 140px;
    float: right;
    margin-right: 15px;
  }
}

.b3-btn-upload-responsive-big {
  font-size: 14px;
  height: 30px;
  width: 180px;
}

// Make buttons separated in psconfig orders & materials
// @TODO: only used in psconfig > moved to psconfig
.b3-btn-separated {
  margin-right: 10px;
  margin-bottom: 10px;
}

// Gray button
.b3-btn-gray {
  background: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ccc;
  text-transform: none;
  &.in-progress,
  .finished {
    color: transparent;
    &:after {
      color: #333 !important;
    }
  }
  &:hover {
    color: #000;
    border: 1px solid #999;
    background: #e9e9e9;
  }
}

// Button with same effect as disabled without functionality
// @TODO: Only used in comparator need to be moved
.btn-fake-disabled {
  cursor: not-allowed;
  opacity: 0.65 !important;
  &:hover {
    opacity: 0.65 !important;
  }
  &:focus {
    outline: none !important;
  }
}

// cancel button calendar
// @TODO: change to a more general component name
.cancelBtn {
  background: none !important;
  color: #2c66c4 !important;
  text-transform: capitalize;
  &:hover {
    color: #77a0db !important;
    text-decoration: none !important;
  }
}

// Clear button for date picker
.clear-btn {
  position: absolute;
  display: inline-block;
  top: 10px;
  margin-left: -22px;
  z-index: 2;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  &.de {
    margin-left: -25px;
  }
}
