/** Styles for radio and checkbox
  * @import checkbox-radio
  * @usage
  * <input type="radio"><span>Radio Label</span>
  * <input type="checkbox"><span>Check Label</span>
  */



input[type="radio"] + span,
input[type="radio"] + span::before,
input[type="checkbox"] + span,
input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
}

label *,
label * {
  cursor: pointer;
}

// Hide old radio/checkbox buttons to avoid duplicity with new styled one
input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

label:hover span::before,
label:hover span::before {
  box-shadow: 0 0 2px #ccc;
}

label:hover span,
label:hover span {
  color: #000;
}


input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
  content: "";
  width: 14px;
  height: 14px;
  margin: 0 10px 0 10px;
  border: solid 1px #bfbfbf;
  line-height: 12px;
  text-align: center;
  border-radius: 100%;
  background: #ffffff;
  background: radial-gradient(#fff, #f0f0f0);
}


input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
  color: $brand-primary;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
  cursor: default;
  opacity: .4;
}

input[type="checkbox"] + span::before {
  border-radius: 2px;
}

input[type="radio"]:checked + span::before {
  content: "\2022";
  font-size: 23px;
  font-family: Arial;
}

input[type="checkbox"]:checked + span::before {
  content: "\2714";
  font-size: 23px;
  font-family: Arial;
}


/**
 * for checkbox without left-margin
 * specify the input class to 'no-left-margin'
 * used in:
 * - b3-modal > psconfig > price_formular_modal.html
 * jp - 2016-10-05
 */

input.no-left-margin[type="checkbox"] + span::before{
  margin-left: 0;
}