/**
 * Base elements defined here
 * @override the element from bootstrap
 */

html {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

// headers text with different sizes
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
}

// links with brand color and without text-decoration
a {
  color: $brand-primary;
  cursor: pointer;
  &:hover {
    color: $brand-info;
    text-decoration: none;
  }
}

th {
  font-weight: inherit;
}

label {
  font-weight: normal;
}

::selection {
  background: #87b2d4; /* WebKit/Blink Browsers */
}

.b3-text-gray {
  color: #a2a2a2;
}

// Set height of the main content of the site
.b3-wrapper {
  min-height: 107.2vh;
  position: relative;
  padding-bottom: 106px;
}

//Make text orange
.b3-orange-text {
  color: $brand-warning;
}

// Make an space as alternative to use br element
.b3-make-space {
  margin-top: 50px;
  min-height: 1px;
}

// Set a minimal height in the container used in the whole page
.b3-container-stretch {
  min-height: 500px;
}

// Make text size in a big size in pages 404/500
.b3-huge-text {
  font-size: 280px;
  color: #ddd;
}

// Display a vertical line in the upload_snippet
.b3-col-md-separate {
  @media (min-width: $screen-md-min) {
    border-right: solid 1px #eee;
  }
}

/* Override bootstrap */
.progress-bar {
  transition: none;
}

/* Override bootstrap */
.panel:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

/* Override bootstrap */
.tooltip-inner {
  color: white;
}

/* Override bootstrap */
.nav-tabs {
  margin-top: -77px;
  li {
    margin-right: 30px;
    padding-bottom: 20px;
    a {
      height: 64px;
      &:hover {
        background: none;
        /* If border:none, element moves while hovering */
        border-color: transparent;
      }
    }
  }
  border: none;
}

/* Override bootstrap */
.well {
  p {
    margin-bottom: 0;
  }
}

// Allow two divs to be aligned
.b3-inline {
  display: inline-block;
}

// Hide an element
.b3-hidden {
  display: none;
}

// Remove margin - ALMOST DUPLICATED on b3-no-margin on checkout/basket.scss
.b3-no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

// Remove margin on row
.b3-no-margin-row {
  margin-left: 0;
  margin-right: 0;
}

// Make scale panel responsive
.b3-col-xs {
  @media (max-width: $screen-xs-max) {
    text-align: center;
    margin-top: 8px;
    #scale-percentage {
      margin-left: 13px;
    }
  }
}

// Styles for bar which show number of faces/shells/holes
.b3-bar {
  z-index: 5;
  background-color: #f6f6f6;
  padding-top: 14px;
  padding-bottom: 0;
  height: 83px;
  .btn {
    margin-top: 4px;
  }
}

// Apply margin auto for a div
.b3-margin-auto {
  margin: auto;
}

// Style for messages with an alert including an icon
.b3-alert {
  margin: 0;
  margin-bottom: 10px;
  .glyphicon {
    font-size: 20px;
  }
  .glyphicon-map-marker {
    position: relative;
    font-size: 28px;
    top: 8px;
    right: 4px;
  }
  .glyphicon-info-sign {
    font-size: 28px;
    position: relative;
    top: 17px;
    right: 4px;
  }
}

// Avoid select the content of the div
.b3-noselect {
  user-select: none;
}

// make the content of the div selectable
.b3-select {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: -moz-text;
  -ms-user-select: auto;
  user-select: auto;
}

// A white overlay. Used for the demo overlay
.b3-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1000;
  text-align: center;
  padding-top: 100px;
}

// Different styles for tooltips when modal or material status is updated
.red-tooltip .tooltip > .tooltip-inner {
  background-color: $brand-danger;
  width: 200px;
}
.red-tooltip .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: $brand-danger;
}
.red-tooltip .tooltip.right > .tooltip-arrow {
  border-right-color: $brand-danger;
}
.red-tooltip .tooltip.left > .tooltip-arrow {
  border-left-color: $brand-danger;
}
.red-tooltip .tooltip.top > .tooltip-arrow {
  border-top-color: $brand-danger;
}

.green-tooltip .tooltip > .tooltip-inner {
  background-color: $brand-success;
}
.green-tooltip .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: $brand-success;
}
.green-tooltip .tooltip.right > .tooltip-arrow {
  border-right-color: $brand-success;
}
.green-tooltip .tooltip.left > .tooltip-arrow {
  border-left-color: $brand-success;
}
.green-tooltip .tooltip.top > .tooltip-arrow {
  border-top-color: $brand-success;
}

// Set padding top to zero
.b3-no-padding-top {
  padding-top: 0;
}

// Set padding right to zero
.b3-no-padding-right {
  padding-right: 0;
}

// Set padding left to zero
.b3-no-padding-left {
  padding-left: 0;
}

.b3-no-padding-row {
  [class*='col-'] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
// Make a div unselectable and clickable as a hand cursor
.b3-hand-cursor {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

// add opacity to a div when hover effect is applied
.b3-hover-effect {
  opacity: 0.5;
  cursor: pointer;
  display: inline;
  &:hover {
    opacity: 1;
  }
}

// Truncate text
.truncate-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// No margin bottom
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.arrow-no-text {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: default;
}

// Date Range Picker
.daterangepicker {
  border-radius: 0 !important;
  .input-mini {
    border-radius: 0 !important;
  }
}
.daterangepicker td.start-date,
.daterangepicker td.end-date {
  border-radius: 0 !important;
}
.daterangepicker td.active {
  background-color: #2c66c4 !important;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  border-radius: 0 !important;
}
.ranges {
  li {
    border-radius: 0 !important;
    color: #2c66c4 !important;
    &.active,
    &:hover {
      background-color: #2c66c4 !important;
      border: 1px solid #2c66c4 !important;
      color: #fff !important;
    }
  }
}
.daterangepicker-input {
  .input_mini {
    border-radius: 0 !important;
  }
}
.calendar-table {
  .th {
    border-radius: 0 !important;
  }
}

// Title section for headers
.title-section {
  background: rgb(247, 247, 247);
  border-bottom: solid 1px #e8e8e8;
}

// Header 3d-viewer background
.img-thumbnail {
  padding: 0;
  background: url('../../images/header_repeat.png') repeat center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-drag: none;
}
.img-thumbnail svg {
  height: 100%;
}

// Background tables - white label
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: white;
}

.fallback-svg {
  fill: #fff;
}
