/** Style for 3YOURMIND footer
  * @import common/footer
  */

footer {
  width: 100%;
  z-index:120;
  position: relative;
  height: 54px;
  clear: both;
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  box-shadow: 0 -4px 16px 1px rgba(0, 0, 0, 0.4);
  a {
    color: #777;
    &:hover {
      color: #888;
    }
  }

  @media (max-width: $screen-large-phone - 1){
    height: 90px;
  }

  @media (min-width: $screen-large-phone) and (max-width: $screen-tablet - 1){
    height: 75px;
  }

  @media (min-width: $screen-tablet) and (max-width: $screen-desktop  - 1 ){
    height: 70px;
  }

  @media (min-width: $screen-desktop) {
    height: 54px;
  }
}
