/** Customized Form
  * @import common/forms
  */

// Make form with specific font-size and height
.form-control {
  font-size: 16px;
  height: 35px;
}
.seletc2-fullwidth ~ span{
    width: 100%!important;
}


.b3-control-label {
  font-weight: initial;
  margin-top: 5px;
  // line-height: 35px;
}


// Styles for different types of alerts
// INFO ALERT
.alert-info{
  background: $brand-primary;
  border: none;
  color: white;
  .glyphicon{
    color:white;
  }
  a{
    color: $brand-info;
    &:hover{
      color: white;
    }
  }
}

// SUCCESS ALERT
.alert-success{
  background: #187A19;
  border: none;
  color: white;
  .glyphicon{
    color:white;
  }
}

// How error message is displayed (position)
#buttons-error-page {
  position: relative;
  top: 150px;
}

//Style for error messages List
ul.errorlist {
    list-style: none;
    padding: 4px 0 0 0;
    color: $brand-danger;
}

// Error on AJAX Requests
.b3-error{
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: $brand-danger;
}

.field-error {
  border: 1px solid red;
}

// Placeholder for IE9 , combined with KnockoutJS
.placeholder-ie9{
    display:none;
    .ie9 &{
        display: block;
        margin-top: -28px;
        margin-left: 13px;
        font-size: 16px;
        color: #a2a2a2;
        pointer-events: none;
    }

}
