/** Styles for the content of the modal
  * @import common/modal
  * modal_size variable defines the size of the modal
  * the default(modal-md) size is 500px
  * modal-lg size is 800px
  * modal-sm size is 300px
  */

.modal-dialog {
    transform: translateY(-50%) !important;
    top: 50%;
    margin: 0px auto;
    max-height: 95vh;
}
.modal-content {
  height: auto;
  // max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #555;
  border: 1px solid #9e9e9e;
  background-color: #fff;
  position: relative;
  overflow-y: auto;

  // change the size of the modal
  h4 {
    margin-bottom: 10px;
  }

  .modal-body {
    overflow-y: auto;
    max-height: calc(100vh - 280px)
  }

  .close {
    position: relative;
    bottom: 15px;
    left: 15px;
  }

  p.b3-modal-light-info {
    position: absolute;
    top: 17px;
    right: 51px;
    color: #aaa;

    &.de{
        top:15px !important;
        right:30px !important;
        width: 170px;
        text-align: right;
    }

    @media screen and (max-width: $screen-phone - 1 ){
      position: inherit !important;
    }

  }

  /**
    * Use it for no padding row
    * wrap the col- class with this class
    */
  .row-no-padding {
    margin-left: 0;
    margin-right: 0;
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  table.permissions{
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    td {
      padding: 5px;
      border-bottom: 1px solid #eee;
    }
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2) {
      text-align: center;
    }
    td:nth-child(3), th:nth-child(3) {
      text-align: center;
    }
  }
}



// Remove right border on body on opened modal
body.modal-open {
  width:100%!important;
  padding-right:0!important;
  overflow: visible;
  @media screen and (max-width: $screen-phone) {
    overflow: hidden !important;
  }
}

// Restylizing reveal modal
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, .8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #eee;
  position: absolute;
  z-index: 101;
  padding: 30px 40px 34px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

// Different sizes on reveal modal
.reveal-modal.small {
  width: 200px;
  margin-left: -140px;
}

.reveal-modal.medium {
  width: 400px;
  margin-left: -240px;
}

.reveal-modal.large {
  width: 600px;
  margin-left: -340px;
}

.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px;
}

// close button on reveal modal

.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
  font-weight: bold;
  cursor: pointer;
}



#MultipleUploadModal {
     .modal-header{
        background: #2c66c4;
        color: white;
     }
 }
.error-msg {
    display: inline-block;
    font-weight: 600;
    color: $brand-danger;
    margin: 8px 0;
}
.error-modal-ul {
    list-style-type: none;
    margin-bottom: 0px;
}
