/** Global Style for nav bar
  * @import common/navbar
  */

// main white nav bar with 3yd logo
.navbar {
  z-index:121;
  background-color: white;
  border-bottom: 1px solid #a9a9a9;
  height: 59px;
  margin-bottom: 0;
  .navbar-brand {
    transition: all 0.2s ease 0s;
    min-width: 59px;
    margin-right: -10px;
    height: 59px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 19px;
    &:hover {
      background-color: #eee;
    }
    &:focus {
      background-color: #eee;
    }
    img {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .navbar-nav {
    height: 57px;
    li {
      padding: 0 20px;
      height: 100%;
      border-right: 1px solid #e0e0e0;
      .btn {
        margin-top: 12px;
        &:hover {
          background-color: $brand-primary;
          opacity: 0.9;
          color: white;
        }
        &:focus {
          background-color: $brand-primary;
          opacity: 0.9;
          color: white;
        }
      }
      .b3-btn-black {
        &:hover {
          background-color: #000;
        }
        &:focus {
          background-color: #000;
          border: 2px solid #000;
        }
      }
      a {
        padding: 0;
        color: inherit;
        &:hover, &:focus {
          background: none;
        }
      }
    }
    .btn {
      margin-top: 12px;
    }
      .dropdown-menu {
        right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 200px;
        li {
          margin-right: -20px;
          margin-left: -20px;
          a {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-right: none;
            border-radius: 0;
            &:hover {
              background-color: $brand-primary;
              color: white;
            }
          }
        }
        .divider {
          margin-top: 5px;
          margin-bottom: 5px;
          padding-left: 0;
          padding-right: 0;
          border-bottom: 1px solid #e0e0e0;

        }
      }

      .dropdown {
        padding-top: 17px;
        &:hover {
          background-color: #eee;
        }
        &:focus {
          background-color: #eee;
        }
      }
  }
}

// Set margin-right to zero on navbar
.navbar-right {
  margin-right: 0;
}

// Hide black menu on checkout page in mobile resolution
.checkout{
  .mainnav{
    @media screen and (max-width: $screen-phone - 1) {
      display: none !important;
    }
  }
}

// The black menu inner
.mainnav {
  background-color: #3D3D3D;
  position:inherit;
  height: 41px;
  z-index:120;
  &:after {
    background: none;
  }
  .mainnav-toggle {
    display: none;
  }
  .mainnav-collapse {
    display: block;
  }
  .mainnav-menu {
    padding: 0;
    list-style-type: none;
    li {
      margin-right: 38px;
      float: left;
      a {
        background-color: transparent !important;
        font-size: 14px;
        font-weight: bold;
        color: #ddd;
        letter-spacing: normal;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 9px;
        transition: all 0.4s ease 0s;
        text-decoration: none;
      }
    }
    li.active {
      a {
        color: white;
        font-weight: bold;
        border-bottom: 3px $brand-info solid;

      }
    }
    li.open {
      a {
        color: white;
      }
    }
    .step1 {
      a {
        padding-left: 15px;
      }
    }
  }
}

//Navcart symbol
.b3-navcart {
  font-size: 28px;
  position: relative;
  top: 15px;
  right: 10px;
  color: black;
  opacity: 0.7;
  &:hover, &:focus {
    color: black;
    opacity: 1;
    text-decoration: none;
  }
}

//Navcart number
.b3-navcart-number {
  display: block;
  background: $brand-primary;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  left: 19px;
  bottom: 18px;
  padding: 0;
  position: absolute;
  text-align: center;
  vertical-align: top;
  width: 21px;
  color: white;
}

// Button Back to homepage
#back-to-homepage {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 13px;
  line-height: 1.4 !important;
  @media (max-width: 991px) {
    display: none !important;
  }
}

/* Open dropdown on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;

}

// Display a line in the dropdown menu in the navbar
.b3-vertical-divider{
  float: left;
  width: 1px;
  height: 59px;
  border-right: 1px solid #e0e0e0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -1px;
  list-style: none;
}

.b3-generic-navbar{
  @media screen and (min-width: 507px) and (max-width:692px) {
    display: none !important;
  }
  /* hacky fix to solve problems with german version*/
  &.german-unloggued{
    @media screen and (min-width:600px) and  (max-width:692px) {
      margin-top:-60px !important;
    }
  }

}

.icon-navbar-responsive{
  float: right;
  margin-right: 15px;
  margin-top: 0;
  display: none !important;

  @media screen and (max-width: 692px){
    display: block !important;
  }
}

.collapse-menu {
  @media screen and (min-width: 693px){
    display: none !important;
  }
  border-bottom: 1px solid #888;
  li{
    display: block;
    height: 25px;
    &:first-child{
      margin-top: 10px;
    }
    a{
      color:#888;
    }
  }
  &.collapse-german-btn{
    @media screen and (max-width:330px){
      height: 100px !important;
      br{
        display: block !important;
      }
    }
    br{
      display: none;
    }
  }
}


.flag-lang{
    background: url('../../images/language-flags.png') top 0 right 0;
    cursor: pointer;
    height: 24px;
    width: 48px;
    color: transparent;
    margin-left: 10px;

    &:hover{
        background-position: 0 24px;
    }

    &.de{
        background-position: 0 24px;
        &:hover{
            background-position: 0 0;
        }
    }
}


.currency-selector{
    .select2-container .select2-selection--single {
        height:20px;
    }

    .select2-container--default .select2-selection--single {
        height: 28px !important;
        &:focus{
            outline:none;
        }

        .select2-selection__rendered {
            line-height: 28px !important;
        }
        .select2-selection__arrow {
            top: 2px !important;
        }
     }

}


.phone-navbar{
    @media all and (max-width: $screen-desktop - 1 ){
        margin-right: 15px !important;
    }
}




// Hide menu on projects

.userpanel-navbar{
    &.projects{
        @media all and (max-width:692px){
            display: none !important;
        }
    }
}

// Icon Flags

.flag-icon{
    margin-right:5px;
    border: 1px solid #ccc;
    line-height: 12px;
    width: 18px;
}

// Currency Country selector Navbar
.site-configuration{
    background: white;
    @media all and (min-width: $screen-desktop){
        float:left;
        margin-top:16px;
        border: 1px solid #ccc;
        padding: 3px;
        cursor:pointer;
        user-select:none;
    }
    @media all and (max-width: $screen-desktop - 1 ){
        border: 1px solid #ccc;
        width: 80px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        right: 15px;
        top: 2px;
        cursor:pointer;
        user-select:none;
    }

    @media all and (max-width: 692px ){
        margin-right: 5px !important;
    }
    @media all and (min-width: 693px ) and (max-width: $screen-desktop - 1){
        margin-right: 25px !important;
    }
}

.navbar-telephone{
    margin-top:19px;
    margin-right:15px;
    margin-left:15px;
    float:left;
}

