/**
 * Panel Common Style
 * @prefix: panel-*
 */

// The white panels. Heavily used.
// @usage
// .panel .fixed-height-md: add fixed height

.panel {
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }
  &.short-bottom{
    margin-bottom: 15px;
  }
  &.is--selected{
    background: #f4f4f4;
    border: 1px solid #2c66c4;
  }
  &.fixed-height-md{
    height: 300px;
    @media (max-width: $screen-md){
      height: auto;
    }
  }
  &.fixed-height-sm{
    height: 200px;
    @media (max-width: $screen-md){
      height: auto;
    }
  }
  &.fixed-height-lg{
    height: 600px;
    @media (max-width: $screen-md){
      height: auto;
    }
  }
}

// Add Margin equally to panels
// @usage
// <div class="panel-margin single">
//    <div class ="panel"> ... </div>
// </div>
//
// [------------single------------]
// [first]-[middle]-[middle]-[last]

$panel-margin-base : 15px;

.panel-margin {
  margin-top: -$panel-margin-base;
  &.single {
    padding: 0 $panel-margin-base;
  }
  &.first {
    padding-left: $panel-margin-base;
    padding-right: $panel-margin-base / 2;
    @media (max-width: $screen-md) {
      padding: 0 $panel-margin-base;
    }
  }
  &.middle {
    padding-left: $panel-margin-base / 2;
    padding-right: $panel-margin-base / 2;
    @media (max-width: $screen-md) {
      padding: 0 $panel-margin-base;
    }
  }
  &.last {
    padding-left: $panel-margin-base / 2;
    padding-right: $panel-margin-base;
    @media (max-width: $screen-md) {
      padding: 0 $panel-margin-base;
    }
  }
}

// styles for header of the panel
.panel-heading{
  border-bottom: 2px solid #EEEEEE;
  padding: 8px 15px;
  .b3-row{
    margin-left: 0;
    margin-right: 0;
  }
  h4{
    margin: 0;
  }
  &.link-right{
    h4{
        display:inline;
    }
    a{
        display:inline;
        float: right;
        margin-top: 5px;
    }
  }
}

// styles for the body of the panel
.panel-body{
  margin-top: 0;
  .btn{
    width: 100%;
  }
  .b3-btn-black{
    margin-top: 5px;
  }
}


// *** Not recommend use any more ***
// *** Use textgroup to make a label value lines ***

// Information lines in panels
.b3-label-value{
  margin-bottom: 5px;
  .b3-vertical-divider{
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
 }
}

// Title of the information line
.b3-label{
  width: 100px;
  color: #a9a9a9;
}

// Tables
.b3-table{
  width: 100%;
 .panel-heading{
    font-weight: 600;
    .b3-table-border{
      border-bottom: none;
    }
  }
  .panel-body{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .b3-last-row{
    .b3-table-border {
      border-bottom: none;
    }
  }
}
.b3-table-border{
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 10px;
  padding-top: 10px;
}
.b3-td-last{
  border-right: none;
}


// draw a line for headings
.line {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .ie9 &, .ie10 & {
    text-align: left;
    justify-content: flex-start;
    &:after {
        display: none;
    }
  }
  &:after {
      flex-grow: 1;
      height: 1px;
      content: '\a0';
      background-color: #ddd;
      position: relative;
      top: 0.7em;
      margin-left:10px;
  }
  &.rmargin{
    &:after {
        margin-right: 15px;
    }
  }
}

// Headings for panels

.b3-heading-title {
  color: #555;
  font-weight: bold;
  margin-bottom: 10px;
}

// Black alert for panel scale
.alert-black{
    background-color: white;
    border-color: #555;
    color: #555;
}
