/**
 * Similar Elements as in _repair.scss
 * Reused in comparator & iframe
 * Refactored from _ribbon.scss and _repair.scss to common elements
 */


//@Override bootstrap jumbotron element
.jumbotron {
  padding-bottom: 8px;
}

//The blue logo background
.b3-big-ribbon {
  position: relative;
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.4);
  background-image: url('../../images/header_repeat.png');
  background-color: $brand-info;
  color: white;
  padding-top: 90px;
}

//The blue logo background small
.b3-small-ribbon {
  background: $brand-info url('../../images/header_repeat.png') repeat 50%;
  color: white;
  padding-top: 120px;
  padding-bottom: 60px;
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.4);
}

//The space for the viewer uploaded model
.b3-webgl-ribbon {
  height: 420px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  position: relative;
  box-shadow: inset 0 0 54px -16px rgba(0,0,0,0.75);
}


// WebGL configuration
// Align object in center and fill the canvas
#webgl {
  text-align: center;
  width: 100%;
  height: 100%;
}

#webgl canvas {
  width: 100%;
  height: 100%;
}

// Webgl picture position
#webgl-loading {
  position: absolute;
  top: 150px;
  margin-left: -64px;
  left: 50%;
}

//Place for the no-js warning
#webgl-no-javascript {
  opacity: 0.3;
  position: absolute;
  top: 150px;
  width: 100%;

  p {
    font-size: 50px;
  }
}



//A blocker to make buttons unclickable during the loading of the model
.b3-button-blocker{
  pointer-events: auto;
  background: #AAAAAA;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 900;
}



//Wrappper scale for the model
#b3-webgl-scale {
  position: absolute;
  bottom: 10px;
  width: 30%;
  left: 35.1%;
  color: rgba(255, 247, 247, 0.68);
  pointer-events: none;
  p {
    font-size: 16px;
  }
}

//Scale for the model
.webgl-scale-class {
  width: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  border-color: white;
  pointer-events: none;
}

.b3-left-scale-bar {
  border-left: solid 1px;
  border-right: solid 1px;
  height: 5px;
  float: left;
  width: 50%;
  pointer-events: none;
}

.b3-bottom-scale-bar {
  border-top: solid 1px;
  border-right: solid 1px;
  border-left: solid 1px;
  height: 5px;
  text-align: center;
  pointer-events: none;
}

.b3-right-scale-bar {
  border-right: solid 1px;
  height: 5px;
  position: relative;
  pointer-events: none;
}

//Wrapper and background for the name of the model
.b3-upload-name-class {
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 10px;
  pointer-events: none;
  background: linear-gradient(to right,
              rgba(255,255,255,0) 0%,
              rgba(255,255,255,0.05) 30%,
              rgba(255,255,255,0.05) 50%,
              rgba(255,255,255,0.05) 70%,
              rgba(255,255,255,0) 100%);
}

//Name of the model
.b3-upload-name {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  cursor: default;
  pointer-events: none;
  p {
    line-height: 18px;
  }
}

//Making something unselectable
.b3-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

//Wrapper for the button to change the size of the viewer
.b3-screen-change {
  width: 16px;
  height: 16px;
  z-index: 100;
  right: 50%;
  left: 50%;
  position: absolute;
  top: 89%;
  pointer-events: auto;
  padding: 0;
  border-color: white;
  border-radius: 11px;
  background-color: white;
  background: white linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(246, 246, 246) 47%, rgb(237, 237, 237) 100%) repeat scroll 0% 0%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.83);
  &:focus, &:hover{
    background: white;
    opacity: 1;
  }
}

//Button to change the size of the viewer
#down-up-btn {
  font-size: 10px;
  top: -5px;
  bottom: 3px;
  color: #4D4D4D;
}

//Wrapper for the arrows above the 3D-Cube
#b3-arrow-holder {
  position: absolute;
  width: 83px;
  height: 85%;
  bottom: 50%;
  right: 16px;
  pointer-events: auto;
  .ie9 &{
    display: none;
  }
  i {
      font-size: 32px;
  }
  // IE 10 IE 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   display:none;
  }
}

//Arrows above the 3D-Cube
#arrow-counterclockwise {
//   transform: rotateY(180deg);
  float: right;
  cursor: pointer;
}

#arrow-clockwise {
  float: left;
  cursor: pointer;
}

//Wrapper for the mouse-control sprites
.b3-legend-controls {
  width: 46%;
  position: absolute;
  left: 32px;
  opacity: 0.1;
  padding-top: 10px;
  pointer-events: auto;
  display: inline-block;
  color: #fff;
  i {
    font-size: 48px;
  }
  .mouse-rotate:hover {
      #mouse-rotate {
    display: block;
  }
  }
  .mouse-zoom:hover {
    #mouse-zoom {
      display: block;
    }
  }
  .mouse-move:hover {
    #mouse-move {
      display: block;
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
  .ie9 &{
    display: none !important;
  }

}


// .sprite-mouse_pan {

//   left: 20%;
//   transform: scale(1);
//   pointer-events: auto;
//   &:hover {
//     #mouse_pan{
//       display: block;
//     }
//   }
// }

// .sprite-mouse_zoom {
//   position: absolute;
//   left: 11%;
//   transform: scale(1);
//   pointer-events: auto;
//   &:hover {
//     #mouse_zoom{
//       display: block;
//     }
//   }
// }

//Wrapper for the mouse-control explanations
.b3-legend-explanation {
  width: 180px;
  height: 45px;
  display: none;
  position: absolute;
  bottom: 55px;
  text-align: center;
  p {
    color: rgba(255, 255, 255, 1);
  }
}

//The mouse-control explanations
#mouse_rotate {
  left: -27px;
}

#mouse_pan {
  left: -121px;
}

#mouse_zoom {
  left: -79px;
}

//Repair button in the multicolor window
#b3-repair-btn{
  @media (max-width: 700px) {
   margin-left: 0;
  }
  width: 200px;
  margin-left: 259px;
}

//Arrow in the head of the multicolor window
#from-to-arrow{
  margin-left: 5px;
  margin-right: 5px;
}

//Space for the explanation in the multicolor windwow
.b3-repair-explanation-box{
  margin-top: 30px;
}

//Wrapper for the illustrated explanation
.b3-repair-row{
  margin-top: 10px;
  @media (max-width: 992px) {
    width: 100px;
    float: left;
  }
  .b3-multicolor_explain {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

//Arrows for the explanation direction in the multicolor window
.order-arrow{
  @media (max-width: 992px) {
    display: none;
  }
  font-size: 21px;
  position: absolute;
  left: -10px;
  top: 20px;
}

//Wrapper for the text explanation
.b3-explanation-row {
  @media (max-width: 992px) {
    margin-top: 10px;
    width: 195px;
    float: left;
    clear: right;
    margin-left: 5px;
  }
  .b3-multicolor_explain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    p {
      text-align: center;
    }
    @media (max-width: 992px) {
      margin-left: 0;
      height: 65px;
      padding-top: 20px;
      p {
        text-align: left;
      }
    }
  }
  .b3-long_explanation {
    @media (max-width: 992px) {
      padding-top: 10px;
    }
  }
}

//Repair button in the viewer
#btn-repair{
  opacity: 0.5;
}

// styles for permissions in share_modal
.b3-share{
  margin-top:-150px;
  table.permissions{
    width:100%;
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2) {
      text-align: center;
    }
    td:nth-child(3), th:nth-child(3) {
      text-align: center;
    }
  }
}



// CSS For Elements inside the Viewer
// Similar Elements as in _ribbon.scss
// refactored to common/ribbon.scss

//For all round buttons (like repair and options)
.b3-btn-round {
  cursor: pointer;
  position: absolute;
  right: 15px;
  padding: 0;
  &:hover {
    height: 70px;
    width: 70px;
    margin-right: -2px;
    margin-top: -2px;
  }
  pointer-events: auto;
}

.b3-btn-zoom {
  position: relative;
  height: 50px;
  width: 50px;
  font-size: 40px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
  opacity: 0.4;
  transform: scale(1);
  pointer-events: all;
  vertical-align: middle;
  line-height: 43px;
  margin-bottom: 10px;
  &:active {
    background-color: white;
    color: lightgray;
  }
}


//Back button after repairing
#btn-back {
  display: none;
}

//Wrapper for all buttons and symbols in the lower part of the viewer
.b3-button-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 0 0;
  height: 217px;
  pointer-events: none;
  .col-md-12 {
    height: 80px;
  }
}

.b3-zoom-holder {
  position: relative;
  margin-bottom: 15px;
  margin-left: 5px;
  text-align: center;
  visibility: hidden;
  .row {
    padding-bottom: 1px;
  }
}


//For all popup texts
.b3-popup {
  pointer-events: auto;
  width: 190px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: justify;
  color: white;
  position: absolute;
  right: -44px;
  bottom: 85px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  h4 {
    text-align: center;
  }
  a {
    color: rgb(138, 230, 255);
  }
  @media (max-width: 1140px) {
    right: 20px !important;
  }
  .glyphicon {
    font-size: 38px;
    margin-right: 10px;
    margin-left: 10px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 13px;
    border-color: rgba(255, 255, 255, 0.2);
  }
  p {
    margin-bottom: 0;
    display: inline-block;
  }
}

//Specialised popups
#popup-back {
  right: -40px;
}

#popup-repair {
  width: 240px;
  right: -64px;
}

#repair-loading {
  display: none;
  float: right;
}

//The abort button during the repair process
#btn-abort {
  display: none;
  right: 32px;
  top: 17px;
  &:hover {
    height: 32px;
    width: 32px;
    margin-right: -1px;
    margin-top: -1px;
  }
}

//Can probably get deleted
#wta-info {
  width: 230px;
  right: 15px;
  bottom: 170px;
}

//Wrapper for the size informations in the repair information box
#wta-info-mm {
  width: 100px;
  margin-left: 20px;
  @media (max-width: 709px) {
    display: none;
  }
}

//For the three color blocks in the repair information box
.b3-color-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #222;
  background-color: #00b3ee;
  display: inline-block;
  margin-right: 5px;
}

//The individual color blocks in the repair information box
#swatch-green {
  background-color: #3c9d07;
  margin-left: 25px;

  &.de{
      @media all and (min-width:320px) and (max-width:375px){
        margin-left:5px;
      }
  }

}

#swatch-yellow {
  background-color: $brand-warning;
  margin-left: 25px;

  &.de{
      @media all and (min-width:320px) and (max-width:375px){
        margin-left:5px;
      }
  }
}

#swatch-red {
  background-color: $brand-danger;
  margin-left: 25px;

  &.de{
      @media all and (min-width:320px) and (max-width:375px){
        margin-left:5px;
      }
  }

}

//The information text about the printability
.b3-wta-info-text {
  position: relative;
  left: 10px;
  bottom: 3px;
  @media screen and (max-width: 479px) {
    margin-left: 44px;
    bottom: 14px;
    left: 0;
  }
}

//Wrapper for the sign and text about the printability
.b3-wta-info {
  position: relative;
  margin-top: 0;
  padding-left: 27px;
  margin-left: 17px;
  @media (min-width: $screen-xs-min) {
    margin-top: 0;
  }
  @media (max-width: $screen-xs-min - 1) {
    position: relative;
    bottom: 10px;
  }
  .glyphicon {
    font-size: 20px;
    margin-left: 10px;
    @media screen and (max-width: 479px) {
      top: 10px;
      margin-left: 16px;
    }
  }
  p {
    @media (min-width: $screen-xs-min) {
      display: inline-block;
    }
    margin-right: 15px;
  }
}

//Wrapper for the left and middle part of the repair information box
.b3-tool-box {
  padding-left: 10px;
  border-left: 1px solid #ddd;
  min-width: 228px;
  @media (max-width: 767px) {
    min-width: 160px;

  }
  @media (max-width: 371px) {
    display: none;
  }
}

//Wrapper for the middle part of the repair information box
#wta-info-box {
  @media (max-width: 611px) {
    display: none;
  }
}

//Wrapper for the "Repair it" animation
#popup-animation {
  position: absolute;
  right: -64px;
  width: 220px;
  top: 0;
  @media (max-width: 823px) {
    display: none !important;
  }
}

//Text during the loading of the model
#webgl-loading-text {
  position: absolute;
  left: 50%;
  margin-left: -56px;
  top: 290px;
  font-size: 23px;
  color: rgba(255,255,255,0.8);
  font-weight: bolder;
}

.b3-view-control-holder {
  height:80px;
  margin: 24px -15px 0 -15px;
  position: relative;
  * {
      pointer-events:none;
  }
  .b3-legend-controls {
    opacity: .3;
  }
}

.ribbon-dropzone {
    border: rgb(0, 0, 0) dashed 4px;
    min-height: 223px;
    padding: 40px 30px;
    cursor: pointer;
}

.ribbon-dropzone-text {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
