/** Customized Select
  * @import common/select2.scss
  * @usage input[type="select"]
  */

input[type="select"]{
  width: 188px;
}

[class^='select2'] {
  border-radius: 0 !important;
}

// https://github.com/select2/select2/issues/167 issuecomment-155716974
// To add Arrow dropdown selector


.select2-container {
  .select2-selection--single {
    height: 35px !important;
    border: 1px solid #ccc !important;
    .select2-selection__rendered {
      line-height: 35px !important;
    }
    .select2-selection__arrow {
      top: 5px !important;
    }
  }
  .select2-search--inline {
    margin-left: 10px;
  }

}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-radius: 0;
}
.select2-container--open .select2-dropdown--above {
    border-radius: 0;
}
.select2-results__option {
    padding-left: 10px;
    &.select2-results__message{
      display: none !important;
    }
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #eee !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f5f5f5;
  color: #262626;
}
.select2-container--default .select2-selection--single {
    height: 35px !important;
    border: 1px solid #ccc !important;
    .select2-selection__rendered {
      line-height: 35px !important;
    }
    .select2-selection__arrow {
      top: 5px !important;
    }
}

.select2-search__field:focus{
    border-color: #87B2D4 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 178, 212, 0.6) !important;
    height: 35px !important;
}

.select2-selection--multiple{
    .select2-search__field:focus{
        border-color: transparent !important;
        outline: 0 !important;
        box-shadow: none !important;
        height: 35px !important;
    }
    .select2-search__field {
      margin-top:0 !important;
    }
}

span.select2-selection.select2-selection--single {
      outline: none !important;
}

.select2-container--default .select2-selection--multiple {
  position: relative;
  border: 1px solid #ccc;
}

.select2-container--default .select2-selection--multiple ul:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  width: 20px;
  background: url('/assets/images/select2.png') 0 1px no-repeat;
  cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-container--open  .select2-selection--multiple:before {
  background-position: -18px 1px;
}
.select2-container--default .select2-selection--multiple .select2-container--open  li.select2-search--inline {
  width: 99%;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding-left: 2px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ccc;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f5f5f5 !important;
  color: #262626 !important;
}

// color placeholder select2
// do not group these rules
*::-webkit-input-placeholder {
    color: #555555;
}
*:-moz-placeholder {
    color: #555555;
}
*::-moz-placeholder {
    color: #555555;
}
*:-ms-input-placeholder {
    color: #555555;
}

// Placeholder for select2 multiple
.placeholder{
    position: relative;
    bottom: 25px;
    height: 0px;
    left: 10px;
    color: #a2a2a2;
    pointer-events: none;
}


// Custom styles for projects for a file
#addFileToProjectModal{
    .select2-container--default {
        .select2-selection--multiple .select2-selection__choice{
            margin-top: 10px !important;
            margin-right: 30px !important;
            border-radius: 5px !important;
            background-color: #2c66c4 !important;
            border: 1px solid #2c66c4 !important;
            color: white !important;
        }

        .select2-search--inline .select2-search__field {
            height: 35px !important;
        }

    }

    select2-container .select2-search--inline {
        margin-top: 5px !important;
    }
    .select2-selection__choice__remove{
        position: relative;
        float: right;
        left: 30px;
        background: #a3a3a3;
        width: 15px;
        height: 15px;
        top: 3px;
        line-height: 15px;
        text-align: center;
        border-radius: 50% !important;
        color: white;
        &:hover{
            background: #e0dede;
            color: black;
        }
        &:before{
        background: none;
        }
    }
}

.option-select2{
    cursor: pointer;
    margin-right: -15px;
}

.select2-create-project{

    &:hover,&.fake-hover{
        background-color: #f5f5f5 !important;
        color: #262626 !important;
    }
}

.select2-search__field{
    min-width: 135px !important;
}