//General layer for the options menu
.b3-share-overlayer{
  position: absolute;
  right: 0;
  height: 250px;
  width: 120px;
  bottom: -15px;
}

//Wrapper for all buttons of the options menu
.share_btns {
  position: absolute;
  bottom: 0;
  height: 130px;
  width: 150px;
  left: -30px;
  pointer-events: auto;
}

//The options button
#btn-options {
  position: absolute;
  bottom: 35px;
  height: 50px;
  width: 50px;
  &:hover {
    margin-right: 0;
    margin-top: 0;
  }
}

//Wrapper for the transformable options button
#svg {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  width: 50px;
  height: 50px;
}

//Wrapper for the share button of the options menu
#b3-share_menu-share {
  position: absolute;
  left: 270px;
  height: 50px;
  width: 10px;
  bottom: 1px;
  display: none;
  opacity: 0;
  .option-explanation {
    bottom: 14px;
  }
}

//Wrapper for the delete button of the options menu
#b3-share_menu-delete {
  transform: scale(0.1) rotate(180deg);
  position: absolute;
  left: 200px;
  height: 50px;
  width: 80px;
  bottom: 160px;
  display: none;
  opacity: 0;
}

//Delete button of the options menu
#btn-delete {
  height: 50px;
  width: 50px;
  &:hover {
    margin-right: 0;
    margin-top: 0;
  }
}

//Wrapper for the download button of the options menu
#b3-option-menu-down {
  transform: scale(0.1) rotate(180deg);
  position: absolute;
  left: 200px;
  height: 50px;
  width: 80px;
  bottom: 100px;
  opacity: 0;
  display: none;
}

//Download button of the options menu
#btn-down {
  height: 50px;
  width: 50px;
  &:hover {
    margin-right: 0;
    margin-top: 0;
  }
}

//Explanation labels for buttons of the options menu
.option-explanation {
  position: absolute;
  right: 80px;
  bottom: 10px;
  width: 0;
  height: 28px;
  padding-top: 3px;
  display: none;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

//Wrapper for all hidden windows
#b3-hidden-windows {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index:1000;
}

//General for all hidden windows
.b3-hidden_window {
  @media (max-width: 700px) {
    width: 300px;
  }
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #555;
  border: 1px solid #9e9e9e;
  display: none;
  background-color: rgb(230, 230, 230);
}

//For general explanations at the option windows
.b3-window-explanation {
  margin-bottom: 10px;
  margin-top: 20px;
}

//The x button in the top right corner of the option windows
.b3-window-close {
  @media (max-width: 700px) {
   margin-left: 240px;
  }
  position: absolute;
  transform: scale(.5);
  margin-left: 440px;
  margin-top: -30px;
  cursor: pointer;
  opacity: 0.3;
}

//The delete window
#b3-hidden-delete {
  p {
    margin-bottom: 0;
  }
}

//The delete button from the delete window
#b3-delete-btn {
  @media (max-width: 768px) {
   margin-left: 0;
  }
  width: 200px;
  color: white;
  border-color: #137097;
  margin-left: 255px;
  margin-top: 10px;
  line-height: 1.5;
}

//The currently deleting animation from the delete window
#delete-loading {
  margin-left: 250px;
  display: none;
}

//If the delete was successfull this button will appear at the delete window
#b3-delete-btn-success {
  @media (max-width: 768px) {
   margin-left: 0;
  }
  display: none;
  width: 200px;
  color: white;
  border-color: #137097;
  margin-left: 255px;
  margin-top: 35px;
  line-height: 1.5;
}

//The demo can't be deleted, this for the warning from the delete window
#b3-demo-delete {
  @media (max-width: 768px) {
   margin-left: 0;
  }
  margin-left: 255px;
  margin-top: 10px;
}

//The download-window
#b3-hidden-download {
  p {
    margin-bottom: 0;
  }
}

//The header of the option windows
.b3-option-windows-head{
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 15px;
  padding-bottom: 4px;
  p {
    margin: 0;
  }
}

//The link input field from the share window
html input.b3-link-input.form-control {
  margin-bottom: 10px;
  background: #ffffff;
  font-size: 11px;
  margin-left: 27px;
  width: 91.5%;

  @media (max-width: 991px) {
    width: 75% !important;
  }
}

//Wrapper for the social media icons like facebook and co. from the share window
.social-row {
  padding-left: 27px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: -5px;
}

//Background layer for when a hidden window is open to cease access to the rest of the site
.b3-backgroundlayer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 999;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  pointer-events: auto;
}
