 /** Customized Slider
  * @import common/slider
  * @usage input[type=range]
  */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
  padding-bottom: 0;
  padding-top: 0;
  box-sizing: content-box;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
  background: $brand-primary;
  border-radius: 5px;
  border: 0 solid rgba(6, 78, 85, 0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.8px;
  z-index: 4;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $brand-primary;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
  background: $brand-primary;
  border-radius: 5px;
  border: 0 solid rgba(6, 78, 85, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  z-index: 4;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $brand-primary;
  border: 0 solid rgba(6, 78, 85, 0);
  border-radius: 11px;
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: $brand-primary;
  border: 0 solid rgba(6, 78, 85, 0);
  border-radius: 11px;
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0 0 1px #000000, 0 0 0 #0d0d0d;
  border: 1px solid #000000;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
  z-index: 4;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]:focus::-ms-fill-lower {
  background: $brand-primary;
}

input[type=range]:focus::-ms-fill-upper {
  background: $brand-primary;
}
