/** Label-Value Text Group
  * @import common/textgroup
  * @prefix b3-textgroup
  * @usage
  * <div class="b3-textgroup col-xs-12">
  *   <label class="col-xs-6">Label</label>
  *   <div class="col-xs-6">Values</div>
  * </div>
  * @suggestion also form-group class has the same style;
  *             form the label-value in a row;
  *             must define the class width;
  */



.b3-textgroup {
  @include make-row;
  word-break: normal;
  margin-bottom: $line-height-computed;
  padding: 0;
  display: block;
  box-sizing: border-box;
  &:after{
    clear: both;
    content: '';
  }
}
.b3-textgroup label{
  @extend .b3-text-gray;
}

.b3-textgroup-lg{
  @extend .b3-textgroup;
  margin-bottom: $line-height-computed * 1.5;
}

.b3-textgroup-sm{
  @extend .b3-textgroup;
  margin-bottom: 5px;
}
.b3-textgroup-horizon{
  padding: 8px 0;
  line-height: 34px;
  & input {
    width: 80%;
  }
  & label {
    @extend .b3-text-gray;
  }
}

.b3-textgroup-lr{
  @extend .b3-textgroup;
  text-align: right;
  & label{
    @extend .b3-text-gray;
    text-align: left;
    &:hover{
      cursor: default;
      color: #a2a2a2!important;
    }
  }

  & text:hover{
    cursor: default;
    color: #a2a2a2;
  }
}