{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Play Joker. Impersonate yourself!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>