{% extends 'b3_impersonate/base.html' %}
{% load order_count %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Domain</th>
                    <th>Name</th>
                    <th>Users #</th>
                    <th>Partners #</th>
                    <th>Orders #</th>
                </tr>

                {% for site in sites %}
                    <tr>
                        <td>
                            <a target="_blank" href="//{{ site.domain }}:{{ request.get_port }}">//{{ site.domain }}:{{ request.get_port }}</a>
                        </td>
                        <td>
                            {{ site.name }}
                        </td>
                        <td>
                            <a href="{% url 'impersonate:user_list' site.id %}">{{ site.userprofile_set.count }}</a>
                        </td>
                        <td>
                            {{ site.organization.partners_enabled.count }}
                        </td>
                        <td>{% order_count site %} </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

    </div>
{% endblock %}
