{% extends 'b3_impersonate/base.html' %}
{% load order_count %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1>Users from {{ site.domain }}</h1>
        </div>
        <div class="col-md-2 align-center">
            <a href="{% url 'impersonate:index' %}" class="btn btn-primary">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">Click a user to become him at <strong>{{ site.domain }}</strong></div>
            <table class="table">
                <tr>
                    <th>Email</th>
                    <th>is staff</th>
                    <th>is superuser</th>
                </tr>

                {% for user in users %}
                    <tr>
                        <td>
                            <a target="_blank" href="//{{ site.domain }}:{{ request.get_port }}{% url 'impersonate:impersonate' user.id %}">
                                {{ user.email }} <i class="glyphicon glyphicon-new-window"></i>
                            </a>
                        </td>
                        <td>
                            {{ user.is_staff|default:'' }}
                        </td>
                        <td>
                            {{ user.is_superuser|default:'' }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
