{% extends 'b3_core/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load organization_flags %}
{% load b3_utils %}
{% load widget_tweaks %}
{% load compress %}
{% load recaptcha2 %}

{% block title %}{% trans 'Request' %}{% endblock %}

{% block page_overlay %}
    {% comment %}Do not display upload overlay when dragging file on page{% endcomment %}
{% endblock %}

{% block content %}
    {% recaptcha_init %}

    <div class="container b3-container-stretch">
        <h2 style="margin-bottom:15px;margin-top:15px;">{% customize 'request_page_title' %}{% blocktrans with organization_name=request|show_organization %}Request for {{ organization_name }}{% endblocktrans %}{% endcustomize %}</h2>

        <div class="panel">
            <div class="panel-body">

                {% if form.errors %}
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-xs-12">
                            <div class="row alert b3-alert alert-danger">
                                <div class="hidden-xxxs col-xxs-1 col-xs-1">
                                    <span style="position: absolute;top: -3px;left: 0;right: 0;bottom: 0;text-align: center;" class="glyphicon glyphicon-info-sign"></span>
                                </div>
                                <div class="col-xxxs-12 col-xxs-10 col-xs-11">
                                    {% for key, value in form.errors.items %}
                                        {% for err in value %}
                                            {{ err }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <form action='{% url 'manual-request' %}' method="post" class="form-horizontal attachments-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% comment %} Display first the select of the type of the request {% endcomment %}
                        {% if field.name == 'type' %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}" class="col-sm-3 control-label b3-heading-title">{{ field.label }}</label>
                                <div class="col-sm-9">
                                  {{ field|add_class:"form-control" }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <hr />

                    {% if request|attachment_upload_enabled %} 
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <p class="b3-heading-title">{% trans 'Attached Files' %}</p>
                                <p>{% trans 'Max file size:' %} {{ max_file_size_in_mb }} {% trans 'MB' %}</p>
                                <p class="b3-text-gray">
                                    {% customize 'request_attachment_explanation_text' %}{% endcustomize %}
                                </p>
                            </div>

                            <div class="col-xs-9">
                                {% comment %} Display stl file if one is attached to the current request {% endcomment %}
                                {% if stl_file %}
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-3">
                                            <img class="img-thumbnail" src="{{ stl_file.thumbnail_url }}"
                                                 onerror="svgFallback(this)"
                                                 alt="{{ request|show_organization }}" />
                                        </div>
                                        <div class="col-xs-9">
                                            {% with stl_file.showname|add:stl_file_extension as stl_file_complete_name %}
                                                <p><strong>{{ stl_file_complete_name|inline_truncate:30 }}</strong>  <span style="margin-left: 10px;">{{ stl_file_config.size_str }}</span></p>
                                            {% endwith %}
                                            <p>{{ stl_file_config.product_title }}</p>
                                            {% if stl_file_config.printability == 'unknown' %}
                                            {% elif stl_file_config.printability == 'printable' %}
                                                <p style="color: #3c9d07">{% trans 'The model is printable' %}</p>
                                            {% elif stl_file_config.printability == 'warning' %}
                                                <p style="color: #ff7800">{% trans 'Your model is printable but some walls might break' %}</p>
                                            {% elif stl_file_config.printability == 'not_printable' %}
                                                <p style="color: #A7082A">{% trans 'The model is not printable' %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% comment %} Display other attachments {% endcomment %}
                                <!-- ko foreach: attachments -->
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-3">
                                            <img alt="{{ request|show_organization }}" class="svg-icon"
                                                 style="display: block; margin: 0 auto; width: 48px; height: 48px; cursor: auto;"
                                                 src="{% static 'images/svg-icons/file-icon.svg' %}">
                                        </div>
                                        <div class="col-xs-6">
                                            <p><strong data-bind="text: name"></strong></p>
                                            <p data-bind="text: size"></p>
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            <a data-bind="click: $parent.remove_attachment">{% trans 'Remove' %}</a>
                                        </div>
                                    </div>
                                <!-- /ko -->
                                <div class="row" id="attachment-upload-progress-container" style="display: none;">
                                    <div class="progress">
                                        <progress id="attachment-upload-progress" role="progressbar" value="0" min="0" max="100" style="width: 95%; margin-left: 15px; height: 100%;"></progress>
                                    </div>
                                </div>

                                <p class="text-warning" data-bind="text: error"></p>
                                <div class="row">
                                    <div id="attachment-dropzone" style="cursor: pointer; border: 2px dashed {% customize 'primary_bkg_color' %}#2c66c4{% endcustomize %};padding: 15px; margin-bottom: 15px; margin-right: 15px; margin-left: 15px;" class="text-center">
                                        <p style="display: inline; pointer-events: none; margin-right: 5px;">{% trans 'Drag files here or click to upload' %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    {% endif %}

                    {% comment %} Display other fields of the form in this order {% endcomment %}
                    {% for field in form.visible_fields %}
                        {% if field.name == 'email' %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}" class="col-sm-3 control-label b3-heading-title">{{ field.label }}</label>
                                <div class="col-sm-9">
                                  {% render_field field class+="form-control" placeholder=field.help_text %}
                                </div>
                            </div>
                        {% endif %}

                        {% if field.name == 'first_name' %}
                            <div class="form-group">
                                <label  class="col-sm-3 control-label b3-heading-title">{% trans 'Your name' %}</label>
                                <div class="col-sm-5">
                                  {% render_field field class+="form-control" placeholder=field.label %}
                                </div>
                        {% elif field.name == 'last_name' %}
                                <div class="col-sm-4">
                                  {% render_field field class+="form-control" placeholder=field.label %}
                                </div>
                            </div>
                        {% elif field.name == 'company' %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}" class="col-sm-3 control-label b3-heading-title">{{ field.label }}</label>
                                <div class="col-sm-9">
                                  {% render_field field class+="form-control" placeholder=field.help_text %}
                                </div>
                            </div>
                        {% elif field.name == 'phone_number' %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}" class="col-sm-3 control-label b3-heading-title">{% trans 'Phone Number' %}</label>
                                <div class="col-sm-9">
                                  {% render_field field class+="form-control" placeholder=field.label %}
                                </div>
                            </div>
                        {% elif field.name == 'message' %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}" class="col-sm-3 control-label b3-heading-title">{{ field.label }}</label>
                                <div class="col-sm-9">
                                  {% render_field field class+="form-control" placeholder=field.help_text %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% comment %} Also add hidden fields to the form {% endcomment %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    <div class="row">
                       <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                           {% if form.captcha %}
                               {{ form.captcha }}
                               {{ form.captcha.errors }}
                           {% endif %}
                       </div>
                       <div class="col-md-4 col-sm-3 col-xs-12">
                            <input class="btn btn-primary" type="submit" value="{% trans 'Send Request' %}">
                        </div>
                    </div>
                 </form>
            </div>
        </div>

    </div>
    <div class="b3-make-space"></div>

<script type="text/javascript">
    var attachment_url = '{% url 'manual-request-attachments' %}';
    var max_file_size_in_mb = parseFloat('{{ max_filz_size_in_mb }}');
</script>
{% compress js %}
    <script src="{% static 'js/button3d/common/AttachmentsVM.js' %}"></script>
    <script src="{% static 'js/button3d/common/attachment_dropzone.js' %}"></script>
{% endcompress %}
{% endblock %}
