{% extends 'b3_core/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Request' %}{% endblock %}

{% block content %}

    <div class="container b3-container-stretch">
        <h2 style="margin-bottom:15px;margin-top:15px;">{% trans 'Thank you!' %}</h2>
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {% blocktrans %}
                            Thank you for contacting our team.<br><br>
                            We are reviewing your request and will provide feedback within one working day.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
