{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load compress %}
{% load b3_utils %}
{% load organization_flags %}
{% load currency_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block class %}dashboard{% endblock %}

{% block user_content %}

<div class="b3-make-space"></div>

<div class="row">
    <div class="col-sm-12 col-md-{% if organization.key_manager %}8{% else %}12{% endif%}">
        <div class="panel short-bottom">
            <div class="panel-heading link-right">
                <h4>{% blocktrans %}Recent 3D Projects{% endblocktrans %}</h4>
                {% if projects|length > 0 %}<a href="{% url 'b3_user_panel:projects' %}">{% blocktrans %}See all 3D Projects{% endblocktrans %}</a>{% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    {% if  projects %}
                        {% for project in projects %}
                        <div class="col-sm-12 col-md-4">
                            <a href="{% url 'b3_user_panel:project-detail' project.id %}" style="color: inherit;" >
                                <div class="panel no-margin-bottom b3-list-uploads-panel b3-data">
                                    <div class="panel-body" style="padding-bottom: 0">
                                        <div class="arrow-no-text b3-heading-title no-margin-bottom" style="display:inline-block;cursor:pointer;" title="{{ project.title }}" {% if project.title|length > 20 %} data-toggle="tooltip" {% endif %}>{% if project.title|length > 20 %}{{ project.title|inline_truncate:20 }}{% else %}{{ project.title }}{% endif %}</div>
                                        <div class="text-right" style="display:inline-block;float: right;margin-top: -5px;font-size: 18px;"><i style="display:none;" class="fa fa-close"></i></div>
                                        <div class="row" style="cursor:pointer;margin-bottom:15px;margin-top:15px;min-height:52px;">
                                            {% for line in project.lines %}
                                                <div class="col-xs-6"
                                                     style="{% if forloop.counter0 == 0 %}padding-right: 0px;margin-left: -6px;{% endif %} {% if forloop.counter0 == 1 %}padding-left: 0px;margin-left: 6px;{% endif %}">
                                                    <img draggable="false"  class="img-thumbnail" src="{{ line.thumbnail_url }}"
                                                     onerror="svgFallback(this)"
                                                     alt="3YOURMIND">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <p class="arrow-no-text" style="cursor:pointer !important;" >{{ project.date |date:"SHORT_DATE_FORMAT" }}</p>
                                            </div>
                                            <div class="col-xs-6" style="padding-left: 0;">
                                                <p class="arrow-no-text" style="float: right;cursor:pointer !important; " >
                                                    {% if project.total_lines == 0 %}{% trans 'Empty' %}{% endif %}
                                                    {% if project.total_lines == 1 %}{% trans '1 file' %}{% endif %}
                                                    {% if project.total_lines > 1 %}{{ project.total_lines }} {% trans 'files' %}{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    {% else %}

                        <div class="text-center">
                            <h4>{% trans "You haven't created any 3D projects so far." %}</h4>
                            <p>
                                {% trans "Start a new 3D project" %}
                            </p>
                            <div class="btn" style="width:40%;" onclick="Button3d.modals.show_new_project_modal()" href="">{% trans "New 3D project" %}</div>
                        </div>

                    {% endif %}
                </div>

            </div>
        </div>
        {% if not use_new_user_panel %}
        <div class="panel short-bottom">
            <div class="panel-heading link-right">
                <h4>{% blocktrans %}Recent Orders{% endblocktrans %}</h4>
            </div>
            <div class="panel-body table-responsive">

                {% if orders %}
                    <table class="table no-margin-bottom table-bordered table-striped">
                        <thead>
                            <tr class="active">
                                <th>{% trans 'Order Number' %}</th>
                                <th>{% trans 'Name - Shipping Address' %}</th>
                                <th>{% trans 'Order Date' %}</th>
                                <th>{% trans 'Total' %}</th>
                                <th>{% trans 'Paid' %}</th>
                                <th>{% trans 'Order State' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr style="height: 55px;">
                                    <td><a href="{{ order.basket.url }}">{{ order.number }}</a></td>
                                    <td>
                                        {% if order.shipping_address %}
                                            {{ order.shipping_address }}
                                        {% elif order.pickup_location %}
                                            {{ order.pickup_location }}
                                        {% endif %}
                                    </td>
                                    <td>{{ order.datetime_placed|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ order.total.incl_tax|currency:order.currency }}</td>
                                    <td>{{ order.payment.payment_method.name }}</td>
                                    <td>{% trans order.status.type %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center">
                        <h4>{% trans "You haven't ordered anything." %}</h4>
                        <p>
                            {% trans "As soon as you place an order, it will appear here." %}
                        </p>
                    </div>
                {% endif %}

            </div>
        </div>
        {% endif %}
    </div>

    {% if organization.key_manager %}
    <div class="col-sm-12 col-md-4">
        {% with organization.key_manager as key_manager %}
            <div class="panel short-bottom">
                <div class="panel-heading">
                    <h4>{{ key_manager.title }}</h4>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom:15px;">
                        {% if key_manager.manager_photo %}
                            <div class="col-xs-4">
                                <img draggable="false" class="img-thumbnail" src="{{ key_manager.manager_photo.url }}">
                            </div>
                        {% endif %}
                        <div class="col-xs-8">
                            <p class="b3-heading-title">{{ key_manager.name }}</p>
                            <p>{{ key_manager.role }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="b3-heading-title line">{% trans 'Contact' %}</div>
                        </div>
                        <div class="col-xs-12" style="margin-bottom:10px;">
                            <div class="row">
                                <div class="col-xs-4 b3-text-gray text-left">{% trans 'Email' %}:</div>
                                <div class="col-xs-8 text-left"><a href="mailto:{{ key_manager.email }}">{{ key_manager.email }}</a></div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-4 b3-text-gray text-left">{% trans 'Telephone' %}:</div>
                                <div class="col-xs-8 text-left">{{ key_manager.telephone }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
    {% endif %}
</div>

<div class="b3-make-space"></div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

{% endblock %}

