/** Checkout Basket Page CSS
  * @import checkout/basket
  * @prefix checkout-basket-*
  */

// Add border with line and shadow to basket div
.checkout-basket-fix {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  @media (max-width: $screen-md-min) {
    margin-top: 0;
  }
}

// Add top-margin to ensure everything is visible on small screens
#b3-checkout-main {
  @media screen and (max-width: 479px) {
    margin-top: 140px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-top: 99px;
  }
}

// Used in list of different shipping addresses of the user
// currently disabled
.b3-well {
  background-color: white;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin-top: 10px;
}

// Make basket column full width in responsive resolution
.checkout-basket-right {
  @media (max-width: $screen-md-min) {
    width: 100%;
    padding-right: 15px;
  }
  padding-right: 0;
}

// Make left column in checkout process pages
// full width in responsive resolution
.b3-mainform {
  @media (max-width: $screen-md-min) {
    width: 100%;
  }
  #b3-payment-continue {
    @media (max-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
}

// basket item align right
.checkout-basket-items td{
  text-align: right;
}

.b3-basket-row-form td{
  text-align: left;
}

// Make size of progress bar with full width when a new file is uploaded from checkout page
#upload-progressb {
  width: 100%;
}

// Set color error in red color when upload fails
#upload-errorb {
  color: red;
}

// Set width in the input where is the quantity of
// the 3d print item in each basket line
.checkout-basket-update {
  width: 67px !important;
  margin-left: -25px;
  .ie9 & {
    margin-left: -25px;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-left: -25px;
  }
  &.big{
    width: 78px !important;
  }
}

// Create an empty space in:
// 1- Every line in basket between unit price and quantity input
// 2- Button update basket and upload another file
.checkout-basket-padding {
  padding-top: 1em;
}


// Make div full width SAME AS #upload-progressb in this basket.scss
.b3-full-width{
  width: 100%;
}

//Required to show properly dimension german text on basket
.b3-full-width-expanded{
  width: 101%;
}

// Center vertically price of the item according quantity input
.b3-margin-lower {
  margin-top: 9px;
  .ie9 & {
    margin-top: -30px;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: -30px;
  }
}

// Align remove label, input and price in the same line on basket
.b3-display-initial {
  display: initial;
}


// Make element <hr> gets mixed with another <hr> but in other column
.b3-line-overflow {
  width: 120%;
}

// Transform li element into a block to avoid display standard li pointers
// on radio button selectors on same_billing_address and payment method
#id_same_as_shipping, #id_select_payment {
  li {
    display: block;

    label {
      font-weight: normal;
    }
  }
}

// Center input radio button to same level than other fields
#b3-billing-address-form {
  .input-group {
    padding-left: 3%;
  }
}

// Special conditions for material line on basket

.checkout-basket-material {
    display:-moz-grid;
    display: inline-block;
    width:145px;
}

// show the price in the users currency in light grey
.basket-user-currency {
    font-size: 18px;
    margin-top: 5px;
    color: #a9a9a9
}

.basket-question-sign {
    font-size: 15px;
    color: #555555;
}
