/** Checkout Form Component
  * @import checkout/form-checkout
  * @prefix checkout-form-*
  */

// Set size of the input for field postalcode
.b3-form-postalcode{
  width:25%;
}

// Set size of the input for field city
.b3-form-city {
  width: 60%;
}

.checkout{
  .btn{
    line-height: 0.5;
  }
  // DISABLED
  .ship-address{
  float: left;
  margin-bottom: 10px;
}
  th{
    color: #a9a9a9;
    font-weight: 100;
  }
}


// DISABLED temporary
.address-controls{
  width: 100%;
  .btn{
    line-height: 2;
    margin-bottom: 1px;
  }
  .btn-default{
    &:hover, &:focus{
      background: $brand-primary;
      opacity: 0.9;
      color: white;
    }
  }
}

// DISABLED
#delete_address_1{
  p{
    padding-left:15px;
  }
  .btn{
    float: none;
    width: 50%;
  }
}

// Make textarea of instructions full width
#id_notes{
  width: 100%;
}

// Div which create an empty space in billing_address content panel
.shipping-payment{
  padding: 15px;
}

// Make button of place order with half size of the column
#place_order_form{
  .btn{
    width: 50%;
  }
}

