/** Align vertically texts from steps in checkout process on the navbar
  * @import checkout/nav-checkout
  * @prefix checkout-nav
  */
.checkout-nav {
  margin-top: -10px;
  a {
    color:white;
  }
  @media screen and (min-width: $screen-phone) and (max-width:506px ){
    margin-left: 15px !important;
  }
  li {
      @media screen and (min-width: $screen-tablet) and (max-width:$screen-desktop - 1 ){
        margin-right: 20px !important;
      }

      @media screen and (min-width: $screen-large-phone) and (max-width:$screen-tablet - 1 ){
        margin-right: 0 !important;
      }

      @media screen and (min-width: 507px) and (max-width:$screen-large-phone - 1 ){
        margin-right: -15px !important;
      }
      @media screen and (min-width: $screen-phone) and (max-width:506px ){
        margin-right: 10px !important;
      }
    }
}

// Hide ribbon on the navbar
.b3-checkout-ribbon {
  margin-top: -120px;
  padding-bottom: 0 !important;
  background:none !important;
  @media screen and (max-width: $screen-phone - 1 ){
    box-shadow: none !important;
  }
  @media screen and (max-width: $screen-tablet - 1 ){
    padding:0;
  }

}

// Display an underline in the current step in the
// checkout process
.checkout-nav-current {
  span {
    border-bottom: 2px solid white;
  }
}

// Make partially transparent the text from a step
// in checkout process hast been selected yet
.checkout-nav-to-visit {
  opacity: 0.5;
}

// IE9 IE10 fix
.step1, .step3, .step4 {
    &.visited{
        .ie9 &, .ie10 &{
            margin-top:10px;
        }
    }
}
.final-step {
    .step1, .step3, .step4 {
        &.visited{
            .ie9 &, .ie10 &{
                margin-top:0;

            }
        }
    }
}
.step3 {
    &.previous{
        .ie9 &, .ie10 &{
            margin-top:10px;
        }
    }
}