// Size of the column of billing address
// to make it responsive
#b3-payment-preview {
  width: 107%;
  @media (max-width: $screen-md-max) {
    width: 100%;
  }
}

// Vat text on payment method page
.vat-text{
    font-size: 10px;
    text-align: justify;
    cursor:pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}