<template>
  <VueComments
    :translations="translations"
    :httpInterfaceActions="httpInterfaceActions"
    :entity="entity"
    :userContext="userContext"
  />
</template>

<script>
import beautify from './util/beautify';
import httpInterfaceActions from './httpInterfaceActions';

export default {
  name: 'CommentSystem',
  data() {
    return {
      httpInterfaceActions,
      entity: window.projectData,
      userContext: window.djangoVueBridge,
      translations: {
        title: this.$gettext('Comments'),
        noCommentWarning: this.$gettext('This 3D Project has no comments'),
        commentInfoUserServiceInformation: (comment) => {
          const translated = this.$gettext(' from <b>%{service}</b>');
          const interpolated = this.$gettextInterpolate(
            translated, {
              service: comment.user.service
            },
          );
          return interpolated;
        },
        createdDate: comment => this.prettyDate(comment.createdPrettyDate),
        editedDate: (comment) => {
          const date = this.prettyDate(comment.editedPrettyDate);
          const translated = this.$gettext('(edited %{date})');
          const interpolated = this.$gettextInterpolate(
            translated, {
              date,
            },
          );
          return interpolated;
        },
        reply: this.$gettext('Reply'),
        edit: this.$gettext('Edit'),
        delete: this.$gettext('Delete'),
        deleteComments: this.$gettext('Delete Comments'),
        areYouSureDeleteComment: this.$gettext(
          'Are you sure you want to delete this comment?',
        ),
        cancel: this.$gettext('Cancel'),
        save: this.$gettext('Save'),
        leaveAComment: this.$gettext('Leave a comment'),
        comment: this.$gettext('Comment'),
      },
    };
  },
  methods: {
    prettyDate(time) {
      const { amount, type } = beautify.prettyByCurrentDate(parseInt(time, 10));
      if (amount === null) {
        const exactTimeDict = {
          TIME_NOW: this.$gettext('just now'),
          MINUTE_EXACT: this.$gettext('a minute ago'),
          HOUR_EXACT: this.$gettext('an hour ago'),
          DAY_EXACT: this.$gettext('yesterday'),
          WEEK_EXACT: this.$gettext('a week ago'),
          MONTH_EXACT: this.$gettext('a month ago'),
          YEAR_EXACT: this.$gettext('a year ago'),
        };
        return exactTimeDict[type];
      }
      const unitDictionary = {
        SECOND: this.$gettext('seconds'),
        MINUTE: this.$gettext('minutes'),
        HOUR: this.$gettext('hours'),
        DAY: this.$gettext('days'),
        WEEK: this.$gettext('weeks'),
        MONTH: this.$gettext('months'),
        YEAR: this.$gettext('years'),
      };
      return `${amount} ${unitDictionary[type]} ${this.$gettext('ago')}`;
    },
  },
};
</script>
