{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}addressOperationConfirmationModal{% endblock %}

{% block modal_title %}
    <!-- ko if: update -->
        {% trans 'Address updated' %}
    <!-- /ko -->
    <!-- ko if: error -->
        {% trans 'Error while updating address' %}
    <!-- /ko -->
    <!-- ko if: deletion -->
        {% trans 'Address deleted' %}
    <!-- /ko -->
{% endblock %}

{% block modal_body %}
    <!-- ko if: update -->
        {% trans 'The address has successfully been created/updated!' %}
    <!-- /ko -->
    <!-- ko if: error -->
        {% trans 'The address could not be created/updated.' %}
        <br>
        {% trans 'An error message should be shown just below.' %}
    <!-- /ko -->
    <!-- ko if: deletion -->
        {% trans 'The address has successfully been deleted.' %}
    <!-- /ko -->
{% endblock %}

{% block modal_footer %}
    <div class="btn btn-primary" data-dismiss="modal">{% trans 'Ok' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function AddressOperationConfirmationVM() {
            var self = this;

            self.update = ko.observable();
            self.error = ko.observable();
            self.deletion = ko.observable();

            self.ShowAddressUpdatedModal = function() {
                self.update(true);
                self.error(false);
                self.deletion(false);
                $("#addressOperationConfirmationModal").modal('show');
            };
            self.ShowAddressUpdateErrorModal = function() {
                self.update(false);
                self.error(true);
                self.deletion(false);
                $("#addressOperationConfirmationModal").modal('show');
            };
            self.ShowAddressDeletedModal = function() {
                self.update(false);
                self.error(false);
                self.deletion(true);
                $("#addressOperationConfirmationModal").modal('show');
            };

            // Public members
            self.publicMembers = {
                "show_address_updated_modal": self.ShowAddressUpdatedModal,
                "show_address_update_error_modal": self.ShowAddressUpdateErrorModal,
                "show_address_deleted_modal": self.ShowAddressDeletedModal
            };
        }

        ko.applyBindings(new AddressOperationConfirmationVM(), $("#addressOperationConfirmationModal")[0]);
    </script>
{% endblock %}
