{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}createModifyKeyManagerModal{% endblock %}

{% block modal_title %}
    <span data-bind="visible: create">{% trans 'Key manager creation' %}</span>
    <span data-bind="visible: modify">{% trans 'Key manager update' %}</span>
{% endblock %}

{% block modal_body %}
    <form method="post" enctype="multipart/form-data" action="{% url 'b3_organization_management:key-manager-form-post' %}">
        {% csrf_token %}
        <span id="fill-me-with-form"></span>

        <input name="id" id="keymanager-id" type="hidden" value="">
        <br>

        <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
        <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}">
    </form>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function CreateModifyKeyManagerVM() {
            var self = this;

            self.create = ko.observable();
            self.modify = ko.observable();
            self.caller = ko.observable();

            self.ShowCreateModifyKeyManagerModal = function(caller, create) {
                self.caller(caller);
                self.create(create);
                self.modify(!create);

                var id = create ? null : caller.id;
                $('#keymanager-id').val(id);

                org_management_api.get_key_manager_form(id, function(data) {
                    if (data.success) {
                        $('#fill-me-with-form').html(data.form);
                        $("#createModifyKeyManagerModal").modal('show');
                    } else {
                        // TODO error handling
                        console.log("Error getting form: " + data.message);
                    }
                });
            };

            // Public members
            self.publicMembers = {
                "show_create_modify_key_manager_modal": self.ShowCreateModifyKeyManagerModal
            };
        }

        ko.applyBindings(new CreateModifyKeyManagerVM(), $("#createModifyKeyManagerModal")[0]);
    </script>
{% endblock %}
