{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}createGroupModal{% endblock %}

{% block modal_title %}{% trans 'Create group' %}{% endblock %}

{% block modal_body %}
    <div class="form-horizontal">
        <div class="form-group">
            <label for="new-group-name" style="margin-top: 7px;" class="col-sm-2 control-label">{% trans 'Name' %}</label>
            <div class="col-sm-10">
                <input onclick="this.setSelectionRange(0, this.value.length)" type="text" required data-bind="textInput: name, event:{keypress: enter}" class="form-control" id="new-group-name">
                <span class="text-danger" style="position: absolute;bottom: -25px;" data-bind="visible: error">{% trans 'The group name cannot be empty.' %}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: createGroup">{% trans 'Create group' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function CreateGroupVM() {
            var self = this;

            self.name = ko.observable();
            self.error = ko.observable();

            self.ShowCreateGroupModal = function(callback) {
                self.callback = callback;
                self.error(false);
                $("#createGroupModal").modal('show');
            };

            self.enter = function(data, event){
                if (event.which == 13) {
                    self.createGroup();
                }
                return true;
            };

            self.createGroup = function() {
                self.error(false);

                if (!self.name() || self.name() === "") {
                    self.error(true);
                } else {
                    org_management_api.create_group(self.name(), self.callback);
                    self.name('');
                    $("#createGroupModal").modal('hide');
                }
            };

            // Public members
            self.publicMembers = {
                "show_create_group_modal": self.ShowCreateGroupModal
            };
        }

        ko.applyBindings(new CreateGroupVM(), $("#createGroupModal")[0]);
    </script>
{% endblock %}
