{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}createUserModal{% endblock %}

{% block modal_title %}{% trans 'Create user in your company' %}{% endblock %}

{% block modal_body %}
    <div class="form-horizontal">
        <div class="form-group">
            <label for="new-user-email" style="margin-top: 7px; margin-right: 5px;" class="col-sm-2 control-label">{% trans 'Email' %}</label>
            <div class="col-sm-10">
                <input onclick="this.setSelectionRange(0, this.value.length)" type="email" required data-bind="textInput: email, event:{keypress: enter}" class="form-control" id="new-user-email">
            </div>
            <br>
            <br>
            <label for="new-user-password" style="margin-top: 7px; margin-right: 5px;" class="col-sm-2 control-label">{% trans 'Password' %}</label>
            <div class="col-sm-10">
                <input onclick="this.setSelectionRange(0, this.value.length)" type="password" required data-bind="textInput: password, event:{keypress: enter}" class="form-control" id="new-user-password">
                <span class="text-danger" style="position: absolute; bottom: -25px;" data-bind="visible: error">{% trans 'Both fields must be filled.' %}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: createUser">{% trans 'Create user' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function CreateUserVM() {
            var self = this;

            self.email = ko.observable();
            self.password = ko.observable();
            self.error = ko.observable(false);

            self.ShowCreateUserModal = function(callback) {
                self.callback = callback;
                self.error(false);
                $("#createUserModal").modal('show');
            };

            self.enter = function(data, event){
                if (event.which == 13) {
                    self.createUser();
                }
                return true;
            };

            self.createUser = function() {
                self.error(false);

                if (!self.email() || self.email() === "" || !self.password() || self.password() === "") {
                    self.error(true);
                } else {
                    org_management_api.create_user(self.email(), self.password(), self.callback);
                    $("#createUserModal").modal('hide');
                }
            };

            // Public members
            self.publicMembers = {
                "show_create_user_modal": self.ShowCreateUserModal
            };
        }

        ko.applyBindings(new CreateUserVM(), $("#createUserModal")[0]);
    </script>
{% endblock %}
