{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteSupplierModal{% endblock %}

{% block modal_title %}{% trans 'Delete 3D printing service' %}{% endblock %}

{% block modal_body %}
   {% trans 'Are you sure?' %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteSupplier" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteSupplierVM() {
            var self = this;

            self.ShowDeleteSupplierModal = function(partnerVM) {
                self.partnerVM = partnerVM;
                $("#deleteSupplierModal").modal('show');
            };

            self.deleteSupplier = function() {
                $.ajax({
                    url: '{% url 'b3_organization_management_ajax:delete-partner' %}',
                    type: 'DELETE',
                    data: JSON.stringify({'id': self.partnerVM.id}),
                    success: function (data) {
                        if (data.success) {
                            self.partnerVM.delete();
                        } else {
                            console.log('Something went wrong!!!');
                        }
                    },
                    error: function(){
                        console.log('Something went wrong!!!');
                    }
                });
            };


            // Public members
            self.publicMembers = {
                "show_delete_supplier_modal": self.ShowDeleteSupplierModal
            };
        }

        ko.applyBindings(new DeleteSupplierVM(), $("#deleteSupplierModal")[0]);
    </script>
{% endblock %}
