{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteOrganizationAddressModal{% endblock %}

{% block modal_title %}{% trans 'Delete address' %}{% endblock %}

{% block modal_body %}
   {% trans 'Are you sure?' %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteOrganizationAddress" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteOrganizationAddressVM() {
            var self = this;

            self.ShowDeleteOrganizationAddressModal = function(id) {
                self.id = id;
                $("#deleteOrganizationAddressModal").modal('show');
            };

            self.deleteOrganizationAddress = function() {
                org_management_api.delete_organization_address(self.id, function(data) {
                    if (data.success) {
                        window.location = window.location + "?deletion=True";
                    } else {
                        // TODO error handling
                        console.log("Error deleting organization address");
                    }
                });
                $("#deleteOrganizationAddressModal").modal('hide');
            };

            // Public members
            self.publicMembers = {
                "show_delete_organization_address_modal": self.ShowDeleteOrganizationAddressModal
            };
        }

        ko.applyBindings(new DeleteOrganizationAddressVM(), $("#deleteOrganizationAddressModal")[0]);
    </script>
{% endblock %}
