{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteGroupModal{% endblock %}

{% block modal_title %}{% trans 'Delete group' %} <em data-bind="text: name"></em> {% endblock %}

{% block modal_body %}
   {% trans 'Are you sure?' %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteGroup" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteGroupVM() {
            var self = this;
            self.name = ko.observable();

            self.ShowDeleteGroupModal = function(id, name, callback) {
                self.callback = callback;
                self.id = id;
                self.name(name);
                $("#deleteGroupModal").modal('show');
            };

            self.deleteGroup = function() {
                org_management_api.delete_group(self.id, self.callback);
                $("#deleteGroupModal").modal('hide');
            };

            // Public members
            self.publicMembers = {
                "show_delete_group_modal": self.ShowDeleteGroupModal
            };
        }

        ko.applyBindings(new DeleteGroupVM(), $("#deleteGroupModal")[0]);
    </script>
{% endblock %}
