{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteUserModal{% endblock %}

{% block modal_title %}{% trans 'Delete user' %} <em data-bind="text: email"></em> {% endblock %}

{% block modal_body %}
   {% trans 'Are you sure?' %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteUser" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteUserVM() {
            var self = this;
            self.email = ko.observable();

            self.ShowDeleteUserModal = function(id, email, callback) {
                self.callback = callback;
                self.id = id;
                self.email(email);
                $("#deleteUserModal").modal('show');
            };

            self.deleteUser = function() {
                org_management_api.delete_user(self.id, self.callback);
                $("#deleteUserModal").modal('hide');
            };

            // Public members
            self.publicMembers = {
                "show_delete_user_modal": self.ShowDeleteUserModal
            };
        }

        ko.applyBindings(new DeleteUserVM(), $("#deleteUserModal")[0]);
    </script>
{% endblock %}
