{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteKeyManagerModal{% endblock %}

{% block modal_title %}{% trans 'Delete key manager' %} <em data-bind="text: name"></em> {% endblock %}

{% block modal_body %}
    {% trans 'Are you sure?' %}
    <br>
    <span data-bind="visible: nb_referenced_by() != '0'">
        {% trans 'This key manager is linked to <span data-bind="text: nb_referenced_by"></span> organizations.' %}
    </span>
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteKeyManager" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteKeyManagerVM() {
            var self = this;
            self.name = ko.observable();
            self.nb_referenced_by = ko.observable();

            self.ShowDeleteKeyManagerModal = function(id, name, nb_ref, callback) {
                self.callback = callback;
                self.id = id;
                self.name(name);
                self.nb_referenced_by(nb_ref);
                $("#deleteKeyManagerModal").modal('show');
            };

            self.deleteKeyManager = function() {
                org_management_api.delete_key_manager(self.id, self.callback);
                $("#deleteKeyManagerModal").modal('hide');
            };

            // Public members
            self.publicMembers = {
                "show_delete_key_manager_modal": self.ShowDeleteKeyManagerModal
            };
        }

        ko.applyBindings(new DeleteKeyManagerVM(), $("#deleteKeyManagerModal")[0]);
    </script>
{% endblock %}
