{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block body %}
    <h2>
        {% blocktrans %}Activity on your 3D Project{% endblocktrans %} {{ basket_title }}
    </h2>
    <p>
        {{ comment_user }} {% blocktrans %}has added the following comment{% endblocktrans %}:
    </p>
    <pre style="background-color: #f8f8f8; margin: 8px;">
        <p style="margin: 0">{{ comment }}</p>
    </pre>
    <p>
        {% blocktrans %}Click the following link to directly access your 3D project{% endblocktrans %}:
        <a href="{{ basket_url }}">{{ basket_url }}</a>.
    </p>
{% endblock %}
