.circle{
    background-color: #ccc;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 25px;
    width: 25px;
    padding: 4px 3px 0 3px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 15px;
    z-index: 1;
}
.circle-active{
    background-color: #2c66c4;
}
.b3-arrow{
    padding:5px;
    margin-right: 10px;
    color:white;
    padding-left: 20px;
    &:hover{
        color:white;
        &:after {
            border-left: 20px solid #ccc;
        }
    }
    &:after {
        width: 0;
        height: 0;
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 20px solid #ddd;
        position: absolute;
        left: 100%;
        top:0;
    }
    &.b3-arrow-active{
        background: #2c66c4;
        &:hover{
            background: #507cc3;
            color: #FFFFFF;
             &:after {
                border-left: 20px solid #507cc3;
            }
        }
        &:after {
            border-left: 20px solid #2c66c4;
        }
    }
    &.b3-arrow-disabled{
        background: #ccc;
        &:hover{
            background: #ddd;
            color: #FFFFFF;
            &:after {
                border-left: 20px solid #ddd;
            }
        }
        &:after {
            border-left: 20px solid #ccc;
        }
    }

    &.b3-arrow-hidden:after {
        border:0;
    }
}

.mainnav {
    height: 100%;
}

.mainnav-menu span{
    color: white;
}

.step-breadcrumb {
    margin-left: 15px;
    display: inline-flex;
}

.b3-to-visit {
    opacity: 0.5;
}
