/** iframe checkout specified CSS
  * @import iframe/checkout
  * @prefix iframe-checkout
  */

// TODO: refactor avoid conflict with global
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.description-file p {
  margin: 0 0 5px;
}

.has-errors {
  border:1px solid red;
}

.shipping-methods-list span,
li label span,
.select2-results__option[aria-selected],
.select2-container--default .select2-search--dropdown .select2-search__field {
  color: #555 !important;
}

/* Scrollable Bar on Basket Step*/
.jspScrollable:focus {
  outline: none  !important;
}

.jspTrack{
   background: #77a0db !important;
}

.jspDrag{
  background: #2c66c4 !important;
}
.jspVerticalBar{
  z-index: 999999 !important;
}