.iframe-upload, .iframe-checkout{
    background-color: white !important;
}
.b3-wrapper{
    padding-bottom:0;
}

.iframe{
    height: auto;
    overflow-x: initial;
    overflow-y: auto;
}

body {
    overflow: auto;
}
//Links

//Breadcrumb

a:focus{
    color: inherit;
    text-decoration: none;
}

.b3-input-scale {
    @media screen and (max-width: 991px) and (min-width: 768px){
        width: 25%;
    }
}
.b3-input-scale {
    @media screen and (max-width: 991px) and (min-width: 768px){
        width: 25%;
    }
}

.b3-col-dimensions {
    @media screen and (max-width: 991px) and (min-width: 480px){
        width: 52.2%;
        padding-left: 0px;
    }
}

.b3-btn-units{
    float: left;
    margin-left: 5px;
    width: 18%;

    .b3-btn-unit {
        line-height: 1.5;
        border-radius: 0;
        width: 40px;
        padding: 1px 3px;
        background-color: white;
        border: 1px solid #E6E6E6;
        text-transform: lowercase;
        margin-top: 0;
        color: #555555;
        outline: none !important;
        height: 25px;
    }

}

.legend-tools{

    &.de{

        #swatch-yellow{
            margin-left: 10px;
        }

        #swatch-red{
            margin-left: 5px;
        }

    }
}

 .box__dropzone{
    border: 4px dashed #ccc;
    width: 85% !important;
    margin-left: 8% !important;
    margin-top: 22px !important;
    height: 83%  !important;
    margin-bottom: 5%  !important;
    text-align: center !important;
    cursor: pointer;
}
.box__dropzone.is--dragging{
   background-color: rgba(255, 255, 255, 0.3);
}
.box__dropzone_line{
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    font-size: 24px !important;
    color: #ccc;
}
.is--uploading{
    opacity: 0.5;
    pointer-events: none;
}

.is--analysing{
    background: url("/../../assets/images/header_repeat.png") repeat center !important;
}


.checkbox [data-toggle="toggle"]{
    width: 60px !important;
}

.toggle-off.btn {
    padding-left: 15px !important;
    padding-top: 1px !important;
}

.toggle-on.btn {
    padding-left: 18px !important;
    padding-top: 1px !important;
}

.checkbox label .toggle, .checkbox-inline .toggle {
    margin-left: 5px !important;
}

.toggle.btn {
    max-height: 25px !important;
    min-height: 20px !important;
}

.checkbox .toggle-handle{
    background: #d1d1d1 !important;
}


.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.sprite-material {
    zoom: 0.6 !important;
    margin-top: -5px;
    -moz-transform: scale(0.6);
    -moz-transform-origin: left top;
    height: 40px !important;
}

.list-materials{
    a{
        color: #555555 !important;
    }

    .panel:hover{
        cursor:pointer;
    }
}
.is--selected{
    border: 1px solid #2c66c4;
}

.toggle-group, .toggle{
    .btn, &.btn, .btn:hover, &.btn:hover, .btn:focus, .btn.focus, .btn[disabled]{
        color: black !important;
        background: #e6e6e6 !important;
        box-shadow: none;
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
    .toggle-off:hover, .toggle-on:hover{
        background-color: transparent !important;
    }
}
.toggle.ios .toggle-handle, .toggle.ios .toggle-handle:hover {
    background: #ccc !important;
}
