{% extends "b3_user_panel/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Edit address' %}{% endblock %}

{% block user_content %}
    <div class="b3-make-space"></div>
    <div class="panel">
        <div class="panel-heading">
            <h4>{% trans 'Edit address' %}</h4>
        </div>
        <div class="panel-body">
             <div class="container">
                 <div class="row">
                     <div class="col-xs-12">
                        {% include "checkout/user_address_edit.html" with cancel_url_flag='settings' %}
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <div class="b3-make-space"></div>
{% endblock %}
