{% extends "b3_user_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block user_content %}
    <div {% if use_left_navigation %}style="max-width:960px;"{% endif %}>
        <div class="b3-make-space"></div>
        {% include 'b3_user_panel/settings/parts/change_password.html' %}

        <div class="b3-make-space"></div>
        {% include 'b3_user_panel/settings/parts/old_addressbook.html' %}
        <div class="b3-make-space"></div>
    </div>
{% endblock %}
