{% load staticfiles %}
<!--BEGIN:CROWDIN-TRANSLATION-BLOCK-->
<!--END:CROWDIN-TRANSLATION-BLOCK-->
<div id="checkout">

</div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) {%>
    <script src="{% static "js/dist/<%= chunk %>.<%= htmlWebpackPlugin.files.chunks[chunk].hash %>.bundle.js" %}" ></script>
<% } %>
