{% load staticfiles %}
<div>
    <div id="comment-system"></div>
</div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) {%>
<script src="{% static "js/dist/<%= chunk %>.<%= htmlWebpackPlugin.files.chunks[chunk].hash %>.bundle.js" %}"></script>
<% } %>
