/** Styles for User Order Pannel
  * @import userpanel/orders
  * @prefix userpanel-order-*
  */

.userpanel-order.panel {
  p {
    margin-top: 20px;
  }
  .b3-label {
    width: 180px;
  }
  .b3-label-right {
    width: 135px;
  }
}

//styles for order-panel, content after the line
//Not in used any more
.b3-order-bottom {
  .b3-label {
    width: 180px;
  }
  .b3-value-second-line {
    padding-left: 150px;
    padding-top: 5px;
  }
}

// Separate column a little, on the header of the order
//.b3-change-width {
//  margin-right: 40px;
//}

// Styles for Popover
div.pop {
  border: 1px black solid;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.popover {
  margin-top: 7px;
  width: 280px;
  max-width: 400px;
}

.popover-content {
  color: black;
  padding: 15px;
}

// Draw a line
.b3-horizontal-divider {
  float: left;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #a9a9a9;
  margin-top: 5px;
  margin-bottom: 15px;
}

// define color por cancelled status order
//.b3-cancelled-order {
//  color: $brand-danger;
//}

// Wizard for status order
// Form Wizard
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  margin-top: 5px;
  font-weight: bold;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #2c66c4;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 0%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #77a0db;
  border-radius: 0px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
  background-color: #cac6c6;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #77a0db;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #a2a2a2;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.b3-supplier-logo-tag img {
    width: 100%;
}
