#project-detail-header{
    line-height: 30px;
    font-weight: bold;
    .title-section {
        padding: 8px;
    }
    .editable-buttons{
        display: inline-block;
        margin-left: 8px;
    }
    .edit-name{
        display:inline-block;
        cursor: pointer;
    }
    .editable-click{
        &:hover{
            background: #fff !important;
            box-shadow: 0 0 0 1px #ccc;
            &::after{
                content: '\f040';
                font-family: FontAwesome;
                margin: 0 0 0 5px;
                text-decoration: none;
                padding-left: 5px;
                padding-right: 3px;
                font-size: 10px;
                position: relative;
                top: 2px;
                border-left: 1px solid #ccc;
                float:right;
            }

        }
    }

    .editable-input{
        display: inline-block;
        .form-control{
            height: 30px;
            font-size: 14px;
            font-weight: bold;
        }

    }

    .editable-container.editable-inline{
        display:inline-block;
    }

     .editable-click, a.editable-click, a.editable-click:hover {
        border-bottom:0;
    }
    .ordered-tag {
        font-size: 10px;
        background: $brand-warning;
        color: #fff;
        padding: 2px 4px;
        border-radius: 2px;
    }
}

.project-results-loading {
    text-align: center;
    padding: 25vh 0;
    color: #999;
    &.extend {
        padding: 0;
        margin-top: -48px;
        margin-bottom: 48px;
    }
}

.project-filter-container{
    background: #ddd;
    padding: 32px 0 8px 0;
    margin-bottom: 24px;
    input {
        width: 100%;
    }
    .btn {
        width: 100%;
        line-height: 34px!important;
        height: 34px;
        padding: 0;
    }
    .filter {
        margin-top: 24px;
        span {
            line-height: 40px;
            padding: 0px 24px;
            display: inline-block;
            margin-right: 8px;
            margin-bottom: -6px;
            &:hover {
                background: #ccc;
                cursor:pointer;
            }
        }
        label {
            margin: 0;
        }
        .calendar {
            padding: 0 12px;
        }
        .clear-date i{
            color: #555;
        }
        .activated {
            box-shadow: 0 3px 0 #2c66c4;
        }
    }
}

.project-list-items {
    padding: 8px 0;
    margin: 0;
    position: relative;
    background: #fff;
    border: .5px solid #eee;
    line-height: 32px;
    &:hover {
        background: #ddd;
    }
    &.project-dorp-highlight {
        border: 1px dashed $brand-primary;
        background: lighten($brand-primary, 40%);
    }
    .ordered-tag {
        min-height: 1px;
        text-align: right;
        span {
            font-size: 10px;
            background: $brand-warning;
            color: #fff;
            padding: 2px 4px;
            border-radius: 2px;
        }

        &::after {
            content: '\200B';
        }
    }
    .priec-not-available {
        color: #999;
    }
    .delete {
        text-align: center;
        &:hover {
            i{
                padding: 8px;
                border-radius: 2px;
                color: #fff;
                background: $brand-danger;
            }
        }
    }
    @media (max-width: $screen-sm-min) {
        margin: -8px;
    }
}
.project-list-container {
    margin-bottom: 48px;
    .list-legend {
        margin: 0;
        font-size: 12px;
        color: #999;
        line-height: 32px;
        text-transform: uppercase;
        i {
            line-height: 32px;
            display: block;
            float: right;
        }
    }
    .clickable:hover{
        background: #ddd;
        cursor:pointer;
    }
}

.project-card-view {
    margin-bottom: 48px;
}
.project-card-items {
    padding: 8px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    line-height: 32px;
    border: 1px solid #ddd;
    &:hover {
        cursor: point;
        background: #ddd;
    }
    .title {
        overflow: hidden;
        word-break: none;
    }
    &.project-dorp-highlight {
        border: 1px dashed $brand-primary;
        background: lighten($brand-primary, 40%);
    }
    .ordered-tag {
        float: right;
        font-size: 10px;
        background: #ff7800;
        color: #fff;
        padding: 0 4px;
        margin-top: 4px;
        line-height: 24px;
        border-radius: 2px;
    }
    .delete {
        float: right;
        text-align: center;
        i {
            width: 32px;
            line-height: 32px;
            float: right;
            &:hover {
                color: #fff;
                border-radius: 2px;
                background: $brand-danger;
            }
        }
    }
    .img-viewer {
        margin: 8px 0;
        width: 100%;
        padding-bottom: 56.8%;
        background: url(../../images/header_repeat.png) repeat center;
        user-select: none;
        position: relative;
        overflow: hidden;
        .img-thumbnail{
            background: none;
            border:none;
        }
        img,svg {
            height: 100%;
            margin-left: 0;
            position: absolute;
            text-align: center;
        }
        img:nth-child(2) {
            margin-left: -20%;
        }
        img:nth-child(3) {
            margin-left: 20%;
        }
        svg:nth-child(2),svg:nth-child(3){
            display: none;
        }
    }
}

.project-card-container {
    padding: 8px;
    box-sizing: border-box;
}


.b3-supplier-logo-tag img {
    width: 100%;
}

.project-well{
    background: #fff;
    padding: 8px;
    margin-top: 16px;
    border: 1px solid #ddd;
    &.empty{
        border-style: dashed;
        text-align: center;
        padding: 32px;
    }
    &.margin-bottom{
        margin-bottom: 16px;
    }

    &.addition{
        &.first{
            border-top: 1px solid #ddd;
        }
        min-height: 40px;
        position: relative;
        border-top: 0;
        margin-top: 0;
    }
    &.control{
        width: 100%;
        line-height: 24px;
        background: #eee;
        display: table;
    }
    &.attachment{
        &:first-of-type{
            border-top: 1px solid #ddd;
        }
        line-height: 24px;
        position: relative;
        border-top: 0;
        margin-top: 0;
    }
    .dots-button {
        float: right;
        margin-left: 8px;
        padding: 0 16px;
        i {
            padding-right: 8px;
        }
        &:hover{
            cursor: pointer;
            background: #ddd;
        }
    }
    .attachment-button{
        margin-top: -16px;
        position: absolute;
        right: 16px;
        top: 50%;
        i {
            border-radius: 2px;
            text-align: center;
            width: 32px;
            line-height: 32px;
            &:hover {
                cursor: pointer;
                background: #ddd;
            }
        }

    }
    .short-name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.project-panel{
    margin: 32px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    background: #f8f8f8;
    .left{
        padding:16px;
        background: #fff;
    }
    .right{
        padding: 16px 31px;
    }
}

.project-sharing-list{
    line-height: 32px;
    .owner-indicator{
        line-height: 16px;
        font-size: 10px;
        background: #555;
        padding: 4px 8px;
        position: absolute;
        right: 16px;
        color: #fff;
        border-radius: 2px;
    }
    &.hover-action:hover{
        &::after{
            position: absolute;
            margin-top: 8px;
            padding: 4px;
            right: 16px;
            line-height: 8px;
            color: $brand-danger;
            content: "\f014";
            font-family: FontAwesome;
        }
    }
    &.add-new-share{
        margin: 16px 0;
        border: 1px solid #ddd;
        text-align: center;
        &:hover{
            background: #fff;
        }
    }
}
.project-item-thumb{
    position: relative;
    width: 100%;
    margin: 8px 0;
    img {
        width: 100%;
        height: 100%;
    }
    svg {
        height: 100%;
        border: 0 !important;
    }
    .loading{
        padding:10%;
        height:50%;
        width: 50%;
        margin-left:25%;
    }
}

.project-supplier {
    margin: 0 -15px;
    line-height: 32px;
    .logo {
        height: 32px;
    }
    .access {
        text-align: right;
    }
    .name {
        color: $brand-primary;
        font-weight: 600;
        &::after {
            content: "\e8e8";
            font-family: "Material Icons";
            vertical-align: middle;
            padding-left: .5em;
        }
    }
    img {
        height: 100%;
    }
}

.project-line-editname{
    margin: 8px 0;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
   .edit-name{
        display:inline-block;
        cursor: pointer;
        border: 0;
    }
    .editable-click{
        &:hover{
            background: #fff !important;
            box-shadow: 0 0 0 1px #ccc;
            &::after{
                content: '\f040';
                font-family: FontAwesome;
                margin: 0 0 0 8px;
                text-decoration: none;
                padding-left: 10px;
                line-height: 30px;
                padding-right: 8px;
                font-size: 10px;
                border-left: 1px solid #ccc;
                float:right;
            }

        }
    }

    .editable-input{
        display: inline-block;
        .form-control{
            height: 30px;
            font-size: 14px;
            font-weight: bold;
        }

    }

    .editable-container.editable-inline{
        display:inline-block;
    }

}

.project-line-editname .form-control {
        height: 30px !important;
}

.project-loading-gif {
    text-align: center;
    img {
        width: 110px;
        display: inline-block;
    }
}

.projects-loading-box{
    display: block;
    height: 16px;
    margin: 8px 0;
    width: 100%;
    background: linear-gradient(90deg, #ddd, #fff);
    background-size: 400% 400%;
    animation: loadingbox 1.5s ease-in infinite;
}

.project-secondary-btn {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #2c66c4;
    a {
        display: block;
        padding: .5em 0;
    }
    i {
        font-size: 16px;
    }
    &:hover {
        cursor: pointer;
        background: #eee;
    }
}

@keyframes loadingbox {
    0%{background-position:0 0}
    50%{background-position:100% 0}
    100%{background-position:0% 0}
}

.project-print-info {
    text-align: center;
    line-height: 24px;
    width: 100%;
    bottom: 8px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
    background: rgba(255,255,255,.6);
    span {
        text-decoration: none;
        &.printable {
            color: #3c9d07;
            &::before {
                content: "\f00c";
                font-family: FontAwesome;
                padding-right: 8px;
            }
            &:hover::before{
                content: "\f06e";
                font-family: FontAwesome;
                padding-right: 8px;
            }
        }
        &.warning {
            color: #ff7800;
            &::before {
                content: "\f071";
                font-family: FontAwesome;
                padding-right: 8px;
            }
            &:hover::before{
                content: "\f06e";
                font-family: FontAwesome;
                padding-right: 8px;
            }
        }
        &.not_printable {
            color: #A7082A;
            &::before {
                content: "\f00d";
                font-family: FontAwesome;
                padding-right: 8px;
            }
            &:hover::before{
                content: "\f06e";
                font-family: FontAwesome;
                padding-right: 8px;
            }
        }
        &.unknown {
            color: #555;
            &::before {
                content: "\f059";
                font-family: FontAwesome;
                padding-right: 8px;
            }
            &:hover::before{
                content: "\f06e";
                font-family: FontAwesome;
                padding-right: 8px;
            }
        }
    }
}




.project-order-status{
    padding: 4px;
    line-height: 24px;
}

.project-itme-addtion{
    margin-top: 0;
}

.project-file-options{
    text-align: right;
    & a {
        display: inline-block;
        text-align: center;
        width: 24px;
        line-height: 24px;
        color: #555;
       margin-left: 5px;
       &:hover{
           background: #ddd;
           &.delete{
               background: $brand-danger;
               color: #fff;
           }
       }
    }

}
.project-dropdown{
    .dropdown-toggle{
        margin: 0;
        height: 32px;
        text-align: center;
        width: 32px;
        float: right;
        line-height: 32px;
    }
    .dropdown-toggle:hover{
        background: #ddd;
    }
    .dropdown-menu {
        min-width: 200px;
        ul {
            margin: 0;
            padding: 8px;
        }
        li {
            font-weight: 400;
            line-height: 24px;
            margin-left: 0;
            padding-left: 8px;
            list-style: none;
        }
        li:hover{
            color: #fff;
            cursor: pointer;
            background: $brand-primary;
        }
    }
}
.file-type{
    font-family: FontAwesome;
    &.image::before{content: "\f1c5";}
    &.text::before{content:"\f0f6";}
    &.excel::before{content:"\f1c3";}
    &.pdf::before{content:"\f1c1";}
    &.other::before{content:"\f016";}
    &.zip::before{content:"\f1c6";}
    &.upload::before{content:"\f0ee";}
}

.project-price-manual-input {
    margin-right: 16px;
    box-sizing: border-box;
    padding-left: 16%;
    border: 1px solid #ddd !important;
    &:hover{
        cursor: pointer;
        &::after{
            content: '\f040';
            font-family: FontAwesome;
            text-decoration: none;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 10px;
            position: relative;
            border-left: 1px solid #ccc;
            float:right;
        }

    }
}

.project-price-request-tip{
    text-align: center;
    padding: 8px;
}
.baske-dropzone-area{
    &.hover{
        background: rgba(120, 160, 219, .2);
    }
    &:hover{
        background: rgba(120, 160, 219, .2);
        cursor: pointer;
    }
}
.project-upload-holder{
    border-top: 0;
    display: none;
    .progress-indicator{
        height: 2px;
        background: $brand-primary;
        width: 0;
    }
}

.project-sidebar-message {
    border: 1px solid $brand-success;
    position: relative;
    padding: 8px;
    color: $brand-success;
    margin-top: 16px;
    margin-bottom: 16px;
    label {
        width: 24px;
        float: left;
        top: 50%;
        font-size: 16px;
        position: absolute;
        text-align: center;
        line-height: 16px;
        margin-top: -8px;
    }
    p {
        margin: 0;
        font-weight: 300;
        padding-left: 32px;
    }
    &.danger {
        border: 1px solid $brand-danger;
        color: $brand-danger;
    }
}

.project-unit-btn{
    width: 32px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 18px;
    background-color: #fff;
    background: white;
    margin-left: 0;
    padding: 1px;
    float: right;
    &.active{
        background: radial-gradient(ellipse at center, #ffffff 0%, #FAFAFA 100%);
        padding-top: 2px;
        padding-bottom: 0;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.00);
    }
}

.project-price-manual{
    position: relative;
    & label {
        float: left;
        width: 15%;
        line-height: 35px;
        text-align: center;
        background: #ddd;
    }
    & span {
        width: 85%!important;
    }
    .editable-container{
        width: 85%;
    }
    .form-control {
        width: 100%!important;
    }
    .editable-input{
        width: 50%;
    }
    .editable-buttons {
        z-index: 2;
        right: 18px;
        top: 4px;
        position: absolute;
        display: block;
        margin-left: 7px;
        zoom: 1;
    }
}

.project-price-manual-alert {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 16px;
    label {
        width: 24px;
        float: left;
        top: 50%;
        color: #fff;
        /* background: #ff3535; */
        font-size: 16px;
        position: absolute;
        text-align: center;
        line-height: 16px;
        margin-top: -8px;
    }
    p {
        margin: 0;
        font-weight: 300;
        line-height: 18px;
        color: #555;
        border: 1px solid;
        border-left: 24px solid;
        background: #fff;
        /* padding-left: 2px; */
        /* text-align: center; */
        padding: 8px;
        border-radius: 2px;
    }
}

.project-upload-hint {
    margin-bottom: -15px;
    display: inline-block;
    color: #a2a2a2;
    &:hover {
        color: $brand-primary;
    }
    &:focus {
        outline: none;
    }
}
.project-permission {
    margin: 0;
    position: relative;
    .ownership {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 20px;
        background: #bbb;
        box-sizing: border-box;
        color: #fff;
        float: right;
        padding: 0;
        text-align: center;
        border-radius: 2px;
        &.owner {
            background: $brand-warning;
        }
    }
    label {
        padding:0;
    }
    .contact {
        margin-bottom: 5px;
        label {
            width: 30%;
            float: left;
            color: #999;
            text-transform: capitalize;
        }
        span {
            word-wrap: break-word;
            width: 70%;
            display: inline-block;
            text-align: right
        }
    }
    .contact-hover:hover {
        cursor:pointer;
        color: #544
    }
    .contact-hover:focus {
        outline:none;
    }
    .subtitle {
        color: #999;
        padding: 8px 0;
        font-size: 12px;
        font-weight: 600;
    }
    .show-more {
        color: $brand-primary;
        text-align: center;
        font-size: 12px;
        margin: 8px 0;
        padding: 4px;
        &:hover {
            cursor: pointer;
            background: #e4e4e4;
        }
    }
    .delete {
        color: #ddd;
        text-align: right;
        &:hover {
            color: #555;
        }
    }
}
.project-dropdown-cover {
    display: block;
    height: 30px;
    position: absolute;
    width: 92%;
    top: 2px;
    z-index: 2;
    padding: 8px;
    .place-holder {
        width: 90%;
        display: block;
        background: #fff;
        &.disabled{
            background: #eee;
        }
    }

    &:hover {
        cursor:pointer;
    }
    &.disabled:hover{
        cursor: default;
    }
}

.project-dropdown-loading {
    text-align: center;
    padding: 24px 0;
    color: $brand-primary;
}

.share-icon {
    color: #DDDDDD;
}

.project-drop:hover .share-icon {
    color: #999999;
}
