// Styles for Upload panel
.b3-upload-panel {
    margin-top: 30px;
    .btn {
        margin-top: 22px;
    }
}

// Styles for Upload list panel
.b3-list-uploads-panel {
    .b3-label {
        width: 150px;
    }
    .b3-label-link {
        width: 265px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .btn {
        margin-top: 20px;
        width: 120px;
    }
    .fa {
        color: white;
    }
}

// Color for paginator  NOT USED - no reference found
.b3-paginator-uploads {
    color: $brand-primary;
}

// Apply this color when deleting process is completed
// when user removes a upload
.b3-delete-complete {
    color: $brand-danger;
}

.b3-plugin-box {
    padding: 19px;
    background: white;
    margin-bottom: 15px;
    h2 {
        margin-bottom: 15px;
    }
    span {
        color: #555555;
    }
    img {
        width: 100%;
    }
}

// Panel specific for plugin list
.first-panel {
    @media all and (min-width: $screen-large-phone) {
        margin-right:-15px;
        margin-left: 15px
    }
}

.medium-panel {
    @media all and (min-width: $screen-large-phone) {
        margin-right:-15px;
    }
}

.plugin-list {
    &.de {
        .panel {
            @media all and (min-width: $screen-md) {
                height: 325px;
            }
            @media all and (min-width:$screen-large-phone) and (max-width: $screen-sm - 1) {
                height: 290px !important;
            }
        }
    }
    .panel {
        @media all and (min-width: $screen-large-phone) and (max-width: $screen-md - 1) {
            height: 270px;
            .btn {
                white-space: normal;
                height: inherit;
            }
        }
    }
    .btn-expanded {
        @media all and (min-width: $screen-large-phone) {
            white-space: normal;
            height: inherit;
        }
    }
}

// Dropzone on Home page
.home {
    .dropzone {
        padding: 40px 30px;
        text-align: center;
        background: transparent;
        border: 4px dashed #ccc;
        cursor: pointer;
        &.de {
            padding: 25px 30px;
        }
        &.is--dragging {
            background-color: rgba(255, 255, 255, 0.3);
            border-style: solid;
        }
        @media (max-width:508px) {
            padding: 22px 30px;
            &.de {
                padding: 0px 30px;
            }
        }
        &.dz-preview.dz-file-preview {
            display: none;
            &.dz-image {
                border-radius: 0;
            }
        }
        &.dz-preview.dz-error .dz-error-message {
            border-radius: 0;
        }
        .dz-message {
            font-size: 25px;
            color: #ccc;
            .is--dragging & {
                opacity: 1;
            }
        }
    }
    .b3-big-ribbon {
        padding-top: 0;
        min-height: 420px;
    }
}

