{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteUploadModal{% endblock %}

{% block modal_title %}{% trans 'Are you sure?' %}{% endblock %}

{% block modal_body %}
   <!-- ko if: status_init -->
        <div class="b3-window-explanation" id="b3-delete-explanation">
            {% blocktrans %}File to be deleted: {% endblocktrans %}<span data-bind="text: showname"></span>
            <br>
            {% blocktrans %}Once you delete this file, we won't be able to restore it!{% endblocktrans %}
        </div>
    <!-- /ko -->
    <!-- ko if: status_success -->
        <div id="b3-delete-complete">{% blocktrans %}The delete was successful{% endblocktrans %}</div>
    <!-- /ko -->
    <!-- ko if: status_error -->
        {% blocktrans %}An error occured{% endblocktrans %}
    <!-- /ko -->
{% endblock %}

{% block modal_footer %}
    <!-- ko if: status_init -->
        <button id="delete-confirm-button" type="button" class="btn" data-bind="click: delete_commit">{% blocktrans %}Yes, delete it{% endblocktrans %}</button>
    <!-- /ko -->
    <!-- ko if: status_success -->
        <a href="/" class="btn">{% blocktrans %}Go to homepage{% endblocktrans %}</a>
    <!-- /ko -->
    <!-- ko if: status_error -->
        <button type="button" class="btn" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
    <!-- /ko -->
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function DeleteUploadVM() {
            var self = this;
            self.status_init = ko.observable();
            self.status_success = ko.observable();
            self.status_error = ko.observable();
            self.rest_url = ko.observable();
            self.showname = ko.observable();
            self.delete_callback = undefined;
            self.show_delete_success = undefined;

            self.ShowDeleteModal = function(rest_url, delete_callback, hide_delete_success) {
                self.delete_callback = delete_callback;
                self.hide_delete_success = hide_delete_success;
                if ((typeof show_signup == 'undefined') || show_signup === false) {
                    $.ajax({
                        url: rest_url,
                        success: function (data) {
                            if(data.can_delete){
                                self.status_init(true);
                                self.status_success(false);
                                self.status_error(false);
                            } else {
                                self.status_init(false);
                                self.status_success(false);
                                self.status_error(true);
                            }

                            self.showname(data.showname);
                            self.rest_url(rest_url);
                            $("#deleteUploadModal").modal('show');
                        },
                        error: function(){
                            console.log('Something went wrong!!!');
                            self.status_init(false);
                            self.status_success(false);
                            self.status_error(true);
                            self.rest_url(rest_url);
                            $("#deleteUploadModal").modal('show');
                        }
                    });
                }else{
                    Button3d.modals.showSignup();
                }
            };
            self.delete_commit = function(){
                $.ajax({
                    url: self.rest_url(),
                    type: 'DELETE',
                    timeout: 10000,
                    success: function (data) {
                        console.log(data);
                        self.status_init(false);
                        if(data.success){
                            if(!self.hide_delete_success)
                                self.status_success(true);
                            else
                                $("#deleteUploadModal").modal('hide');
                            if(self.delete_callback)
                                self.delete_callback();

                            if(window.user_is_active)
                                location.href="/dashboard/";
                            else
                                location.reload();
                        }
                        else
                            self.status_error(true);
                    },
                    error: function (e, status) {
                        self.status_init(false);
                        self.status_error(true);
                    },
                    complete: function () {
                    }
                });
            };

            // Public members
            self.publicMembers = {
                "show_delete_upload_modal": self.ShowDeleteModal
            };
        }

        ko.applyBindings(new DeleteUploadVM(), $("#deleteUploadModal")[0]);
    </script>
{% endblock %}
