{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}

{% block modal_id %}deleteUserAddressModal{% endblock %}

{% block modal_title %}{% trans 'Delete address' %}{% endblock %}

{% block modal_body %}
    <span class="delete-modal__description">{% trans 'Are you sure?' %}</span>
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <div class="btn btn-primary" data-bind="click: deleteAddress" data-dismiss="modal">{% trans 'Yes' %}</div>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        var oneAddressLeft = '{% trans 'Are you sure? When you delete this address you might have to create a new user account because your account cannot be verified.' %}';
        function checkWarningForOneAddress() {
            var addressNames = $('.b3-address-name');
            if (addressNames.length === 1) {
                var description = $('.delete-modal__description');
                description.text(oneAddressLeft);
            }
        }
        checkWarningForOneAddress();

        function DeleteUserAddressVM() {
            var self = this;

            self.ShowDeleteUserAddressModal = function(url) {
                self.url = url;
                $("#deleteUserAddressModal").modal('show');
            };

            self.deleteAddress = function() {
                $.ajax({
                    url: self.url,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            window.location.href = data.url;
                        } else {
                            console.log('Something went wrong!!!');
                        }
                    },
                    error: function(){
                        console.log('Something went wrong!!!');
                    }
                });
            };


            // Public members
            self.publicMembers = {
                "show_delete_user_address_modal": self.ShowDeleteUserAddressModal
            };
        }

        ko.applyBindings(new DeleteUserAddressVM(), $("#deleteUserAddressModal")[0]);
    </script>
{% endblock %}
