{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load organization_flags %}

{% block modal_id %}errorModal{% endblock %}

{% block modal_title %}
    <span id="error-modal-title">{% blocktrans %}Processing error.{% endblocktrans %}</span>
{% endblock %}

{% block modal_body %}
    <span id="errormessage" class="text-danger">
        {% blocktrans %}We have problems processing your file.{% endblocktrans %}
    </span>
    <br><br>
    {% blocktrans %}If you have additional questions you can always contact our in-house experts:{% endblocktrans %}
    <br>
    <table>
        <tr><td>{% trans 'Email' %}</td><td style="padding-left: 15px;">{% customize 'request_receiving_email' %}support@3yourmind.com{% endcustomize %}</td></tr>
        <br>
        <tr><td>{% trans 'Phone' %}</td><td style="padding-left: 15px;">{{ customer_support_phone }}</td></tr>
    </table>
{% endblock %}

{% block modal_footer %}
    <a id="error-modal-hompage-link" href="/" style="margin-right: 12px">{% blocktrans %}Go to homepage{% endblocktrans %}</a>

    {% if stl_file %}
        <a id="error-manual-request-link-button" href="{% url 'manual-request' %}?error=True&stl_file={{ stl_file.uuid }}">
    {% else %}
        <a id="error-manual-request-link-button" href="{% url 'manual-request' %}">
    {% endif %}
        <button id="error-modal-submit" class="btn" name="contact_me" id="btn_contact">
            {% blocktrans %}Create a request{% endblocktrans %}
        </button>
    </a>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function ErrorModalVM() {
            var self = this;

            self.ShowErrorModal = function(message, title, link) {
                if (message) {
                    $("#errormessage").html(message);
                }
                if (title) {
                    $('#error-modal-title').html(title);
                }
                if (link) {
                    self.OverrideManualRequestLinks(link);
                }
                $("#errorModal").modal("show");
            };

            self.OverrideManualRequestLinks = function(link) {
                $('#error-manual-request-link-text').attr('href', link);
                $('#error-manual-request-link-button').attr('href', link);
            };

            // Public members
            self.publicMembers = {
                "show_error_modal": self.ShowErrorModal
            };
        };

        ko.applyBindings(new ErrorModalVM(), $("#errorModal")[0]);
    </script>
{% endblock %}
