{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load l10n %}
{% load organization_flags %}

{% block modal_id %}materialNotPrintable{% endblock %}

{% block modal_title %}{% trans 'Printability Warning' %}{% endblock %}

{% block modal_body %}
    {% if project %}
        {% blocktrans %}
        Some errors in a 3D model were detected.<br>
        The file might not be printed as expected.<br><br>
        Consider remodeling or contact customer support:
        {% endblocktrans %}
        <br>
        {{ customer_support_phone }}
    {% else %}
        {% blocktrans %}
            Consider remodeling or contact us by <a data-bind="attr: { href: request_url }">creating a manual request</a>. Our in-house 3D Modelers can assist you editing the 3D model.
        {% endblocktrans %}
        <br><br>
        {% trans 'You can also call us at' %} {{ customer_support_phone }}
    {% endif %}
{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    {% if request.basket.is_empty %}
        <a data-bind="click: addToBasket">
            {% if project %}
                <div id="printability-projet_order" class="btn btn-primary">{% trans 'Order anyway' %}</div>
            {% else %}
                <div id="printability-add-to-basket" class="btn btn-primary">{% trans 'Add to basket anyway' %}</div>
            {% endif %}
        </a>
    {% else %}
        <div id="printability-add-to-basket" class="btn btn-primary" data-bind="click: addToBasket">{% trans 'Add to basket anyway' %}</div>
    {% endif %}

{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function MaterialNotPrintableVM() {
            var self = this;
            self.request_url = ko.observable();

            self.ShowMaterialNotPrintableModal = function(request_url) {
                $("#materialNotPrintable").modal('show');
                self.request_url(request_url);
            };

            self.addToBasket = function() {
                {% if project %}
                    document.dispatchEvent(createCheckoutEvent);
                    $("#materialNotPrintable").modal('hide');
                {% else %}
                    Button3d.compare.materials.Steps.StepExtra().AddToBasketVerified();
                {% endif %}
            };

            // Public members
            self.publicMembers = {
                "show_material_not_printable_modal": self.ShowMaterialNotPrintableModal
            };

            $('#materialNotPrintable').on('hidden.bs.modal', function (e) {
              $('#btn_add_basket').text("{% trans 'Add to basket' %}");
            })
        }

        ko.applyBindings(new MaterialNotPrintableVM(), $("#materialNotPrintable")[0]);
    </script>
{% endblock %}
