<div class="modal fade b3-modal" id="{% block modal_id %}{% endblock %}" tabindex="-1" role="dialog">
    <div class="modal-dialog {%block modal_size %}{% endblock %}" role="document">
        <div class="modal-content">
            {% block modal_content_beginning %}{% endblock %}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title download-label">
                    {% block modal_title %}{% endblock %}
                </h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}{% endblock %}
            </div>

            {% block modal_content_end %}{% endblock %}
        </div>
    </div>
</div>

{% block modal_logic %}{% endblock %}
