{% block modal_css %}{% endblock %}
{% load staticfiles %}

<div class="modal fade b3-modal" id="{% block modal_id %}{% endblock %}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:0;border:none;">
            {% block modal_content_beginning %}{% endblock %}
            <div class="modal-header" style="padding-bottom:5px;border:none;">
                <button type="button" style="position:inherit;color:white;margin-top:5px;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title download-label" style="font-size:20px;display:inline-block;">
                    {% block modal_title %}{% endblock %}
                </h4>
            </div>
            <div class="modal-body" style="padding-top:20px;padding-bottom:0;">
                {% block modal_body %}{% endblock %}
            </div>
            <div class="modal-footer" style="border:none;padding-top:0;">
                {% block modal_footer %}{% endblock %}
            </div>

            {% block modal_content_end %}{% endblock %}
        </div>
    </div>
</div>

{% block modal_logic %}{% endblock %}



