{% extends 'b3_modal/modal_base_uploads.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load organization_flags %}

{% block modal_id %}upload-modal{% endblock %}

{% block modal_title %}
    <style>
    #upload-modal .modal-header {
        background-color: #2c66c4;
    }
    #upload-modal .modal-title {
        color: white;
    }

    .loader {
        border: 0.75em solid #f3f3f3;
        border-top: 0.75em solid #2c66c4;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        animation: spin 2s linear infinite;
        margin: 3em auto;
    }

    .loading-container {
        overflow: hidden;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
        {% trans 'Uploading' %}
{% endblock %}

{% block modal_body %}
    {% if request|show_file_validation %}
        <div id="rendered-file-validation-message">
            {{ organization.rendered_file_validation_message }}
        </div>
    {% endif %}
    <div class="row total-progress-row" style="padding-left: 15px; padding-right: 15px;">
        <h4>{% trans 'Total Progress' %}</h4>
        <div class="progress" style="background-color: #ededed">
            <div class="progress-bar progress-bar-success progress-bar-striped total-progress" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0%
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <div class="row">
        <div class="col-xs-12 invalid-files__container" style="text-align: left; display: none;">
            <p class="invalid-files__paragraph--first"></p>
            <ul class="invalid-files__list"></ul>
            <p class="invalid-files__paragraph--second"></p>
            <p>
                <span>{% blocktrans %}You can either{% endblocktrans %} </span>
                <a style="color: #2c66c4;" href="https://platform-documentation.3yourmind.com/x/PoAV" target="_blank" rel="noopener noreferrer">
                    {% blocktrans %}simplify your 3D-Model{% endblocktrans %}
                </a>
                <span> {% blocktrans %}use a {% endblocktrans %} </span>
                <a style="color: #2c66c4;" href="https://platform-documentation.3yourmind.com/x/S4AV" target="_blank" rel="noopener noreferrer">
                    {% blocktrans %}different file type{% endblocktrans %}
                </a>
                <span>.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align: center;margin-top: 5px; margin-bottom: 5px;"><span style="color:#A7082A;"  class="hidden" id="error-message-generic">{% trans 'Something went wrong!' %}</span></div>

        {% if request|show_file_validation %}
            <div class="col-xs-12" style="margin-bottom: 5px;">
                <div data-bind="if: isUploadDisablingOptionChecked">
                    {% url 'manual-request' as manual_url %}{% blocktrans %}At this time, we are not able to process your request online. Please <a href="{{ manual_url }}">contact us</a> in order to receive a quote.{% endblocktrans %}
                </div>
            </div>
        {% endif %}
        <div class="col-xs-12">
            <span class="modal-error" style="float: left; color: #A7082A"></span>
            {% if request|show_file_validation %}
                <div data-bind="if: showUploadButton" style="display: inline; margin-right: 1em">
                    <button data-bind="click: fileValidation" class="btn btn-validated-upload">{% trans 'Upload' %}</button>
                </div>
            {% endif %}
            <button
                class="btn btn-invalid-file-upload"
                style="display: none;"
            >
                Upload
            </button>
            <button type="button" id="cancel-button" style="float:right;border:none;" class="btn b3-btn-gray stop-upload" data-dismiss="modal">{% trans 'Cancel' %}</button>
        </div>
    </div>
{% endblock %}


{% block modal_logic %}
    <!-- Dependencies -->
    {% compress js %}
        <script src="{% static "js/button3d/common/fileExtensions.js" %}"></script>
        <script src="{% static "js/button3d/userpanel/projects/project_api_calls.js" %}"></script>
        <script src="{% static "js/button3d/common/dropzone.js" %}"></script>
        <script src="{% static "js/button3d/common/modal.js" %}"></script>
        <script src="{% static "js/utils/upload.js" %}"></script>
    {% endcompress %}

    <script>
        var fileValidationActivated = '{{request|show_file_validation}}'.toLowerCase() == 'true';
        uuidToPriceCheck = null;
        if (!psConfigUpload) {
            psConfigUpload = "{{ psconfig }}" === 'true';
        }
        var basketId = '{{ request.basket.id }}';
        if (basketId === 'None') {
            basketId === null;
        } else {
            basketId = parseInt(basketId, 10);
        }

        var projectId = null;
        var projectUrl = null;
        var inProjectView = '{{ view_name }}' == 'project-detail';
         {% if request.basket.id %}
            projectId = '{{ request.basket.id }}';
            projectUrl = '{% url 'b3_user_panel:project-detail' request.basket.id %}';
        {% endif %}
        {% if view_name == 'project-detail' or view_name == 'project-line-viewer' and project_id and not project.ordered %}
            projectId = '{{ project_id }}';
            projectUrl = '{% url 'b3_user_panel:project-detail' project_id %}';
        {% endif %}
        var isAnonymous = '{{ request.user.is_anonymous }}'.toLowerCase() === 'true';

        var siteDomain = '{{site.domain}}';

        var dropzoneModule = Button3d.common.dropzone.createDropzone();

        $(document).ready(function() {
            $('.project-upload-hint').click(function(event) {
                event.stopPropagation();
            });
        });

        var invalidFiles = [];
        var addedFiles = [];

        $(document).ready(function() {
            var invalidFileContainer = document.getElementsByClassName(
                'invalid-files__container'
            )[0];

            var exampleConfiguration = {
                domElement: document.body,
                clickable: $('.btn-new-project').length > 0 ? '.btn-new-project' : null,
                parallelUploads: 100,
                files: [
                    {
                        types: Button3d.common.fileExtensions.getCommaSeperated(),
                        url: '/upload/',
                        setCorsHeaders: true,
                        setParamsForProject: false
                    }, {
                        types: '*',
                        url: '/basket-ajax/attachment/ajax/',
                        setCorsHeaders: false,
                        setParamsForProject: true
                    }
                ],
                maxFilesize: 999999999,
                timeout: '1200000',
                multipleUpload: true,
                showFileValidation: fileValidationActivated,
                fileValidators: [
                    'Weapons',
                    'Dual Use',
                    'Military'
                ],
                previewTemplate: '<div style="display:none"></div>',
                psConfigUpload: psConfigUpload
            };


            dropzoneModule.init(exampleConfiguration);
            if (projectUrl !== null) {
                dropzoneModule.setProjectUrl(projectUrl);
            }

            if (siteDomain !== null) {
                dropzoneModule.setDomain(siteDomain);
            }

            $(dropzoneModule).on('addedFile', onAddedFile);
            $(dropzoneModule).on('uploadProgress', onUploadProgress);
            $(dropzoneModule).on('totalUploadProgress', onTotalUploadProgress);
            $(dropzoneModule).on('filesDropped', hideDropOverlay);
            $(dropzoneModule).on('priceCheck', onPriceCheck);
            $(dropzoneModule).on('uploadComplete', onUploadComplete);
            $(dropzoneModule).on('invalid3DFile', onInvalid3DFile);

            var basketDropzone = $('#basket-dropzone');
            if (basketDropzone.length > 0) {
                var exampleConfiguration2 = jQuery.extend(true, {}, exampleConfiguration);
                exampleConfiguration2.domElement = '#basket-dropzone';
                exampleConfiguration2.clickable = '#basket-dropzone';
                var dropzoneModule2 = Button3d.common.dropzone.createDropzone();
                dropzoneModule2.init(exampleConfiguration2);

                if (projectUrl !== null) {
                    dropzoneModule2.setProjectUrl(projectUrl);
                }
                if (siteDomain !== null) {
                    dropzoneModule2.setDomain(siteDomain);
                }

                $(dropzoneModule2).on('addedFile', onAddedFile);
                $(dropzoneModule2).on('uploadProgress', onUploadProgress);
                $(dropzoneModule2).on('totalUploadProgress', onTotalUploadProgress);
                $(dropzoneModule2).on('priceCheck', onPriceCheck);
                $(dropzoneModule2).on('uploadComplete', onUploadComplete);
                $(dropzoneModule2).on('invalid3DFile', onInvalid3DFile);
            }

            Button3d.common.modal.initialize('#upload-modal', exampleConfiguration.fileValidators);
            $(Button3d.common.modal).on('dropAllFiles', function() {
                dropzoneModule.dropAllFiles();
                multipleUploadViewModel.uncheckAllOptions();
            });

            $(Button3d.common.modal).on('startUpload', function() {
                if (dropzoneModule.getUploadCount() === 1) {
                    dropzoneModule.startUpload();
                    return;
                }
                var projectInformation = getLocalProjectInformation();

                if (projectInformation !== null) {
                    startNewProjectUpload(projectInformation.url, projectInformation.id);
                }
            });

            $(Button3d.common.modal).on('stopUploads', function() {
                addedFiles = [];
                if (dropzoneModule !== undefined) {
                    dropzoneModule.stopUpload();
                }
                if (dropzoneModule2 !== undefined) {
                    dropzoneModule2.stopUpload();
                }
            });

            function startNewProjectUpload(url, projectId) {
                dropzoneModule.setProjectUrl(url);
                dropzoneModule.setProjectId(projectId);
                dropzoneModule.startUpload();
                dropzoneModule2.setProjectUrl(url);
                dropzoneModule2.setProjectId(projectId);
                dropzoneModule2.startUpload();
            }

            function getLocalProjectInformation() {
                return (projectId === null || projectUrl === null)
                    ? null
                    : {id: projectId, url: projectUrl};
            }

            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }

            function checkTotalProgressRow(filename) {
                addedFiles.push(filename);
                addedFiles = addedFiles.filter(onlyUnique);
                addedFiles.length > 1
                    ? Button3d.common.modal.showTotalProgress()
                    : Button3d.common.modal.hideTotalProgress();
            }

            var totalSize = 0;
            function onAddedFile (event, file) {
                totalSize += file.size;
                checkTotalProgressRow(file.name);
                Button3d.common.modal.addFileDownload(file.name);
                Button3d.common.modal.show();
                fileSizeDict[file.name] = {
                    progress: 0,
                    size: file.size
                };
                showInvalidFileUploadButton();
            }

            var fileSizeDict = {};

            function onUploadProgress (event, instance) {
                fileSizeDict[instance.file.name].progress = instance.bytesSent;
                Button3d.common.modal.changeFileProgress(instance.progress, instance.file.name);
            }

            function onTotalUploadProgress (event, uploadProgress) {
                var progress = 0;
                for (var key in fileSizeDict) {
                    if (fileSizeDict.hasOwnProperty(key)) {
                        progress += fileSizeDict[key].progress;
                    }
                }
                var percentage = Math.round((progress / totalSize) * 100);
                Button3d.common.modal.setTotalProgressBar(percentage);
            }

            function hideDropOverlay(event) {
                $('.b3-overlay-container').addClass('hidden');
                {% if view_name == 'home_pro_account' %}
                    $('.dropzone').removeClass('is--dragging');
                {% endif %}
            }

            function onPriceCheck(event, uuidToPriceCheck) {
                priceTester.uuid(uuidToPriceCheck);
                priceTester.isFileUploaded(true);
                Button3d.common.modal.hide();
            }

            function onUploadComplete() {
                Button3d.common.modal.disableModal();
            }

            function renderErrorContainer(invalidFiles) {
                renderErrorFilesList(invalidFiles);
                renderErrorParagraphs(invalidFiles);
                if (invalidFiles.length > 0) {
                    invalidFileContainer.style.display = '';
                }
            }

            function renderErrorFilesList() {
                var invalidFileListContainer = document.getElementsByClassName(
                    'invalid-files__list'
                )[0];
                invalidFileListContainer.innerHTML =
                    uploadUtility.mapInvalidFilesToHtml(invalidFiles);
            }

            function renderInvalidParagraph(modifier, content) {
                var paragraph = document.getElementsByClassName(
                    'invalid-files__paragraph--' + modifier
                )[0];
                paragraph.innerHTML = content;
            }

            function renderErrorParagraphs(invalidFiles) {
                var errorParagraphs = uploadUtility.getErrorParagraphTexts(
                    invalidFiles.length
                );
                renderInvalidParagraph('first', errorParagraphs.first);
            }

            function showInvalidFileUploadButton() {
                if (!fileValidationActivated && totalSize > 0 && invalidFiles.length > 0) {
                    $('.btn-invalid-file-upload').show();
                }
            }

            function onInvalid3DFile(event, file) {
                invalidFiles.push(file);
                renderErrorContainer(invalidFiles);
                Button3d.common.modal.addInvalidFile(file.name);
                Button3d.common.modal.show();
                showInvalidFileUploadButton();
            }

            var uploadModuleList = [dropzoneModule, dropzoneModule2];
            var multipleUploadViewModel = new MultipleUploadVM(uploadModuleList);

            var $body = $('body');
            $body.on('click', '.btn-invalid-file-upload', function() {
                $('.btn-invalid-file-upload').addClass('btn-fake-disabled');
                uploadModuleList.forEach(function (uploadModule) {
                    if (uploadModule === undefined) {
                        return;
                    }
                    uploadModule.setProjectUrl(projectUrl);
                    uploadModule.startUpload();
                });
            });
            $body.on('click', '#upload-modal > div.modal-dialog > div > div.modal-header > button > span', modalClose);
            $body.on('click', '#cancel-button', modalClose);

            function modalClose() {
                var $invalidUploadButton = $('.btn-invalid-file-upload');
                $('.btn-upload').removeClass('btn-fake-disabled');
                $invalidUploadButton.removeClass('btn-fake-disabled');
                $invalidUploadButton.hide();
                invalidFiles = [];
                invalidFileContainer.style.display = 'none';
                totalSize = 0;
                dropzoneModule.resetUpload();
                if (dropzoneModule2) {
                    dropzoneModule2.resetUpload();
                }
            }

            ko.applyBindings(multipleUploadViewModel, $("#upload-modal")[0]);
        });

        // Handler for overlay.
        var drag_counter = 0;
        $(document.body).on('dragenter', function (event) {
            if(event.target.tagName === 'IMG' || event.target.tagName === 'A')
                return;
            if (drag_counter++ === 0){
                $('.b3-overlay-container').removeClass('hidden');
                {% if view_name == 'home_pro_account' %}
                    $('.dropzone').addClass('is--dragging');
                {% endif %}
            }
        });
        $(document.body).on('dragleave', function () {
            if (--drag_counter === 0){
                $('.b3-overlay-container').addClass('hidden');
                {% if view_name == 'home_pro_account' %}
                    $('.dropzone').removeClass('is--dragging');
                {% endif %}
            }
        });


        function MultipleUploadVM(uploadModules) {
            var self = this;

            self.triggerCheck = ko.observable(false);

            $('body').on('click', '#cancel-button', function(){
                invalidFiles = [];
                addedFiles = [];
                self.triggerCheck(!self.triggerCheck());
            });

            self.checkedOptions = ko.observableArray([]);

            self.defaultDisabledUpload = ko.pureComputed(function() {
                return $('#rendered-file-validation-message').children().attr('data-default-enable-upload') !== 'true';
            }, self);

            self.isUploadDisablingOptionChecked = ko.pureComputed(function() {
                /**
                 * Function to check if an option is checked.
                 */
                function isOptionChecked(option) {
                    return option.indexOf('disable') !== -1;
                }

                var checkedOptions = self.checkedOptions();
                if (typeof checkedOptions === 'string') {
                    return checkedOptions.indexOf('disable') !== -1;
                }
                // Check if at least checked.
                return checkedOptions.some(isOptionChecked);
            }, self);

            self.isUploadEnablingOptionChecked = ko.pureComputed(function() {
                function isOptionChecked(option) {
                    return option.indexOf('enable') !== -1;
                }

                var checkedOptions = self.checkedOptions();
                if (typeof checkedOptions === 'string') {
                    return checkedOptions.indexOf('enable') !== -1;
                }
                return checkedOptions.some(isOptionChecked);
            }, self);

            self.showUploadButton = ko.pureComputed(function () {
                self.triggerCheck();
                if (addedFiles.length === 0 && invalidFiles.length > 0) {
                    return false;
                }
                if (self.isUploadDisablingOptionChecked()) {
                    return false;
                }

                if (self.defaultDisabledUpload()) {
                    return self.isUploadEnablingOptionChecked();
                } else {
                    return true;
                }
            }, self);

            /**
             * Get from render.
             */
            self.isFileNeedValidation = ko.observable('{{request|show_file_validation}}');

            // Functions.
            self.fileValidation = function fileValidation() {
                if (!self.showUploadButton()) {
                    return;
                }
                uploadModules.forEach(function (uploadModule) {
                    if (uploadModule === undefined) {
                        return;
                    }
                    uploadModule.setProjectUrl(projectUrl);
                    uploadModule.startUpload();
                });
            };

            self.uncheckAllOptions = function uncheckAllOptions() {
                self.checkedOptions([]);
            };
        }
    </script>
{% endblock %}
