{% extends 'b3_modal/modal_base.html' %}
{% load i18n %}
{% load b3_utils %}

{% block modal_id %}siteConfiguration{% endblock %}

{% block modal_title %}{% endblock %}

{% block modal_body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="b3-heading-title">{% trans 'Country' %}</div>
            <div>
                <select class="select-country" data-bind="foreach: countries">
                    <option data-bind="value: iso, text: name"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12">
            <div class="b3-heading-title">{% trans 'Currency' %}</div>
            <div>
                <select class="select-js-currency">
                    <option value="EUR">&#128; EUR</option>
                    <option value="USD">&#36; USD</option>
                    <option value="GBP">&#163; GBP</option>
                    <option value="PLN">zł PLN</option>
                    <option value="NOK">kr NOK</option>
                    <option value="SEK">kr SEK</option>
                    <option value="HUF">Ft HUF</option>
                    <option value="DKK">kr DKK</option>
                    <option value="IDR">Rp IDR</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;margin-bottom:5px;">
        <div class="col-xs-12">
            <div class="b3-heading-title">{% trans 'Language' %}</div>
            <div>
                <select class="select-lang">
                    <option value="de">{% trans 'German' %}</option>
                    <option value="en">{% trans 'English' %}</option>
                </select>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <div class="btn b3-btn-black" data-dismiss="modal">{% trans 'Cancel' %}</div>
    <a data-bind="click: saveChanges">
        <div class="btn btn-primary">{% trans 'Save changes' %}</div>
    </a>
{% endblock %}

{% block modal_logic %}
    <script type="text/javascript">
        function SiteConfigurationVM() {
            var self = this;

            self.countries = Button3d.common.countries;

            function init(){
                 $(".select-lang").val('{{ LANGUAGE_CODE }}');
                 $(".select-lang").select2({
                    width: '100%',
                    minimumResultsForSearch: -1
                 });

                 $(".select-js-currency").val('{% if active_currency %}{{ active_currency }}{% else %}EUR{% endif %}');
                 $(".select-js-currency").select2({
                    width: '100%',
                    minimumResultsForSearch: -1
                 });

                 $(".select-country").val('{{ current_country }}');
                 $(".select-country").select2({
                    width: '100%',
                    templateResult: function(country) {
                        if(!country.id)
                            return country.text;
                        return $('<span><div class="flag-icon flag-icon-'+ country.element.value.toLowerCase() +'" style="margin-right:5px;" ></div>' + country.text + '</span>');
                    },
                    templateSelection: function(country) {
                        if(!country.id)
                            return country.text;
                        return $('<span><div class="flag-icon flag-icon-'+ country.element.value.toLowerCase() +'" style="margin-right:5px;" ></div>' + country.text + '</span>');
                    }
                 });
                 autoUpdate();
                 $(".select-country").trigger('change');
                 $(".select-lang").val('{{ LANGUAGE_CODE }}').trigger('change');

            }

            function autoUpdate() {
                var german_countries = ['DE', 'AT', 'LI', 'CH'];
                var euro_countries = [
                    'AT',
                    'BE',
                    'CY',
                    'EE',
                    'FI',
                    'FR',
                    'DE',
                    'GR',
                    'IE',
                    'IT',
                    'LV',
                    'LT',
                    'LU',
                    'MT',
                    'NL',
                    'PT',
                    'ES',
                    'SI',
                    'SK',
                    'XK',
                    'ME',
                    'AD',
                    'MC',
                    'SM',
                    'VA'
                ];
                var pound_countries = ['GB', 'GI', 'ZW', 'IM', 'JE', 'GG', 'GS', 'SH'];
                var countrySelect = $('.select-country');
                var languageSelect = $('.select-lang');
                var currencySelect = $('.select-js-currency');

                countrySelect.on('change', function() {
                    isInArray(german_countries, countrySelect.val())
                        ? languageSelect.val('de').trigger('change')
                        : languageSelect.val('en').trigger('change');
                });
            }


            self.ShowSiteConfigurationModal = function () {
                $("#siteConfiguration").modal('show');
                $("#siteConfiguration").removeAttr("tabindex");
                init();
            };

            self.saveChanges = function(){
                var data = {
                    'currency' : $('.select-js-currency').val(),
                    'country' : $('.select-country').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/change_site_configuration/',
                    data: data
                }).done(function(data){
                    if(data.success){
                        self.change_lang();
                    }
                });

            };

            self.change_lang = function(){
                var selected_language = $('.select-lang').val();
                var href = $('#change_language_to_'+selected_language).attr('href');
                window.location.href = href;
            };

            // Public members
            self.publicMembers = {
                "show_site_configuration_modal": self.ShowSiteConfigurationModal
            };
        }

        ko.applyBindings(new SiteConfigurationVM(), $("#siteConfiguration")[0]);
    </script>
{% endblock %}
