{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html bgcolor="#f2f2f2" style="margin: 0; padding: 0; background-color: #f2f2f2">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>3YOURMIND</title>
        <meta property="og:title" content="3YOURMIND">
        <meta name="twitter:title" content="3YOURMIND">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    <style type="text/css">
        /*<![CDATA[*/
            /* iOS automatically adds a link to addresses */
            /* Style the footer with the same color as the footer text */
            #footer a {
                color: #999999;
                -webkit-text-size-adjust: none;
                text-decoration: underline;
                font-weight: normal
            }
            #main_body {
                box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
            }
            /* Hide preview text on rendering */
            #preview_text {
                display: none;
            }

            p{
                font-size: 12px;
            }

        /*]]>*/
        </style>
</head>
<body bgcolor="#f2f2f2" style="margin: 0;padding: 0;  background-color: #f2f2f2" marginheight="0" marginwidth="0" topmargin="0">

    <!-- start container -->
    <table bgcolor="#f2f2f2" style="background-color: #f2f2f2; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none" cellpadding="0" cellspacing="0" border="0" width="100%">
         <tbody>
            <tr>
                <td bgcolor="#f2f2f2" style="background-color: #f2f2f2;">
                    <div align="center">
                        <table cellpadding="0" width="600" cellspacing="0" border="0">
                            <tbody>
            <tr>
                <td bgcolor="#f2f2f2" style="padding: 10px 20px; background-color: #f2f2f2">
                    <div align="center">
                        <table cellpadding="0" width="600" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                <td id="main_body" width="600" bgcolor="#ffffff" style="padding: 30px; background-color: #ffffff; border: 1px solid #cccccc; border-bottom: 1px solid #acacac; border-radius: 4px">
                                    <div align="center">
                                        <table cellpadding="0" width="600" cellspacing="0" border="0">
                                            <!-- start content -->
                                            <tbody>
                                                <tr>
                                                <td style="padding: 0; background-color: #ffffff">
                                                    <div align="center">
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: sans-serif; font-size: 15px; line-height: 1.5em; color: #444444">
                                                            <tbody><tr>
                                                                <td>
                                                                    <div align="center">
                                                                        <!-- start Body Content -->
                                                                        <div class="body-container-wrapper">
<table  cellpadding="0" cellspacing="0" border="0" width="600">
<tbody>
<!-- BreakLine Top -->
    <tr style="font-size:0; height: 0px" height="0">
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
    </tr>

<!-- LOGO 3YOURMIND -->
    <tr>
        <td valign="top" colspan="12" width="100.0%" class="" style="width:100.0%; text-align: left; padding: 0; font-family: sans-serif; font-size: 15px; line-height: 1.5em; color: #444444; ">
            <div>
                <div>
                    <div style="color: inherit; font-size: inherit; line-height: inherit; margin: inherit; padding: inherit">
                        <a href="https://{{ current_site.domain }}"  style="border-width:0px;border:0px;" title="{{current_org.showname}}">
                            {% if current_org.theme.email_logo_image %}
                                <img src="{{ media_base_url }}{{ current_org.theme.email_logo_image }}" style="height: auto;width: auto;border-width:0px;border:0px;" title="Logo {{ current_org.showname }}">
                            {% else %}
                                {{ current_org.showname }}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </td>
    </tr>


<!-- Break Line -->
    <tr>
        <td valign="top" colspan="12" width="100.0%" class="" style="width:100.0%; text-align: left; padding: 0; font-family: sans-serif; font-size: 15px; line-height: 1.5em; color: #444444; ">
            <div style="font-size: 12px; line-height: 1.5em; text-align: center">
                <div>
                    <div style="color: inherit; font-size: inherit; line-height: inherit; margin: inherit; padding: inherit" ></div>
                </div>
            </div>
        </td>
    </tr>

<!-- Content Mail -->
    <tr>
        <td valign="top" colspan="12" width="100.0%" class="" style="width:100.0%; text-align: left; padding: 0; font-family: sans-serif; font-size: 12px; line-height: 1.5em; color: #444444; ">
            <div>
                <div style="color: inherit; font-size: inherit; line-height: inherit; margin: inherit; padding: inherit">
                    {% block body %}{% endblock %}
                </div>
            </div>
       </td>
    </tr>

<!-- End Body Content -->
                                                        </tbody></table>
                                                    </div>
                                                </div></td>
                                            </tr>
                                            <!-- end content -->
                                        </tbody></table>
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f2f2f2" style="background-color: #f2f2f2; padding: 13px 30px">
                    <div align="center">
                        <table cellpadding="0" width="600" cellspacing="0" border="0">
                            <tbody><tr>
                                <td align="center" bgcolor="#f2f2f2" style="background-color: #f2f2f2">
                                    <!-- start footer section -->
                                    <div class="footer-container-wrapper">
<table cellpadding="0" cellspacing="0" border="0" width="600">
<tbody>
    <!-- BreakLine -->
    <tr style="font-size:0; height: 0px" height="0">
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
        <td colspan="1" height="0" width="8.33%" style="line-height: 0px; font-size: 0px; height: 0px">&nbsp;</td>
    </tr>

    <tr>
        <td valign="top" colspan="12" width="100.0%" class="" style="width:100.0%; text-align: center; padding: 0; font-family: sans-serif; font-size: 10px; line-height: 1.5em; color: #999999; ">
            <div>
                {% if current_org.theme.footer_email %}
                     {% autoescape off %}{{ current_org.theme.footer_email|striptags|linebreaksbr|safe }}{% endautoescape %}
                {% else %}
                    <div style="margin-bottom: 1em; font-family: Geneva, Verdana, Arial, Helvetica, sans-serif; text-align: center; font-size: 10px; line-height: 1.34em; color: #999999; display: block;">
                        <p id="footer" style="margin-bottom: 1em; font-family: Geneva, Verdana, Arial, Helvetica, sans-serif; text-align: center; font-size: 12px; line-height: 1.34em; color: #999999; display: block;">
                            <span style="font-size: 10px; color: #999999;">{% blocktrans %}3YOURMIND GmbH&nbsp;Bismarckstr. 10-12&nbsp;Berlin&nbsp;10625&nbsp;Germany&nbsp;{{ customer_support_phone }}{% endblocktrans %}</span>
                        </p>
                        <p style="margin-bottom: 1em; font-family: Geneva, Verdana, Arial, Helvetica, sans-serif; text-align: center; font-size: 10px; line-height: 1.34em; color: #999999; display: block;">
                            <span style="font-size: 10px; color: #999999;">{% blocktrans %}Company with its registered seat in: Berlin Registry court: Amtsgericht Charlottenburg (Berlin Registry number: HRB 160616&nbsp;Executive Managers: Stephan K&uuml;hr &amp; Aleksander Ciszek&nbsp;VAT ID: DE296555110&nbsp;Responsible for content: Stephan K&uuml;hr &amp; Aleksander Ciszek&nbsp;Telephone: {{ customer_support_phone }}&nbsp;Email: info@3yourmind.com{% endblocktrans %}</span>
                        </p>
                    </div>
                {% endif %}
            </div>
       </td>
    </tr>
<!-- end footer section -->
                            <tr>
                                <td></td>
                            </tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <!-- end container -->
</div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></body></html>
