{% extends "customer/emails/base.html" %}
{% load currency_tags i18n %}
{% block body %}
    <div style="width: 750px;">
        <p align="justify">{% trans 'The following order was placed' %}:</p>
        {% if partner_base_url %}
            {% include 'customer/emails/order_details.html' with base_url=partner_base_url email_to_service=True %}
        {% else %}
            {% include 'customer/emails/order_details.html' with email_to_service=True %}
        {% endif %}
    </div>
{% endblock %}
