{% extends "customer/emails/base.html" %}
{% load currency_tags i18n organization_flags %}

{% block body %}
    <div style="width: 750px;">
        <br />



        <div><b>{% trans 'Hello' %} {{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }},</b></div>
        <p align="justify">
            <br>{% trans 'Thank you for your order!' %}
        </p>

        <p align="justify">
            {{ order.basket.first_line.partner.thank_you_text|safe }}
        </p>

        {% if not order.shipping_address.guest_email_address %}
        <p align="justify">
            {% url 'b3_user_panel:project-detail' order.project.id as order_link %}
            {% blocktrans %}You can follow the status of your order <a href="{{ base_url }}{{ order_link }}">here</a>.{% endblocktrans %}
        </p>
        {% endif %}
        <br />
        {% include 'customer/emails/order_details.html' %}
    </div>
{% endblock %}
