{% load currency_tags i18n %}
{% load customfiltercalc %}
{% load b3_utils %}
{% load l10n %}

<table cellspacing="2" cellpadding="2" style="border:0;border-collapse:collapse; width:100%; font-size:12px;">
    <tr style="border-bottom:1px solid gray;">
        <td><b>{% trans 'Quantity' %}</b></td>
        <td>{% if not current_site or not current_org.is_single_supplier_account %}<b>{% trans '3D printing service' %}</b>{% endif %}</td>
        <td><b>{% trans 'Item' %}</b></td>
        <td style="text-align: right"><b>{% trans 'Price' %}</b></td>
    </tr>
    {% for line in order.basket.all_lines %}
        <tr style="border-bottom:1px solid gray;">
            <td>{{ line.quantity }}</td>
            <td>{% if not current_site or not current_org.is_single_supplier_account %}{{ line.partner }}{% endif %}</td>
            <td>
                {{ line.showname}}
                {% trans 'Download' %} (
                <a href="{{ base_url }}/uploads/{{ line.uuid }}/download_original?scale={{line.scale|unlocalize}}">{% trans 'original' %}</a>
                {% if current_org.enable_optimized_file_download %}
                 | <a href="{{ base_url }}/uploads/{{ line.uuid }}/download_optimized?scale={{line.scale|unlocalize}}">{%  trans 'optimized' %}</a>
                {% endif %}
                 )<br/>
                {% trans "Material" %}: {{ line.product.category }} ({{ line.product.full_product_title }})  <br/>
                {% if line.post_processing_options.all|length %}
                    {% trans 'Post Processings' %}:<br />
                    {% for option in line.post_processing_options.all %}
                        {{ option.post_processing.title }}
                        {% if option.color %}
                            {% if LANGUAGE_CODE == 'de' %}
                                ({{ option.color.title_de }})
                            {% elif LANGUAGE_CODE == 'en' %}
                                ({{ option.color.title_en }})
                            {% endif %}
                        {% endif %}<br />
                    {% endfor %}
                {% endif %}
                {% trans 'Dimensions' %} ({{ line.measure_unit }}): {{ line.dimensions_in_unit.h|floatformat:2 }}
                x {{ line.dimensions_in_unit.w|floatformat:2 }} x {{ line.dimensions_in_unit.d|floatformat:2 }}<br />
                {% with line.color as file_color %}
                {% if file_color %}
                {% trans "Color" %}:
                    <span style="width: 0.8em;height: 0.8em;display: inline-block;margin-right: 0.3em;margin-left: 0.1em;background-color: {{ file_color.rgb }}"></span>
                    {{ file_color.title }}<br/>
                {% endif %}
                {% endwith %}
                {% trans 'Unit Price' %}:
                {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
                    {{ line.line_price_excl_tax|div:line.quantity|currency:order.currency }}
                {% else %}
                    {{ line.line_price_incl_tax|div:line.quantity|currency:order.currency }}
                {% endif %}
                {% if line.discount_excl_tax %}
                    <br/>
                    {% trans 'Discount' %}:
                    {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
                        - {{ line.discount_excl_tax|currency:order.currency }}
                    {% else %}
                        - {{ line.discount_incl_tax|currency:order.currency }}
                    {% endif %}
                {% endif %}
            </td>
            <td style="text-align:right">
                {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
                    {{ line.line_price_excl_tax|sub:line.discount_excl_tax|currency:order.currency }}
                {% else %}
                    {{ line.line_price_incl_tax|sub:line.discount_incl_tax|currency:order.currency }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
     <tr>
        <td></td>
        <td></td>
        <td style="border-bottom: 1px solid gray;">{% trans 'Subtotal' %}:</td>
        {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
        <td style="border-bottom: 1px solid gray; text-align:right;">{{ order.basket.subtotal_lines_excl_tax|currency:order.currency }}</td>
        {% else %}
        <td style="border-bottom: 1px solid gray; text-align:right;">{{ order.basket.subtotal_lines_incl_tax|currency:order.currency }}</td>
        {% endif %}
    </tr>
    {% if order.basket.list_extra_fees %}
    <tr>
        <td></td>
        <td></td>
        <td>{% trans 'Extra Fees' %}:</td>
        <td></td>
    </tr>
    {% for fee in order.basket.list_extra_fees %}
    <tr>
        <td></td>
        <td></td>
        <td>{{fee.name}}</td>
        {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
        <td style="text-align:right;">{{ fee.excl_tax|currency:order.currency }}</td>
        {% else %}
        <td style="text-align:right;">{{ fee.incl_tax|currency:order.currency }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
    <tr>
        <td></td>
        <td></td>
        <td style="border-top: 1px solid gray;">{% trans 'Shipping' %}:</td>
        {% if order.vat_rate|stringformat:".2f" == '0.00' or show_net_prices %}
        <td style="border-top: 1px solid gray; text-align:right">{{ order.shipping_price.excl_tax|currency:order.currency }}</td>
        {% else %}
        <td style="border-top: 1px solid gray; text-align:right">{{ order.shipping_price.incl_tax|currency:order.currency }}</td>
        {% endif %}
    </tr>

    {% if not order.vat_rate|stringformat:".2f" == '0.00' %}
    <tr>
        <td></td>
        <td></td>
        <td>{% trans 'Net price' %}:</td>
        <td style="text-align:right">{{ order.total.excl_tax|currency:order.currency }} </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>{{ order.basket.vat_rate_partner }}&#37; {{ order.basket.tax_type_partner }}:</td>
        <td style="text-align:right">{% include 'customer/tax-sub.html' with with_tax=order.total.incl_tax without_tax=order.total.excl_tax order_currency=order.currency %} </td>
    </tr>
    {% endif %}
    <tr>
        <td></td>
        <td></td>
        <td style="border-bottom: 3px double gray;border-top:1px solid gray;">
            {% if not order.vat_rate|stringformat:".2f" == '0.00' %}
                {% trans 'Total with tax' %}:
            {% else %}
                {% trans 'Total' %}:
            {% endif %}
        </td>
        <td style="text-align:right;border-bottom: 3px double gray;border-top:1px solid gray;">{{ order.total.incl_tax|currency:order.currency }}</td>
    </tr>
</table>
