{% load currency_tags i18n %}
{% load customfiltercalc %}
{% load b3_utils %}
{% load l10n %}
{% load tz %}
<style type="text/css">
    p{
        font-size:12px;
    }
</style>

<p>
<table cellspacing="2" cellpadding="2" style="border:0;border-collapse:collapse; width:100%; font-size:12px;">
    <tr valign="top">
        <td>
            <h4><p align="justify">{% trans 'Order details' %}: </p> </h4>
            {% trans 'Ordered By' %}: {{ order.user.userprofile }}<br/>
            {% resolve_timezone_of_user_from_order order as TIME_ZONE %}
            {% trans 'Ordered date' %}: {% timezone TIME_ZONE %}{{order.datetime_placed}}{% endtimezone %} ({{ TIME_ZONE }})<br/>
            {% trans 'Order/Quotation number' %}: {{ order.number }} <br/>
            {% if order.customer_number %}
                {% trans 'Customer Number' %}: {{ order.customer_number }}
            {% endif %}
            {% if order.basket.reference %}
                {% trans 'Your reference' %}: {{ order.basket.reference }} <br/>
            {% endif %}
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
</p>

{% if email_to_service %}
    {% include 'customer/emails/service_prices.html' %}
{% else %}
    {% include 'customer/emails/customer_prices.html' %}
{% endif %}

<br><br>

<div style="width: 220px;display: inline-block; vertical-align: top;">
    <h3 style="font-size: 12px">{% if order.billing_address.same_as_shipping == 'same' %}{% trans 'Shipping & Billing Address' %}{% else %}{% trans 'Shipping Address' %}{% endif %}</h3>
    <address>
        {% if order.shipping_address.first_name %}
            {{ order.shipping_address.first_name }}<br/>
        {% endif %}
            {{ order.shipping_address.last_name }}<br/>
        {% if order.shipping_address.line3 %}
            {{ order.shipping_address.line3 }}<br/>
        {% endif %}
        {% if order.shipping_address.department %}
            {{ order.shipping_address.department }}<br/>
        {% endif %}
        {{ order.shipping_address.line1 }}<br/>
        {% if order.shipping_address.line2 %}
            {{order.shipping_address.line2}}<br/>
        {% endif %}
        {{ order.shipping_address.postcode }}<br/>
        {{ order.shipping_address.line4 }}<br/>
        {% if order.shipping_address.state %}
            {{ order.shipping_address.state }}<br/>
        {% endif %}
        {{ order.shipping_address.country }}<br/>
        {% if order.shipping_address.phone_number %}
            {{ order.shipping_address.phone_number }}<br/>
        {% endif %}
        {% if order.company %}
            <h3 style="font-size: 12px">{% trans 'Company Information' %}:</h3>
            {{ order.company }} <br/>
            {{ order.vat_number }}
        {% endif %}
    </address>
</div>

<div style="width: 220px;display: inline-block; vertical-align: top;">
    {% if order.billing_address.same_as_shipping == 'new' %}
    <h3 style="font-size: 12px">{% trans 'Billing Address' %}</h3>
    <address>
        {% if order.billing_address.first_name %}
            {{ order.billing_address.first_name }}<br/>
        {% endif %}
            {{ order.billing_address.last_name }}<br/>
        {% if order.billing_address.line3 %}
            {{ order.billing_address.line3 }}<br/>
        {% endif %}
        {% if order.billing_address.department %}
            {{ order.billing_address.department }}<br/>
        {% endif %}
        {{ order.billing_address.line1 }}<br/>
        {% if order.billing_address.line2 %}
            {{order.billing_address.line2}}<br/>
        {% endif %}
        {{ order.billing_address.postcode }}<br/>
        {{ order.billing_address.line4 }}<br/>
        {% if order.billing_address.state %}
            {{ order.billing_address.state }}<br/>
        {% endif %}
        {{ order.billing_address.country }}<br/>
        {% if order.billing_address.phone_number %}
            {{ order.billing_address.phone_number }}<br/>
        {% endif %}
    </address>
    {% endif %}
</div>

<div style="display: inline-block; width: 250px; vertical-align: top; padding-top: 13px;">
    <b>{% trans 'Delivery time' %}:</b> {{ delivery_time_string }}<br/>
    <b>{% trans 'Shipping method' %}:</b> {{ order.shipping_method }}<br/>
    <b>{% trans 'Payment method' %}:</b> {{ order.payment_method }}
    {% if not current_site or not current_org.is_single_supplier_account %}
        <br/>
        <b>{% trans 'Phone number of the 3D printing service' %}:</b><br> {{ order.basket.first_line.stockrecord.partner.address.phone_number }}
    {% endif %}
    <br/>
    {% if order.shipping_address.notes %}
        <h3 style="font-size: 12px;">{% trans "Notes" %}</h3>
        <div style="font-size:12px;">{{ order.shipping_address.notes|linebreaks }}</div><br/>
    {% endif %}

</div>
