{% extends "customer/emails/base.html" %}
{% load i18n %}
{% load b3_signup_tags %}
{% load organization_flags %}

{% block body %}
{% autoescape off %}
    <br/>
    {% blocktrans %}
        Welcome!
    <br/>
        To access our professional print resources please <strong>confirm your registration</strong>:
    {% endblocktrans %}
    <br/><br/>
    <a href="{{ signup_confirm_url }}">{{ signup_confirm_url }}</a>
    <br/><br/>

    {% comment %}
    See B3-2665
    {% if is_pro_account %}
    {% else %}
        <hr>
        {% blocktrans %}
            <ol>
                <li>Don’t forget to <a href="https://www.3yourmind.com/3d-printing-cad-apps">download our CAD App for your software</a> to directly access 3YOURMIND.</li>
                <li>Answers to commonly asked questions and workflow tips are available in our <a href="http://3yourmind.com/support">FAQs</a>.</li>
                <li>Still have questions? <a href="mailto:support@3yourmind.com">Email Us</a> or give us a call at {{ customer_support_phone }}</li>
            </ol>
        {% endblocktrans %}
        <hr>
        <br/><br/>
    {% endif %}
    {% endcomment %}
{% endautoescape %}
{% endblock %}
