{% extends "customer/emails/base.html" %}
{% load i18n %}
{% load b3_signup_tags %}
{% load organization_flags %}

{% block body %}
    {% autoescape off %}
    <br/>
    {% blocktrans with org_name=request|show_organization url=request|show_organization_url %}
    Hello from {{ org_name }}!<br/>
    You're receiving this e-mail because you or someone else has requested a password for your user account at <a href="{{ url }}">{{ org_name }}</a>.
    <br/><br/>
    It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
    {% endblocktrans %}
    <br/><br/>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    <br/>
    {% endautoescape %}
{% endblock %}


